<div class="dash">
  <h5 class="view" (click)="dashboard()">Dashboard </h5>
  <h5 class="findtext"> &nbsp; > &nbsp;Candidate Search</h5>
</div>

<div class="candidate-card">
<mat-card  class="card-1">
    <div style="padding: 0px 0px 0px 200px"><span class="icon-bookmark"></span></div>
  <div class="details">
    <div class="candidate-image">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Profile Picture" class="round-profile-pic">
    </div>
    <div class="candidate-name">
      Gokul Gokul
    </div>
    <div class="candidate-edu">
      <div>B.Sc Physics -</div>
      <div>june 2022</div>
    </div>
    <div class="candidate-loc"> Chennai, TamilNadu</div>
  </div>
  <div class="action-button">
    <button mat-button class="buton">View Profile</button>
    <button mat-button class="buton">Save</button>
  </div>
</mat-card>
</div>