<div class="body">
  <div>
    <h3 class="title">View Job Requirements</h3>
    <!-- White Border bg -->
    <div class="bg">
      <div class="data">
        <div class="col-md-2 inputContainer">
          <mat-form-field appearance="outline">
            <mat-select formControlName="droupDown" placeholder="Sort By">
              <mat-option *ngFor="let item of sortbystatusArray" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="col-md-3 p-0 dateRange">
          <mat-form-field appearance="outline">
            <mat-date-range-input [formGroup]="dateRange" [rangePicker]="dateRangePicker"
              [comparisonStart]="dateRange.value.start" [comparisonEnd]="dateRange.value.end">
              <input matStartDate placeholder="Start date" formControlName="start" />
              <input matEndDate placeholder="End date" formControlName="end" />
            </mat-date-range-input>
          </mat-form-field>
          <mat-date-range-picker class="toggle-pos" #campaignOnePicker></mat-date-range-picker>
          <mat-datepicker-toggle class="toggle-pos" matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
          <mat-datepicker #dateRangePicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>
                Apply
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </div>

        <div class="col-md-7 search">
          <mat-form-field appearance="outline" style="width:102.5%">
            <input matInput [(ngModel)]="searchData" placeholder="Search by Company Name, Job Title"
              class="searchBycompany" />
            <button mat-button matPrefix mat-icon-button>
              <mat-icon class="searchIcon">search</mat-icon>
            </button>
            <button mat-button *ngIf="true" matSuffix mat-icon-button aria-label="Clear">
              <mat-icon class="closeIcon">close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>



      <div class="card1Border" *ngFor="let one of jobReqData">
        <div>
          <div class="main-wrapper">
            <div class="logoHeadleft">
              <div class="">
                <img class="avatar" src="/assets/images/Avatar.svg" />
              </div>
              <div class="designation">
                {{ one.jobRole}}
                <div class="locations">
                  <mat-icon class="locationOn">location_on</mat-icon>
                  <span class="location">{{ one.jobLocation}}</span>
                </div>
              </div>
            </div>
            <div class="commonDiv">
            <div class="headCenter">
              <span class="application"><p>Application closes on</p></span>
              <div>
                <p class="date">{{ dateVal | date: 'medium' }}</p>
              </div>
            </div>

          <div>
            <button class="activeBg">
              <span>{{one.isActive == true ? 'Active': 'pending'}}</span>
            </button>
            </div>
          </div>
          </div>

          <hr class="line">

          <!--<div>
            <p class="content">{{ one.about }}</p>
          </div>-->

             <div class="departMent" >
               <span class="departmentBorder" *ngFor="let item of one.specialization">{{item}}</span>
             </div>


          <br>
          <div class="lastLine">
            <div class="lastLeftline">
              <div class="workTime">
                <mat-icon class="cardtravel">card_travel</mat-icon>
                <span class="fulltime">{{ one.jobType }}</span>
              </div>
              <div class="yearofPassing">
                <mat-icon class="drotation"> 3d_rotation </mat-icon>
                <span class="passedout" *ngFor="let item of one.yearofPassout; let isLast=last">
                  {{item}}{{isLast ? '' : ', '}}</span>
              </div>
              <div class="packAge">
                <mat-icon class="accountbalance">account_balance</mat-icon>
                <span> {{ one.ctc }}</span>
              </div>


              <div class="bTech">
                <mat-icon class="bookmark">bookmark</mat-icon>
                <span class="Btech" *ngFor="let item of one.education; let isLast=last">
                  {{item}}{{isLast ? '' : ', '}}</span>
              </div>

              <div class="daysLeft">
                <mat-icon class="android">android</mat-icon>
                <span > {{ one.postedDate }}</span>
              </div>
            </div>
            <div class="lastRightline">
              <span class="applied">
                <mat-icon class="schedule">schedule</mat-icon>
                <u>{{ one.candidatesAppliedCount }}</u>
              </span>

              <span class="settings">
                <mat-icon class="setting">settings</mat-icon>
                <u>{{ one.settingsMenu}}</u>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
