<section>
    <div class="profileHeaderinfo">
        <div class="heading6">
        Drive Information
        </div>
        <span>Campus Assessment_01_2021</span>
    </div>
    <div class="profileHeaderinfo">
        <div class="heading6">
            Candidate Details
        </div>
    </div>
    <div class="profileInfoarea">
        <div class="profileInfoSec">
            <div>
                First Name:
               <span> Prabhu Bandari </span>
            </div>
            <div>
                Last Name:
                <span>Prabhu Bandari</span>
            </div>
            <div>
                Date of birth:
                <span>Prabhu Bandari</span>
            </div>
            <div>
                Father's Name:
                <span>Ravikumar Bandari</span>
            </div>
            <div>
                Gender:
                <span>Male</span>
            </div>
            <div>
                Contact No:
                <span> 90000 00000</span>
            </div>
            <div>
               Address:
               <span>19th Main, 8th Cross, Vijayanagara 3rd stage, Mysore - 570027</span>
            </div>
        </div>
        <div class="profileInfoSec">
            <div>
                College/University:
                <span> Vidyavardhaka College of Engineering</span>
            </div>
            <div>
                State/City:
                <span>Karnataka, Mysore</span>
            </div>
            <div>
                Specialization:
                <span> Bachelor of Engineering</span>
            </div>
            <div>
                Branch:
                <span>Electronics & Communication</span>
            </div>
            <div>
                Passing year:
                <span>2001</span>
            </div>
            <div>
                Graduation Aggregate: 
                <span>85%</span>
            </div>
        </div>
    </div>
</section>