<app-common-banner [name]="url"></app-common-banner>
<div class="appliedjobs">
  <!-- <div class="text">Applied Jobs</div> -->
</div>
<!-- <div class="norecords">
  <mat-card *ngIf="totallength==0">
    <span>No Applied Jobs</span></mat-card>
</div> -->
<div *ngIf="totallength==0">
  <app-no-data-found [from]="'applied'"></app-no-data-found>
</div>

<h1 class="result-show" *ngIf="total">{{total}}</h1>

<app-job-list-item *ngIf="totallength" [data]="appliedjobs" [showApplied]="true"></app-job-list-item>
<div class="pagination">
  <app-common-paginator *ngIf="total" (send)="some($event)" [totalcount]="total"></app-common-paginator>
</div>