@import "../../../assets/scss/variables.scss";
.sort {
    line-height: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    background: #CC0022;
    color: white;
    font-weight: 400;
}
mat-icon {
    font-size: 18px !important;
    top: 50%;
    width: 8px;
    transform: translateY(12%);
}
.sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.heading6 {
    color: $blackColor;
    padding-left: 1.1em;
    font-weight: 700;
}

:host ::ng-deep .textDataLabel {
    font-size: 14px !important;
}
