<div class="subhtxt">Skills
    <span class="sort" (click)="sorting(indexNum + 1)" name="fieldName" ngDefaultControl
        [(ngModel)]="indexNum">
        <mat-icon [diabled]="indexNum == 1">
            arrow_upward
        </mat-icon>
        <mat-icon [diabled]="indexNum == 2">
            arrow_downward
        </mat-icon>
    </span>
</div>
<div class="barChartCenter">
    <ngx-charts-bar-horizontal
    [view]="view"
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [xScaleMax]="100"
    [barPadding]="barPadding"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [xAxisTicks]="yAxisTicks"
    [showDataLabel]="true"
    [trimYAxisTicks]="false"
    [showGridLines]="true"
    [animations]="false"
    [roundEdges]="false"
    (select)="onSelect($event)">
    </ngx-charts-bar-horizontal>
</div>
