<div class="body">
  <div class="title">
    <div class="title-text">Manage Drives</div>
  </div>
  <div class="container">
    <mat-card class="card">
      <div class="card-body">
        <mat-card-header class="left">
          <div class="text-container">
            <mat-card-title class="text">No of Drives</mat-card-title>
          </div>
          <div>
            <mat-card-subtitle class="num">100</mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-content class="icon">
          <img src="/assets/images/wordrive.png" class="icon-image">
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card class="card">
      <div class="card-body">
        <mat-card-header class="left">
          <div class="text-container">
            <mat-card-title class="text">Active</mat-card-title>
          </div>
          <div>
            <mat-card-subtitle class="num">25</mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-content class="icon">
          <img src="/assets/images/green-tic.svg" class="icon-image">
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card class="card">
      <div class="card-body">
        <mat-card-header class="left">
          <div class="text-container">
            <mat-card-title class="text">Rejected</mat-card-title>
          </div>
          <div>
            <mat-card-subtitle class="num">20</mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-content class="icon">
          <img src="/assets/images/rejected.png" class="icon-image">
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card class="card">
      <div class="card-body">
        <mat-card-header class="left">
          <div class="text-container">
            <mat-card-title class="text">Pending</mat-card-title>
          </div>
          <div>
            <mat-card-subtitle class="num">15</mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-content class="icon">
          <img src="/assets/images/Timeout.png" class="icon-image">
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card class="card">
      <div class="card-body">
        <mat-card-header class="left">
          <div class="text-container">
            <mat-card-title class="text">Closed</mat-card-title>
          </div>
          <div>
            <mat-card-subtitle class="num">100</mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-content class="icon">
          <img src="/assets/images/cancel.png" class="icon-image">
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card class="card">
      <div class="card-body">
        <mat-card-header class="left">
          <div class="text-container">
            <mat-card-title class="text">Expired</mat-card-title>
          </div>
          <div>
            <mat-card-subtitle class="num">8</mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-content class="icon">
          <img src="/assets/images/expired@2x.png" class="icon-image">
        </mat-card-content>
      </div>
    </mat-card>

  </div>
  <div class="border">
   <div class="ag-grid">
    <ag-grid-angular
      style="width: 100%; height: 100%;"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [sideBar]="sideBar"
      [defaultColDef]="defaultColDef"
      (gridReady)="onGridReady($event)"
      [rowData]="getdataag"
      (selectionChanged)="onSelectionChanged($event)"
      [gridOptions]= "gridOptions">
  </ag-grid-angular>
  
</div>
  </div>
</div>