<main class="main" style="background-color: #fff;">



  <section class="section-about" style="margin-bottom: 0px;">
<div class="section-about__image wow animate__animated animate__fadeIn" style="margin-bottom: 50px;"><img src="https://assets.lntedutech.com/Skillexchange/about-image-4.png" alt="" /></div>
<div class="container">

</div>
</section>
<section class="section-image-numbers">
<div class="section-image-numbers__container container">
<div class="row">

  <div class="section-image-numbers__content col-lg-12">
    <h2 class="section-image-numbers__title wow animate__animated animate__fadeInDown animated text-center">Hiring Partners</h2>
    <div class="row">

      <div class="col-lg-2 col-sm-6 c-logo-1">
<img src="https://assets.lntedutech.com/Skillexchange/partners/Lnt.png" />

      </div>
      <div class="col-lg-2 col-sm-6 c-logo-1">
        <img src="https://assets.lntedutech.com/Skillexchange/partners/Lnt-Nxt.png" />

      </div>
      <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/Lnt-Tech.png" />

      </div>
      <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/LTI-lets-solve.png" />

      </div>
      <div class="col-lg-2 col-sm-6 c-logo-1">
<img src="https://assets.lntedutech.com/Skillexchange/partners/mindtree.png" />

      </div>
      <div class="col-lg-2 col-sm-6 c-logo-2">
        <img src="https://assets.lntedutech.com/Skillexchange/partners/ABB_logo.png" />

      </div>
      <div class="col-lg-2 col-sm-6 c-logo-2">
        <img src="https://assets.lntedutech.com/Skillexchange/partners/rane_logo.png" />

      </div>
      <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/Otis-Logo.png" />

      </div>
      <div class="col-lg-2 col-sm-6 c-logo-1">
        <img src="https://assets.lntedutech.com/Skillexchange/partners/Aditya_Birla.png" />

        </div>
        <div class="col-lg-2 col-sm-6 c-logo-1">
          <img src="https://assets.lntedutech.com/Skillexchange/partners/Inspirisys_logo.png" />

          </div>
        <div class="col-lg-2 col-sm-6 c-logo-1">
          <img src="https://assets.lntedutech.com/Skillexchange/partners/Oppo.png" />

          </div>
          <div class="col-lg-2 col-sm-6 c-logo-1">
            <img src="https://assets.lntedutech.com/Skillexchange/partners/MMC_Infotech.png" />

            </div>
            <div class="col-lg-2 col-sm-6 c-logo-1">
              <img src="https://assets.lntedutech.com/Skillexchange/partners/Movate_logo.png" />

              </div>
      <div class="col-lg-2 col-sm-6 c-logo-1">
        <img src="https://assets.lntedutech.com/Skillexchange/partners/prime.png" />

        </div>
        <div class="col-lg-2 col-sm-6 c-logo-1">
          <img src="https://assets.lntedutech.com/Skillexchange/partners/Amadis-LOGO.jpg" />

          </div>
      <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/Corrohealth-logo.jpg" />

      </div>
      <div class="col-lg-2 col-sm-6 c-logo-1">
        <img src="https://assets.lntedutech.com/Skillexchange/partners/Omega_logo.jpg" />

      </div>
      <div class="col-lg-2 col-sm-6 c-logo-1">
        <img src="https://assets.lntedutech.com/Skillexchange/partners/Jouve_Logo.png" />

      </div>
      <div class="col-lg-2 col-sm-6 c-logo-2">
                    <img src="https://assets.lntedutech.com/Skillexchange/partners/Prime-Logo.jpg" />

      </div>
      <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/Vaken_logo.jpg" />

      </div>
      <div class="col-lg-2 col-sm-6 c-logo-1">
        <img src="https://assets.lntedutech.com/Skillexchange/partners/Bankzone_logo.jpg" />

        </div>
        <div class="col-lg-2 col-sm-6 c-logo-1">
          <img src="https://assets.lntedutech.com/Skillexchange/partners/grootan.png" />

          </div>
      <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/rudram.png" />

      </div>
      <div class="col-lg-2 col-sm-6 c-logo-1">
        <img src="https://assets.lntedutech.com/Skillexchange/partners/aeon.png" />

      </div>
      <div class="col-lg-2 col-sm-6 c-logo-2">
        <img src="https://assets.lntedutech.com/Skillexchange/partners/Bankbazaar-Logo.png" />

      </div>
      <div class="col-lg-2 col-sm-6 c-logo-1">
        <img src="https://assets.lntedutech.com/Skillexchange/partners/SRI-KONERU-INFRA.png" />

        </div>
    <div class="col-lg-2 col-sm-6 c-logo-1">
    <img src="https://assets.lntedutech.com/Skillexchange/partners/Onida-logo.jpg" />

    </div>
    <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/Maha-Logo.jpg" />

    </div>
    <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/Tele-CMI-Logo.jpg" />

    </div>
    <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/BeumerGroup_Logo.webp" />

    </div>
    <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/AhamHousingFinance_logo.webp" />

    </div>
    <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/Amaindia-logo.jpg" />

    </div>
    <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/Ideas2IT_logo.webp" />

    </div>
    <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/techberg_logo.webp" />

    </div>
    <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/bet_logo.webp" />

    </div>
    <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/codebios_logo.webp" />

    </div>
    <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/altimetrik_logo.webp" />

    </div>
    <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/maruti_logo.webp" />

    </div>
    <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/sba_logo.webp" />

    </div>
    <div class="col-lg-2 col-sm-6 c-logo-1">
      <img src="https://assets.lntedutech.com/Skillexchange/partners/nec_logo.webp" />

    </div>
    </div>
  </div>
</div>
</div>
</section>


<section class="section-banner wow animate__animated animate__pulse animated" style="visibility: visible; animation-name: pulse;">
<div class="section-banner__container container">
<div class="section-banner__wrapper">
  <div class="section-banner__content">
    <h2 class="section-banner__title">Looking to hire Pre-Assessed and Certified Fresh Graduates</h2>
    <p class="section-banner__text">We'll be glad to have you onboard! To join as a hiring partner, write to meher.k@lntecc.com</p>
  </div>
  <a [routerLink]="endPoints.LANDINGPAGE.EMPLOYER" class="section-banner__link button button--white">Join as Hiring Partner</a>
</div>
</div>
</section>
<app-landing-footer></app-landing-footer>
<div style="padding-bottom: 50px;"></div>
</main>