.noCard {
    font-size: 30px;
    text-align: center;
    padding: 30px;
    position: relative;
    min-height: calc(100vh - 100px);
}

.noData {
    position: relative;
    margin: 0 0 auto;
    margin-top: 18%;
}