<!-- <mat-toolbar class="appHeader" layout="row" style="position: fixed;z-index:99;">
  <button mat-icon-button class="menu-icon">
    <mat-icon (click)="isExpanded = !isExpanded;sideNavMode=sideNavMode=='over'?'side':'over'" class="mat-24"
      aria-label="Menu">menu</mat-icon>
  </button>
  <img class="hearder-logo" alt="" src="assets/images/landing/newLogo.png">
  <span class="toolbar-spacer"></span>
  <div class="toolbar-pic">
    <span class="username">{{candidateName}}</span>
    <button mat-button [matMenuTriggerFor]="menu">
        <img class="profileimg"
        [src]="profileimge && profileimge !='' && profileimge !='undefined'?profileimge:'../../../../assets/images/candidate-userprofile.png'">
    </button>
    <mat-menu #menu="matMenu">
      <button style="color:#1B4E9B;" mat-menu-item (click)="logout()"> <mat-icon
          style="color:#1B4E9B;">output</mat-icon>Log Out</button>
    </mat-menu>
  </div>
</mat-toolbar> -->



<mat-toolbar class="flex_div candidate_header flx_between">
  <div class="flex_div flx_center">
    <div class="mg-10"><img class="hearder-logo" alt="" src="assets/images/landing/newLogo.png"></div>
    <div class="search-container mg-10">
      <mat-icon class="search-icon">search</mat-icon>
      <input type="search" placeholder="Search" class="search_input">
    </div>
  </div>

  <div class="flex_div">
    <div class="menus flex_div mob_view" style="border-right: 1px solid #ccc3c375; padding: 0px 10px;" #menuIcons>
      <div class="menu_icon pointer_cursor" #iconHover1 (mouseenter)="addSlideAnimation(iconHover1, 'home')"
        (mouseleave)="removeSlideAnimation(iconHover1, 'home')" (click)="isIconActive(iconHover1, 'home')">
        <div class="icon">
          <span class="icon-home_icon"></span>
        </div>
        <div class="icon_txt">Home</div>
      </div>

      <div (click)="onJobsClick()" class="menu_icon pointer_cursor" #iconHover2
        (mouseenter)="addSlideAnimation(iconHover2, 'jobs')" (mouseleave)="removeSlideAnimation(iconHover2, 'jobs')"
        (click)="isIconActive(iconHover2,'jobs')">
        <div class="icon"><span class="icon-jobs-work"></span></div>
        <div class="icon_txt">Jobs</div>
      </div>

      <div (click)="onInternshipClick()" class="menu_icon pointer_cursor" #iconHover3
        (mouseenter)="addSlideAnimation(iconHover3, 'internships')"
        (mouseleave)="removeSlideAnimation(iconHover3, 'internships')"
        (click)="isIconActive(iconHover3, 'internships')">
        <div class="icon"><span class="icon-internships"></span></div>
        <div class="icon_txt">Internships</div>
      </div>

      <div class="menu_icon pointer_cursor" #iconHover4 (mouseenter)="addSlideAnimation(iconHover4, 'learning')"
        (mouseleave)="removeSlideAnimation(iconHover4, 'learning')" (click)="gotoCourses('learning')">
        <div class="icon"><span class="icon-learning"></span></div>
        <div class="icon_txt">Learning</div>
      </div>

      <div class="menu_icon pointer_cursor" #iconHover5 (mouseenter)="addSlideAnimation(iconHover5, 'forum')"
        (mouseleave)="removeSlideAnimation(iconHover5, 'forum')">
        <div class="icon"><span class="icon-forum"></span></div>
        <div class="icon_txt">Forum</div>
      </div>

      <div class="menu_icon pointer_cursor" #iconHover6 (mouseenter)="addSlideAnimation(iconHover6, 'events')"
        (mouseleave)="removeSlideAnimation(iconHover6, 'events')" (click)="gotoEvent()">
        <div class="icon"><span class="icon-events"></span></div>
        <div class="icon_txt">Events</div>
      </div>
    </div>
    <div class="flex_div flx_center" style="padding: 0px 10px;">
      <div class="mg-7 pointer_cursor mob_view"><span class="icon-darkMode"></span></div>
      <div class="mg-7 pointer_cursor mob_view"><span class="icon-notification"></span></div>
      <div class="mg-7 pointer_cursor bg-user" (click)="showProfileDashboard()"
        [style.background]="'url(' + (profileImage ? profileImage : 'assets/images/candidate-userprofile.png') + ')'">
      </div>

      <!-- <div class="icon pointer_cursor" (click)="showProfileDashboard()" *ngIf ="{{profileimge}} != null"> {{profileimge}}
      </div> -->
    </div>
  </div>
</mat-toolbar>

<div class="content">
  <mat-sidenav-container class="example-container" autosize [hasBackdrop]="false">
    <mat-sidenav style="display: none;" #sidenav [mode]="sideNavMode" opened="true" class="sidenav"
      *ngIf="isSidebarDisabled">
      <mat-nav-list>
        <mat-list-item class="navItems" [ngClass]="router.url==routelinks.CANDIDATEDASH.DASHBOARD? 'active':''"
          [routerLink]="routelinks.CNDIDATELANDING">
          <div class="innerLine"></div>
          <mat-icon mat-list-icon>home_outline</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Dashboard</span>
        </mat-list-item>
        <mat-list-item class="navItems" (click)="gotoDashboard()">
          <div class="innerLine"></div>
          <mat-icon mat-list-icon>home</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Dashboard</span>
        </mat-list-item>
        <mat-list-item class="navItems" (click)="gotoProfile()">
          <div class="innerLine"></div>
          <mat-icon mat-list-icon>person_filled</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">My Profile</span>
        </mat-list-item>
        <mat-list-item class="navItems" [ngClass]="router.url==routelinks.CANDIDATEDASH.RESUMEBUILDER ? 'active':''"
          [routerLink]="routelinks.CANDIDATEDASH.RESUMEBUILDER">
          <div class="innerLine"></div>
          <mat-icon mat-list-icon>edit_off</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Resume Builder</span>
        </mat-list-item>
        <mat-list-item class="navItems"
          [ngClass]="router.url==routelinks.CANDIDATEDASH.JOBLIST || router.url==routelinks.CANDIDATEDASH.JOBDESCRIPTION? 'active':''"
          [routerLink]="routelinks.CANDIDATEDASH.JOBLIST">
          <div class="innerLine"></div>
          <mat-icon mat-list-icon>work_outline</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Jobs/Internships</span>
        </mat-list-item>
        <mat-list-item class="navItems" [ngClass]="router.url==routelinks.CANDIDATEDASH.JOBSAPPLIED? 'active':''"
          [routerLink]="routelinks.CANDIDATEDASH.JOBSAPPLIED">
          <div class="innerLine"></div>
          <mat-icon mat-list-icon>check_circle_outline</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Applied Jobs/Internships</span>
        </mat-list-item>
        <mat-list-item class="navItems" [ngClass]="router.url==routelinks.CANDIDATEDASH.JOBSSAVED? 'active':''"
          [routerLink]="routelinks.CANDIDATEDASH.JOBSSAVED">
          <div class="innerLine"></div>
          <img class="book" src="../../../assets/images/Group 23057.svg">
          <!-- <mat-icon mat-list-icon class="material-symbols-outlined">bookmark_outline</mat-icon> -->
          <span class="full-width-save" *ngIf="isExpanded || isShowing">Saved Jobs/Internships</span>
        </mat-list-item>

        <!-- <mat-list-item class=" lastitem hrlogout" (click)="logout()">
          <mat-icon mat-list-icon class="material-symbols-outlined">logout_outline</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Logout</span>
        </mat-list-item> -->
      </mat-nav-list>
      <mat-nav-list>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="overflow-x:hidden !important;">
      <!-- <div [ngClass]="sideNavMode=='over'?'navMarginOver':'navMarginSide'"> -->
      <div style="display: flex;width:100%;">
        <div *ngIf="isSidebarDisabled" style="width:15%">
          <div style="margin: 20px 0px 0px 30px;
              width: 160px;
              height: 230px;
              background: #FFFFFF 0% 0% no-repeat padding-box;
              border-radius: 15px;">
            <div *ngIf="showJobs" class="hover-effect" [routerLinkActive]="['active']"
              style="display: flex; align-items: center; margin: 0px 0px 20px 20px; padding: 20px 0px 0px 0px;">
              <!-- <mat-icon mat-list-icon style="margin-right: 10px;">work_outline</mat-icon> -->
              <span style="margin-right: 10px;" class="icon-jobing-func-check"></span>
              <mat-list-item [routerLink]="routelinks.CANDIDATEDASH.JOBLIST">
                <span class="full-width side_head_sty">Jobs</span>
              </mat-list-item>
            </div>
            <!-- internship -->
            <div *ngIf="showInternship"
              style="display: flex; align-items: center; margin: 0px 0px 20px 20px; padding: 20px 0px 0px 0px;">
              <span style="margin-right: 10px;" class="icon-job-blue-converted"></span>
              <mat-list-item [ngClass]="router.url == routelinks.CANDIDATEDASH.INTERNSHIPLIST ? 'active' : ''"
                (click)="navigateToInternshipList()">
                <span class="full-width side_head_sty" style="color: #1B4E9B;">Internship</span>
              </mat-list-item>
            </div>
            <!-- Resume Builder -->
            <div class="hover-effect" style="display: flex; align-items: center; margin: 0px 0px 20px 20px;">
              <span style="margin-right: 10px;"
                [ngClass]="{'icon-resume-converted-black': !isActive(), 'icon-resume-blue-converted': isActive()}"></span>
              <mat-list-item [routerLink]="routelinks.CANDIDATEDASH.RESUMEBUILDER" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact: true}">
                <span class="full-width side_head_sty">Resume Builder</span>
              </mat-list-item>
            </div>
            <!-- skill profile-->
            <div class="hover-effect" style="display: flex; align-items: center; margin: 0px 0px 20px 20px;"
              (click)="gotoProfile()">
              <!-- <mat-icon mat-list-icon style="margin-right: 10px;">person</mat-icon> -->
              <span style="margin-right: 10px;" class="icon-profile-converted-black"></span>
              <span class="full-width side_head_sty">Skill Profile</span>
            </div>
            <!-- Applied Jobs -->
            <div class="hover-effect" style="display: flex; align-items: center; margin: 0px 0px 20px 20px;">
              <span style="margin-right: 10px;"
                [ngClass]="{'icon-check-rounded': router.url !== routelinks.CANDIDATEDASH.JOBSAPPLIED, 'icon-apply-blue-converted-2': router.url === routelinks.CANDIDATEDASH.JOBSAPPLIED}"></span>
              <mat-list-item [routerLink]="routelinks.CANDIDATEDASH.JOBSAPPLIED" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact: true}">
                <span class="full-width side_head_sty">Applied Jobs</span>
              </mat-list-item>
            </div>
            <!-- Saved Jobs -->
            <div class="hover-effect" style="display: flex; align-items: center; margin: 0px 0px 20px 21px;">
              <span style="margin-right: 10px;"
                [ngClass]="{'icon-save-converted-black': router.url !== routelinks.CANDIDATEDASH.JOBSSAVED, 'icon-save-blue-converted': router.url === routelinks.CANDIDATEDASH.JOBSSAVED}"></span>
              <mat-list-item [routerLink]="routelinks.CANDIDATEDASH.JOBSSAVED" [routerLinkActive]="['active']">
                <span class="full-width side_head_sty" style="padding: 2px;">Saved Jobs</span>
              </mat-list-item>
            </div>
          </div>
          <style>
            .hover-effect:hover,
            .hover-effect:hover .side_head_sty,
            .active,
            .active:hover,
            .active .side_head_sty,
            .active .icon-resume-converted-black {
              color: #1B4E9C;
            }
          </style>

          <p class="text_on_side"> © 2023 L&T EduTech.<br>All Rights Reserved.</p>
        </div>
        <div style="width:100%;">
          <router-outlet></router-outlet>
        </div>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>

  <div class="profile_menu" [class.slide-left]="isShowProfile">
    <div class="innercontent">
      <div class="flex_div flx_center pt-20">
        <div class="user_avatar mg-10"
          [style.background]="'url('+(profileImage ? profileImage : 'assets/images/candidate-userprofile.png')+')'">
        </div>
        <div class="txt_left">
          <div class="user_title toggle_white text_capitalize">{{candidateName}}</div>
          <div class="user_email toggle_grey">{{candidateEmail}}</div>
        </div>
      </div>
      <div class="profile_link">
        <div class="view_profile pointer_cursor" (click)="gotoAccount()">My Account</div>
      </div>
      <div class="close-icon pointer_cursor" (click)="closeDashboard()">
        <span class="icon-Close"></span>
      </div>

      <div class="split_div"></div>

      <div class="menu_profile">
        <div class="flex_div flx_center other_links pointer_cursor" (click)="isIconActive(iconHover2,'jobsProfile')">
          <div class="profiledash_text toggle_white job_menu"><span class="icon-jobs-work mg_r_10"></span> Jobs</div>
        </div>

        <div class="flex_div flx_center other_links pointer_cursor flex_div flx_center">
          <div class="profiledash_text toggle_white intern_menu"><span class="icon-internships mg_r_10"></span>
            Internships
          </div>
        </div>

        <div class="flex_div flx_center other_links pointer_cursor flex_div flx_center"
          (click)="gotoCourses('learnProfile')">
          <div class="profiledash_text toggle_white learn_menu"><span class="icon-learning mg_r_10"></span> Learning
          </div>
        </div>


        <div class="flex_div flx_center other_links pointer_cursor flex_div flx_center">
          <div class="profiledash_text toggle_white group_menu"><span class="icon-forum mg_r_10"></span> Groups</div>
        </div>


        <div class="flex_div flx_center other_links pointer_cursor flex_div flx_center" (click)="gotoEvent()">
          <div class="profiledash_text toggle_white event_menu"><span class="icon-events mg_r_10"></span> Events</div>
        </div>
      </div>
      <div style="text-decoration: none!important">
        <div class="flex_div flx_center signout_div center_abs trans_x50 pointer_cursor">
          <div class="profiledash_text trans_x50 center_abs toggle_white" (click)="logout()"><span
              class="icon-signout"></span> Sign Out
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- <div class="appFooter">
    <app-footer></app-footer>
  </div> -->
</div>

<div>
  <ng-template #confirmDialog>
    <div class="logout">
      <div class="clos-icn"><mat-icon mat-dialog-close>close</mat-icon></div>
      <div class="logot-img">
        <img src="../../../assets/images/alert-image.png" />
      </div>
      <div class="box">
        <p>Are you sure you want to logout?</p>
      </div>
      <div mat-dialog-actions class="actions">
        <button class="yes" mat-button (click)="confirm(true)" cdkFocusInitial>Yes</button>
        <button class="no" mat-button (click)="confirm(false)">No</button>
      </div>
    </div>
  </ng-template>
</div>
