<div class="body">
    <div class="subBody">
      <h3 class="title">Partner Enquiries</h3>
      <div class="partnerCardTableBody">
        <mat-card class="partnerCard">
          <mat-card-title class="cardTitle">
            <div class="d-flex">
              <input [(ngModel)]="searchData" matInput placeholder="Search by Company name, Designation" class="search">
            
            </div>
            <button color="primary" (click)="searchList()" type="submit" class="search-btn-one">Search</button>
        </mat-card-title>
          <mat-card-content class="cardValue">
            <div>
              <table mat-table [dataSource]="dataSource" class="">
                <ng-container matColumnDef="sno">
                  <th mat-header-cell *matHeaderCellDef> S.No </th>
                  <td mat-cell *matCellDef="let element;let i=index">{{i+1}}</td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.firstName?element.firstName+" "+element.lastName:"-"}}  </td>
                </ng-container>
  
                <!-- Weight Column -->
                <ng-container matColumnDef="company">
                  <th mat-header-cell *matHeaderCellDef> Company </th>
                  <td mat-cell *matCellDef="let element"> {{element.company?element.company:"-"}} </td>
                </ng-container>
  
                <!-- Symbol Column -->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.email?element.email:"-"}} </td>
                </ng-container>
  
                <ng-container matColumnDef="mobile">
                  <th mat-header-cell *matHeaderCellDef> Mobile </th>
                  <td mat-cell *matCellDef="let element"> {{element.mobile?element.mobile:"-"}}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="registeredDate">
                  <th mat-header-cell *matHeaderCellDef> Registered Date </th>
                  <td mat-cell *matCellDef="let element">{{element.createdAt?convertDate(element.createdAt):"-"}} </td>
                </ng-container>  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <div class="customPagination">
                <mat-paginator style-paginator [showTotalPages]="10" [length]="totalPartnerCount||10" [pageSize]="10"
                  [pageSizeOptions]="[10]"
 >
                </mat-paginator>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>