.sectionAnalysis {
    .section {
        justify-content: space-between;
        margin-top: 3%;
        width: auto;
        height: auto;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
        .sectionHeader {
            display: flex;
            justify-content: space-between;
            padding: 1.5%;
            width: 100%;
            .mins {
                font-size: 20px;
                font-weight: 500;
            }
        }
        .sectionTitle {
            text-align: left;
            font: normal normal medium 18px/35px Roboto;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            font-size: 18px;
            font-weight: 500;
        }
        .view {
            color: #08558C;
            font-size: 12px;
            display: flex;
            height: 16px;
            cursor: pointer;
            .icon {
                margin-right: 4px;
            }
        }
        .chart {
            width: auto;
            height: 540px;
            .miniBox {
                width: 800px;
                height: 520px;
                display: flex;
                padding-top: 1%;
                margin: 0 auto;
                .heading {
                    font-size: 18px;
                    color: #565656;
                    display: flex;
                    margin-top: 20px;
                    justify-content: center;
                    font-weight: 500;
                }
                .left {
                    width: 50%;
                    height: auto;
                    .pieChart {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        margin-top: 5%;
                        canvas {
                            width: 100% !important;
                            height: 100% !important;
                            max-width: 400px;
                        }
                    }
                    .mainCard {
                        width: 310px;
                        margin: 30px auto 0 auto;
                        .Piecard {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 13px 11px;
                            margin-bottom: 10px;
                            width: 100%;
                            cursor: pointer;
                            .minSec {
                                font-size: 17px;
                                color: #000000;
                                font-weight: 500;
                            }
                            .percentage {
                                font-size: 17px;
                                color: #000000;
                            }
                            >div {
                                display: flex;
                                align-items: center;
                                &:last-child {
                                    >div {
                                        margin-left: 8px;
                                        &:first-child {
                                            margin-left: 0;
                                        }
                                    }
                                }
                                .legend {
                                    width: 20px;
                                    height: 20px;
                                    background: #90C8FA;
                                    border-radius: 4px;
                                }
                                .legendContent {
                                    margin-left: 5px;
                                }
                            }
                        }
                        .active {
                            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
                            background-color: #F9F9F9;
                        }
                    }
                }
                .right {
                    width: 50%;
                    height: auto;
                    background: #F9F9F9 0% 0% no-repeat padding-box;
                    box-shadow: 0px 3px 6px #00000029;
                    &::before {
                        content: '';
                        border-top: 20px solid transparent;
                        border-right: 20px solid #F9F9F9;
                        border-bottom: 20px solid transparent;
                        position: absolute;
                        left: -20px;
                        bottom: 100px;
                    }
                    .pieChart {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        margin-top: 5%;
                        canvas {
                            width: 100% !important;
                            height: 100% !important;
                            max-width: 400px;
                        }
                    }
                    .mainCard {
                        width: 310px;
                        margin: 30px auto 0 auto;
                        .Piecard {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 13px 11px;
                            margin-bottom: 10px;
                            width: 100%;
                            cursor: pointer;
                            .minSec {
                                font-size: 17px;
                                color: #000000;
                                font-weight: 500;
                            }
                            .percentage {
                                font-size: 17px;
                                color: #000000;
                            }
                            >div {
                                display: flex;
                                align-items: center;
                                &:last-child {
                                    >div {
                                        margin-left: 8px;
                                        &:first-child {
                                            margin-left: 0;
                                        }
                                    }
                                }
                                .green {
                                    background: #7AC169 !important;
                                }
                                .red {
                                    background: #C15D5D !important;
                                }
                                .gray {
                                    background: #D3D3D4 !important;
                                }
                                .legend {
                                    width: 20px;
                                    height: 20px;
                                    // background: #90C8FA;
                                    border-radius: 4px;
                                }
                                .legendContent {
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}