::ng-deep body{
background: #fff;
}
* {
  // font-family: lato !important;

  .mat-icon {
    font-family: "Material Icons" !important;
  }
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 4px;
}
::ng-deep .mat-drawer:not(.mat-drawer-side) {
  box-shadow: none;
  border-right : 1px solid #eee;
  padding: 2px;
  // border-right:1px solid #eee
}
