@import "variables";


/* Roboto Font */
@font-face {
  font-family: 'Roboto';
  src: url('#{$fontPath}/Roboto-Light.woff2') format('woff2'),
       url('#{$fontPath}/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('#{$fontPath}/Roboto-Regular.woff2') format('woff2'),
         url('#{$fontPath}/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('#{$fontPath}/Roboto-Bold.woff2') format('woff2'),
         url('#{$fontPath}/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

// Icon Fonts - Icomoon
@font-face {
    font-family: 'icomoon';
    src:  url('#{$fontPath}/icomoon.woff?bkp143') format('woff'),
      url('#{$fontPath}/icomoon.svg?bkp143#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-active-icon:before {
    content: "\ea3b";
    color: #1b4e9b;
  }
  
  .icon-closedStatus:before {
    content: "\ea37";
    color: #b4b4b4;
  }
  .icon-pendingStatus .path1:before {
    content: "\ea38";
    color: rgb(38, 193, 246);
  }
  .icon-pendingStatus .path2:before {
    content: "\ea39";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-rejectedStatus:before {
    content: "\ea3a";
    color: #cb0000;
  }

  .icon-signout:before {
    content: "\ea36";
  }
  
  .icon-hover_learning:before {
    content: "\ea2f";
    color: #1b4e9b;
  }
  .icon-hover_jobs:before {
    content: "\ea30";
    color: #1b4e9b;
  }
  .icon-hover_internships:before {
    content: "\ea31";
    color: #004684;
  }
  .icon-hover_forum:before {
    content: "\ea33";
    color: #1b4e9b;
  }
  .icon-hover_events:before {
    content: "\ea34";
    color: #1b4e9b;
  }
  .icon-hover_home:before {
    content: "\ea35";
    color: #1b4e9b;
  }
  .icon-darkMode:before {
    content: "\ea2e";
    color:#848484;
  }
  .icon-lightmode:before {
    content: "\ea2d";
  }
  .icon-notification:before {
    content: "\ea2c";
    color: #848484;
  }
  .icon-home:before {
    content: "\ea2b";
    font-weight: 600;
  }
  .icon-forum:before {
    content: "\ea26";
    color: #848484;
  }
  .icon-internships:before {
    content: "\ea27";
    color: #848484;
  }
  .icon-jobs:before {
    content: "\ea28";
    font-weight: 600;
  }
  .icon-learning:before {
    content: "\ea29";
    color: #848484;
  }
  .icon-events:before {
    content: "\ea2a";
    color: #848484;
  }

  .icon-checked_Skyblue:before {
    content: "\ea25";
    color: #0097cc;
  }
  .icon-Icon-ionic-ios-calendar-1:before {
    content: "\ea24";
    color: #707070;
  }
.icon-bookmark_fill_blue:before {
  content: "\ea23";
  color: #84b6c6;
}

.icon-bookmark_fill_green:before {
  content: "\ea24";
  color: #7fcf7c;
}
.icon-candidate_search:before {
  content: "\ea23";
  color: #858585;
}
    .icon-bookmark_icon:before {
      content: "\ea22";
    }
    .icon-apply_now:before {
      content: "\ea1d";
      // color: #fff;
    }
    .icon-daysleft_clock:before {
      content: "\ea1b";
    }

.icon-green_tick_flower_circuled:before {
  content: "\ea1c";
  color: #4fa13a;
}
.icon-clock_postdate:before {
  content: "\ea1e";
  color: #848484;
}

.icon-dotted-grid:before {
  content: "\ea1f";
}

.icon-list_view:before {
  content: "\ea20";
}

.icon-suitcase_blueborder:before {
  content: "\ea21";
  color: #1b4e9b;
}

.icon-posted-before:before {
  content: "\ea1a";
  color: #848484;
}

.icon-jobtype:before {
  content: "\ea18";
  color: #707070;
}

.icon-graduation-gap:before {
  content: "\ea19";
  color: #8c8c8c;
}

.icon-tick_mark_green:before {
  content: "\ea14";
  color: #49ae31;
}

.icon-tick_mark_grey:before {
  content: "\ea15";
  color: #848484;
}

.icon-calendar-icon:before {
  content: "\ea0f";
}

.icon-rupee-icon:before {
  content: "\ea10";
}

.icon-recognization:before {
  content: "\ea11";
  color: #09244b;
}

.icon-work-suitcase:before {
  content: "\ea0e";
}

.icon-user-professional:before {
  content: "\ea0d";
}

.icon-TestAnalysis:before {
  content: "\e98f";
}

.icon-JobVacancy:before {
  content: "\e98e";
}

.icon-BasicProfile:before {
  content: "\e98c";
}

.icon-SelectDrive:before {
  content: "\e98b";
}

.icon-Drive:before {
  content: "\e98d";
}

.icon-uncheck:before {
  content: "\e98a";
}

.icon-radio_button:before {
  content: "\e988";
}

.icon-forum_black:before {
  content: "\e989";
}

.icon-done_all:before {
  content: "\e987";
}

.icon-close:before {
  content: "\e984";
}

.icon-add:before {
  content: "\e985";
}

.icon-send:before {
  content: "\e986";
}

.icon-dashboard:before {
  content: "\e97c";
}

.icon-manage_accounts:before {
  content: "\e97d";
}

.icon-menu:before {
  content: "\e97e";
}

.icon-menu_open:before {
  content: "\e97f";
}

.icon-person_search:before {
  content: "\e980";
}

.icon-portrait:before {
  content: "\e981";
}

.icon-reg:before {
  content: "\e982";
}

.icon-track_changes:before {
  content: "\e983";
}

.icon-mic:before {
  content: "\e92f";
}

.icon-camera:before {
  content: "\e976";
}

.icon-camraoff:before {
  content: "\e977";
}

.icon-Join_Video:before {
  content: "\e978";
}

.icon-logout:before {
  content: "\e979";
}

.icon-mute:before {
  content: "\e97a";
}

.icon-screen_share:before {
  content: "\e97b";
}

.icon-p_right:before {
  content: "\e973";
}

.icon-p_mid:before {
  content: "\e974";
}

.icon-p_left:before {
  content: "\e975";
}

.icon-right-next:before {
  content: "\e972";
}

.icon-Role:before {
  content: "\e970";
}

.icon-Job:before {
  content: "\e971";
}

.icon-Hamburger:before {
  content: "\e96f";
}

.icon-Hide:before {
  content: "\e96e";
}

.icon-Shield:before {
  content: "\e96c";
}

.icon-Tag:before {
  content: "\e96d";
}

.icon-Add:before {
  content: "\e900";
}

.icon-AddGroup:before {
  content: "\e901";
}

.icon-AddUser:before {
  content: "\e902";
}

.icon-Assessment:before {
  content: "\e903";
}

.icon-AssessmentPlatform:before {
  content: "\e904";
}

.icon-AssessmentTick:before {
  content: "\e905";
}

.icon-AssessmentView:before {
  content: "\e906";
}

.icon-Back:before {
  content: "\e907";
}

.icon-Badge:before {
  content: "\e908";
}

.icon-Bank:before {
  content: "\e909";
}

.icon-Basket:before {
  content: "\e90a";
}

.icon-Bell:before {
  content: "\e90b";
}

.icon-Benchmark:before {
  content: "\e90c";
}

.icon-Booked:before {
  content: "\e90d";
}

.icon-BuildPortfolio:before {
  content: "\e90e";
}

.icon-Calendar:before {
  content: "\e90f";
}

.icon-Cart:before {
  content: "\e910";
}

.icon-Certificate1:before {
  content: "\e911";
}

.icon-Certificate2:before {
  content: "\e912";
}

.icon-Certification:before {
  content: "\e913";
}

.icon-checked:before {
  content: "\e914";
}

.icon-CheckMark:before {
  content: "\e915";
}

.icon-Chip:before {
  content: "\e916";
}

.icon-Circuit:before {
  content: "\e917";
}

.icon-Civil:before {
  content: "\e918";
}

.icon-Clipboard:before {
  content: "\e919";
}

.icon-Close:before {
  content: "\e91a";
}

.icon-Contract:before {
  content: "\e91b";
}

.icon-CreditCard:before {
  content: "\e91c";
}

.icon-DateTime:before {
  content: "\e91d";
}

.icon-Delete:before {
  content: "\e91e";
}

.icon-Device:before {
  content: "\e91f";
}

.icon-Dislike:before {
  content: "\e920";
}

.icon-Document:before {
  content: "\e921";
}

.icon-DownArrow:before {
  content: "\e922";
}

.icon-Download:before {
  content: "\e923";
}

.icon-Edit:before {
  content: "\e924";
}

.icon-Email:before {
  content: "\e925";
}

.icon-Expiration:before {
  content: "\e926";
}

.icon-Facebook:before {
  content: "\e927";
}

.icon-Favorite:before {
  content: "\e928";
}

.icon-FileAdd:before {
  content: "\e929";
}

.icon-FileDownload:before {
  content: "\e92a";
}

.icon-FileEdit:before {
  content: "\e92b";
}

.icon-Filter:before {
  content: "\e92c";
}

.icon-Folder:before {
  content: "\e92d";
}

.icon-GeneratedResults:before {
  content: "\e92e";
}

.icon-Grade:before {
  content: "\e930";
}

.icon-Grid:before {
  content: "\e931";
}

.icon-Group:before {
  content: "\e932";
}

.icon-Info:before {
  content: "\e933";
}

.icon-Instagram:before {
  content: "\e934";
}

.icon-Layers:before {
  content: "\e935";
}

.icon-LeftArrow:before {
  content: "\e936";
}

.icon-Level1:before {
  content: "\e937";
}

.icon-Level2:before {
  content: "\e938";
}

.icon-Level3:before {
  content: "\e939";
}

.icon-Like:before {
  content: "\e93a";
}

.icon-Link:before {
  content: "\e93b";
}

.icon-Linkedin:before {
  content: "\e93c";
}

.icon-List:before {
  content: "\e93d";
}

.icon-Location:before {
  content: "\e93e";
}

.icon-MailSend:before {
  content: "\e93f";
}

.icon-Mechanical:before {
  content: "\e940";
}

.icon-More:before {
  content: "\e941";
}

.icon-Objectives:before {
  content: "\e942";
}

.icon-Offer:before {
  content: "\e943";
}

.icon-PassageTime:before {
  content: "\e944";
}

.icon-Picture:before {
  content: "\e945";
}

.icon-Play:before {
  content: "\e946";
}

.icon-Portfolio:before {
  content: "\e947";
}

.icon-Refresh:before {
  content: "\e948";
}

.icon-RemoteProctoring:before {
  content: "\e949";
}

.icon-Report:before {
  content: "\e94a";
}

.icon-Resume:before {
  content: "\e94b";
}

.icon-ResumeView:before {
  content: "\e94c";
}

.icon-RightArrow:before {
  content: "\e94d";
}

.icon-Rupee:before {
  content: "\e94e";
}

.icon-Score:before {
  content: "\e94f";
}

.icon-Search:before {
  content: "\e950";
}

.icon-Settings:before {
  content: "\e951";
}

.icon-SpeedoMeter:before {
  content: "\e952";
}

.icon-Star:before {
  content: "\e953";
}

.icon-Statistics:before {
  content: "\e954";
}

.icon-Test:before {
  content: "\e955";
}

.icon-TestBooking:before {
  content: "\e956";
}

.icon-TestGrade:before {
  content: "\e957";
}

.icon-Tests:before {
  content: "\e958";
}

.icon-Tick:before {
  content: "\e959";
}

.icon-Time:before {
  content: "\e95a";
}

.icon-TimeLeft:before {
  content: "\e95b";
}

.icon-Trophy:before {
  content: "\e95c";
}

.icon-Twitter:before {
  content: "\e95d";
}

.icon-UpArrow:before {
  content: "\e95e";
}

.icon-UPI .path1:before {
  content: "\e95f";
  color: rgb(0, 0, 0);
}

.icon-UPI .path2:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-UPI .path3:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-UPI .path4:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-UPI .path5:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-Upload:before {
  content: "\e964";
}

.icon-UpSkill:before {
  content: "\e965";
}

.icon-User:before {
  content: "\e966";
}

.icon-View:before {
  content: "\e967";
}

.icon-ViewItems:before {
  content: "\e968";
}

.icon-Wallet:before {
  content: "\e969";
}

.icon-WebDevelopment:before {
  content: "\e96a";
}

.icon-Youtube:before {
  content: "\e96b";
}

.icon-warning:before {
  content: "\ea17";
}

.icon-bookmark:before {
  content: "\ea16";
}

.icon-location1:before {
  content: "\ea13";
}

.icon-Font_Awesome_5_regular_life-ring:before {
  content: "\e9a1";
}

.icon-Font_Awesome_5_solid_universal-access:before {
  content: "\e9a2";
}

.icon-compass-orientation-tool-svgrepo-com:before {
  content: "\e9a0";
}

.icon-road-perspective-svgrepo-com:before {
  content: "\e99a";
}

.icon-shield-svgrepo-com:before {
  content: "\e99b";
}

.icon-bullseye-svgrepo-com:before {
  content: "\e99c";
}

.icon-cogs-svgrepo-com:before {
  content: "\e99d";
}

.icon-level-up-alt-svgrepo-com:before {
  content: "\e99e";
}

.icon-map-marker-svgrepo-com:before {
  content: "\e99f";
}

.icon-bolt-lightning-solid:before {
  content: "\e997";
}

.icon-hourglass-half-solid:before {
  content: "\e998";
}

.icon-graduation-cap-solid:before {
  content: "\e999";
}

.icon-binoculars-solid:before {
  content: "\e996";
}

.icon-close-rounded:before {
  content: "\e995";
}

.icon-check-rounded:before {
  content: "\e994";
}

.icon-file-download:before {
  content: "\e993";
}

.icon-arrow-round-up:before {
  content: "\e992";
  color: #fff;
}

.icon-graduation-cap .path1:before {
  content: "\e991";
  color: rgb(0, 0, 0);
  opacity: 0.3922;
}

.icon-graduation-cap .path2:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9725;
}

.icon-graduation-cap .path3:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-graduation-cap .path4:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-graduation-cap .path5:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-graduation-cap .path6:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9098;
}

.icon-graduation-cap .path7:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9098;
}

.icon-graduation-cap .path8:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9098;
}

.icon-graduation-cap .path9:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9098;
}

.icon-graduation-cap .path10:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9098;
}

.icon-graduation-cap .path11:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9098;
}

.icon-graduation-cap .path12:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9098;
}

.icon-graduation-cap .path13:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9098;
}

.icon-graduation-cap .path14:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9098;
}

.icon-graduation-cap .path15:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9098;
}

.icon-graduation-cap .path16:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9098;
}

.icon-graduation-cap .path17:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5412;
}

.icon-graduation-cap .path18:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5412;
}

.icon-graduation-cap .path19:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5412;
}

.icon-graduation-cap .path20:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5412;
}

.icon-graduation-cap .path21:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5412;
}

.icon-graduation-cap .path22:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5412;
}

.icon-graduation-cap .path23:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5412;
}

.icon-graduation-cap .path24:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5412;
}

.icon-graduation-cap .path25:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5412;
}

.icon-graduation-cap .path26:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5412;
}

.icon-graduation-cap .path27:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5412;
}

.icon-graduation-cap .path28:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path29:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path30:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path31:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path32:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path33:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path34:before {
  content: "\e9c3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path35:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path36:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path37:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path38:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path39:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path40:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path41:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path42:before {
  content: "\e9cb";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path43:before {
  content: "\e9cc";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path44:before {
  content: "\e9cd";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path45:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path46:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path47:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path48:before {
  content: "\e9d1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path49:before {
  content: "\e9d2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path50:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path51:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path52:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path53:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path54:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0431;
}

.icon-graduation-cap .path55:before {
  content: "\e9d8";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6353;
}

.icon-graduation-cap .path56:before {
  content: "\e9d9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6353;
}

.icon-graduation-cap .path57:before {
  content: "\e9da";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6353;
}

.icon-graduation-cap .path58:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6353;
}

.icon-graduation-cap .path59:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6353;
}

.icon-graduation-cap .path60:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6353;
}

.icon-graduation-cap .path61:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6353;
}

.icon-graduation-cap .path62:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6353;
}

.icon-graduation-cap .path63:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6353;
}

.icon-graduation-cap .path64:before {
  content: "\e9e1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6353;
}

.icon-graduation-cap .path65:before {
  content: "\e9e2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6353;
}

.icon-graduation-cap .path66:before {
  content: "\e9e3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6353;
}

.icon-graduation-cap .path67:before {
  content: "\e9e4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6353;
}

.icon-graduation-cap .path68:before {
  content: "\e9e5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1098;
}

.icon-graduation-cap .path69:before {
  content: "\e9e6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1098;
}

.icon-graduation-cap .path70:before {
  content: "\e9e7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1098;
}

.icon-graduation-cap .path71:before {
  content: "\e9e8";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1098;
}

.icon-graduation-cap .path72:before {
  content: "\e9e9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1098;
}

.icon-graduation-cap .path73:before {
  content: "\e9ea";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1098;
}

.icon-graduation-cap .path74:before {
  content: "\e9eb";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1098;
}

.icon-graduation-cap .path75:before {
  content: "\e9ec";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1098;
}

.icon-graduation-cap .path76:before {
  content: "\e9ed";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1098;
}

.icon-graduation-cap .path77:before {
  content: "\e9ee";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1098;
}

.icon-graduation-cap .path78:before {
  content: "\e9ef";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1098;
}

.icon-graduation-cap .path79:before {
  content: "\e9f0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1098;
}

.icon-graduation-cap .path80:before {
  content: "\e9f1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0784;
}

.icon-graduation-cap .path81:before {
  content: "\e9f2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0784;
}

.icon-graduation-cap .path82:before {
  content: "\e9f3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0784;
}

.icon-graduation-cap .path83:before {
  content: "\e9f4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0784;
}

.icon-graduation-cap .path84:before {
  content: "\e9f5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0784;
}

.icon-graduation-cap .path85:before {
  content: "\e9f6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0784;
}

.icon-graduation-cap .path86:before {
  content: "\e9f7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0784;
}

.icon-graduation-cap .path87:before {
  content: "\e9f8";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0784;
}

.icon-graduation-cap .path88:before {
  content: "\e9f9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0784;
}

.icon-graduation-cap .path89:before {
  content: "\e9fa";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0784;
}

.icon-graduation-cap .path90:before {
  content: "\e9fb";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0784;
}

.icon-graduation-cap .path91:before {
  content: "\e9fc";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0784;
}

.icon-graduation-cap .path92:before {
  content: "\e9fd";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0784;
}

.icon-graduation-cap .path93:before {
  content: "\e9fe";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.0784;
}

.icon-graduation-cap .path94:before {
  content: "\e9ff";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2157;
}

.icon-graduation-cap .path95:before {
  content: "\ea00";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2157;
}

.icon-graduation-cap .path96:before {
  content: "\ea01";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2157;
}

.icon-graduation-cap .path97:before {
  content: "\ea02";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2157;
}

.icon-graduation-cap .path98:before {
  content: "\ea03";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2157;
}

.icon-graduation-cap .path99:before {
  content: "\ea04";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2157;
}

.icon-graduation-cap .path100:before {
  content: "\ea05";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2157;
}

.icon-graduation-cap .path101:before {
  content: "\ea06";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2157;
}

.icon-graduation-cap .path102:before {
  content: "\ea07";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2157;
}

.icon-graduation-cap .path103:before {
  content: "\ea08";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2157;
}

.icon-graduation-cap .path104:before {
  content: "\ea09";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2157;
}

.icon-graduation-cap .path105:before {
  content: "\ea0a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2157;
}

.icon-graduation-cap .path106:before {
  content: "\ea0b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2157;
}

.icon-graduation-cap .path107:before {
  content: "\ea0c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.2157;
}

.icon-dashboard_grey:before {
  content: "\e990";
  color: #858585;
}

.icon-ArrowUp:before {
  content: "\ea32";
}

.icon-location:before {
  content: "\ea12";
}
