$imagePath: "/assets/images";
$fontPath: "/assets/fonts";
//Color Defining
$primaryColor: #C02222;
$secondaryColor: #FFCC00;
$successColor: #0CD684;
$successColorDark: #00B000;
$warningColorDark: #E7001B;
$primaryBlue: #09568C;
$blueColor: #004C86;
$whiteColor: #ffffff;
$blackColor: #000000;
$darkGrey: #333333;
$mediumGrey: #666666;
$lightGrey: #999999;
$greyColor: #cdcdcd;
$bgColor: #E9E9E9;
$lightColor: #fafafa;
$thumbColor: #aaa;
$thumbHoverColor: #999;
$sidebar-hover: rgb(170, 151, 75, 0.5);
$sidebar-black: #1F1A17;
$lxp-text: #9E9E9E;
$label: #5c6873;
$color-blank:#1D1D1B;
$color-border: #ccc;
$lxp-footer-text:#3f444a;
$lxp-gray:#898989;
$greyDark: #848484;
$redcolor:#E7001B;
$yellowcolor:#FFCF00;
$orangecolor:#F29100;
$primaryGradient: linear-gradient(to right, #23bbee, #00bed9, #00beb4, #00ba85, #5ab253);
// New Color Code
$lightRed:#ff5253;
//Screen Size definitions
$screen-sm-min: 576px;
$screen-md-min: 700px; // Small tablets (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

// NAVBAR
$primary-gray: #d9d9d9;
$black-1: #5E5E5E;
$wrapper-light-gray: #fff;
$primary-yellow: #FFCC00;
$common-button-bg: #1b4e9b;
$primary-checkbox-color: #1b4e9b;
$primary-hover-color: #004684;
$primary-error-color: red;
$primary-error-text: red;
// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

.heading2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    color: $primaryBlue;
    line-height: normal;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    width: 100%;
    &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        height: 3px;
        background-color: $primaryColor;
    }
}