
<div class="bgwrapper">
    <div></div>
    <div class="sectionWrapper">
    <div class="left">
      <div class="ltext">
        <img
          src="assets/images/SE_White.png"
          width="250px"
          height="60"
        />
        <div class="talentxt">
            <strong> Kick-start </strong>
          <span class="slim">
            your career with your dream company
            </span>
          <div class="decocolor"></div>
          <p>
            Have an edge over your peers by building your skill profile and land in your dream job
          </p>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="mblview">
        <img
        src="assets/images/SE_White.png"
        width="250px"
        height="60"
      />
      </div>
      <mat-card class="matcustom">
      <div class="form-wrapper">
        <div>
          <div class="tLeft">Fresh Graduates</div>
          <div class="animated animatedFadeInUp fadeInUp signIn"> Registration</div>
        </div>
        <div class="mt-2 ">Sign Up to your account</div>
        <form class="form" [formGroup]="freshGraduatesForm" autocomplete="off">
          <mat-label class="label-color">Name</mat-label>
            <mat-form-field appearance="outline">
                <input matInput id="user_name"  [placeholder]="'Enter Name'" formControlName="user_name"
                    maxlength="64" required>
                <mat-error *ngIf="user_name.invalid && user_name.touched">
                  <br>
                    <div *ngIf="user_name?.errors?.required">
                        {{'Name is Required'}}
                    </div>
                </mat-error>
            </mat-form-field>
            <mat-label class="label-color">Email</mat-label>
            <mat-form-field appearance="outline">
                <input matInput id="email" [placeholder]="'Enter Email'" formControlName="email" required>
                <mat-error *ngIf="email.invalid && email.touched">
                    <br>
                    <div *ngIf="email?.errors?.required">
                        {{'Email Id is Required'}}
                    </div>
                    <div *ngIf="email.errors?.pattern">
                        {{'Please Enter a Valid Email Id'}}
                    </div>
                </mat-error>
            </mat-form-field>

            <div class="signupTxt">By registering, I agree to get enroll in the Skill Exchange Program where recruiters can search my profile and contact me for job Opportunities.</div>
            <button class="btn" [disabled]="!freshGraduatesForm.valid" id="register" mat-button
                (click)="register()">{{"Submit"}}</button>
            <div class="mt-20 signupTxt center">Already have an account? <a class="forgot" [href]="skillProfileUrl">Sign In</a></div>
        </form>
      </div>
      </mat-card>

    </div>
    </div>
    <!-- Footer area -->
    <div class="footer-section">© 2023 L&T EduTech. All Rights Reserved</div>
    </div>

    <ng-template #noSkill>
      <div style="position: relative;"><mat-icon class="close-icon" mat-dialog-close="true">close</mat-icon></div>
      <div class="successMessage">
        <img src="assets/images/check.png">
        <div class="text">
          <p>Verification mail has been sent</p>
          <p >to your email</p>
        </div>
      </div>
  </ng-template>

  <ng-template #notactive>
    <div style="position: relative;"><mat-icon class="close-icon" mat-dialog-close="true">close</mat-icon></div>
    <div class="successMessage">
      <img src="/assets/images/alert-image.png">
      <div class="text">
        <p>Looks like you already have an account</p>
        <div class="subpara">Oops, our records shows your account is not active</div>
        <div width="60%" >
          <button class="btn" mat-button (click)="resendEmail()">Activate Account</button>
        </div>
      </div>
    </div>
  </ng-template>
