@import "../../../../../assets/scss/variables.scss";
@import "../../../../../assets/scss/fonts.scss";
::ng-deep .btn-green {
    font-size: 12px;
    height: 24px;
    line-height: 2px;
    border: none;
    width: 74px;
    border-radius: 20px;
    color: $whiteColor;
    background: $successColor;
}

::ng-deep .btn-yellow {
    font-size: 12px;
    height: 24px;
    line-height: 2px;
    border: none;
    width: 74px;
    border-radius: 20px;
    color: $whiteColor;
    background: $secondaryColor;
}

.backBtn {
    margin-left: 8px !important;
}

::ng-deep .green {
    color: rgb(130, 210, 73);
    font-size: 17px;
    position: relative;
    top: 4px;
}

::ng-deep .red {
    color: rgb(245, 93, 81);
    font-size: 17px;
    position: relative;
    top: 4px;
}

::ng-deep .green-btn {
    background: rgb(130, 210, 73);
}

::ng-deep .red-btn {
    background: rgb(245, 93, 81);
}

::ng-deep .yellow-btn {
    background: rgb(255, 179, 0);
}

::ng-deep .btnsm {
    font-size: 11px;
    padding: 10px 12px;
    line-height: 0px;
    border: none;
    color: $whiteColor;
    letter-spacing: 0.5px;
    border-radius: 2px;
    text-transform: capitalize !important;
}

::ng-deep .ag-body-horizontal-scroll-viewport {
    height: 3px !important;
    max-height: 10px !important;
    min-height: 7px !important;
}

.outer-div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.button-bar {
    margin-bottom: 1rem;
}

.grid-wrapper {
    flex: 1 1 auto;
}

::ng-deep .progessbar {
    display: block;
    position: absolute;
    z-index: 1;
    padding-left: 5px;
    top: 0;
    text-align: left;
    color: #000 !important;
    bottom: 0;
    font-weight: 600;
}