@import "../../../../../assets/scss/variables.scss";
@import "../../../../../assets/scss/fonts.scss";
::ng-deep .ag-theme-alpine {
    font-size: 12px !important;
}

::ng-deep .btn-green {
    font-size: 12px;
    height: 24px;
    line-height: 2px;
    border: none;
    width: 74px;
    border-radius: 20px;
    color: $whiteColor;
    background: $successColor;
}

::ng-deep .btn-yellow {
    font-size: 12px;
    height: 24px;
    line-height: 2px;
    border: none;
    width: 74px;
    border-radius: 20px;
    color: $whiteColor;
    background: $secondaryColor;
}

.backBtn {
    margin-left: 8px !important;
}

::ng-deep .displayNone {
    display: none;
}

::ng-deep .green {
    color: rgb(130, 210, 73);
    font-size: 17px;
    position: relative;
    top: 4px;
    text-align: center;
}

::ng-deep .red {
    color: rgb(245, 93, 81);
    font-size: 17px;
    position: relative;
    top: 4px;
}

::ng-deep .green-btn {
    background: rgb(130, 210, 73);
}

::ng-deep .red-btn {
    background: rgb(245, 93, 81);
}

::ng-deep .blue-btn {
    background: #2196f3;
}

::ng-deep .greenlight-btn {
    background: #21f327;
}

::ng-deep .redColor {
    color: rgb(6, 69, 173);
    cursor: pointer;
}

::ng-deep .yellow-btn {
    background: rgb(255, 179, 0);
}

::ng-deep .btnsm {
    font-size: 11px;
    padding: 10px 12px;
    line-height: 0px;
    border: none;
    color: $whiteColor;
    letter-spacing: 0.5px;
    border-radius: 2px;
    text-transform: capitalize !important;
}

::ng-deep .ag-body-horizontal-scroll-viewport {
    height: 3px !important;
    max-height: 10px !important;
    min-height: 7px !important;
}

.outer-div {
    height: 89%;
    display: flex;
    flex-direction: column;
}

::ng-deep .hideRows {
    visibility: hidden;
}

.button-bar {
    margin-bottom: 1rem;
}

.grid-wrapper {
    flex: 1 1 auto;
}

::ng-deep .progessbar {
    display: block;
    position: absolute;
    z-index: 1;
    padding-left: 5px;
    top: 0;
    text-align: left;
    color: $blackColor !important;
    bottom: 0;
}

::ng-deep .ag-theme-alpine .ag-details-row {
    padding: 10px !important;
    font-size: 12px !important;
}

::ng-deep .ag-theme-alpine .ag-cell,
.ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group {
    line-height: 36px !important;
    font-size: 12px !important;
}

::ng-deep .alignCenter {
    // text-align: center;
}

::ng-deep .center {
    text-align: center;
}

::ng-deep .light-green {
    background: #82d2498a;
}

::ng-deep .mat-icon-button {
    width: 20px !important;
    height: 20px !important;
    line-height: 2px !important;
    background: transparent !important;
}

::ng-deep .mat-icon-button i,
.mat-icon-button .mat-icon {
    line-height: 0px !important;
    background: transparent !important;
}

::ng-deep .popupModalContainerForaddUser {
    min-height: 300px;
    max-height: 600px;
    background: $whiteColor;
    .add-user-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: sticky;
        top: -14px;
        background: $whiteColor;
        z-index: 999;
    }
    .mat-dialog-container {
        padding: 14px !important;
        overflow: auto !important;
    }
    .width-100 {
        width: 100%;
    }
    .closebtn {
        background-color: $whiteColor;
        border: none;
    }
}