@import "variables";

.StInfoDetailsArea {
    margin:2.3em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.cardInfoArea { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 40%;
    min-width: 325px;
    padding: 1em 0;
    border-radius: 0.3em;
    border:0.1em solid $greyColor;
    background-color: $whiteColor;
    box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 14%); 
}

.infoIcon {
    height: 95%;
    min-height: 100px;
    border-left: 0.6em solid transparent;
    padding: 0 0.8em;
    padding-right: 1.3em;

    .iconpl {
        color: $whiteColor;
        background-color: $successColor;
        padding: 0.4em;
        font-size: 1.4em;
        border-radius: 1.5em;
        display: inline-block; 
    }

    &.SuccessColor {
        border-color:$successColor;
        .iconpl { 
            background-color: $successColor;
        }
    }
    &.WarningColor {
        border-color:$primaryColor;
        .iconpl { 
            background-color: $primaryColor;
        }
    }
}


.infotxt {
    .heading6 {
        margin-bottom: 0.5em;
    }
}
.ContentArea {
    padding-right: 1em;
    margin-bottom: 0.6em;
    span {
        display: block;
        color: $lightGrey;
    }
}