
<div class="bgwrapper">
    <div></div>
    <div class="sectionWrapper">
    <div class="left">
      <div class="ltext">
        <img
          src="assets/images/SE_White.png"
          width="250px"
          height="60"
        />
        <div class="talentxt">
          <strong>Connecting</strong>
          <span class="slim">
             Skilled Talent with Industry</span>
          <div class="decocolor"></div>
          <p>
            Skill Exchange is a one-of-a-kind platform that provides talented
            and skilled new graduates smooth transitioning from college to the
            professional world!
          </p>
        </div>
      </div>
    </div>
    <div class="right">
      <mat-card class="matcustom">
      <div class="form-wrapper">
        <div>
          <div class="tLeft">Hello!</div>
          <div class="animated animatedFadeInUp fadeInUp signIn"> Welcome</div>
        </div>
        <form class="form" [formGroup]="loginForm" autocomplete="off">

          <mat-label class="label-color">{{labelname}}</mat-label>
            <mat-form-field appearance="outline">
                <input matInput id="username" [placeholder]="'Enter User Name'" formControlName="username" maxlength="64" required>
            </mat-form-field>

            <ng-container *ngIf="username.invalid && username.touched">
                <mat-error class="error" *ngIf="username?.errors?.required">{{'User Name is Required'}}</mat-error>
                <mat-error class="error" *ngIf="username.errors?.pattern">{{'Please Enter a valid User Name'}}</mat-error>
            </ng-container>

            <mat-label class="label-color">Password</mat-label>
            <mat-form-field appearance="outline">
                <input matInput [placeholder]="'Enter password'" [type]="hide ? 'password' : 'text'" formControlName="password" [ngClass]="{ 'is-invalid': password?.touched && password?.errors?.required}" required>
                <span mat-icon-button class="login-icon-wrapper" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon style="cursor: pointer;" class="icon-color">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </span>
            </mat-form-field>

            <ng-container *ngIf="password?.invalid && password?.touched">
                <mat-error class="error" *ngIf="password?.errors?.required">{{'Password is Required'}}</mat-error>
            </ng-container>
            <button class="btn" [disabled]="!loginForm.valid" id="login" mat-button (click)="login()">{{'SIGN IN'}}</button>
            <div class="mt-20 signupTxt">New User? <a class="forgot" [href]="isCandidate?'/register':'/employers?from=employer'">Sign Up</a></div>
        </form>
        <mat-label>
          <a  class="forgot" (click)="forgotPassword()">{{'Forgot password?'}}</a>
          </mat-label>
      </div>
      </mat-card>

    </div>
    </div>
    <!-- Footer area -->
    <div class="footer-section">©  {{ currentYear }} L&T EduTech. All Rights Reserved</div>
    </div>

    <ng-template #mailsuccess>
      <div style="position: relative;"><mat-icon class="close-icon" mat-dialog-close="true">close</mat-icon></div>
      <div class="successMessage">
        <img src="assets/images/check.png">
        <div class="text">
          <p>Verification mail has been sent</p>
          <p class="subpara">to your email</p>
        </div>
      </div>
    </ng-template>
    <ng-template #notactive>
      <div style="position: relative;"><mat-icon class="close-icon" mat-dialog-close="true">close</mat-icon></div>
      <div class="successMessage">
        <img src="/assets/images/close-circle.svg">
        <div class="text">
          <p>Your Account is not Active</p>
          <div class="sublink" (click)="resendEmail()">Click here to activate your account</div>
        </div>
      </div>
    </ng-template>
