     <!-- hiringPartnres -->
     <section class="hiringPartnres" [ngStyle]="{'background-image': 'url(' + 'assets/images/landing/partners.svg' + ')'}">
      <div class="container">
          <div class="commonHeadingStyle">{{'Hiring Partners'}}</div>
          <div class="wrapper">
              <div class="left">
                  <p>{{'L&T EduTech collaborates with 100+ recruiting partners, identify and understand the key talent expectations trending across the globe, design curriculum on right technologies, train learners with industry oriented practice eco-system to place them successfully.'}}</p>
              </div>
              <div class="right">
                  <div class="figWrapper">
                      <!-- <ng-container *ngFor="let img of images"> -->
                          <figure>
                            <img [src]="'assets/images/landing/L&T.png'" alt="">
                        </figure>
                          <figure>
                            <img [src]="'assets/images/landing/L&T_NXT.png'" alt="">
                        </figure>
                          <figure>
                            <img [src]="'assets/images/landing/L&T_Services_Stacked.png'" alt="">
                        </figure>
                          <figure>
                            <img [src]="'assets/images/landing/LTI.png'" alt="">
                        </figure>
                          <figure>
                            <img [src]="'assets/images/landing/Mindtree.png'" alt="">
                        </figure>
                      <!-- </ng-container> -->
                  </div>
              </div>
          </div>
      </div>
  </section>
