<!-- hiringPartnres -->
<section class="hiringPartnres">
    <div class="container">
        <div class="commonHeadingStyle">{{'Partners'}}</div>
        <div class="wrapper tabs">
            <mat-tab-group>
                <mat-tab label="Hiring Partners">
                    <div class="imgContainer">
                        <ng-template matTabContent>
                            <section class="bannerSection">
                                <div class="bannerWrapper">
                                    <div class="owlCarouselWrapper">
                                        <owl-carousel-o [options]="customOptions">
                                            <ng-container>
                                                <ng-template class="imageWrapper" carouselSlide>
                                                    <figure>
                                                        <img src="assets/images/landing/L&T.png" alt="" />
                                                    </figure>
                                                </ng-template>
                                                <ng-template class="imageWrapper" carouselSlide>
                                                    <figure class="banner_2">
                                                        <img src="assets/images/landing/L&T_NXT.png" alt="" />
                                                    </figure>
                                                </ng-template>
                                                <ng-template class="imageWrapper" carouselSlide>
                                                    <figure>
                                                        <img src="assets/images/landing/L&T_Services_Stacked.png" alt="" />
                                                    </figure>
                                                </ng-template>
                                                <ng-template class="imageWrapper" carouselSlide>
                                                    <figure>
                                                        <img src="assets/images/landing/LTI.png" alt="" />
                                                    </figure>
                                                </ng-template>
                                                <ng-template class="imageWrapper" carouselSlide>
                                                    <figure>
                                                        <img src="assets/images/landing/Mindtree.png" alt="" />
                                                    </figure>
                                                </ng-template>
                                            </ng-container>
                                        </owl-carousel-o>
                                    </div>
                                </div>
                            </section>
                        </ng-template>
                    </div>

                </mat-tab>
                <mat-tab label="Ecosystem Partners">
                    <div class="imgContainer">
                        <ng-template matTabContent>
                            <section class="bannerSection">
                                <div class="bannerWrapper">
                                    <div class="owlCarouselWrapper">
                                        <owl-carousel-o [options]="customOptions">
                                            <ng-container>
                                                <ng-template class="imageWrapper" carouselSlide>
                                                    <figure>
                                                        <img src="assets/images/landing/newLanding/All_India_Council_for_Technical_Education_logo.png" alt="" />
                                                    </figure>
                                                </ng-template>
                                            </ng-container>
                                        </owl-carousel-o>
                                    </div>
                                </div>
                            </section>
                        </ng-template>
                    </div>

                </mat-tab>
                <mat-tab label="Institutional Partners">
                    <div class="imgContainer">
                        <ng-template matTabContent>
                            <section class="bannerSection">
                                <div class="bannerWrapper">
                                    <div class="owlCarouselWrapper">
                                        <owl-carousel-o [options]="customOptions">
                                            <ng-container>

                                                <ng-template class="imageWrapper" carouselSlide>
                                                    <figure>
                                                        <img src="assets/images/landing/newLanding/kpriet.png" alt="" />
                                                    </figure>
                                                </ng-template>
                                                <ng-template class="imageWrapper" carouselSlide>
                                                    <figure class="banner_2">
                                                        <img src="assets/images/landing/newLanding/download.png" alt="" />
                                                    </figure>
                                                </ng-template>
                                                <ng-template class="imageWrapper" carouselSlide>
                                                    <figure>
                                                        <img src="assets/images/landing/newLanding/logo-footer.png" alt="" />
                                                    </figure>
                                                </ng-template>
                                                <ng-template class="imageWrapper" carouselSlide>
                                                    <figure>
                                                        <img src="assets/images/landing/newLanding/ANNAUNIVERSITYLOGO.png" alt="" />
                                                    </figure>
                                                </ng-template>
                                            </ng-container>
                                        </owl-carousel-o>
                                    </div>
                                </div>
                            </section>
                        </ng-template>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>