<div class="container-fluid p-0" style="overflow:hidden;">
    <div class="top-bg p-4">
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="top-left">
                    <div class="dashboard-text mb-0">Dashboard</div>
                   <div class="d-flex">
                    <div class="text-white welcome-text mb-0">Welcome back, </div>
                    <span class="text-white username-text"><b> &nbsp;{{username}}</b></span>
                   </div>
                    <button type="submit" class="update-info profilebtn" *ngIf='roleCode === "EMP"' (click)="profile()">Update Profile</button>
                </div>

            </div>
            <div class="col-md-6">
                <div class="top-right d-flex" *ngIf='roleCode === "EMP"'>
                    <div class="text-white profile-text mb-0">Profile Completion</div>
                    <div role="progressbar" aria-valuenow="{{profileCompletion}}" aria-valuemin="0" aria-valuemax="100" style="--value:{{profileCompletion}}"></div>
                </div>

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <span  class="card-head">Total Candidates</span>
                                    <div class="card-number">{{ dashBoardDetails[0]?.cardDetails.totalCandidate }}</div>
                                </div>
                                <div class="align-self-center">
                                    <img class="font-large-2 float-right"
                                        src="../../../assets/images/emp-dashboard-icons/small-ic-1.png">
                                </div>
                            </div>
                            <div class="media d-flex">
                                <div class="card-inside-percentage-box">
                                    <span><mat-icon class="misc_icon">arrow_right_alt</mat-icon>{{ dashBoardDetails[0]?.cardDetails.totalCandidateIncrease }} %</span>
                                </div>
                                <span class="ml-2 card-last-text">Since last month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <span class="card-head">Basic Profile Candidates</span>
                                    <div class="card-number">{{ dashBoardDetails[0]?.cardDetails.basicCandidate }}</div>
                                </div>
                                <div class="align-self-center">
                                    <img class="font-large-2 float-right"
                                        src="../../../assets/images/emp-dashboard-icons/small-ic-2.png">
                                </div>
                            </div>
                            <div class="media d-flex">
                                <div class="card-inside-percentage-box">
                                    <span><mat-icon class="misc_icon">arrow_right_alt</mat-icon>{{ dashBoardDetails[0]?.cardDetails.basicCandidateIncrease }}%</span>
                                </div>
                                <span class="ml-2 card-last-text">Since last month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <span class="card-head">Detailed Profile Candidates</span>
                                    <div class="card-number">{{ dashBoardDetails[0]?.cardDetails.detailedCandidate }}</div>
                                </div>
                                <div class="align-self-center">
                                    <img class="font-large-2 float-right"
                                        src="../../../assets/images/emp-dashboard-icons/small-ic-4.png">
                                </div>
                            </div>
                            <div class="media d-flex">
                                <div class="card-inside-percentage-box">
                                    <span><mat-icon class="misc_icon">arrow_right_alt</mat-icon>{{ dashBoardDetails[0]?.cardDetails.basicCandidateIncrease }}%</span>
                                </div>
                                <span class="ml-2 card-last-text">Since last month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <span class="card-head"> Assessed Candidates</span>
                                    <div class="card-number">{{ dashBoardDetails[0]?.cardDetails.assessedCandidates }}</div>
                                </div>
                                <div class="align-self-center">
                                    <img class="font-large-2 float-right"
                                        src="../../../assets/images/emp-dashboard-icons/small-ic-3.png">
                                </div>
                            </div>
                            <div class="media d-flex">
                                <div class="card-inside-percentage-box">
                                    <span><mat-icon class="misc_icon">arrow_right_alt</mat-icon>{{ dashBoardDetails[0]?.cardDetails.assessedCandidatesIncrease }}%</span>
                                </div>
                                <span class="ml-2 card-last-text">Since last month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row cardcharts pl-4 pr-4">
        <div class="col-md-4">
            <div class="chartcard" style="padding-bottom: 16px;">
                <div class="chart-title">Profile by Demography</div>
                <app-demography-chart [item]="demography"></app-demography-chart>
            </div>
        </div>
        <div class="col-md-4 p-0">
          <div class="chartcard">
            <div class="chart-title mb-3">Profile by Year of Pass Out</div>
            <div class="flex">
              <div class="chart1">
                <canvas baseChart [data]="doughnutChartData" [options]="options"
                [colors]="doughnutChartColors" [labels]="doughnutChartLabels"
             [chartType]="doughnutChartType">
            </canvas>
            </div>
            <div class="rightchart">
              <table>
                  <tbody>
                      <tr class="flex" *ngFor="let elem of dashBoardDetails[0]?.yearDetails; index as i">
                          <td> <label [ngClass]="'circle circle'+i"></label></td>
                          <td>
                            <div *ngIf="i+1!=4" class="yeard-flex">{{elem.year }}</div>
                            <div *ngIf="i+1==4" class="yeard-flex">{{ elem.year }}</div>
                          </td>
                          <td>
                              <div class="chart1total">
                                  <div class="yeard-flex2">{{ elem.total }}</div>
                              </div>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
            </div>
        </div>
            <br>
            <div class="chartcard">
                <div class="chart-title">Profile by Gender</div>
                <div class="flex">
                  <div class="chart2">
                    <canvas baseChart [data]="doughnutChartDatatwo" [options]="options2"
                        [colors]="doughnutChartColorstwo" [labels]="doughnutChartLabelstwo"
                        [chartType]="doughnutChartTypetwo">
                    </canvas>
                </div>
                <div class="rightchart1">
                  <table>
                      <tbody>
                          <tr *ngFor="let elem of dashBoardDetails[0]?.genderDetails; index as i">
                              <td> <label [ngClass]="'progress-male mbox'+i"></label></td>
                              <td>
                                  <div class="yeard-flex" style="margin-top: -12px;">{{elem.gender }}</div>
                              </td>
                              <td>
                                  <div class="chart2total">
                                      <div class="yeard-flex2">{{ elem.total }}</div>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="chartcard" style="padding-bottom: 25px;">
              <div class="chart-title">Profile by Discipline</div>
                <app-discipline-chart [item]="disciplineData"></app-discipline-chart>
            </div>
        </div>
    </div>
    <div class="row pl-4 pr-4 bottom-chart-align">
        <div class="col-md-4">
            <div class="chartcard">
                <div class="chart-title spacing">Profile by Graduation Level</div>
                <app-graduation-chart [item]="graduactionData"></app-graduation-chart>
            </div>

        </div>
        <div class="col-md-8 pl-0">
            <div class="chartcard" style="padding-bottom: 0px;">
                <div class="chart-title spacing">Profile by Degree</div>
                <app-degree-chart [item]="degreeData"></app-degree-chart>
            </div>
        </div>
    </div>
</div>
