<button mat-icon-button [matMenuTriggerFor]="menu" class="mat-icon">
    <div class="more-icon">
    <mat-icon class="icon"><img src="\assets\images\MoreOptions.png"></mat-icon>
</div>
</button>

<div class="menu-container"> 
    <mat-menu #menu="matMenu">
        <button mat-menu-item class="menu-item" (click)="updatePartner(params.data.email)">
            <span>Edit </span>
        </button>
        <button mat-menu-item class="menu-item" *ngIf="!params.data.isActive"
            (click)="updateStatus(params.data.isActive,params.data.isApproved,params.data.email,params.data.userID,params.data.firstName)">
            <span>Activate</span>
        </button>
        <button mat-menu-item class="menu-item" *ngIf="params.data.isActive" (click)="updateStatus()">
            <span>Deactivate</span>
        </button>
        <button (click)="MatDialog()" mat-menu-item class="menu-item">
            <span>View More</span>
        </button>
    </mat-menu>
</div>

<div class="PartnerDetailedInformationDialog">
    <ng-template #matDialog>
        <div class="dialog">
            <div class="dialog-container">
                <div class="view-header">
                    <div class="view-title-text">Partner's Detailed Information</div>
                    <span class="reject-close-icon">
                        <button mat-icon-button (click)="instructionClose()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </span>
                </div>
            </div>
            <div class="body">
                <div>
                    <div style="overflow-y: scroll; height:450px;" class="left-container">
                        <div class="left-container-body">
                            <div class="partner-logo">
                                <div class="logo"
                                    [style.background]="'url(' + ((empProfile?.companyImgURL) ? (empProfile?.companyImgURL) : '../../../../assets/images/job-profile3.png') + ')'">
                                </div>
                                <div class="border-line">
                                    <div class="bottom-border"></div>
                                </div>
                            </div>
                            <div class="partner-details">
                                <div class="partner-details-container">
                                    <div class="partner-name">{{empProfile?.company}}</div>
                                    <div class="year">Since {{empProfile?.establishedYear}}</div>
                                    <div class="business">{{empProfile?.industryType}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="border-line-2">
                            <div class="bottom-border-2"></div>
                        </div>
                        <div class="spoc details">
                            <div class="spoc-details">
                                <div class="spoc-text-container">
                                    <div class="spoc-text">
                                        SPOC Details:
                                    </div>
                                </div>
                                <div class="sub-container">
                                    <div>
                                        <div class="spoc-sub-details">
                                            <div class="label">
                                                <div class="label-font-style">Name:</div>
                                            </div>
                                            <div class="label-text">
                                                <span class="label-text-style">{{empProfile?.firstName}}</span>
                                            </div>
                                        </div>
                                        <div class="spoc-sub-details">
                                            <div class="label">
                                                <div class="label-font-style">Designation:</div>
                                            </div>
                                            <div class="label-text">
                                                <span class="label-text-style">{{empProfile?.designation}} </span>
                                            </div>
                                        </div>
                                        <div class="spoc-sub-details">
                                            <div class="label">
                                                <div class="label-font-style">Email:</div>
                                            </div>
                                            <div class="label-text">
                                                <span class="label-text-style"> {{empProfile?.email}}</span>
                                            </div>
                                        </div>
                                        <div class="spoc-sub-details">
                                            <div class="label">
                                                <div class="label-font-style">Mobile:</div>
                                            </div>
                                            <div class="label-text">
                                                <span class="label-text-style">+91 {{empProfile?.mobile}} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-line-2">
                            <div class="bottom-border-2"></div>
                        </div>
                        <div class="short-description">
                            <div class="spoc-text-container">
                                <div class="spoc-text">
                                    Short Description:
                                </div>
                            </div>
                            <div class="description">
                                <div>
                                    {{empProfile?.description}}
                                </div>
                            </div>
                        </div>
                        <div class="download-button">
                            <a [href]="empProfile?.eoiFormUrl" download="EOI_Form.pdf">
                                <button mat-raised-button class="download-button-style"><span class="icon-Download"
                                style="margin-right: 3px;"></span> Download EOI Form</button></a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div style="overflow-y: scroll; height:450px;" class="right-container">
                        <div>
                            <div class="list1">
                                <div class="l1-left">
                                    <div class="label">
                                        <div class="label-text">Employee Size</div>
                                    </div>
                                    <div class="label-content">
                                        <div class="label-content-text"> {{empProfile?.detailedInformation?.empSize ?
                                            empProfile?.detailedInformation?.empSize:'-'}}</div>
                                    </div>
                                </div>
                                <div class="l1-right">
                                    <div class="label2">
                                        <div class="label2-text"> Website Address</div>
                                    </div>
                                    <div class="label2-content">
                                        <div class="website"> {{empProfile?.detailedInformation?.websiteAddress ?
                                            empProfile?.detailedInformation?.websiteAddress: '-'}} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="border-">
                                <div class="border--"></div>
                            </div>
                            <div class="list2">
                                <div class="list-title-container">
                                    <div class="list-title">Chairman/CXO Details</div>
                                </div>
                                <div class="list-content">
                                    <div class="l2-left">
                                        <div class="label">
                                            <div class="label-text">Chairman/CXO Name</div>
                                        </div>
                                        <div class="label-content">
                                            <div class="label-content-text">
                                                {{empProfile?.detailedInformation?.chairmanName ?
                                                empProfile?.detailedInformation?.chairmanName: '-'}}</div>
                                        </div>
                                    </div>
                                    <div class="l2-middle">
                                        <div class="label2">
                                            <div class="label2-text">Chairman/CXO Email</div>
                                        </div>
                                        <div class="label2-content">
                                            <div class="label2-content-text">
                                                {{empProfile?.detailedInformation?.chairmanEmail ?
                                                empProfile?.detailedInformation?.chairmanEmail: '-'}} </div>
                                        </div>
                                    </div>
                                    <div class="l2-right">
                                        <div class="label3">
                                            <div class="label3-text">Chairman/CXO Mobile Number</div>
                                        </div>
                                        <div class="label3-content">
                                            <div class="label3-content-text">
                                                {{empProfile?.detailedInformation?.mobileNumber ?
                                                empProfile?.detailedInformation?.mobileNumber: '-'}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="border-">
                                <div class="border--"></div>
                            </div>
                            <div class="list2">
                                <div class="list-title-container">
                                    <div class="list-title">CHRO Details</div>
                                </div>
                                <div class="list-content">
                                    <div class="l2-left">
                                        <div class="label">
                                            <div class="label-text">CHRO Name</div>
                                        </div>
                                        <div class="label-content">
                                            <div class="label-content-text">{{ empProfile?.detailedInformation?.chroName
                                                ? empProfile?.detailedInformation?.chroName : '-' }}</div>
                                        </div>
                                    </div>
                                    <div class="l2-middle">
                                        <div class="label2">
                                            <div class="label2-text">CHRO Email</div>
                                        </div>
                                        <div class="label2-content">
                                            <div class="label2-content-text">{{
                                                empProfile?.detailedInformation?.chroEmail ?
                                                empProfile?.detailedInformation?.chroEmail : '-' }}</div>
                                        </div>
                                    </div>
                                    <div class="l2-right">
                                        <div class="label3">
                                            <div class="label3-text">CHRO Mobile Number</div>
                                        </div>
                                        <div class="label3-content">
                                            <div class="label3-content-text"> {{
                                                empProfile?.detailedInformation?.chromobileNumber ?
                                                empProfile?.detailedInformation?.chromobileNumber: '-' }} </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="border-">
                                <div class="border--"></div>
                            </div>
                            <div class="list2">
                                <div>
                                    <div class="list-title-container">
                                        <div class="list-title">HR Contact Details</div>
                                    </div>
                                </div>

                                <!-- <div class="hr-table">
                                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                                        <ng-container matColumnDef="serialNumber">
                                            <th class="sno-column" mat-header-cell *matHeaderCellDef>S.No.</th>
                                            <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
                                        </ng-container>
                                        <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column">
                                            <th class="desig-column" mat-header-cell *matHeaderCellDef>{{ displayedColumnLabels[i] }}</th>
                                            <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="headerColumns"></tr>
                                        <tr class="mat-row" mat-row *matRowDef="let row; columns: rowColumns"></tr>
                                    </table>
                                </div> -->

                                <div class="hr-table">
                                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                                        <ng-container matColumnDef="serialNumber">
                                            <th class="sno-column" mat-header-cell *matHeaderCellDef>S.No.</th>
                                            <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
                                        </ng-container>
                                        <ng-container *ngFor="let column of displayedColumns; let i = index"
                                            [matColumnDef]="column">
                                            <th [class]="getHeaderClass(i)" mat-header-cell *matHeaderCellDef>{{
                                                displayedColumnLabels[i] }}</th>
                                            <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="headerColumns"></tr>
                                        <tr class="mat-row" mat-row *matRowDef="let row; columns: rowColumns"></tr>
                                    </table>
                                </div>
                            </div>
                            <div class="border-">
                                <div class="border--"></div>
                            </div>
                            <div class="Adress-list">
                                <div class="list2">
                                    <div>
                                        <div class="list-title-container">
                                            <div class="list-title">Registered Address</div>
                                        </div>
                                    </div>
                                    <div class="address">
                                        <div class="l1-left">
                                            <div class="label">
                                                <div class="label-text">Address Line 1</div>
                                            </div>
                                            <div class="label-content">
                                                <div class="label-content-text">
                                                    {{empProfile?.detailedInformation?.addressOne ?
                                                    empProfile?.detailedInformation?.addressOne: '-'}} </div>
                                            </div>
                                        </div>
                                        <div class="l1-right">
                                            <div class="label2">
                                                <div class="label2-text">Address Line 2</div>
                                            </div>
                                            <div class="label2-content">
                                                <div class="website">{{empProfile?.detailedInformation?.addressTwo ?
                                                    empProfile?.detailedInformation?.addressTwo:'-'}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="address-details-container">
                                    <div class="address-details">
                                        <div class="district">
                                            <div class="label">
                                                <div class="label-text">District</div>
                                            </div>
                                            <div class="label-content">
                                                <!-- <div class="label-content-text">{{empProfile?.detailedInformation?.district}}</div> -->
                                                <div class="label-content-text">{{form_present_city ?
                                                    form_present_city:'-'}}</div>
                                            </div>
                                        </div>
                                        <div class="pincode">
                                            <div class="label">
                                                <div class="label-text">Pincode</div>
                                            </div>
                                            <div class="label-content">
                                                <div class="label-content-text">
                                                    {{empProfile?.detailedInformation?.pincode ?
                                                    empProfile?.detailedInformation?.pincode:'-' }}</div>
                                            </div>
                                        </div>
                                        <div class="state">
                                            <div class="label">
                                                <div class="label-text">State</div>
                                            </div>
                                            <div class="label-content">
                                                <div class="label-content-text">{{form_present_state ?
                                                    form_present_state:'-'}}</div>
                                            </div>
                                        </div>
                                        <div class="country">
                                            <div class="label">
                                                <div class="label-text">Country</div>
                                            </div>
                                            <div class="label-content">
                                                <div class="label-content-text">India</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="border-">
                                <div class="border--"></div>
                            </div>
                            <div class="list2">
                                <div>
                                    <div class="list-title-container">
                                        <div class="list-title">Presence in India</div>
                                    </div>
                                </div>
                            </div>
                            <div class="state-india">
                                <div class="state-list"
                                    *ngFor="let state of empProfile?.detailedInformation?.stateCtrlone;">
                                    <div class="state-name">{{ state }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>