<main class="main">



  <section class="section-about">
<div class="section-about__image wow animate__animated animate__fadeIn"><img src="https://assets.lntedutech.com/Skillexchange/about-image-3.png" alt="" /></div>
<div class="container">

</div>
</section>
<section class="section-image-numbers">
<div class="section-image-numbers__container container">
<div class="row">

  <div class="section-image-numbers__content col-lg-12">
    <h2 class="section-roadmap__title wow animate__animated animate__fadeInDown animated text-center">Contact Us</h2>
    <p class="section-begin__text text-center" style="color: #111111;">How can we help you today?</p>
    <h4 class="text-center">L&T EduTech</h4>
      <p class="text-center">TCTC Building, 1st Floor Right Wing,<br>
        Mount Poonamallee Road, Manapakkam,<br>
        Chennai – 600089</p>
        <p class="text-center">Email: <a href="mailto:contact@lntedutech.com">contact@lntedutech.com</a></p>
  </div>
</div>
</div>
</section>
<app-landing-footer></app-landing-footer>
<!-- <div style="padding-bottom: 50px;"></div> -->
</main>
