@import "../../../../../assets/scss/variables.scss";
.progressclose1 {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #a9a9a866;
    right: 7px;
    top: 8px;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.closebtn1 {
    font-size: 0.9em;
    color: #000;
    cursor: pointer;
    position: relative;
    top: 2px;
    z-index: 1;
}
.imgContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    > div {
        display: flex;
        width: 25%;
        margin-bottom: 15px;
        @media only screen and (min-width: 1540px) {
            width: 20%;
        }
        figure {
            width: 15%;
            margin: 0;
            @media only screen and (min-width: 1540px) {
                width: 12%;
            }
            img {
                width: 100%;
            }
        }
        .docName {
            width: 82%;
            margin-left: 3%;
            .heading5 {
                font-size: 16px;
                font-weight: 400;
                color: $greyDark;
                line-height: normal;
            }
            span {
                font-size: 14px;
                font-weight: 500;
                color: $blueColor;
                padding: 0;
                margin-top: 8px;
                cursor: pointer;
            }
        }
    }
}

::ng-deep.pdfView {
    position: absolute !important;
    width: 65%;
    right: 0;
    top: 0;
    @media only screen and (min-width: 1540px) {
        width: 50%;
    }
}
::ng-deep .candidateContainer {
    .mat-tab-labels {
        margin-left: 50px;
    }
    .mat-tab-label {
        height: 64px;
    }
}

.pdfView {
    overflow: auto !important;
    .ng2-pdf-viewer-container {
        overflow-x: hidden !important;
    }
    .mat-dialog-container {
        width: 200vh !important;
        min-height: 600px !important;
        padding: 0 !important;
    }
}
