@import "variables";
.docInfoarea {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    > div {
        width: 200px !important;
        margin-right: 3%;
        &:last-child {
        width: 57%;
        margin-right: 0;
        }
    }
    span {
        color: $mediumGrey;
        font-size:0.9em;
        display: block;
        margin-bottom: 1em;
    }
    .formSet {
        display: flex;
        flex-direction: row;
        align-content: flex-start; 
        > div {
            min-height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img {
                min-height:120px;
            }
            &:last-child {
                text-align: center;
            }
        }
        span {
            margin: 0;
        }
    }
}

.imgProp {
    width: 200px !important;
    height: 200px !important;
}
.img-container {
    width: 200px !important;
}
.space {
    margin-right: 5%;
}
.img-flex-container {
    overflow: auto;
    width: 640px;
}
.img-container:last-child {
    margin-right: 1%;
}