 mat-toolbar {
     justify-content: space-between;
 }
 
 .wel {
     vertical-align: middle;
     font-size: 18px;
     margin-right: 10px;
     line-height: 1px;
     font-weight: 400;
     cursor: text;
 }
 
 .wrapper {
     display: flex;
     flex-direction: column;
     height: 100%;
     .heightDiv {
         flex-grow: 1;
     }
 }
 
 ::ng-deep .full-screen-modal .mat-dialog-container {}
 
 .popupHead {
     text-align: center !important;
 }
 
 .action {
     display: flex !important;
     justify-content: space-evenly!important;
     .confirm {
         background: #09568C;
         color: #fff;
     }
 }