<mat-toolbar color="primary" class="header-toolbar">
    <div class="first">
        <img alt="EduTech" class="beforeloginimg" src="../../assets/images/EduTech_Logo.svg" />
    </div>
    <div class="second">
        LOG OUT <img alt="LOG OUT" src="../../assets/images/logout.svg" />
    </div>
</mat-toolbar>

<perfect-scrollbar style="height: calc(100vh - 50px);">
    <router-outlet></router-outlet>
    <footer style="z-index: 500;
            background-color: white;
            height: 25px;
            position: absolute;
            font-size: small;
            bottom: 0px !important;
            width: 100%;
            text-align: end;
            color: grey;
            display: flex;
            align-items: flex-end;
            flex-direction: row-reverse;
            border-top: 1px solid #efeeee;padding-right:5px">2021 © L&T EduTech All Rights Reserved</footer>
</perfect-scrollbar>