 mat-toolbar {
     justify-content: space-between;
 }
 
 .wel {
     /* vertical-align: middle; */
     font-size: 14px;
     margin-right: 10px;
     /* line-height: 1px; */
     font-weight: 400;
 }
 
 .wrapper {
     display: flex;
     flex-direction: column;
     height: 100%;
     .heightDiv {
         flex-grow: 1;
         height: 100%;
     }
 }
 
 .logout1 {
     font-size: 18px;
     line-height: 0;
 }
 
 ::ng-deep .full-screen-modal .mat-dialog-container {}
 
 .popupHead {
     text-align: center !important;
 }
 
 .action {
     display: flex !important;
     justify-content: center !important;
     .confirm {
         background: #09568C;
         color: #fff;
         margin-left: 10%;
     }
 }
 
 .userListNav {
     font-size: 14px;
     font-weight: 400;
     padding-right: 15px;
     margin-right: 20px;
     cursor: pointer;
     line-height: normal;
     border-right: 1px solid;
 }
 
 .userListNav:hover {
     color: #09568C;
     cursor: pointer;
     transition: (.3s);
     font-weight: 500;
 }