<!-- <div> <button (click)="downloadAsPDF()">Export To PDF</button></div> -->
<div class="pdfWrapper" *ngIf="data" id="element-to-print-data">
    <header>
        <!-- <figure> -->
        <img class="pdfLogo" src="/assets/images/pdfDownload/Logo.png" alt="" />
        <!-- </figure> -->
    </header>

    <section class="banner">
        <div class="content">
            BEHAVIOURAL<br />PROFILING REPORT
        </div>
    </section>

    <div class="bannerBorder"></div>

    <div class="innerWrapper">
        <section class="profile">
            <div class="left">
                <div class="heading3">{{getAllBasicData?.firstname ? getAllBasicData?.firstname : ''}}</div>
                <span>Test Completion Date: {{getAllBasicData && getAllBasicData.testDate ?
                    momentForm(getAllBasicData?.testDate) : 'Nil'}}</span>
            </div>
            <div class="right">
                <div><span>Email </span>: <span>{{email ? email : 'Nil'}}</span></div>
                <div><span>Gender </span>: <span>{{getAllBasicData?.gender ? getAllBasicData?.gender : 'Nil'}}</span>
                </div>
                <div><span>Education level </span>: <span>{{highestEducation?.institute ? highestEducation?.institute :
                        'Nil'}}</span></div>
                <div><span>Work Experience </span>: <span>{{highestEducation?.institute ? highestEducation?.institute :
                        'Nil'}}</span></div>
            </div>
        </section>

        <section class="reportDescribes">
            <span class="heading4">This Report Describes:</span>
            <p>The behavioural profile of <span><b>{{getAllBasicData?.firstname ? getAllBasicData?.firstname :
                        ''}}'s</b></span> is mapped on the basis of four factors. <br />The report also covers the
                potential candidate’s Strengths and Development scope.</p>
            <figure>
                <img src="/assets/images/pdfDownload/factorimg.svg" alt="" />
            </figure>
        </section>
        <!-- footer start -->
        <footer class="d-flex justify-content-between m-t-30">

            <p class="paragraphP">©2023 L&T EduTech. All Rights Reserved.</p>

            <figure class="logo">
                <img src="/assets/images/pdfDownload/Logo1.png" alt="" />
            </figure>
        </footer>
        <!-- footer end -->


        <!-- break to next page -->
        <div class="html2pdf__page-break"></div>

        <section class="heightContainer">
            <section class="commonHeight">
                <section class="fourFactors">
                    <ng-container *ngIf="getAllBehaviourData && getAllBehaviourData.introduction">
                        <div class="heading3 m-t-30">Introduction</div>
                        <p *ngFor="let introPara of getAllBehaviourData.introduction">{{introPara}}</p>
                        <span *ngIf="getAllBehaviourData && getAllBehaviourData.introductionNote">Note:
                            {{getAllBehaviourData.introductionNote}}</span>
                    </ng-container>

                    <div class="heading3">THE FOUR FACTORS</div>
                    <figure>
                        <img src="/assets/images/pdfDownload/factors.png" alt="" />
                    </figure>
                </section>
            </section>
            <!-- <footer class="d-flex justify-content-between m-t-30">
                <div class="copyrights">
                    <p>©2023 L&T EduTech. All Rights Reserved.</p>
                </div>
                <figure class="logo">
                    <img src="/assets/images/pdfDownload/Logo1.png" alt="" />
                </figure>
            </footer> -->
        </section>
        <!-- break to next page -->
        <div class="html2pdf__page-break"></div>


        <!-- REPORT SNAPSHOT -->
        <section class="heightContainer">
            <section class="commonHeight-1">
                <ng-container *ngIf="getAllBehaviourData && getAllBehaviourData.reportSnapShot">
                    <section class="reportSnapshot">
                        <div class="heading3">REPORT SNAPSHOT</div>
                        <p *ngIf="getAllBehaviourData.reportSnapShot?.description">
                            {{getAllBehaviourData.reportSnapShot?.description}}</p>
                        <ng-container
                            *ngIf="getAllBehaviourData.reportSnapShot.competency && getAllBehaviourData.reportSnapShot.competency.length > 0"></ng-container>
                        <div class="wrapper d-flex flex-wrap">
                            <ng-container
                                *ngFor="let competency of getAllBehaviourData.reportSnapShot.competency; let c = index">
                                <ng-container *ngIf="(c + 1) % 2 != 0">
                                    <div class="thoughtFactor commonStyle">
                                        <div class="imageContent d-flex justify-content-between">
                                            <figure>
                                                <img [src]="reportImage(competency?.name)" alt="" />
                                            </figure>
                                            <div>
                                                <div class="heading">{{competency?.name}}</div>
                                                <p>{{competency?.description}}</p>
                                            </div>
                                        </div>
                                        <div class="chart d-flex justify-content-between">
                                            <ng-container *ngIf="competency?.skills && competency?.skills.length > 0">
                                                <div class="left d-flex justify-content-start">
                                                    <ul *ngFor="let skills of competency.skills; let bar = index">
                                                        <ng-container
                                                            *ngFor="let array of [0,1,2,3,4,5,6,7,8,9]; let stenIndex = index">
                                                            <li
                                                                [ngStyle]="{'background-color': ((stenIndex + 1) > (10 - (skills?.stenScore ? skills?.stenScore : 0 ))) ? skills?.colourcode : ''}">
                                                            </li>
                                                        </ng-container>
                                                        <span *ngIf="skills?.stenScore > 0" class="arrowUp">
                                                            <!-- <em class="icon-ArrowUp"></em> -->
                                                        </span>
                                                    </ul>
                                                </div>
                                            </ng-container>
                                            <div class="right d-flex justify-content-between">
                                                <button *ngFor="let skills of competency.skills; let s = index"
                                                    [ngClass]="'a' + s + 1"
                                                    class="d-flex align-items-center justify-content-between a01 ng-star-inserted">{{skills?.name}}
                                                    <span class="skillsNumber"
                                                        [ngStyle]="{background: skills?.colourcode}">{{skills?.stenScore
                                                        ? skills?.stenScore : 0}}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="(c + 1) % 2 == 0">
                                    <div class="thoughtFactor commonStyle">
                                        <div class="imageContent d-flex justify-content-between">
                                            <figure>
                                                <img [src]="reportImage(competency?.name)" alt="" />
                                            </figure>
                                            <div>
                                                <div class="heading">{{competency?.name}}</div>
                                                <p>{{competency?.description}}</p>
                                            </div>
                                        </div>
                                        <div class="chart d-flex justify-content-between">
                                            <ng-container *ngIf="competency?.skills && competency?.skills.length > 0">
                                                <div class="left d-flex justify-content-start">
                                                    <ul *ngFor="let skills of competency.skills; let bar = index">
                                                        <ng-container
                                                            *ngFor="let array of [0,1,2,3,4,5,6,7,8,9]; let stenIndex = index">
                                                            <li
                                                                [ngStyle]="{'background-color': ((stenIndex + 1) > (10 - (skills?.stenScore ? skills?.stenScore : 0 ))) ? skills?.colourcode : ''}">
                                                            </li>
                                                        </ng-container>
                                                        <span *ngIf="skills?.stenScore > 0" class="arrowUp">
                                                            <!-- <em class="icon-ArrowUp"></em> -->
                                                        </span>
                                                    </ul>
                                                </div>
                                            </ng-container>


                                            <div class="right d-flex justify-content-between">
                                                <button *ngFor="let skills of competency.skills; let s = index"
                                                    [ngClass]="'a' + s + 1"
                                                    class="d-flex align-items-center justify-content-between a01 ng-star-inserted">
                                                    <span class="skillsName">{{skills?.name}}</span>
                                                    <span class="skillsNumber"
                                                        [ngStyle]="{background: skills?.colourcode}">
                                                        {{skills?.stenScore ? skills?.stenScore : 0}}
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </section>
                </ng-container>

            </section>

            <div class="benchmarkInfo" style="position: relative; top: -11px;">
                <figure class="chart">
                    <img src="/assets/images/pdfDownload/newBench.svg" alt="">
                </figure>
                <div class="score d-flex justify-content-between flex-wrap">
                    <div class="heading5">SCORE BENCHMARK INFO</div>
                    <div class="wrapper">
                        <ng-container *ngFor="let score of benchMarkScore">
                            <div class="score-content"
                                [ngClass]="{'red':score.color == 'red', 'green': score.color == 'green', 'yellow':score.color == 'yellow' ,'orange':score.color == 'orange'}">
                                <div class="scorepoint">{{score.score}}</div>
                                <div class="scorelabel">{{score.label}}</div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

            <!-- <footer class="d-flex justify-content-between" style="margin-top: 10px;">
                <div class="copyrights">
                    <p>©2023 L&T EduTech. All Rights Reserved.</p>
                </div>
                <figure class="logo">
                    <img src="/assets/images/pdfDownload/Logo1.png" alt="" />
                </figure>
            </footer> -->
        </section>
        <!-- REPORT SNAPSHOT END -->

        <!-- break to next page -->
        <div class="html2pdf__page-break"></div>

        <ng-container
            *ngIf="getAllBehaviourData && getAllBehaviourData.reportSnapShot && getAllBehaviourData.reportSnapShot.competency">

            <ng-container
                *ngFor="let factors of getAllBehaviourData.reportSnapShot.competency; let factorIndex = index">
                <section class="heightContainer">
                    <section class="commonHeight" style="min-height: 900px !important;">
                        <section class="thoughtSection">
                            <div class="commonHeader">
                                <figure class="bg">
                                    <img src="/assets/images/pdfDownload/thoughtBG.svg" alt="" />
                                </figure>
                                <div class="wrapper d-flex justify-content-between align-items-center">
                                    <div class="left">
                                        <figure>
                                            <img [src]="factorsImage(factors?.name)" alt="" />
                                        </figure>
                                    </div>
                                    <div class="right">
                                        <div class="heading">
                                            <!-- <span>{{factors?.name}}</span> -->
                                            <span>{{splitHeading(factors.glimpse)}}</span>
                                            <span class="foctorssubpara">{{removeheading ? removeheading : ''}}</span>
                                        </div>
                                        <ul *ngIf="factors?.skills && factors.skills.length > 0">
                                            <li *ngFor="let skills of factors.skills"><img
                                                    src="/assets/images/rightArrow.svg" alt="" /> <span
                                                    class="skillname">{{skills.name}}</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <ng-container *ngIf="factors?.skills && factors.skills.length > 0">
                                <ng-container *ngFor="let skillsDetail of factors.skills; let skillDetailIndex = index">
                                    <div class="commonContent">
                                        <div>
                                            <figure>
                                                <img alt="" [src]="factorsSkillsImage(skillsDetail?.name)">
                                            </figure>
                                            <div class="content">
                                                <span class="skillname"
                                                    style="left:-13px;text-transform: uppercase;">{{skillsDetail?.name}}:
                                                    &nbsp;</span>
                                                <ul class="paragraph-list" style="margin-top: 6px;">
                                                    <li *ngFor="let item of skillsDetail?.scorebasedSkillDescription">
                                                        <img src="/assets/images/list-arrow.svg" alt=""><span
                                                            class="skillsDetail">{{item}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- <div class="content">
                                                <span>{{skillsDetail?.name}}: &nbsp;</span>
                                                <span class="skillsDetail">{{skillsDetail?.scorebasedSkillDescription ? skillsDetail?.scorebasedSkillDescription : '-'}}</span>
                                            </div> -->
                                            <div class="chart paddingLeft">
                                                <div class="innercircle">
                                                    <span [ngStyle]="{color:skillsDetail?.colourcode}">
                                                        {{skillsDetail?.stenScore ? skillsDetail?.stenScore :0}}</span>
                                                </div>
                                                <div class="circle">
                                                    <div class="part"
                                                        [ngStyle]="{ backgroundColor: skillsDetail?.stenScore  > 0 ? skillsDetail?.colourcode : 'transparent' }">
                                                    </div>
                                                    <div class="part"
                                                        [ngStyle]="{ backgroundColor: skillsDetail?.stenScore > 1 ? skillsDetail?.colourcode : 'transparent' }">
                                                    </div>
                                                    <div class="part"
                                                        [ngStyle]="{ backgroundColor: skillsDetail?.stenScore > 2 ? skillsDetail?.colourcode : 'transparent' }">
                                                    </div>
                                                    <div class="part"
                                                        [ngStyle]="{ backgroundColor: skillsDetail?.stenScore  > 3 ? skillsDetail?.colourcode : 'transparent' }">
                                                    </div>
                                                    <div class="part"
                                                        [ngStyle]="{ backgroundColor: skillsDetail?.stenScore > 4 ? skillsDetail?.colourcode : 'transparent' }">
                                                    </div>
                                                    <div class="part"
                                                        [ngStyle]="{ backgroundColor: skillsDetail?.stenScore > 5 ? skillsDetail?.colourcode : 'transparent' }">
                                                    </div>
                                                    <div class="part"
                                                        [ngStyle]="{ backgroundColor: skillsDetail?.stenScore > 6 ? skillsDetail?.colourcode : 'transparent' }">
                                                    </div>
                                                    <div class="part"
                                                        [ngStyle]="{ backgroundColor: skillsDetail?.stenScore > 7 ? skillsDetail?.colourcode : 'transparent' }">
                                                    </div>
                                                    <div class="part"
                                                        [ngStyle]="{ backgroundColor: skillsDetail?.stenScore > 8 ? skillsDetail?.colourcode : 'transparent' }">
                                                    </div>
                                                    <div class="part"
                                                        [ngStyle]="{ backgroundColor: skillsDetail?.stenScore > 9 ? skillsDetail?.colourcode : 'transparent' }">
                                                    </div>
                                                </div>
                                                <!-- <span class="numberCircle" [ngStyle]="{'border': '2px solid' + factors?.colourcode,'color':factors?.colourcode}"> {{skillsDetail?.stenScore ? skillsDetail?.stenScore : 0}}</span> -->
                                            </div>
                                            <span class="pointer">
                                                <img alt="" src="/assets/images/pdfDownload/arrow.svg">
                                            </span>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </section>


                    </section>
                    <div class="benchmarkInfo">
                        <figure class="chart">
                            <img src="/assets/images/behaviourmeter.svg" alt="">
                        </figure>
                        <div class="score d-flex justify-content-between flex-wrap">
                            <div class="heading5">SCORE BENCHMARK INFO</div>
                            <div class="wrapper">
                                <ng-container *ngFor="let score of benchMarkScore">
                                    <div class="score-content"
                                        [ngClass]="{'red':score.color == 'red', 'green': score.color == 'green', 'yellow':score.color == 'yellow' ,'orange':score.color == 'orange'}">
                                        <div class="scorepoint">{{score.score}}</div>
                                        <div class="scorelabel">{{score.label}}</div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <!-- <footer class="d-flex justify-content-between">
                        <div class="copyrights">
                            <p>©2023 L&T EduTech. All Rights Reserved.</p>
                        </div>
                        <figure class="logo">
                            <img src="/assets/images/pdfDownload/Logo1.png" alt="" />
                        </figure>
                    </footer> -->
                </section>
                <!-- break to next page -->
                <div class="html2pdf__page-break"></div>
            </ng-container>
        </ng-container>
        <!-- break to next page -->
        <!-- <div class="html2pdf__page-break"></div> -->

        <!-- <section class="heightContainer">
            <section class="commonHeight"  style=" position: relative;
            min-height: 960px;">
                <section class="strengthAreas commonStyle">
                    <figure class="scope-head d-flex align-items-center"> -->
        <!-- <img src="/assets/images/STRENGTH.svg" alt=""> -->
        <!-- <span class="heading3">STRENGTH AREAS</span>
                    </figure>
                    <p *ngIf="getAllBehaviourData">{{getAllBehaviourData?.strengthAreaDescription}}</p>
                    <ng-container *ngIf="getAllBehaviourAPIDetails?.strengthContent && getAllBehaviourAPIDetails?.strengthContent.length > 0 else noStrength">
                        <ng-container *ngFor=" let item of getAllBehaviourAPIDetails?.strengthContent; let a = index">
                            <div class="description">
                                <div class="left">
                                    <figure>
                                        <img alt="" [src]="factorsSkillsImage(item?.skillName)">
                                    </figure>
                                </div>
                                <div class="right">
                                    <div class="heading4">{{item?.skillName}}</div>
                                    <ul>
                                        <ng-container *ngIf="item?.strengthContent && item?.strengthContent.length > 0">
                                            <li *ngFor="let content of item?.strengthContent" style="margin-left: 1.5em; text-indent: -1.5em;">
                                                <img src="/assets/images/list-arrow.svg" alt="">
                                                <span>{{content?.item}}</span>
                                                <ng-container *ngIf="content?.sub_item && content?.sub_item.length > 0">
                                                    <ul style="    position: relative;
                                                    left: 4px;">
                                                        <li *ngFor="let subcontent of content?.sub_item" style="    text-indent: -1.5em;
                                                        margin-left: 0.5em;">
                                                            <img src="/assets/images/list-arrow.svg" alt=""><span>{{subcontent?.item}}</span>
                                                        </li>
                                                    </ul>
                                                </ng-container>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </div> -->


        <!-- <footer *ngIf="(a + 1) % 2 == 0" class="d-flex justify-content-between m-t">
                                <div class="copyrights">
                                    <p>Behavioural Profiling Report &nbsp;|&nbsp; ©2021 L&T EduTech. All Rights Reserved.</p>
                                </div>
                                <figure class="logo">
                                    <img src="/assets/images/pdfDownload/Logo1.png" alt="" />
                                </figure>
                            </footer> -->


        <!-- <span *ngIf="((a + 1) % 2 == 0) && (getAllBehaviourAPIDetails?.strengthContent.length != a+1)">
                                <div class="html2pdf__page-break"></div>
                                <figure class="scope-head d-flex align-items-center m-t-45"> -->
        <!-- <img src="/assets/images/STRENGTH.svg" alt=""> -->
        <!-- <span class="heading3">STRENGTH AREAS</span>
                            </figure>
                            <p *ngIf="getAllBehaviourData">{{getAllBehaviourData?.strengthAreaDescription}}</p>
                            </span>

                        </ng-container>
                    </ng-container>

                </section>
            </section> -->
        <!-- <footer class="d-flex justify-content-between">
                <div class="copyrights">
                    <p>©2023 L&T EduTech. All Rights Reserved.</p>
                </div>
                <figure class="logo">
                    <img src="/assets/images/pdfDownload/Logo1.png" alt="" />
                </figure>
            </footer> -->
        <!-- </section> -->







        <!-- break to next page -->
        <!-- <div class="html2pdf__page-break"></div>
        <section class="heightContainer">
            <section class="commonHeight">
                <section class="devScope commonStyle" style="position: relative;
                left: 15px;">
                    <figure class="scope-head d-flex align-items-center" style="margin-bottom: 0px;"> -->
        <!-- <img src="/assets/images/DEVELOPMENT.svg" alt=""> -->
        <!-- <span class="heading3" style="margin-left: 0px;">DEVELOPMENT SCOPE</span>
                    </figure>
                    <p *ngIf="getAllBehaviourData">{{getAllBehaviourData?.developmentScopeDescription}}</p>

                    <ng-container *ngIf="getAllBehaviourAPIDetails?.developmentContent && getAllBehaviourAPIDetails?.developmentContent.length > 0 else noImprovements">
                        <ng-container *ngFor=" let item of getAllBehaviourAPIDetails?.developmentContent; let b = index">

                            <div class="description">
                                <div class="left">
                                    <figure>
                                        <img alt="" [src]="factorsSkillsImage(item?.skillName)">
                                    </figure>
                                </div>
                                <div class="right">
                                    <div class="heading4">{{item?.skillName}}</div>
                                    <div class="development-glimpse">A low score in this competency indicates that:</div>
                                    <ul>
                                        <ng-container *ngIf="item?.developmentContent && item?.developmentContent.length > 0">
                                            <li *ngFor="let content of item?.developmentContent;let last = last">
                                              <img *ngIf="!last" src="/assets/images/list-arrow.svg" alt="">
                                              <span>{{content?.item}}</span>
                                              <ng-container *ngIf="content?.sub_item">
                                                <h3 style="margin-top: 14px;margin-bottom: 7px;"><b>{{ content?.sub_item?.title }}</b></h3>

                                                <ul style="position: relative;left: -4px;margin: 0 !important;">
                                                  <li *ngFor="let subItem of content?.sub_item?.subinfo">
                                                    <span style="position: relative;left: -17px;">{{subItem?.title }}</span>
                                                    <ul style="    position: relative; right: 56px;">
                                                      <li *ngFor="let subSubItem of subItem?.items">
                                                        <img src="/assets/images/list-arrow.svg" alt=""><span>{{subSubItem?.item}}</span>
                                                      </li>
                                                    </ul>
                                                  </li>
                                                </ul>
                                              </ng-container>
                                            </li> -->


        <!-- <li *ngFor="let content of item?.developmentContent" style="margin-left: 1.5em; text-indent: -1.5em;">
                                                <img src="/assets/images/list-arrow.svg" alt="">
                                                <span>{{content?.item}}</span>
                                                <ng-container *ngIf="content?.sub_item && content?.sub_item.length > 0">
                                                    <ul>
                                                        <li *ngFor="let subcontent of content?.sub_item">
                                                            <img src="/assets/images/list-arrow.svg" alt=""><span>{{subcontent?.item}}</span>
                                                        </li>
                                                    </ul>
                                                </ng-container>
                                            </li> -->
        <!-- </ng-container>
                                    </ul>
                                </div>

                            </div>
                            <span *ngIf="((b + 1) % 1 == 0) && (getAllBehaviourAPIDetails?.developmentContent.length != b+1)">
                                <div  class="html2pdf__page-break"></div>
                                <figure  class="scope-head d-flex align-items-center m-t-40" style="margin-bottom: 5px;"> -->
        <!-- <img src="/assets/images/DEVELOPMENT.svg" alt=""> -->
        <!-- <span class="heading3" style="margin-left: 0px;">DEVELOPMENT SCOPE</span>
                            </figure>
                            <p *ngIf="getAllBehaviourData">{{getAllBehaviourData?.developmentScopeDescription}}</p>
                            </span> -->

        <!-- for Anxiety Management page brack added -->
        <!-- <span *ngIf="item?.skillName == 'Anxiety Management'">
                                <div  class="html2pdf__page-break"></div>
                                    <figure  class="scope-head d-flex align-items-center m-t-40">
                                        <img src="/assets/images/DEVELOPMENT.svg" alt="">
                                <span class="heading3">DEVELOPMENT SCOPE</span>
                            </figure>
                            <p *ngIf="getAllBehaviourData">{{getAllBehaviourData?.developmentScopeDescription}}</p>

                            </span> -->
        <!-- end for Anxiety Management page brack added -->


        <!-- </ng-container>
                    </ng-container>
                </section>
            </section> -->
        <!-- <footer class="d-flex justify-content-between" style="margin-top: 10px;">
              <div class="copyrights">
                  <p> ©2023 L&T EduTech. All Rights Reserved.</p>
              </div>
              <figure class="logo">
                  <img src="/assets/images/pdfDownload/Logo1.png" alt="" />
              </figure>
          </footer> -->
        <!-- </section> -->
        <!-- break to next page -->
        <!-- <div class="html2pdf__page-break"></div> -->
        <section class="heightContainer">
            <section class="commonHeight">

                <img class="leftsidewatermarkimg" src="../../../assets/images/pdfDownload/bg-left.png">

                <section class="responsebiasprofile">
                    <span class="heading3">{{responseBiasProfileContentdata}}</span>
                    <div class="contentP">
                        {{responseBiasProfileContentdescription}}
                    </div>

                    <div class="boldtext"><b>{{responseBiasProfileContentDesirabillityIndexData?.name}}</b></div>
                    <p class="contentP"> {{responseBiasProfileContentDesirabillityIndexData?.description}}</p>


                    <div class="container">
                        <div class="row" style="display: grid;margin-top: 23px;">
                            <div style="width: 93% !important;">

                                <ng-container *ngIf="scoreValue >= 0 && scoreValue <= 50">
                                    <div [style.left.%]="scoreValue-2" class="indicatorbox">
                                        <img po
                                            [src]="scoreValue >= 0 && scoreValue <= 40 ? '/assets/images/pdfDownload/green.png' : scoreValue > 40 && scoreValue <= 80 ? '/assets/images/pdfDownload/orange.png' : scoreValue > 80 && scoreValue <= 100 ? '/assets/images/pdfDownload/red.png' : ''"
                                            alt="Image" *ngIf="scoreValue >= 0 && scoreValue <= 100" />
                                        <div class="indicatorboxtxt">{{scoreValue}}</div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="scoreValue >= 51 && scoreValue <= 100">
                                    <div [style.left.%]="scoreValue-3" class="indicatorbox">
                                        <img po
                                            [src]="scoreValue >= 0 && scoreValue <= 40 ? '/assets/images/pdfDownload/green.png' : scoreValue > 40 && scoreValue <= 80 ? '/assets/images/pdfDownload/orange.png' : scoreValue > 80 && scoreValue <= 100 ? '/assets/images/pdfDownload/red.png' : ''"
                                            alt="Image" *ngIf="scoreValue >= 0 && scoreValue <= 100" />
                                        <div class="indicatorboxtxt">{{scoreValue}}</div>
                                    </div>
                                </ng-container>
                            </div>
                            <!-- <br/> -->
                            <ng-container *ngIf="scoreValue >= 51 && scoreValue <= 100">
                                <div class="rangeBox">
                                    <div class="rangeindicator" [style.left.%]="scoreValue-0.5"></div>
                                    <div class="rangeBox-inside" [style.width.%]="scoreValue"
                                        [ngClass]="{  'green': scoreValue >= 0 && scoreValue <= 40,'yellow': scoreValue > 40 && scoreValue <= 80, 'red': scoreValue > 80 && scoreValue <= 100}">
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="scoreValue >= 0 && scoreValue <= 50">
                                <div class="rangeBox">
                                    <div class="rangeindicator" [style.left.%]="scoreValue+0.5"></div>
                                    <div class="rangeBox-inside" [style.width.%]="scoreValue+0.5"
                                        [ngClass]="{  'green': scoreValue >= 0 && scoreValue <= 40,'yellow': scoreValue > 40 && scoreValue <= 80, 'red': scoreValue > 80 && scoreValue <= 100}">
                                    </div>
                                </div>
                            </ng-container>
                            <div class="d-flex">
                                <div class="checkpoint">
                                    <div class="d-grid">
                                        |
                                        <span>0</span>
                                    </div>
                                </div>
                                <div class="checkpoint mm">
                                    <div class="d-grid">
                                        |
                                        <span>10</span>
                                    </div>
                                </div>
                                <div class="checkpoint mm">
                                    <div class="d-grid">
                                        |
                                        <span>20</span>
                                    </div>
                                </div>
                                <div class="checkpoint mm">
                                    <div class="d-grid">
                                        |
                                        <span>30</span>
                                    </div>
                                </div>
                                <div class="checkpoint mm">
                                    <div class="d-grid">
                                        |
                                        <span>40</span>
                                    </div>
                                </div>
                                <div class="checkpoint mm">
                                    <div class="d-grid">
                                        |
                                        <span>50</span>
                                    </div>
                                </div>
                                <div class="checkpoint mm">
                                    <div class="d-grid">
                                        |
                                        <span>60</span>
                                    </div>
                                </div>
                                <div class="checkpoint mm">
                                    <div class="d-grid">
                                        |
                                        <span>70</span>
                                    </div>
                                </div>
                                <div class="checkpoint mm">
                                    <div class="d-grid">
                                        |
                                        <span>80</span>
                                    </div>
                                </div>
                                <div class="checkpoint mm">
                                    <div class="d-grid">
                                        |
                                        <span>90</span>
                                    </div>
                                </div>
                                <div class="checkpoint mm">
                                    <div class="d-grid">
                                        |
                                        <span>100</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="contentP">{{responseBiasProfileContentDesirabillityIndexData?.scoreDescription}}</p>
                    <div class="table">
                        <table style="width:100%">
                            <tr>
                                <th style="width: 20%;">Desirability Level</th>
                                <th style="width: 20%;">Range</th>
                                <th>Description</th>
                            </tr>
                            <tr *ngFor="let value of desirabilitydataIndexdata">
                                <td class="bias">{{value.desirabilityLevel}}</td>
                                <td> {{value.range}}</td>
                                <td>
                                    <div [innerHTML]="value.description"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </section>
                <img class="rightsidewatermarkimg" src="../../../assets/images/pdfDownload/bg-right.png">
                <div class="benchmarkInfotwo" style="width: 820px;">
                    <div class="scorebenchmarkInfotwo">
                        <ng-container *ngFor="let score of benchMarkScoredata">
                            <div class="score-content">
                                <div class="line" [ngStyle]="{'background-color': score.colorcode}"></div>
                                <div class="scorepoint" style="position: relative;top: 6px;left: 10px;">{{score.bias}}
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </section>
            <!-- <footer class="d-flex justify-content-between" style="margin-top: 0px;">
      <div class="copyrights">
          <p>©2023 L&T EduTech. All Rights Reserved.</p>
      </div>
      <figure class="logo">
          <img src="/assets/images/pdfDownload/Logo1.png" alt="" />
      </figure>
  </footer> -->
        </section>






        <!-- break to next page -->
        <!-- <div class="html2pdf__page-break"></div>
        <section class="heightContainer" *ngIf="isaccess">

            <section class="commonHeight" style=" position: relative;
            min-height: 960px;">
                <section class="behaviouralEvent scope" *ngIf="isaccess">

                    <div class="header" *ngIf="getAllBehaviourData?.conclusion">
                        <div class="heading">
                            {{getAllBehaviourData?.conclusion?.topicName}}
                        </div>
                        <p *ngIf="getAllBehaviourData?.conclusion">{{getAllBehaviourData?.conclusion?.description}}</p>
                    </div>

                    <div class="heading3 m-l">Strength Areas</div>
                    <ng-container *ngIf="getAllBehaviourAPIDetails && getAllBehaviourAPIDetails?.strengthconclusionPoints && getAllBehaviourAPIDetails?.strengthconclusionPoints.length > 0 else noStrength">
                        <ng-container *ngFor="let conclusion of getAllBehaviourAPIDetails.strengthconclusionPoints;let s = index">
                            <div class="wrapper d-flex justify-content-between">
                                <div class="left">
                                    <span style="color: #00B000;">{{conclusion?.skillName}}</span>
                                </div>
                                <div class="right">
                                    <ng-container *ngIf="conclusion && conclusion.conclusionPoints">
                                        <ol>
                                            <li *ngFor="let points of conclusion.conclusionPoints">{{points}}</li>
                                        </ol>
                                    </ng-container>
                                </div>
                            </div> -->
        <!-- break page -->


        <!-- <div  *ngIf="((s + 1) % 4 == 0)  && (getAllBehaviourAPIDetails?.strengthconclusionPoints.length != s+1)">
                                <div class="html2pdf__page-break"></div>

                                <div class="header m-t-45" *ngIf="getAllBehaviourData?.conclusion">

                                    <div class="heading">
                                        {{getAllBehaviourData?.conclusion?.topicName}}
                                    </div>
                                    <p *ngIf="getAllBehaviourData?.conclusion">{{getAllBehaviourData?.conclusion?.description}}</p>
                                </div>

                                <div class="heading3">Strength Areas</div>
                            </div>

                        </ng-container>

                    </ng-container>
                </section>
            </section> -->
        <!-- <footer class="d-flex justify-content-between" style="margin-top: 10px;">
              <div class="copyrights">
                  <p>©2023 L&T EduTech. All Rights Reserved.</p>
              </div>
              <figure class="logo">
                  <img src="/assets/images/pdfDownload/Logo1.png" alt="" />
              </figure>
          </footer> -->
        <!-- </section> -->

        <!-- break to next page -->
        <!-- <div class="html2pdf__page-break"></div>
        <section class="heightContainer" *ngIf="isaccess">

            <section class="commonHeight" style=" position: relative;
            min-height: 960px;">
                <section class="behaviouralEvent scope">
                    <div class="header" *ngIf="getAllBehaviourData?.conclusion">
                        <div class="heading">
                            {{getAllBehaviourData?.conclusion?.topicName}}
                        </div>
                        <p *ngIf="getAllBehaviourData?.conclusion">{{getAllBehaviourData?.conclusion?.description}}</p>
                    </div>


                    <div class="heading3 m-l">DEVELOPMENT SCOPE</div>
                    <ng-container *ngIf="getAllBehaviourAPIDetails && getAllBehaviourAPIDetails?.developmentconclusionPoints && getAllBehaviourAPIDetails?.developmentconclusionPoints.length > 0 else noImprovements">
                        <ng-container *ngFor="let conclusion of getAllBehaviourAPIDetails.developmentconclusionPoints;let d = index">
                            <div class="wrapper d-flex justify-content-between">
                                <div class="left">
                                    <span>{{conclusion?.skillName}}</span>
                                </div>
                                <div class="right">
                                    <ng-container *ngIf="conclusion && conclusion.conclusionPoints">
                                        <ol>
                                            <li *ngFor="let points of conclusion.conclusionPoints">{{points}}</li>
                                        </ol>
                                    </ng-container>
                                </div>
                            </div>

                            <div class="" *ngIf="((d + 1) % 4 == 0)  && (getAllBehaviourAPIDetails?.developmentconclusionPoints.length != d+1)">
                                <div class="html2pdf__page-break"></div>
                                <div class="header" style="margin-top: 30px;" *ngIf="getAllBehaviourData?.conclusion">
                                    <div class="heading">
                                        {{getAllBehaviourData?.conclusion?.topicName}}
                                    </div>
                                    <p *ngIf="getAllBehaviourData?.conclusion">{{getAllBehaviourData?.conclusion?.description}}</p>
                                </div>
                                <div class="heading3 m-l">DEVELOPMENT SCOPE</div>
                            </div>
                        </ng-container>
                    </ng-container>
                </section>
            </section> -->
        <!-- <footer class="d-flex justify-content-between" style="margin-top: 10px;">
              <div class="copyrights">
                  <p>©2023 L&T EduTech. All Rights Reserved.</p>
              </div>
              <figure class="logo">
                  <img src="/assets/images/pdfDownload/Logo1.png" alt="" />
              </figure>
          </footer> -->
        <!-- </section> -->
    </div>
</div>




<div>
    <img src="/assets/images/pdfDownload/footerone.png" id="footerimg" alt="footer"
        style="position: relative;height: 20px;right:20px" />
</div>

<ng-template #noImprovements>
    <div class="noData">
        No Suggestions on Area of Development.
    </div>
</ng-template>

<ng-template #noStrength>
    <div class="noData">
        No Suggestions on Strength Areas.
    </div>
</ng-template>