
<div class="bgwrapper">
<div class="mb-20"></div>
<div class="sectionWrapper">
<div class="left">
  <div class="ltext">
    <img
      src="assets/images/SE_White.png"
      width="250px"
      height="60"
    />
    <div class="talentxt">
      <span class="slim">Build your Workforce from a Certified </span><strong>Talent Pool</strong>
      <div class="decocolor"></div>
      <p>
        Complete the registration to Access to pre- Assessed, certified and industry-ready talent pool
      </p>
    </div>
  </div>
</div>
<div class="right mb-20">
  <mat-card class="matcustom">
  <div class="form-wrapper">
    <div>
      <div class="tLeft">Employer</div>
      <div class="animated animatedFadeInUp fadeInUp signIn"> Registration</div>
    </div>
    <mat-label class="mt-1">Sign Up to your account</mat-label>
    <form class="form" [formGroup]="registerForm" autocomplete="off">
      <mat-label>Name</mat-label>
      <mat-form-field appearance="outline">
        <input matInput id="name" [placeholder]="'Enter Name'" formControlName="name" maxlength="64" required>
      </mat-form-field>

      <ng-container *ngIf="name.invalid && name.touched">
        <mat-error class="error" *ngIf="name?.errors?.required">{{'Name is Required'}}</mat-error>
      </ng-container>

      <mat-label>Designation</mat-label>
      <mat-form-field appearance="outline">
        <input matInput id="designation" [placeholder]="'Enter Designation'" formControlName="designation" required>
      </mat-form-field>

      <ng-container *ngIf="designation.invalid && designation.touched">
        <mat-error class="error" *ngIf="designation?.errors?.required">{{'Designation is Required'}}</mat-error>
      </ng-container>

      <mat-label>Company</mat-label>
      <mat-form-field appearance="outline">
        <input matInput id="company" [placeholder]="'Enter Company'" formControlName="company" maxlength="64" required>
      </mat-form-field>

      <ng-container *ngIf="company.invalid && company.touched">
        <mat-error class="error" *ngIf="company?.errors?.required">{{'Company Name is Required'}}</mat-error>
      </ng-container>

      <mat-label>Email</mat-label>
      <mat-form-field appearance="outline">
        <input matInput id="email" [placeholder]="'Enter Email'" formControlName="email" required>
      </mat-form-field>

      <ng-container *ngIf="email.invalid && email.touched">
        <mat-error class="error" *ngIf="email?.errors?.required">{{'Email Id is Required'}}</mat-error>
        <mat-error class="error" *ngIf="email.errors?.pattern">{{'Please Enter a Valid Email Id'}}</mat-error>
      </ng-container>

      <mat-label>Mobile</mat-label>
      <mat-form-field appearance="outline">
        <input matInput id="mobile" [placeholder]="'Enter Mobile'" formControlName="mobile" maxlength="10" required>
      </mat-form-field>

      <ng-container *ngIf="mobile.invalid && mobile.touched">
        <mat-error class="error" *ngIf="mobile?.errors?.required">{{'Mobile Number is Required'}}</mat-error>
        <mat-error class="error" *ngIf="mobile.errors?.mobileRegex">{{'Please Enter a Valid Mobile Number'}}</mat-error>

      </ng-container>
      <!-- <section class="example-section">
              <mat-checkbox formControlName="term" class="example-margin" required><a href="">Terms & Conditions</a></mat-checkbox>
          </section> -->
      <button class="btn" [disabled]="!registerForm.valid" id="register" mat-button (click)="register()">{{"I'm Interested"}}</button>
      <div class="mt-20 signupTxt">Already have an account? <a class="forgot" href="/login">Sign In</a></div>
    </form>
  </div>
  </mat-card>

</div>
</div>


<!-- Footer area -->
<div class="footer-section">© 2022 L&T EduTech. All Rights Reserved</div>
</div>

<ng-template #noSkill>
    <mat-icon class="close-icon" (click)="closepops()">close</mat-icon>
  <div class="successMessage">
      <img src="assets/images/check.png">
      <div class="text">
          <p>Employer Registered</p>
          <p class="subpara">Successfully</p>
</div>
</div>
</ng-template>
