<div class="overflowbox">
  <div class="card_flex" *ngFor="let item of data">
    <mat-card class="listcard">
      <mat-card-header>
        <div class="card_header">
          <img class="img" src="{{item.companyLogo}}">
          <div class="cardgrid">
            <div class="title">{{item.jobTitle}}</div>
            <div class="subtitle">{{item.company}}</div>
          </div>
        </div>
      </mat-card-header>
      <div class="misc_save" *ngIf="savedButton">
        <button class="saved" *ngIf="item?.isSelected == false" (click)="apply(item)">Apply
        </button>
        <button class="saved isDisabled" [disabled]="isDisabled" *ngIf="item?.isSelected == true">Applied
        </button>
      </div>
      <hr class="hrline">
      <mat-card-content>
        <p class="description-p">
          {{item.jobDescription}}
        </p>
        <div class="specialization">
          <span class="specialization-box" *ngFor="let elem of item.specialization"> {{elem}}</span>
        </div>
      </mat-card-content>
      <div class="footer_details">
        <div class="cardfooter_row"><span>
          <mat-icon class="icon" [class.active]="isActive"> school</mat-icon>
        </span>
        <span class="smalltext">B.Tech</span>
      </div>
      <div class="cardfooter_row"><span>
        <mat-icon class="icon"> location_on</mat-icon>
      </span>
      <span class="smalltext">{{item.address}}</span>
    </div>
        <div class="cardfooter_row"><span>
            <mat-icon class="icon"> business_center</mat-icon>
          </span>
          <span class="smalltext">Full-Time</span>
        </div>

        <div class="cardfooter_row"><span>
            <mat-icon class="icon">check_circle_outline</mat-icon>
          </span>
          <span class="smalltext">Applied 3 Days ago </span>
        </div>
      </div>
      <div class="misc_save" *ngIf="savedButton"> <span>
          <!-- <mat-icon class="misc_icon" *ngIf="item?.isSelected == true">bookmark_border</mat-icon>
          <mat-icon class="misc_icon" *ngIf="item?.isSelected == false">bookmark_border</mat-icon> -->
          <mat-icon (click)="bookMarkIcon(item)" [ngClass]="item.isSelected ? 'saved_icon':'unsaved_icon'">
            {{item.isSelected?'bookmark':'bookmark_border'}} </mat-icon>
        </span>
      </div>
    </mat-card>
  </div>
</div>

