
  <div class="pagination">
    <div class="left-arrow">
    <button [disabled]="value === 1" (click)="selectPage(value - 1)"><mat-icon class="icon">chevron_left</mat-icon></button></div>
    <button
      *ngFor="let page of visiblePages"
      [ngClass]="value === page && 'selected'"
      (click)="selectPage(page)">
      {{ page }}
    </button>
    <div class="right-arrow">
    <button [disabled]="value === totalcount" (click)="selectPage(value + 1)"> <mat-icon class="icon">chevron_right</mat-icon>
    </button>
    </div>
  </div>


