<div class="overflowbox">
  <div class="inside">
    <img class="img_size" src="../../../../.././assets/images/noitem_image.png" />
    <div class="nomessage">{{from=='saved'?'Nothing to show here!': from=='applied'?'Nothing to show here!':from
      =='find'?'No Data found':'No Data Found'}}</div>
    <div class="nomsgnrmltext">
      {{from=='saved'?'Jobs that you save will show up here. Tap on save icon against a job to save it':
      from=='applied'?'Click on Search Jobs to find Jobs':from
      =='find'?'':'No Data Found'}}
    </div>
    <div class="text-centar" *ngIf="from === 'saved' || from === 'applied'">
      <button class="serchbtn" (click)="findjobs()">Search Jobs</button>
    </div>
  </div>
</div>
