.inner-container{
    padding: 10px;
    background-color: #ffffff; 
}
.char{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-around;
}
.char1{
    background-color: #ffffff; 
    border: 1px solid red;
    padding: 5px;
    width: 550px;
}
.heading{
    color: #262626;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 0px 5px 0px;
}
.chart-inner{
    display: flex; 
    flex-direction: row; 
    align-items: center;
    // justify-content: space-around;
}
.learner-details-count{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    margin: 0px 0px 0px 30px;
  }
  .learner-detail{
    display: flex; 
    flex-direction: row; 
    align-items: center;
    margin-right: 10px;
  }
  .color-strip1{
    width: 30px;
    height: 10px;
    margin: 0px 10px 0px 0px;
    background-color: #2862FF; 
  }
  .details-name{
    font-size: 12px;
    color: #848484;
  }
  .details-count{
    color: #010101;
    font-size: 16px;
    font-weight: 700;
  }