<div class="inner-container">
  <div class="Student-heading">Month Wise Student Tracker</div>
  <div class="inner-container-1">
    <div class="filter-data">
      <div><button class="year-btn">2023</button></div>
      <div><button class="year-btn">July</button></div>
      <div>
        <h5 class="Export-btn" (click)="exportData()">Export Data</h5>
      </div>
    </div>
    <div style="height: 400px;" class="ag-theme-alpine">
      <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine" [rowData]="rowData"
        [columnDefs]="columnDefs"></ag-grid-angular>
    </div>
    <div>
      <div class="graph-heading">Total Records For NOV-2023</div>
      <div class="graph-details">
        <div>
          <mat-card class="registration-card">
            <div class="sub-heading">Registrations</div>
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-around;">
              <div *ngIf="overallreportdata">
                <canvas height="200px" width="200px" baseChart [data]="doughnutChartData" [options]="options"
                  [colors]="doughnutChartColors" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                </canvas>
              </div>
              <div>
                <div class="Register-details-count">
                  <div class="Register-detail">
                    <div class="Register-circle circle1"></div>
                    <div class="Register-details-name">Trained</div>
                  </div>
                  <div class="details-count">{{overallreportdata?.eduTechReport?.skillProfileCount}}</div>
                </div>
                <div class="seperator seperator1"></div>
                <div class="Register-details-count">
                  <div class="Register-detail">
                    <div class="Register-circle circle2"></div>
                    <div class="Register-details-name">Trained</div>
                  </div>
                  <div class="details-count">{{overallreportdata?.eduTechReport?.skillProfileCount}}</div>
                </div>
                <div class="seperator seperator2"></div>
                <div class="Register-details-count">
                  <div class="Register-detail">
                    <div class="Register-circle circle3"></div>
                    <div class="Register-details-name">Trained</div>
                  </div>
                  <div class="details-count">{{overallreportdata?.eduTechReport?.skillProfileCount}}</div>
                </div>
                <div class="seperator seperator3"></div>
              </div>
            </div>
          </mat-card>
        </div>
        <div>
          <mat-card class="registration-card2">
            <div class="sub-heading">Skill Profile filled</div>
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-around;">
              <div *ngIf="overallreportdata">
                <canvas height="200px" width="200px" baseChart [data]="doughnutChartData" [options]="options"
                  [colors]="doughnutChartColors" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                </canvas>
              </div>
              <div>
                <div class="Register-details-count">
                  <div class="Register-detail">
                    <div class="Register-circle circle1"></div>
                    <div class="Register-details-name">Trained</div>
                  </div>
                  <div class="details-count">{{overallreportdata?.eduTechReport?.skillProfileCount}}</div>
                </div>
                <div class="seperator seperator1"></div>
                <div class="Register-details-count">
                  <div class="Register-detail">
                    <div class="Register-circle circle2"></div>
                    <div class="Register-details-name">Trained</div>
                  </div>
                  <div class="details-count">{{overallreportdata?.eduTechReport?.skillProfileCount}}</div>
                </div>
                <div class="seperator seperator2"></div>
                <div class="Register-details-count">
                  <div class="Register-detail">
                    <div class="Register-circle circle3"></div>
                    <div class="Register-details-name">Trained</div>
                  </div>
                  <div class="details-count">{{overallreportdata?.eduTechReport?.skillProfileCount}}</div>
                </div>
                <div class="seperator seperator3"></div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>