.reset {
    position: absolute;
    bottom: 30px;
    right: 50px;
}

.clk {
    position: absolute;
    bottom: 30px;
    font-size: 12px;
}

.sort {
    margin-left: 68%;
}

.chart-center {
    width: 100%;
    max-height: 100%;
    position: relative;
    min-height: 120px;
    margin: auto;
    .center {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        top: 40%;
        left: 50%;
        bottom: 0;
        right: 0;
        transform: translate(-50%, -40%);
    }
}

.backcolor {
    //  :hover {
    background-color: #F4FBFF;
    span:hover {
        color: #000000;
    }
    .skillname:hover {}
    // }
}

.expandheaderArea {
    >div {
        padding: 22px 0.5em;
        font-size: 1.4em;
        font-weight: 500;
        border: none;
    }
    // >div:hover {
    //     background-color: #F4FBFF;
    //     span:hover {
    //         color: #000000;
    //     }
    //     .skillname:hover {}
    // }
    .txtinfo {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 1.4em;
        padding-right: 75px;
        span {
            padding: 0;
            font-size: 0.6em;
            font-weight: normal;
            margin-right: -68px;
        }
    }
    .skillname {
        font-size: 18px;
        // color: #666666;
        cursor: pointer;
        margin-left: 20px;
    }
}

.barcanvas {
    display: block;
    margin-top: 10px
}

.competencyImg {
    height: 50px;
    width: 50px;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    display: block;
    height: 100px;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding: 0;
}

mat-list-option[aria-selected="true"] {
    background: #dbeffa;
}

.mat-list-option.active .skillname {
    color: #000000;
}