<!-- <div style="width: 200px; height: 200px"> -->
    <button class="sort mt-2" mat-raised-button (click)="sorting(indexNum + 1)" name="fieldName" ngDefaultControl [(ngModel)]="indexNum">
        {{('Sort')}} 
        <mat-icon *ngIf="indexNum == 0">sort</mat-icon>
        <mat-icon *ngIf="indexNum == 1">
        arrow_upward
        </mat-icon>
        <mat-icon *ngIf="indexNum == 2">
            arrow_downward
        </mat-icon>    
    </button>
    <ngx-charts-bar-vertical 
     [view]="view"
     [scheme]="colorScheme"
     [results]="single"
     [gradient]="gradient"
     [xAxis]="showXAxis"
     [yAxis]="showYAxis"
     [legend]="showLegend"
     [showXAxisLabel]="showXAxisLabel"
     [showYAxisLabel]="showYAxisLabel"
     [xAxisLabel]="xAxisLabel"
     [yAxisLabel]="yAxisLabel"
     [showYAxisLabel]="showYAxisLabel"  
     [showDataLabel]=true
     legendPosition = 'below'
     (select)="onSelect($event)">
     </ngx-charts-bar-vertical>
    <!-- </div> -->
<!-- <canvas #myChart></canvas> -->