@import "../../../../assets/scss/fonts.scss";
@import '../../../../assets/scss/variables.scss';

// ::ng-deep .ag-theme-alpine {
//     font-size: 12px !important;
// }

// ::ng-deep .ag-theme-alpine .ag-details-row {
//     padding: 10px !important;
//     font-size: 14px !important;
// }

// ::ng-deep .ag-theme-alpine .ag-cell,
// .ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group {
//     font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/46px Roboto;
//     letter-spacing: var(--unnamed-character-spacing-0);
//     font: normal normal normal 14px/46px Roboto;
//     font-size: 14px !important;
//     line-height: normal !important;
//     align-items: center!important;
//     display: flex!important;
//     align-items: center!important;
// }

::ng-deep .red-btn {
    color: #CB0000;
    display: flex;
    justify-content: space-evenly;
    padding-right: 5em;
}

::ng-deep .yellow-btn {
    color: #FFCE00;
    display: flex;
    justify-content: space-evenly;
    padding-right: 5em;
}

::ng-deep .green-btn {
    color: #5CB646;
    display: flex;
    justify-content: space-evenly;
    padding-right: 5em;
}

::ng-deep .mat-select-value{    
    color: white!important; 
 }

::ng-deep .matSelect1 {
        width: auto;
        border: 1px solid $blackColor;
        padding: 10px;
         .mat-select-value{    
            color: black !important; 
         }
    }

.search-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 15px;
}

.first {
    display: contents;
    .link {
        color: black;
        text-decoration: none
    }
}
.first {
    display: contents;
}

:host ::ng-deep .agTable-btn {
    background-color: #fff;
    color: #004684;
    width: 113px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 4px #0000001A;
    border: 0.4891771078109741px solid #939393;
    border-radius: 3px;
    font-size: 15px;
    .filterIcon {
        display: inline-block;
        width: 15px;
        height: 13px;
        margin-right: 6px;
        background-size: cover;
    }
    .icon-bike {
        background-image: url('../../../../assets/images/Filter.svg');
    }
}

.agTable-btn:hover {
    background-color: #009AFF;
    transition: 0.7s;
    color: $whiteColor;
    font-size: 15px;
    border: none;
    .icon-bike:hover,
    .icon-bike:focus {
        background-image: url('../../../../assets/images/filterWhilte.svg');
    }
}

.agTable-btn:hover .icon-bike {
    transition: 0.7s;
    background-image: url('../../../../assets/images/filterWhilte.svg');
}

.Row{
    display:flex;
    align-items: center;
  }
  .Item{
    display:flex;
    flex:1;
    flex-direction:column;
    padding:0 10px 10px 0;
  }
  .Item > div{
    background:#7ae;
  }

  .label {
    font-size: 13px;
    color: $blackColor;
    padding-bottom: 10px;
}

.outer-div {
    padding-bottom: 1%;
    padding-top:11px;
}

.matSelect {
    width: 200px;
    border: 1px solid $blackColor;
    padding: 10px;
    background-color: #004684;
}

.statusList{
    display: flex;
    flex-direction: column;
}

.submit {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    button {
        font-size: 14px;
        font-weight: 400;
        color: $whiteColor;
        line-height: normal;
        background-color: $blueColor;
        padding: 10px 14px;
        border: none;
        border-radius: 5px;
    }
}

.otherNotes{
    display: flex;
    flex-direction: column;
    padding-top : 25px
}

.rejectClose{
    margin-right: 11px;
}

:host ::ng-deep .agTable-btn-Reject {
    background-color: #F5CECE;
    color: #333333;
    width: 113px;
    height: 39px;
    background: #F5CECE 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 4px #0000001A;
    border: 0.4891771078109741px solid #CB0000;
    border-radius: 3px;
    font-size: 15px;
}

:host ::ng-deep .agTable-btn-Approve {
    background-color: #CADEC5;
    color: #333333;
    width: 113px;
    height: 39px;
    background:#CADEC5 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 4px #0000001A;
    border: 0.4891771078109741px solid #5CB646;
    border-radius: 3px;
    font-size: 15px;
}

.agTable-btn-Reject:hover{
    background-color: #CB0000;
    transition: 0.7s;
    color: $whiteColor;
    font-size: 15px;
    border: none;
}

.agTable-btn-Approve:hover{
    background-color: #5CB646;
    transition: 0.7s;
    color: $whiteColor;
    font-size: 15px;
    border: none;
}

.grid-wrapper {
    flex: 1 1 auto;
}

.pointer{
    font-size: small;
}
.pointer:hover{
    cursor: pointer;
}