<!-- <div class="row">
    <div class="col-sm-1">
       
    </div> -->
    <!-- <div class="navBar">
        <div>
            <app-toolbar></app-toolbar>
        </div> -->

        <div class="mainCon">
            <div class="search-icon mt-3 mb-0">
                <div class="first">
                    <h2 class="result mb-0">Skill Master</h2>
                    <div class="Row">
                        <div class="Item">
                            <a (click)="InstructionSelect()" class="filterIcon">Instructions</a>
                        </div>
                        <div class="Item"><button class="agTable-btn" (click)="navToSkillBulkUpload()">
                                <span class=""></span>
                                <span>+ Bulk Upload</span>
                            </button></div>
                    </div>
                </div>
            </div>
    
            <div class="search-icon mt-3 mb-0">
                <div class="first">
                    <div class="statusList">
                        <mat-label class="label">Showing</mat-label>
                        <mat-select class="matSelect" (selectionChange)="statusChange($event)"
                            [(ngModel)]="statusSelectedValue" name="list">
                            <mat-option *ngFor="let list of statusList" [value]="list">
                                {{list}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="Row">
                        <div class="Item"><button class="agTable-btn" (click)="exportCSV()">
                                <span class=""></span>
                                <span>Export CSV</span>
                            </button></div>
                    </div>
                    <div *ngIf="selectedRow.length" class="Row">
                        <div *ngIf="(statusSelectedValue === 'Rejected Skills' || statusSelectedValue === 'Unapproved Skills')"
                            class="Item">
                            <button (click)="approveSkillMaster()" class="agTable-btn-Approve">
                                <span class=""></span>
                                <span>Approve</span>
                            </button>
                        </div>
                        <div *ngIf="(statusSelectedValue === 'Approved Skills' || statusSelectedValue === 'Unapproved Skills')"
                            class="Item">
                            <button (click)="RejectSelect()" class="agTable-btn-Reject">
                                <span class=""></span>
                                <span>Reject</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="outer-div">
                <div class="grid-wrapper">
                    <ag-grid-angular
                        style="width: 99%; height: calc(100vh - 195px); margin:auto !important;font-size: 12px;" id="myGrid"
                        class="ag-theme-alpine" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                        [masterDetail]="masterDetail" [detailCellRendererParams]="detailCellRendererParams"
                        [overlayNoRowsTemplate]="overlayNoRowsTemplate" [rowData]="rowData" [enableRangeSelection]="true"
                        [tooltipShowDelay]="0" [animateRows]="true" headerHeight="45" rowHeight="45"
                        [suppressRowClickSelection]="true" [suppressRowTransform]="true" [rowSelection]="rowSelection"
                        [pivotPanelShow]="'always'" [sideBar]="false" (gridReady)="onGridReady($event)"
                        [rowModelType]="rowModelType" [maintainColumnOrder]="true" [cacheBlockSize]="cacheBlockSize"
                        (selectionChanged)="onSelectionChanged($event)" [chartThemeOverrides]="chartThemeOverrides"
                        [suppressAggFuncInHeader]="true" [suppressColumnVirtualisation]="true"
                        [autoGroupColumnDef]="autoGroupColumnDef" [serverSideStoreType]="serverSideStoreType"
                        [pagination]="true" [paginationPageSize]="100" [sideBar]="sideBar" allColumns=true>
                    </ag-grid-angular>
    
                </div>
            </div>
        </div>


        <ng-template #instructionSelect>
            <div class="instruction">
                <div class="close" (click)="instructionClose()">
                    <span class="pointer"><em class="icon-Close"></em></span>
                </div>
                <div class="heading">
                    <h2>Instruction</h2>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                        felis,
                        ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede
                        justo,
                        fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                        venenatis
                        vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                        Vivamus
                        elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                        consequat
                        vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                        Phasellus
                        viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi
                        vel augue.
                        Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
                        condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam
                        nunc,
                        blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.
                        Donec
                        vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros
                        faucibus
                        tincidunt. Duis Leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed
                        consequat,
                        Leo eget bibendum sodales, augue velit cursus nunc,quis gravida magna mi a libero. Fusce
                        vulputate
                        eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam
                        accumsan
                        lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in
                        faucibus
                        orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam
                        pretium
                        turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed
                        aliquam
                        ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent
                        adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                        pretium
                        libero. Cras id dui. Aenean ut</p>
                </div>
                <div class="submit">
                    <button class="agTable-btn paddingbutton" (click)="instructionClose()">Ok</button>
                </div>
            </div>
        </ng-template>

        <ng-template #rejectSelect>
            <div class="instruction">
                <div class="close" (click)="RejectClose()">
                    <span class="pointer"><em class="icon-Close"></em></span>
                </div>
                <div class="heading">
                    <h2>Reason for Rejection</h2>
                </div>
                <div>
                    <div class="statusList">
                        <mat-label class="label"><b>Select your reason *</b></mat-label>
                        <mat-select class="matSelect1" (selectionChange)="RejectChange($event)"
                            [(ngModel)]="rejectSelectedValue" name="list">
                            <mat-option *ngFor="let list of rejectList" [value]="list">
                                {{list}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div *ngIf="rejectSelectedValue === 'Others'" class="otherNotes">
                        <mat-label class="label"><b>Enter your reason *</b></mat-label>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input matInput [(ngModel)]="rejectOtherValue">
                        </mat-form-field>
                    </div>

                </div>
                <div [ngClass]="[rejectSelectedValue === 'Others' ? 'submit' : 'subSubmit submit ']">
                    <div class="rejectClose">
                        <button class="agTable-btn" (click)="RejectClose()">Cancel</button>
                    </div>
                    <div>
                        <button class="agTable-btn" (click)="rejectSkillMaster()">Save</button>
                    </div>
                </div>
            </div>
        </ng-template>
    <!-- </div> -->