@import "../../../../assets/scss/landingAnimation.scss";
@import "../../../../assets/scss/landingScreen.scss";
@import "../../../../assets/scss/swiper-bundle.min.scss";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


.main{
    height: 100% !important;
    overflow: auto;
}
.section-image-numbers__title{
  animation: fadeInDown 1s ease-in both;

  @keyframes fadeInDown{
    from {
      opacity: 0;
      transform: translate3d(0, -20%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
