<div class="body">
    <div class="subBody">
        <h3 class="title">Add Partners</h3>
        <div class="partnerCardBody">
            <mat-card class="partnerCard">
                <div class="cardTitle partnerCardTitle">
                    <p>Partner's Information Form</p>
                </div>
                <mat-card-content class="cardValue">
                    <div class="primaryWrapper">
                        <div class="left">
                            <form [formGroup]="registerForm" enctype="multipart/form-data">
                                <div class="inputContainer">
                                    <label>Employer Name<span>*</span></label>
                                    <mat-form-field   appearance="outline">
                                        <input matInput placeholder="Enter Employer Name" formControlName="employerName" required>
                                    </mat-form-field>
                                    <ng-container *ngIf="employerName.invalid && employerName.touched">
                                        <mat-error class="error" *ngIf="employerName?.errors?.required">{{'Employer Name is Required'}}</mat-error>
                                    </ng-container>
                                </div>
                                <div class="inputContainer">
                                    <label>Established Year<span>*</span></label>
                                    <mat-form-field appearance="outline">
                                        <input formControlName="establishedYear" type="text" maxlength="4" matInput placeholder="Enter Established Year">
                                    </mat-form-field>
                                    <ng-container *ngIf="establishedYear.invalid && establishedYear.touched">
                                        <mat-error class="error" *ngIf="registerForm.controls['establishedYear'].invalid ">
                                            <div *ngIf="registerForm.controls['establishedYear'].errors.required">
                                                Established Year is Required
                                            </div>

                                            <div *ngIf="registerForm.controls['establishedYear'].errors.maxlength">
                                                Established Year should be accepted 4 digits
                                            </div>

                                            <div *ngIf="registerForm.controls['establishedYear'].errors.pattern">
                                                Invalid Established Year
                                            </div>
                                        </mat-error>
                                    </ng-container>

                                </div>
                                <div class="inputContainer">
                                    <label>Industry Type<span>*</span></label>
                                    <mat-form-field appearance="outline">
                                        <mat-select formControlName="industryType" placeholder="Select Industry Type">
                                            <mat-option *ngFor="let item of industryTypeArray" [value]="item.type">
                                                {{item.type}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <ng-container *ngIf="industryType.invalid && industryType.touched">
                                        <mat-error class="error" *ngIf="industryType?.errors?.required">{{'Industry Type is Required'}}</mat-error>
                                    </ng-container>
                                </div>
                            </form>
                        </div>

                        <div class="right">
                            <label class="customLabel2">Upload Employer Logo<span>*</span></label>
                            <p class="errmsg" *ngIf="errorMsgforLogo">{{errorMsgforLogo}}</p>
                            <div class="wrapper" style="text-align: center;">
                                <div>
                                    <img *ngIf="!employerLogoFileName" class="cloudicon" src="/assets/images/partner/cloud-upload-blu.svg" alt="">
                                    <img *ngIf="employerLogoFileName" class="cloudicon" [src]="displayImageUrl" height="100" width="200">
                                    <div *ngIf="employerLogoFileName">{{employerLogoFileName}}</div>
                                    <button class="close-icon" *ngIf="employerLogoFileName" mat-icon-button (click)="removeUploadedLogo()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                                <div class="buttonClass">
                                    <div class="subButton">
                                                <input type="file" accept="image/jpeg, image/png" class="file-input" (change)="onEmployerLogoFileSelected($event)"
                                                  (click)="$event.target.value=null" #fileUpload>

                                        <button mat-flat-button (click)="fileUpload.click()">Browse</button>
                                    </div>
                                </div>
                                <div class="titlealign">
                                    <p class="labeldes">Logo Image must be in .jpeg or .png format</p>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="right">
                            <label class="customLabel2">Upload Employer Logo<span>*</span></label>
                            <p class="errmsg" *ngIf="!employerLogoFileName && registerForm.get('employerName').touched && registerForm.get('employerName').errors?.required">Employer Logo is Required</p>
                            <div class="wrapper">
                                <div>
                                    <img *ngIf="!employerLogoFileName" class="cloudicon" src="/assets/images/partner/cloud-upload-blu.svg" alt="">
                                    <img *ngIf="employerLogoFileName" class="cloudicon" [src]="displayImageUrl" height="100" width="200">
                                    <div> <p *ngIf="employerLogoFileName">{{employerLogoFileName}}</p></div>
                                    <button class="close-icon" *ngIf="employerLogoFileName" mat-icon-button (click)="removeUploadedLogo()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                                <div class="buttonClass">
                                    <div class="subButton">
                                        <input type="file" accept="image/png, image/jpeg" class="file-input" (change)="onEmployerLogoFileSelected($event)" (click)="$event.target.value=null" #fileUpload>
                                        <button mat-flat-button (click)="fileUpload.click()">Browse</button>
                                    </div>
                                </div>
                                <div class="titlealign">
                                    <p class="labeldes">Logo Image must be in .jpeg or .png format</p>
                                </div>
                            </div>
                        </div> -->


                    </div>
                    <div class="primaryWrapper">
                        <div class="heading">SPOC Details</div>
                        <div class="midForm">
                            <div class="left">
                                <form [formGroup]="registerForm" enctype="multipart/form-data">
                                    <div class="inputContainer">
                                        <label>Name<span>*</span></label>
                                        <mat-form-field appearance="outline">
                                            <input formControlName="name" matInput placeholder="Enter SPOC Name">
                                        </mat-form-field>
                                        <ng-container *ngIf="name.invalid && name.touched">
                                            <mat-error class="error" *ngIf="name?.errors?.required">{{'Name is Required'}}</mat-error>
                                        </ng-container>
                                    </div>
                                    <div class="inputContainer">
                                        <label>Email<span>*</span></label>
                                        <mat-form-field appearance="outline">
                                            <input formControlName="email" matInput placeholder="Enter SPOC Email">
                                        </mat-form-field>
                                        <ng-container *ngIf="email.invalid && email.touched">
                                            <mat-error class="error" *ngIf="registerForm.controls['email'].invalid ">
                                                <div *ngIf="registerForm.controls['email'].errors.required">
                                                    Email is Required
                                                </div>
                                                <div *ngIf="registerForm.controls['email'].errors.pattern">
                                                    Invalid Email
                                                </div>
                                            </mat-error>
                                        </ng-container>
                                    </div>
                                </form>
                            </div>
                            <div class="left">
                                <form [formGroup]="registerForm" enctype="multipart/form-data">
                                    <div class="inputContainer">
                                        <label>Designation<span>*</span></label>
                                        <mat-form-field appearance="outline">
                                            <input formControlName="designation" matInput placeholder="Enter SPOC Designation">
                                        </mat-form-field>
                                        <ng-container *ngIf="designation.invalid && designation.touched">
                                            <mat-error class="error" *ngIf="designation?.errors?.required">{{'Designation is Required'}}</mat-error>
                                        </ng-container>
                                    </div>
                                    <div class="inputContainer">
                                        <label>Mobile Number<span>*</span></label>
                                        <mat-form-field appearance="outline">
                                            <input formControlName="mobile" type="text" maxlength="10" matInput placeholder="Enter SPOC Mobile Number">
                                        </mat-form-field>
                                        <ng-container *ngIf="mobile.invalid && mobile.touched">
                                            <!-- <mat-error class="error" *ngIf="mobile?.errors?.required">{{'Mobile is required'}}</mat-error>
                                            <mat-error class="error" *ngIf="mobile?.errors?.maxLength">{{'Mobile should be accepted 10 digits'}}</mat-error> -->
                                            <mat-error class="error" *ngIf="registerForm.controls['mobile'].invalid ">
                                                <div *ngIf="registerForm.controls['mobile'].errors.required">
                                                    Mobile Number is Required
                                                </div>

                                                <!-- <div *ngIf="registerForm.controls['mobile'].errors.maxlength">
                                                    Mobile should be accepted 10 digits
                                                </div> -->

                                                <div *ngIf="registerForm.controls['mobile'].errors.pattern">
                                                    Invalid Mobile Number
                                                </div>
                                            </mat-error>
                                        </ng-container>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="inputContainer">
                        <form [formGroup]="registerForm" enctype="multipart/form-data">
                        <label class="customLabel2">Short Description<span>*</span></label>
                        <mat-form-field appearance="outline">
                            <textarea type="textarea" maxlength="250" formControlName="description" style="resize: none;" class="descstyle" matInput placeholder="Enter the Short Description"></textarea>
                        </mat-form-field>
                        <ng-container *ngIf="description.invalid && description.touched">
                            <mat-error class="error" *ngIf="description?.errors?.required || description.errors?.invalidDescription">{{'Description is Required'}}</mat-error>
                        </ng-container>
                    </form>
                    </div>

                    <!-- <label class="customLabel2">Upload EOI Form<span>*</span></label>
                                        <p class="errmsg" *ngIf="errorMsgforeoi">{{errorMsgforeoi}}</p>
                                        <div class="primaryWrapper">
                                            <div class="eoiform">
                                                <div class="imgdata">
                                                   <img *ngIf="!eoiFileName" class="cloudicon" src="/assets/images/partner/cloud-upload-blu.svg" alt="">
                                                   <div> <img *ngIf="eoiFileName" class="cloudicon" src="/assets/images/partner/pdficon.svg" alt=""></div>
                                                   <div> <p *ngIf="eoiFileName" >{{eoiFileName}}</p></div>
                                                   <button class="close-icon2" *ngIf="eoiFileName" mat-icon-button (click)="removeUploadedFile()">
                                                     <mat-icon>close</mat-icon>
                                                   </button>
                                                </div>
                                                <div class="buttonClass2">
                                                    <div class="subButton">
                                                        <input type="file"  accept="image/jpeg, application/pdf"
                                                        class="file-input" (change)="onEoiFileSelected($event)" (click)="$event.target.value=null" #fileUploadeoi>
                                                        <button formControlName="eoiForm" (click)="fileUploadeoi.click()" mat-flat-button>Browse</button>
                                                    </div>
                                                </div>
                                                <div class="titlealign">
                                                    <p class="labeldes">Form must be in .jpeg or .pdf format</p>
                                                </div>
                                            </div>
                                        </div> -->
                    <label class="customLabel2">Upload EOI Form<span>*</span></label>
                    <p class="errmsg" *ngIf="errorMsgforeoi">{{errorMsgforeoi}}</p>
                    <div class="primaryWrapper">
                      <div class="eoiform">
                        <div class="imgdata">
                          <img *ngIf="!eoiFileName" class="cloudicon" src="/assets/images/partner/cloud-upload-blu.svg" alt="">
                          <div> <img *ngIf="eoiFileName.endsWith('.pdf')" class="cloudicon" src="/assets/images/partner/pdficon.svg" alt="">
                          </div>
                          <div>
                            <p *ngIf="eoiFileName">{{eoiFileName}}</p>
                          </div>
                          <button class="close-icon2" *ngIf="eoiFileName" mat-icon-button (click)="removeUploadedFile()">
                            <mat-icon>close</mat-icon>
                          </button>
                        </div>
                        <div class="buttonClass2">
                          <div class="subButton">
                            <input type="file" accept=".jpeg, .pdf" class="file-input" (change)="onEoiFileSelected($event)"
                              (click)="$event.target.value=null" #fileUploadeoi>
                            <button formControlName="eoiForm" (click)="fileUploadeoi.click()" mat-flat-button>Browse</button>
                          </div>
                        </div>
                        <div class="titlealign">
                          <p class="labeldes">Form must be in .jpeg or .pdf format</p>
                        </div>
                      </div>
                    </div>



                    <!-- <label class="customLabel2">Upload EOI Form<span>*</span></label>
                    <p class="errmsg" *ngIf="!eoiFileName && registerForm.get('establishedYear').touched && registerForm.get('establishedYear').errors?.required">EOF Form is Required</p>
                    <div class="primaryWrapper">
                        <div class="eoiform">
                            <div class="imgdata">
                                <img *ngIf="!eoiFileName" class="cloudicon" src="/assets/images/partner/cloud-upload-blu.svg" alt="">
                                <div> <img *ngIf="eoiFileName" class="cloudicon" src="/assets/images/partner/pdficon.svg" alt=""></div>
                                <div> <p *ngIf="eoiFileName" >{{eoiFileName}}</p></div>
                                <button class="close-icon2" *ngIf="eoiFileName" mat-icon-button (click)="removeUploadedFile()">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </div>
                            <div class="buttonClass2">
                                <div class="subButton">
                                    <input type="file" accept="image/png, image/jpeg, application/pdf" class="file-input" (change)="onEoiFileSelected($event)" (click)="$event.target.value=null" #fileUploadeoi>
                                    <button formControlName="eoiForm" (click)="fileUploadeoi.click()" mat-flat-button>Browse</button>
                                </div>
                            </div>
                            <div class="titlealign">
                                <p class="labeldes">Form must be in .jpeg or .pdf format</p>
                            </div>
                        </div>
                    </div> -->


                    <div class="buttonClass">
                        <div class="subButton">
                            <!-- <button mat-flat-button [disabled]="!registerForm.valid" (click)="savePartner()">Save</button> -->
                            <button mat-flat-button (click)="savePartner()">Save</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
