@import '../../../../assets//scss//variables.scss';
.search-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 15px;
}

.search {
    border: solid #bebebe 1px;
    height: 30px;
    box-sizing: border-box;
    outline: none;
    padding: 4px 8px;
    width: 250px;
}

.search:hover {
    border: solid $primaryColor 1px;
}

:host ::ng-deep .agTable-btn {
    background-color: #C02222;
    color: #ffffff;
    line-height: 30px;
    display: flex;
    border: 1px solid #ab1a1a;
    align-items: center;
    margin-left: 10px;
    font-size: 13px;
    padding: 0 10px;
    border-radius: 3px;
    text-shadow: 1px 1px 2px #8c1b1b, -1px -1px 2px #8c1b1b;
}

:host ::ng-deep .mat-tab-header {
    margin-bottom: 20px;
}

:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $secondaryColor !important;
}

:host ::ng-deep .mat-tab-group {
    display: flex;
    flex-direction: column;
    padding: 0px 15px !important;
}