.dashboard{
  padding: 20px 0px 20px 25px;
   font-size: 24px;
   font-weight: 600;
}

.main-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-card2{
  display: flex;
  justify-content: center;
  margin: 50px 0px 0px 0px;
}