<mat-drawer-container class="example-container mat-typography" autosize style="height: 100vh;">
  <mat-drawer #drawer mode="side" disableClose="true" opened="true">
    <mat-nav-list>
      <mat-list-item *ngIf='roleCode === "EMP"'>
        <h4 mat-line *ngIf="isExpanded">Dashboard</h4>
        <div (click)="validateClick('empdashboard')">
          <img class="sidebar-icon" src="../../../../assets/images/emp-dashboard-icons/dashboard-small.png">
          <h5 *ngIf="!isExpanded" class="active">Dashboard</h5>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf='roleCode === "EMP"'>
        <h4 mat-line *ngIf="isExpanded">Profile</h4>
        <div>
          <img class="sidebar-icon1" src="../../../../assets/images/emp-dashboard-icons/emp-user.png">
          <h5 *ngIf="!isExpanded" class="sidebar-text">Profile</h5>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf='roleCode === "EMP"'>
        <h4 mat-line *ngIf="isExpanded">LogOut</h4>
        <div (click)="logout()">
          <img class="sidebar-icon1" src="../../../../assets/images/emp-dashboard-icons/logout.png">
          <h5 *ngIf="!isExpanded" class="sidebar-text">LogOut</h5>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf='roleCode === "SADM" || roleCode === "OADM" || roleCode === "ADM" || roleCode === "HR" || roleCode === "ISADM" || roleCode === "IADM"'> 
        <div class="sidebar-admin" (click)="validateClick('empdashboard')">
          <img class="sidebar-icon-admin"src="../../../../assets/images/emp-dashboard-icons/dashboard-small.png">
          <h4 class="mb-0" mat-line *ngIf="isExpanded">Dashboard</h4>
          <span>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </span>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf='roleCode === "SADM" || roleCode === "OADM" || roleCode === "ADM" || roleCode === "HR" || roleCode === "ISADM" || roleCode === "IADM"' [routerLinkActive]="['is-active']">
        <div class="sidebar-admin" (click)="changeIcon()">
          <img class="sidebar-icon-admin" src="../../../../assets/images/emp-dashboard-icons/emp-user.png">
          <h4 class="mb-0" mat-line *ngIf="isExpanded">Hiring Partners</h4>
          <span *ngIf="!menuIconToggle">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </span>
          <span *ngIf="menuIconToggle">
            <mat-icon>keyboard_arrow_up</mat-icon>
          </span>
        </div>
      </mat-list-item>
      <ng-container *ngIf="menuIconToggle">
        <mat-list-item *ngIf='roleCode === "SADM" || roleCode === "OADM" || roleCode === "ADM" || roleCode === "HR" || roleCode === "ISADM" || roleCode === "IADM"' [routerLink]="['/addpartner']" [routerLinkActive]="['is-active']">
           <div class="sidebar-admin" (click)="hiring()">
              <h4 class="mb-0" mat-line *ngIf="isExpanded">Add Partners</h4>
            </div>
        </mat-list-item>
        <mat-list-item *ngIf='roleCode === "SADM" || roleCode === "OADM" || roleCode === "ADM" || roleCode === "HR" || roleCode === "ISADM" || roleCode === "IADM"' [routerLinkActive]="['is-active']">
          <div class="sidebar-admin" (click)="manage()">
            <h4 class="mb-0" mat-line *ngIf="isExpanded">Manage Partners</h4>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf='roleCode === "SADM" || roleCode === "OADM" || roleCode === "ADM" || roleCode === "HR" || roleCode === "ISADM" || roleCode === "IADM"' [routerLinkActive]="['is-active']">
          <div class="sidebar-admin" (click)="partners()">
            <h4 class="mb-0" mat-line *ngIf="isExpanded">Partners Partners</h4>
          </div>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </mat-drawer>
</mat-drawer-container>