mat-sidenav:not(.mat-drawer-opened) {
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    width: 60px !important;
    overflow: hidden;
  }

.mat-drawer-content{
    height: 100vh !important;
    width: 105px;
}
.example-spacer {
  flex: 1 1 auto;
}
.logo{
    height: 45px;
}
.toolbar-bg{
    background-color: #fff;
}
.sidebar-admin{
	display: flex;
}
.sidebar-icon-drive{
  top: 137px;
left: 25px;
width: 18px;
height: 15px;
}
.sidebar-icon-admin{
	height: 19px;
	position: relative;
	right: 5%;
}
.is-active{
	background-color: #1B4E9B;
}
.demo-section{
    position: relative;
    top: 9px;
}

::ng-deep.mat-list-item-content{
	padding: 5px !important;
  left: 4px;
}
.sidebar-icon{
	position: relative;
}
.active{
	color: #1B4E9B;
}
.sidebar-text{
	position: relative;
}

.list:hover {
	font-weight: bold;
	background-color: #eeeeee;
	cursor: pointer;
  }
  .sidebar-icon1{
	position: relative;
  }
  .left1{
left: 30px;
  }
  .left2{
    left: 4px;
  }
  .selected {
    width: 100%;
    // padding-left: 20px;
  //  height: 50px;
    background-color: #EDEDED;
    color: #1B4E9B;
    .userlistsvg {
      background: #1B4E9B;
  }
}
.notSelected {
  width:100%;
  padding-left: 0px;

}

.headerfont{
  text-align: center;
  font-size: 14px;
  font-family: Roboto;
  letter-spacing: 0.55px;
  opacity: 1;
  font-weight: 400;
  padding: 0px 3px;
  color: #858585;

}

.sidestyle{
margin-top: 5px;
}


.sidemenu{
  width: 100%;
  text-align: center;
}

.mathigh{
  // width: 75px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  mat-list-item{
    height: 60px!important;
  }
}
.arrow{
  float:right !important;
}

::ng-deep{
  .mat-list-base{
  padding-top: 4px;
}
}
