<div class="candidate_profile_detail">
  <div class="view_breadcrump flx_div flx_center">
    <div class="active-link" (click)="todashboard()">View Job Requirements</div>
    <div class="active-link" (click)="tocandidtedrive()"> View Applications</div>
    <div>Candidate Profile</div>
  </div>
  <h1 class="profile_header">Candidate Profile</h1>
  <div class="candidate_card flx_div flx_between">

    <div class="card_one">
      <div class="inner_content pd-20 card_sticky">
        <!-- <div>
          <img src={{candidateData?.personal_details?.profileImage}} />
        </div> -->
        <div>
          <img *ngIf="!candidateData?.personal_details?.profileImage"
            src="../../../../../../assets/images/removed dp.png" alt="No Profile Picture" class="round-profile-pic">
          <img *ngIf="candidateData?.personal_details?.profileImage" [src]="candidateData.personal_details.profileImage + blobtoken"
            alt="Candidate Profile Picture" class="round-profile-pic">
        </div>

        <div class="title txt-center  hidden_div">
          <div class="content_wrap">{{candidateData?.personal_details?.name}}</div>
        </div>
        <div class="description txt-center  hidden_div">
          <div class="content_wrap">{{candidateData?.email}}</div>
          <!-- <div class="content_wrap">
            {{candidateData.contact_details.permanent_city}},&nbsp;{{candidateData.contact_details.permanent_state}},&nbsp;<span
              class="countryimg"> &nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/india_flag.svg"></span>
          </div> -->
          <!-- <div class="content_wrap">
            <span [matTooltip]="getPermanentAddressTooltip()" matTooltipPosition="above">
              {{ candidateData?.contact_details?.permanent_city }},&nbsp;
              {{ candidateData?.contact_details?.permanent_state }},&nbsp;
              <span class="countryimg"> &nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/india_flag.svg"></span>
            </span>
          </div> -->
          <div class="content_wrap">
            <span [matTooltip]="getPermanentAddressTooltip()" matTooltipPosition="above">
              {{ candidateData?.contact_details?.permanent_city }}
              <ng-container *ngIf="candidateData?.contact_details?.permanent_state">
                , {{ candidateData.contact_details.permanent_state }}
              </ng-container>
              <ng-container *ngIf="candidateData?.contact_details?.permanent_state">
                <span class="countryimg">&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/india_flag.svg"></span>
              </ng-container>
            </span>
          </div>

        </div>
        <br>
        <!-- <div class="value" *ngIf="candidateStatus.trainedStatus=='Yes'"> <i class="flag_lnt icon-bookmark col1">
          </i><span class="boldcandidate">Trained by L&T EduTech</span>
        </div> -->
        <div class="value" *ngIf="courseResultData?.length > 0">
          <div><span class="flag_lnt icon-bookmark col1"></span></div>
          <div><span class="boldcandidate">Trained by L&T EduTech</span></div>
        </div>
        <!-- <div class="value" *ngIf="candidateStatus.assessedStatus=='Yes'"><i class="flag_lnt icon-bookmark col2">
          </i><span class="boldcandidate">Assessed by L&T EduTech</span>
        </div> -->
        <div class="value" *ngIf="AssesmentDetails?.length > 0">
          <div><span class="flag_lnt icon-bookmark col2"></span></div>
          <div><span class="boldcandidate">Assessed by L&T EduTech</span></div>
        </div>

      </div>
    </div>
    <div class="card_two">

      <div class="details_header flx_div flx_center card_sticky" #headerRef>
        <div class="overall-detail" *ngFor="let detail of details" [class.active]="activeSection === detail.sectionId"
          (click)="scrollToSection(detail.sectionId)">
          <span [ngClass]="{ 'blue-text': activeSection === detail.sectionId }">{{ detail.label }}</span>
        </div>
      </div>


      <div class="content">
        <div id="personal" #personalSection class="inner_content">
          <div class="profile_details pd-20">
            <h2 class="head_title"> Personal Details </h2>
            <div class="flx_div flx_center hidden_div title">
              <div class="key">Name</div>
              <div class="value content_wrap">{{candidateData?.personal_details?.name}}</div>
            </div>
            <div class="flx_div flx_center hidden_div title">
              <div class="key">Email</div>
              <div class="value content_wrap">{{candidateData?.email}}</div>
            </div>
            <div class="flx_div flx_center hidden_div title">
              <div class="key">Mobile No.</div>
              <div class="value content_wrap">{{candidateData?.personal_details?.mobile}}</div>
            </div>
            <div class="flx_div flx_center hidden_div title">
              <div class="key">Gender</div>
              <div class="value content_wrap">{{candidateData?.personal_details?.gender}}</div>
            </div>
            <div class="flx_div flx_center hidden_div title">
              <div class="key">Date of Birth (as per X Std Certificate)</div>
              <div class="value content_wrap">{{candidateData?.personal_details?.dob| date : 'dd-MM-yyyy'}}</div>
            </div>
            <div class="flx_div flx_center hidden_div title">
              <div class="key">Marital Status</div>
              <div class="value content_wrap">{{candidateData?.personal_details?.marital_status}}</div>
            </div>
            <div class="flx_div flx_center hidden_div title">
              <div class="key">Mother Tongue</div>
              <div class="value content_wrap">{{candidateData?.personal_details?.mother_tongue}}</div>
            </div>
            <div class="flx_div flx_center hidden_div title">
              <div class="key">Domicile State</div>
              <div class="value content_wrap" id="stateName">
                {{ form_domicile_state?form_domicile_state:'NA' }}
              </div>
            </div>

          </div>
          <!-- <div class="profile_details pd-20">
            <h2 class="head_title"> Languages Known </h2>
            <div class="flx_center title">
              <div class="key"></div>
              <div class="value flx_div flx_center flx_between"
                *ngFor="let language of candidateData.personal_details.languages_known">
                {{language.language}}
              </div>
            </div>
          </div> -->
          <!-- <div class="profile_details pd-20">
            <h2 class="head_title">Languages Known</h2>
            <div class="flx_center title">
              <div class="key"></div>
              <div class="flx_div flx_center flx_between"
                *ngFor="let language of candidateData.personal_details.languages_known">

                <span class="key">{{ language.language }}</span>

                <label class="value_check">
                  <input type="checkbox" [checked]="language.is_read" disabled />
                  Read
                </label>
                <label class="value_check">
                  <input type="checkbox" [checked]="language.is_write" disabled />
                  Write
                </label>
                <label class="value_check">
                  <input type="checkbox" [checked]="language.is_speak" disabled />
                  Speak
                </label>
              </div>
            </div>
          </div> -->
          <div class="profile_details pd-20">
            <h2 class="head_title">Languages Known</h2>
            <div class="flx_center title">
              <div class="key"></div>
              <div class="flx_div flx_center flx_between"
                *ngFor="let language of candidateData?.personal_details?.languages_known">

                <span class="key">{{ language.language }}</span>

                <label class="value_check">
                  <input type="checkbox" [checked]="language.is_read" disabled />
                  Read
                </label>
                <label class="value_check">
                  <input type="checkbox" [checked]="language.is_write" disabled />
                  Write
                </label>
                <label class="value_check">
                  <input type="checkbox" [checked]="language.is_speak" disabled />
                  Speak
                </label>
              </div>
            </div>

            <div
              *ngIf="!candidateData?.personal_details?.languages_known || candidateData?.personal_details?.languages_known.length === 0"
              class="value_ar lan_mar">
              No languages details available
            </div>
          </div>


          <div class="profile_details pd-20">
            <h2 class="head_title">Hobbies/Interests </h2>
            <div class="flx_div ">
              <div class="hobbies">
                <div *ngFor="let hobby of candidateData?.personal_details?.hobbies_intrest">{{ hobby.hobbiesAndInterests
                  }}
                </div>
              </div>
              <div
                *ngIf="!candidateData?.personal_details?.hobbies_intrest || candidateData?.personal_details?.hobbies_intrest.length === 0"
                class="value_ar hob_mar">
                No Hobbies/Interests details available
              </div>
            </div>
          </div>

        </div>

        <div>
          <div id="contact" #contactSection class="inner_content">
            <div class="profile_details pd-20">
              <h2 class="head_title"> Contact Details </h2>
              <div class="brdr_btm_line pb-10">
                <h2 class="sub_heading ">Present Address</h2>
                <!-- <div class="flx_div flx_baseline title">
                  <div class="key">Present Address</div>
                  <div class="value">
                    {{candidateData.contact_details.present_line_street_addres}},
                    {{candidateData.contact_details.present_line2_street_addre}},
                    {{candidateData.contact_details.present_address_line_3}},
                    {{ form_present_city?form_present_city:'' }}
                    {{ form_present_state?form_present_state:'NA' }}
                    {{candidateData.contact_details.present_zip}}
                  </div>
                </div> -->
                <div class="flx_div flx_baseline title">
                  <div class="key">Present Address</div>
                  <div class="value" id="presentAddress">
                    {{candidateData?.contact_details?.present_line_street_addres}}
                    {{candidateData?.contact_details?.present_line2_street_addre ? '' +
                    candidateData?.contact_details?.present_line2_street_addre : ''}}
                    {{candidateData?.contact_details?.present_address_line_3 ? ',' +
                    candidateData?.contact_details?.present_address_line_3
                    : ''}}
                    {{form_present_city ? ', ' + form_present_city : 'NA'}}
                    {{form_present_state ? ', ' + form_present_state : 'NA'}},
                    <!-- {{form_present_country ? ', ' + form_present_country : 'NA'}}, -->
                    <ng-container *ngIf="candidateData?.contact_details?.present_zip">
                      India- {{ candidateData.contact_details.present_zip }}
                    </ng-container>
                    <!-- {{candidateData?.contact_details?.present_zip}} -->
                  </div>
                </div>
              </div>
              <div>
                <h2 class="sub_heading  pt-10">Permanent Address</h2>
                <div class="flx_div flx_baseline title">
                  <div class="key">Permanent Address</div>
                  <div class="value" id="permanentAddress">
                    {{candidateData?.contact_details?.permanent_line1_street_add}}
                    {{candidateData?.contact_details?.permanent_line2_street_add ? ' ' +
                    candidateData?.contact_details?.permanent_line2_street_add : ''}}
                    {{candidateData?.contact_details?.permanent_address_line_3 ? ', ' +
                    candidateData?.contact_details?.permanent_address_line_3 : ''}}
                    {{candidateData?.contact_details?.permanent_city ? ', ' +
                    candidateData?.contact_details?.permanent_city
                    : ''}}
                    {{candidateData?.contact_details?.permanent_state ? ', ' +
                    candidateData?.contact_details?.permanent_state : ''}}
                    {{candidateData?.contact_details?.permanent_country ? ', ' +
                    candidateData?.contact_details?.permanent_country : ''}}
                    {{candidateData?.contact_details?.permanent_zip ? '-' +
                    candidateData?.contact_details?.permanent_zip :
                    ''}}
                  </div>
                </div>
              </div>
              <!-- <div *ngIf="candidateData.contact_details.is_sameas_presentaddr">
                <h2 class="sub_heading pt-10"></h2>
              </div> -->
            </div>
          </div>
        </div>

        <div id="education" #educationSection class="inner_content">
          <div class="profile_details pd-20">
            <h2 class="head_title"> Education Details </h2>
            <div class="brdr_btm_line pb-10"
              *ngFor="let candidates of candidateData?.education_details.educations; let i = index">
              <h2 class="sub_heading">Qualification {{i+1}}</h2>
              <div class="flx_div flx_baseline title">
                <div class="key">Qualification</div>
                <!-- <div class="value">
                  {{candidates.level}}/{{candidates.specification}}.{{candidates.discipline}}/{{candidates.board_university}},<br>{{candidates.institute}}
                </div> -->
                <div class="value">
                  <ng-container *ngIf="candidates.level !== 'UG'">
                    {{ candidates.level }} /
                  </ng-container>
                  <ng-container *ngIf="candidates.level !== 'HSC' && candidates.level !== 'SSLC'; else otherLevels">
                  </ng-container>
                  <ng-template #otherLevels>
                    {{ candidates.level === 'SSLC' ? 'Class X' : (candidates.level === 'HSC' ? 'Class XII' :
                    candidates.specification)
                    }}
                  </ng-template>
                  <!-- {{ candidates.specification }} {{ candidates.discipline }} - {{ candidates.board_university ? '(' +
                  candidates.board_university + ')' + ',' : '' }}<br>
                  {{ candidates.institute }}, -->
                  {{ candidates.specification }} {{ candidates.discipline }}
                  <span *ngIf="candidates.board_university"> - {{ candidates.board_university ? '(' +
                    candidates.board_university + ')' + ',' : '' }}</span>

                  <!-- {{ candidates.specification }} {{ candidates.discipline }} -{{ candidates.board_university ? '(' +
                  candidates.board_university + ')' + ',' : '' }} -->

                  <ng-container *ngIf="candidates.institute === 'Others'">
                    <br>
                    {{ candidates.other_collegename }},
                  </ng-container>

                  <ng-container *ngIf="candidates.institute !== 'Others'">
                    <br>
                    {{ candidates.institute }}
                  </ng-container>
                </div>
              </div>
              <div class="edu_start_end">{{candidates.start_date| date : 'MMM y'}}-{{candidates.end_date| date : 'MMM
                y'}}
              </div>
              <div class="flx_div flx_baseline title">
                <div class="key">Year of Passing</div>
                <div class="value">{{candidates.year_of_passing| date : 'MMM y'}}
                </div>
              </div>
              <div class="flx_div flx_baseline title">
                <div class="key">Percentage (%)</div>
                <div class="value">
                  {{candidates.percentage}}
                </div>
              </div>
              <!-- <div class="flx_div flx_baseline title">
                <div class="key">Do you have any gap during the education?</div>
                <div class="value">
                  {{candidates.gap}}
                </div>
              </div> -->
              <!-- <div class="flx_div flx_baseline title">
                <div class="key">Do you have any gap during the education?</div>
                <div class="value">
                  {{candidates.gap ? 'No' : 'Yes'}}
                </div>
              </div> -->
              <div class="flx_div flx_baseline title">
                <div class="key">History of Backlogs?</div>
                <div class="value">
                  {{candidates.historyOfbacklog}}
                </div>
              </div>
              <div class="flx_div flx_baseline title">
                <div class="key">No. of Active Backlogs(if any) ?</div>
                <div class="value">
                  {{candidates.noActivebacklog}}
                </div>
              </div>
              <div class="flx_div flx_baseline title">
                <div class="key">Do you have any gap during the education?</div>
                <div class="value">
                  {{candidates.gap === 'false' ? 'No' : 'Yes'}}
                </div>
              </div>
              <div class="flx_div flx_baseline title">
                <div class="key">Reason for the Gap ?</div>
                <div class="value">
                  {{candidates.reasonForbacklog ? candidates.reasonForbacklog : 'NIL'}}
                  <!-- {{candidates.reasonForbacklog}} -->
                </div>
              </div>
              <div class="flx_div flx_baseline title">
                <div class="key_edu">
                  <div class="value_withcheckbox" *ngIf="candidates.is_highLevelEdu">
                    <label>
                      <input type="checkbox" [checked]="candidates.is_highLevelEdu" disabled />
                      Highest Level of Education/Currently Pursuing </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="work-experience" #workExperienceSection class="inner_content">
          <div class="profile_details pd-20">
            <h2 class="head_title"> Work Experience Details </h2>

            <div class="profile_details_exp pd-20">
              <div class="key_totalexp">Total Experience</div>
              <div class="experience">
                <div class="experience-box"
                  *ngIf="candidateData?.experience_details?.work_details?.total_exp_years || candidateData?.experience_details?.work_details?.total_exp_months">
                  {{ candidateData?.experience_details?.work_details?.total_exp_years }}</div>
                <span class="value_2"
                  *ngIf="candidateData?.experience_details?.work_details?.total_exp_years">Years</span>
                <div class="experience-box" *ngIf="candidateData?.experience_details?.work_details?.total_exp_months">
                  {{ candidateData?.experience_details?.work_details?.total_exp_months }}</div>
                <span class="value_2"
                  *ngIf="candidateData?.experience_details?.work_details?.total_exp_months">Months</span>
                <span class="no-experience"
                  *ngIf="!candidateData?.experience_details?.work_details?.total_exp_years && !candidateData?.experience_details?.work_details?.total_exp_months">No
                  Experience</span>
              </div>
            </div>

            <div class="profile_details pd-20">
              <h2 class="head_title_skills">Skills </h2>
              <div class="flx_div skills">
                <div *ngFor="let skill of candidateData?.experience_details?.skills">{{ skill.skill }}</div>
              </div>
            </div>
            <h2 class="head_title"> Professional Experience </h2>
            <div class="brdr_btm_line pb-10"
              *ngFor="let employment of candidateData?.experience_details?.employments; let i = index">
              <h2 class="sub_heading">Employment {{i+1}}</h2>
              <div>
                <div class="flx_div flx_center hidden_div title">
                  <div class="key">Employer Name</div>
                  <div class="value content_wrap">
                    {{ employment.employment_name_address || 'NIL' }}
                  </div>
                </div>

                <div class="flx_div flx_center hidden_div title">
                  <div class="key">Position Held</div>
                  <div class="value content_wrap">{{ employment.postion_field ? employment.postion_field : 'NIL' }}
                  </div>
                </div>
                <div class="flx_div flx_center hidden_div title">
                  <div class="key">Achievements/Responsibility/Tasks</div>

                  <div class="value content_wrap" [title]="employment.achievement">
                    {{ employment.achievement ? employment.achievement : 'NIL' }}
                  </div>

                </div>

                <div class="flx_div flx_center hidden_div title">
                  <div class="key">Duration From</div>
                  <div class="value content_wrap">{{ employment.duration_from ? (employment.duration_from | date : 'MMM
                    y') : 'NIL' }}
                  </div>
                </div>
                <div class="flx_div flx_center hidden_div title" *ngIf="!employment.is_working_here">
                  <div class="key">Duration To</div>
                  <div class="value content_wrap">{{ employment?.duration_to ? (employment?.duration_to | date : 'MMM
                    y')
                    : 'NIL' }}</div>
                </div>
                <div class="flx_div flx_baseline title">
                  <div class="key_edu">
                    <div class="value_withcheckbox">
                      <label *ngIf="employment?.is_working_here">
                        <input type="checkbox" [checked]="employment?.is_working_here" disabled />
                        I am Currently working here
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="head_title"> Articleship/Training Details</h2>
            <div class="brdr_btm_line pb-10"
              *ngFor="let employment of candidateData?.experience_details?.intern; let i = index">
              <h2 class="sub_heading">Articleship/Training {{i+1}}</h2>
              <div *ngIf="candidateData?.experience_details?.is_intern_status == true">
                <div class="flx_div flx_center hidden_div title">
                  <div class="key">Employer Name</div>
                  <div class="value content_wrap">
                    <!-- {{employment.employer_name ? employment.employer_name : 'NIL'}} -->
                    {{employment.employer_name}}
                  </div>
                </div>
                <div class="flx_div flx_center hidden_div title">
                  <div class="key">Period From</div>
                  <div class="value content_wrap">{{employment.from_date| date : 'MMM y'}}</div>
                </div>
                <div class="flx_div flx_center hidden_div title">
                  <div class="key">Period To</div>
                  <div class="value content_wrap">{{employment.to_date| date : 'MMM y'}}</div>
                </div>
                <div class="flx_div flx_center hidden_div title">
                  <div class="key">Achievements/Responsibility/Tasks</div>
                  <div class="value content_wrap" [title]="employment.work_responsiability">
                    {{ employment.work_responsiability }}
                  </div>
                </div>
              </div>
              <div *ngIf="candidateData?.experience_details?.is_intern_status != true">
                <div class="value_ar">No Articleship/Training Details Available</div>
              </div>
            </div>
          </div>
        </div>
        <div id="project" #projectSection class="inner_content">
          <div class="profile_details pd-20">
            <h2 class="head_title"> Project Details </h2>
            <div class="brdr_btm_line pb-10"
              *ngFor="let project of candidateData?.project_details?.projects; let i = index">
              <h2 class="sub_heading">Project {{i+1}}</h2>
              <div class="flx_div flx_center hidden_div title">
                <div class="key">Project Type</div>
                <div class="value content_wrap">{{project.typeList}}</div>
              </div>
              <div class="flx_div flx_center hidden_div title">
                <div class="key">Team Size</div>
                <div class="value content_wrap">{{project.teamSize}}</div>
              </div>
              <div class="flx_div flx_center hidden_div title">
                <div class="key">Title of the Project</div>
                <div class="value content_wrap">{{project.projectTitle}}</div>
              </div>
              <div class="flx_div flx_center hidden_div title">
                <div class="key">Organization</div>
                <div class="value content_wrap">{{project.projectOrganization}}</div>
              </div>
              <div class="flx_div flx_center hidden_div title">
                <div class="key">Period From</div>
                <div class="value content_wrap">{{project.periodFrom| date : 'MMM y'}}</div>
              </div>
              <div class="flx_div flx_center hidden_div title">
                <div class="key">Period To</div>
                <div class="value content_wrap">{{project.periodTo| date : 'MMM y'}}</div>
              </div>
              <div class="flx_div flx_center hidden_div title">
                <div class="key">Description</div>
                <!-- <div class="value content_wrap">{{project.projectDescription}}</div> -->
                <div class="value content_wrap" [title]="project.projectDescription">
                  {{ project.projectDescription }}
                </div>
              </div>

            </div>
            <div *ngIf="candidateData?.project_details?.projects?.length === 0">
              <div class="value_ar">No project details available</div>
            </div>
          </div>
        </div>

        <div id="accomplishment" #accomplishmentSection class="inner_content">
          <div class="profile_details pd-20">
            <h2 class="head_title"> Accomplishments </h2>
            <div class="brdr_btm_line pb-10"
              *ngFor="let certification of candidateData?.accomplishment_details.certifications; let i = index">
              <h2 class="sub_heading">Certification{{i+1}}</h2>
              <div class="flx_div flx_baseline title">
                <div class="key">Certification Name</div>
                <div class="value content_wrap">{{certification.certificationName}}</div>
              </div>
              <div class="flx_div flx_baseline title">
                <div class="key">Issued From</div>
                <div class="value content_wrap">{{certification.certificationIssuedFrom}}</div>
              </div>

              <div class="flx_div flx_baseline title">
                <div class="key">Description</div>
                <div class="value content_wrap" [title]="certification.certificationDescription">
                  {{ certification.certificationDescription ? certification.certificationDescription : 'NIL' }}
                </div>
              </div>
              <div class="flx_div flx_baseline title">
                <div class="key">Certification Validity from</div>
                <div class="value content_wrap">{{certification.certificationValidityFrom| date : 'MMM y'}}</div>
              </div>
              <div class="flx_div flx_baseline title" *ngIf="!certification.isexpire">
                <div class="key">Certification Validity to</div>
                <div class="value content_wrap">{{certification.certificationValidityUpto| date : 'MMM y'}}</div>
              </div>
              <div class="flx_div flx_baseline title">
                <div class="key_edu">
                  <div class="value_withcheckbox">
                    <label *ngIf="certification.isexpire">
                      <input type="checkbox" [checked]="certification.isexpire" disabled />
                      This Certification does not expire </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="brdr_btm_line pb-10"
              *ngFor="let awards of candidateData?.accomplishment_details.awards; let i = index">
              <h2 class="sub_heading">Awards {{i+1}}</h2>
              <div class="flx_div flx_baseline title">
                <div class="key">Award Title</div>
                <div class="value content_wrap">{{awards.awardTitle}}</div>
              </div>
              <div class="flx_div flx_baseline title">
                <div class="key">Awarded Date</div>
                <div class="value content_wrap">{{awards.awardDate| date : 'MMM y'}}</div>
              </div>
            </div>
            <div class="brdr_btm_line pb-10"
              *ngFor="let journalentry of candidateData?.accomplishment_details.journals; let i = index">
              <h2 class="sub_heading">Research Publication/Journal Entry{{i+1}}</h2>
              <div class="flx_div flx_baseline title">
                <div class="key">Title</div>
                <div class="value content_wrap">{{journalentry.journalEntityTitle}}</div>
              </div>
              <div class="flx_div flx_baseline title">
                <div class="key">URL</div>
                <div class="value content_wrap" [title]="journalentry.journalEntityUrl">
                  {{ journalentry.journalEntityUrl }}
                </div>
              </div>
              <div class="flx_div flx_baseline title">
                <div class="key">Published On</div>
                <div class="value content_wrap">{{journalentry.journalEntityPublishedOn| date : 'MMM y'}}</div>
              </div>
              <div class="flx_div flx_baseline title">
                <div class="key">Description</div>
                <div class="value content_wrap" [title]="journalentry.journalEntityDescription">
                  {{ journalentry.journalEntityDescription ? journalentry.journalEntityDescription : 'NIL' }}
                </div>
              </div>

            </div>
            <div *ngIf="candidateData?.accomplishment_details?.certifications?.length === 0
                        && candidateData?.accomplishment_details?.awards?.length === 0
                        && candidateData?.accomplishment_details?.journals?.length === 0">
              <div class="value_ar">No accomplishment details available</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card_three">
      <div class="job_details_card pd-20 card_sticky" *ngIf="!hideSection">
        <div class="job_header">Job Details</div>
        <div class="job_card hidden_div">
          <div class="job_title content_wrap">Applied for</div>
          <div class="job_description content_wrap">{{jobDetailsdata.jobRole}}</div>
        </div>
        <div class="job_card hidden_div">
          <div class="job_title content_wrap">Job Type</div>
          <div class="job_description content_wrap">{{jobDetailsdata.jobType}}</div>
        </div>
        <div class="job_card hidden_div">
          <div class="job_title content_wrap">Location</div>
          <div class="job_description content_wrap">{{jobDetailsdata.jobLocation}}</div>
        </div>
        <div class="job_card hidden_div">
          <div class="job_title content_wrap">Candidate Status</div>
          <div class="job_description content_wrap">
            <ng-container *ngIf="candidateStatus.jobStatus === 'Shortlisted'">
              <img src="../../../../../assets/images/green_tick_image.png" alt="Shortlisted" class="status_icon">
            </ng-container>
            <ng-container *ngIf="candidateStatus.jobStatus === 'Rejected'">
              <img src="../../../../../assets/images/rejected red filled.svg" alt="Rejected" class="status_icon">
            </ng-container>
            <ng-container *ngIf="candidateStatus.jobStatus === 'In Progress'">
              <img src="../../../../../assets/images/blue tick rounded.svg" alt="In Progress" class="status_icon">
            </ng-container>
            <ng-container *ngIf="candidateStatus.jobStatus === 'awaitingReview'">
              <img src="../../../../../assets/images/orange awating review.svg" alt="awaiting Review"
                class="status_icon">
            </ng-container>
            {{ candidateStatus.jobStatus === 'awaitingReview' ? 'Awaiting Review' : candidateStatus.jobStatus }}
          </div>
        </div>
        <div>
          <div class="shortlist_btn" (click)="matDialogOpen()"
            [ngClass]="{'disable': candidateStatus.jobStatus === 'Shortlisted'}">Shortlist</div>
          <div class="reject_btn" (click)="matDialogreject()"
            [ngClass]="{'disable': candidateStatus.jobStatus === 'Rejected'}">Reject</div>
        </div>
      </div>


      <div class="job_details_card pd-30 card_sticky"> 
        <ng-container *ngIf="AssesmentDetails?.length > 0"> 
          <mat-card class="asses-details-card">  
            <div class="assessment-container"> 
              <div class="assesment-detail"> 
                <div class="ass-name">Assesment Details</div>
                <div class="prev-next"> 
                  <div mat-icon-button class="nav-icon" (click)="showPrevious()" [ngClass]="{'disabled': assessmentIndex === 0}">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                  </div>
                  <div mat-icon-button class="nav-icon" (click)="showNext()" [ngClass]="{'disabled': assessmentIndex === AssesmentDetails?.length - 1}">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </div>
              </div>
              </div> 
              <div class="ass-image"> 
                <!-- <img src="https://t3.ftcdn.net/jpg/02/45/87/36/360_F_245873693_0geCBYQipchlBwGPXskG5SZckAdJkTLa.jpg" alt="" /> -->
                <img src="https://media.istockphoto.com/id/1398462038/photo/online-exam-or-test.jpg?s=612x612&w=0&k=20&c=hvaH_2oA0Dm-tpQ8T5JBF_39QF3xhpic38Yi2AngaCE=" alt="" />
                <!-- <img src="https://media.istockphoto.com/id/1483355290/photo/businessman-using-a-laptop-and-taking-an-assessment-questionnaire-evaluation-online-survey.jpg?s=612x612&w=0&k=20&c=PhztRjrkCSetcm_9cWDDB1IIgw1hi4tr7FF8BbBkWeg=" alt=""/> -->
                <!-- <img src="https://media.istockphoto.com/id/1445353573/photo/assessment-questionnaire-quiz-or-survey-form-with-checkboxes-on-computer-screen-person.jpg?s=612x612&w=0&k=20&c=vBaRGBc2mT5U1FCBbSTYdZM-dGc0rvoZ99lQzye525U=" alt=""/> -->
                <!-- <img src="https://media.istockphoto.com/id/1488803384/photo/digital-assets-document-and-mark-correct-sign-for-standard-quality-control-certification.jpg?s=612x612&w=0&k=20&c=3NMj_esWa686dlpCW-ECOvkT6KqLCPN6UjrNUKO7_1M=" alt=""/> -->
                <!-- <img src="https://media.istockphoto.com/id/1516691318/photo/service-quality-assurance-guarantee-standards-iso-standards-quality-assurance-control.jpg?s=612x612&w=0&k=20&c=bBixTCD6d-WWd2Ec3rB7e0XSG-GXYirKfanamn2qG80=" alt=""/> -->
                <!-- <img src="https://media.istockphoto.com/id/1498727341/photo/checklist-and-clipboard-task-documentation-management-business-people-working-laptop.jpg?s=612x612&w=0&k=20&c=fS4lhJ8B0A8H3tl9aCJ1nK4cOQGxQfRj5Lee1p612wA=" alt=""/> -->
                <div class="ass-name" *ngIf="selectedAssessment.test_name">{{selectedAssessment.test_name}} </div>
                <div class="ass-name" *ngIf="selectedAssessment.assessment_name">{{selectedAssessment.assessment_name}} </div>
              </div>
              <div class="ass-date">
                <div>
                  <span class="asses-datee">{{selectedAssessment.assessment_date|date}}</span>
                </div>
                <div>
                  <div class="stats">{{'Completed'}}</div>
                </div>
              </div>
              <div class="scor">
                <span class="scor1">Score:</span>
              </div>
              <div class="horizonatlscrollline"> 
                <div class="horizonatlline"> 
                  <div class="horizonatllinecircle" [style.left]="getLeftValue()"> 
                    <div class="horizonatllinecircleinsidetext" > 
                      <!-- {{selectedAssessment.max_score}} -->
                      {{ selectedAssessment.max_score < 0 ? 0 : selectedAssessment.max_score }}
                    </div> 
                  </div>
                </div>
                <div class="semi-circle-score"> 
                  <div>  <span class="rating">Ratings:</span> </div>
                  <div> 
                    <!-- <img *ngIf="selectedAssessment.max_score >= 0 && selectedAssessment.max_score <= 33" src="../../../../../assets/images/red-semi.png"> -->
                    <img *ngIf="selectedAssessment.max_score <= 33" src="../../../../../assets/images/red-semi.png"> 
                    <img *ngIf="selectedAssessment.max_score >= 34 && selectedAssessment.max_score <= 66" src="../../../../../assets/images/orange-semi.png">
                    <img *ngIf="selectedAssessment.max_score >= 67 && selectedAssessment.max_score <= 100" src="../../../../../assets/images/green-semi.png">
                  </div>
                  <div> 
                    <!-- <span class="behaviour1" *ngIf="selectedAssessment.max_score >= 0 && selectedAssessment.max_score <= 33">Low</span> -->
                    <span class="behaviour1" *ngIf="selectedAssessment.max_score <= 33">Low</span> 
                    <span class="behaviour2" *ngIf="selectedAssessment.max_score >= 34 && selectedAssessment.max_score <= 66">Average</span> 
                    <span class="behaviour" *ngIf="selectedAssessment.max_score >= 67 && selectedAssessment.max_score <= 100">Good</span>
                  </div> 
                </div> 
              </div> 
            </div> 
          </mat-card> 

        </ng-container>
        <!-- <ng-template #noAssessmentDetails>
          <div class="no-assessment-message">
           <mat-card>
            <span style="font-weight: 700;">NO ASSESMENT DETAILS AVAILABLE</span>
           </mat-card>
          </div>
        </ng-template> -->
      </div>

      <div class="job_details_card pd-30 card_sticky">
        <div class="course-details" *ngIf="currentCertification">
          <mat-card class="cours-details-card" *ngIf="courseResultData?.length > 0">
            <div class="course-name-arrow">
              <div class="Course-detail">
                Certification Details
              </div>
              <div>
                <div mat-icon-button class="nav-icon1" (click)="prevCertification()" [ngClass]="{'disabled': currentIndex === 0}">
                  <mat-icon>keyboard_arrow_left</mat-icon>
                </div>
                <div mat-icon-button class="nav-icon1" (click)="nextCertification()" [ngClass]="{'disabled': currentIndex === courseResultData.length - 1}">
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
              </div>
            </div>

            <ng-container *ngIf="currentCertification">
              <div class="course-image">
                <img [src]="courseImg1" alt="" />
                <!-- <img [src]="currentCertification.courseImgUrl" alt="" /> -->
                <div class="overlay-2">{{ currentCertification.courseName }}</div>
              </div>
              <div class="percen">
                <div class="percen-name">Percentage: </div>
                <div class="percen-num">
                  <circle-progress 
                  [percent]="currentCertification.coursePercentage" 
                  [radius]="30" 
                  [showImage]="false"
                    [showSubtitle]="false" 
                    [titleColor]="000000" 
                    [outerStrokeWidth]="7" 
                    [innerStrokeWidth]="0"
                    [outerStrokeColor]="'#78C000'" 
                    [animation]="true" 
                    [animationDuration]="300">
                  </circle-progress>
                </div>
                <!-- {{currentCertification.courseId}} -->
              </div>
            </ng-container>

          </mat-card>
        </div>
      </div>
    </div>
  </div> 

  <ng-template #matDialog>
    <div class="main-wrapper">
      <div>
        <div class="">
          <img class="warning_icon" src="../../../../../assets/images/alert image filled.svg">
        </div>
        <div class="text">
          Are you sure you want to<span class="boldcandidate"> shortlist</span> the candidate? </div>
        <div class="button-wrapper-form-pop-up">
          <button class="b1" (click)="confirmDialog('Shortlisted')" type="button" mat-raised-button>
            Confirm
          </button>
          <button class="b3" (click)="closeDialog('cancel')" type="button" mat-raised-button>
            Cancel
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #confirmmatDialog>
    <div class="main-wrapper">
      <div>
        <img class="green_tick" src="../../../../../assets/images/green_tick_image.png">
      </div>
      <div class="text">
        <span class="boldcandidate">{{candidateData?.personal_details?.name}}</span> has been
        <span> Shortlisted successfully</span>
      </div>
      <div class="button-wrapper-form-pop-up">
        <button class="o_K" (click)="okclose()" type="button" mat-raised-button>
          OK
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #rejectDialog>
    <div class="main-wrapper">
      <div>
        <img class="warning_icon" src="../../../../../assets/images/alert image filled.svg">

      </div>
      <div class="text">
        Are you sure you want to <span class="boldcandidate">reject</span> the candidate? </div>
      <div class="button-wrapper-form-pop-up">
        <button class="b1" (click)="confirmrejectDialog('Rejected')" type="button" mat-raised-button>
          Confirm
        </button>
        <button class="b3" (click)="closeDialog('cancel')" type="button" mat-raised-button>
          Cancel
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #confirmrejectmatDialog>
    <div class="main-wrapper">
      <div>
        <img class="rejected_icon" src="../../../../../assets/images/rejected red filled.svg">
      </div>
      <div class="text">
        <span class="boldcandidate">{{candidateData?.personal_details?.name}}</span> has been
        <span> Rejected successfully</span>
      </div>
      <div class="button-wrapper-form-pop-up">
        <button class="o_K" (click)="okclose('close')" type="button" mat-raised-button>
          OK
        </button>
      </div>
    </div>
  </ng-template>
</div>