<h4>View Job Requirements > View Applications > Candidate Profile</h4>

<h1>Candidate Profile</h1>

<div class="total_div">
  <div class="name_imgsection"></div>
  <div>
    <div class="toppage_sidescroll">
      <button class="topscroll_btn">Personal Details</button>
      <button class="topscroll_btn">Contact Details</button>
      <button class="topscroll_btn">Education Details</button>
      <button class="topscroll_btn">Work Experience Details</button>
      <button class="topscroll_btn">Project Details</button>
      <button class="topscroll_btn">Accomplishments</button>
    </div>
    <div class="profileDetails">
      <section>

      </section>
      <section>
        <h1>Contact Details</h1>
        <h1>Present Address</h1>
        <h1>Permanent Address</h1>
      </section>
      <section>
        <h1>Education Details</h1>
        <h1>Qualification 1</h1>
      </section>
      <section>
        <h1>Work Experience Details</h1>
        <h1>Skills</h1>
        <h1>Professional Experience</h1>
        <h1>Employment 1</h1>
        <h1>Articleship/Training Details</h1>
        <h1>Articleship/Training 1</h1>
      </section>
      <section>
        <h1>Project Details</h1>
        <h1>Project 1</h1>
      </section>
      <section>
        <h1>Accomplishments</h1>
        <h1>Certifications</h1>
        <h1>Awards</h1>
        <h1>Research Publication/Journal Entry</h1>
      </section>
    </div>
  </div>
  <div class="job_details"></div>
  <ng-template #noPersonal>
    <div class="nodata">No Personal Details Available</div>
  </ng-template>
</div>