
.total_div{
  justify-content: flex-start;
display: flex;
  .name_imgsection{
top: 177px;
  left: 86px;
  width: 250px;
  height: 421px;
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  opacity: 1;
  // position: fixed;
}
.toppage_sidescroll{
  top: 179px;
    left: 356px;
    width: 720px;
    height: 50px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E6E6E6;
    border-radius: 4px 4px 0px 0px;
    opacity: 1;
    .topscroll_btn{
      border: none;
      background: none;
      justify-content:space-evenly;
    margin: 15px 5px 0px 5px;

    .topscroll_btn:hover{
    color: blue;
    }
}
.profileDetails{
  top: 229px;
    left: 356px;
    width: 720px;
    height: 640px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E6E6E6;
    border-radius: 0px 0px 5px 5px;
    opacity: 1;
}
.job_details{
  top: 177px;
    left: 1096px;
    width: 250px;
    height: 397px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    opacity: 1;
}
}
}
