<div class="body">
  <div class="subBody">
    <h3 class="title">Manage Partners</h3>
    <div class="partnerCardBody">
        <div class="container-fluid">
          <div class="row p-1">
            <div class="col-md-3">
              <mat-card class="partnerCard">
                <mat-card-title class="cardTitle">Total Partners</mat-card-title>
                <mat-card-content class="cardValue">
                  <div>
                    <p>{{dashboard_cards ? dashboard_cards.totalCount : ''}}</p>
                  </div>
                  <div><img src="/assets/images/partner/partners.svg" alt=""></div>
                </mat-card-content>
                <!-- <div class="media d-flex">
                  <div class="card-inside-percentage-box">
                      <span>8%</span>
                  </div>
                  <span class="ml-2">Since last month</span>
              </div> -->
                <mat-card-footer class="cardFooter">
                  <span class="cardFootervalue">
                    <span class="icon-arrow-round-up"></span>
                   <span>{{dashboard_cards?.totalIncreased}}%</span> 
                  </span> Since last month
                </mat-card-footer>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="partnerCard">
                <mat-card-title class="cardTitle">No. of Active Partners</mat-card-title>
                <mat-card-content class="cardValue">
                  <div>
                    <p>{{dashboard_cards?.activeCount}}</p>
                  </div>
                  <div><img src="/assets/images/partner/partners-active.svg" alt=""></div>
                </mat-card-content>
                <mat-card-footer class="cardFooter">
                  <span class="cardFootervalue">
                    <span class="icon-arrow-round-up"></span>
                    <span>{{dashboard_cards?.activeIncreased}}%</span></span> Since last month
                </mat-card-footer>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="partnerCard">
                <mat-card-title class="cardTitle">No. of Inactive Partners</mat-card-title>
                <mat-card-content class="cardValue">
                  <div>
                    <p>{{dashboard_cards?.inActiveCount}}</p>
                  </div>
                  <div><img src="/assets/images/partner/partners-inactive.svg" alt=""></div>
                </mat-card-content>
                <mat-card-footer class="cardFooter">
                  <span class="cardFootervalue"> 
                    <span class="icon-arrow-round-up"></span>
                    <span>{{dashboard_cards?.inActiveIncreased}}%</span></span> Since last month
                </mat-card-footer>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="partnerCard">
                <mat-card-title class="cardTitle">Pending Approvals</mat-card-title>
                <mat-card-content class="cardValue">
                  <div>
                    <p>{{dashboard_cards?.pendingCount}}</p>
                  </div>
                  <div><img src="/assets/images/partner/partners-pending.svg" alt=""></div>
                </mat-card-content>
                <mat-card-footer class="cardFooter">
                  <span class="cardFootervalue">
                    <span class="icon-arrow-round-up"></span>
                    <span>{{dashboard_cards?.pendingIncreased}}%</span></span> Since last month
                </mat-card-footer>
              </mat-card>
            </div>
          </div>
      </div>
    </div>
    <div class="partnerCardTableBody">
      <mat-card class="partnerCard">
        <mat-card-title class="cardTitle">
          <div>Partner's Information List</div>
        </mat-card-title>
        <div class="ag-grid">
          <ag-grid-angular
            style="width: 100%; height: 100%;"
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [sideBar]="sideBar"
            [defaultColDef]="defaultColDef"
            (gridReady)="onGridReady($event)"
            [rowData]="partnerListAgData"
            [pagination]="true"
            [paginationPageSize]="paginationPageSize"
             [paginateChildRows]="true"
            [gridOptions]= "gridOptions"
            [rowModelType]="rowModelType"
            [serverSideStoreType]="serverSideStoreType"
            >
        </ag-grid-angular>
        
      </div>
      </mat-card>
    </div>
  </div>
</div>
