<div class="body">
  <div class="subBody">
    <h3 class="title">Manage Partners</h3>
    <div class="partnerCardBody">
        <div class="container-fluid">
          <div class="row p-1">
            <div class="col-md-3">
              <mat-card class="partnerCard">
                <mat-card-title class="cardTitle">Total Partners</mat-card-title>
                <mat-card-content class="cardValue">
                  <div>
                    <p>{{dashboard_cards ? dashboard_cards.totalCount : ''}}</p>
                  </div>
                  <div><img src="/assets/images/partner/partners.svg" alt=""></div>
                </mat-card-content>
                <!-- <div class="media d-flex">
                  <div class="card-inside-percentage-box">
                      <span>8%</span>
                  </div>
                  <span class="ml-2">Since last month</span>
              </div> -->
                <mat-card-footer class="cardFooter">
                  <span class="cardFootervalue"> <img src="/assets/images/partner/arrow-round-up.svg"
                    alt="">{{dashboard_cards?.totalIncreased}}%</span> Since last month
                </mat-card-footer>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="partnerCard">
                <mat-card-title class="cardTitle">No. of Active Partners</mat-card-title>
                <mat-card-content class="cardValue">
                  <div>
                    <p>{{dashboard_cards?.activeCount}}</p>
                  </div>
                  <div><img src="/assets/images/partner/partners-active.svg" alt=""></div>
                </mat-card-content>
                <mat-card-footer class="cardFooter">
                  <span class="cardFootervalue"> <img src="/assets/images/partner/arrow-round-up.svg"
                    alt="">{{dashboard_cards?.activeIncreased}}%</span> Since last month
                </mat-card-footer>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="partnerCard">
                <mat-card-title class="cardTitle">No. of Inactive Partners</mat-card-title>
                <mat-card-content class="cardValue">
                  <div>
                    <p>{{dashboard_cards?.inActiveCount}}</p>
                  </div>
                  <div><img src="/assets/images/partner/partners-inactive.svg" alt=""></div>
                </mat-card-content>
                <mat-card-footer class="cardFooter">
                  <span class="cardFootervalue"> <img src="/assets/images/partner/arrow-round-up.svg"
                    alt="">{{dashboard_cards?.inActiveIncreased}}%</span> Since last month
                </mat-card-footer>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="partnerCard">
                <mat-card-title class="cardTitle">Pending Approvals</mat-card-title>
                <mat-card-content class="cardValue">
                  <div>
                    <p>{{dashboard_cards?.pendingCount}}</p>
                  </div>
                  <div><img src="/assets/images/partner/partners-pending.svg" alt=""></div>
                </mat-card-content>
                <mat-card-footer class="cardFooter">
                  <span class="cardFootervalue"> <img src="/assets/images/partner/arrow-round-up.svg"
                    alt="">{{dashboard_cards?.pendingIncreased}}%</span> Since last month
                </mat-card-footer>
              </mat-card>
            </div>
          </div>
      </div>
    </div>
    <div class="partnerCardTableBody">
      <mat-card class="partnerCard">
        <mat-card-title class="cardTitle">
          <div>Partner's Information List</div>
          <div class="buttonSlide">
            <mat-button-toggle-group [(ngModel)]="status" (change)="selectStatus()" name="status"
              aria-label="Font Style">
              <mat-button-toggle value="all">All</mat-button-toggle>
              <mat-button-toggle value="active">Active</mat-button-toggle>
              <mat-button-toggle value="inActive">InActive</mat-button-toggle>
              <mat-button-toggle value="pending">Pending</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-card-title>
          <div class="row pl-3 data">
            <div class="col-md-4 p-0">
              <mat-form-field appearance="outline">
                <input matInput  [(ngModel)]="searchData" placeholder="Search by Employer name, Industry Type" class="">
              </mat-form-field>
            </div>
            <div class="col-md-3 p-0">
                <mat-form-field appearance="outline">
                  <input matInput [(ngModel)]="fromDate" for="dp1" placeholder="Enter Start Date" [matDatepicker]="datepicker1" class="">
                </mat-form-field>
                <mat-datepicker-toggle class="toggle-pos"  matSuffix [for]="datepicker1" id="dp1"></mat-datepicker-toggle>
                <mat-datepicker #datepicker1>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
            </div>
            <div class="col-md-3 p-0">
                <mat-form-field appearance="outline">
                  <input [min]="fromDate"  placeholder="Enter End Date" matInput [(ngModel)]="toDate" [matDatepicker]="datepicker">
                </mat-form-field>
                <mat-datepicker-toggle class="toggle-pos" matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
            </div>
            <div class="col-md-2 p-0">
              <button (click)="searchList()" [disabled]="(fromDate == undefined && toDate == undefined && searchData  == '')?true:false" color="primary" type="submit" [ngClass]="(fromDate == undefined && toDate == undefined && searchData  == '')?'notAllow':'search-btn'" >Search</button>
              <a class="clearData" *ngIf="(fromDate == undefined && toDate == undefined && searchData  == '')?false:true" (click)="clearSearch()">Clear all</a>
            </div>
        </div>
        <br>
        <div class="ag-grid">
          <ag-grid-angular
            style="width: 100%; height: 100%;"
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [sideBar]="sideBar"
            [defaultColDef]="defaultColDef"
            (gridReady)="onGridReady($event)"
            [rowData]="partnerlistdata"
            [pagination]="true"
            [paginationPageSize]="paginationPageSize"
             [paginateChildRows]="true"
            [gridOptions]= "gridOptions">
        </ag-grid-angular>
        
      </div>
      </mat-card>
    </div>
  </div>
</div>
