<div class="body">
  <div class="subBody">
    <h3 class="title">VIEW PARTNERS</h3>
    <div class="partnerCardBody">
      <div>
        <mat-card class="partnerCard">
          <mat-card-title class="cardTitle">Total Partners</mat-card-title>
          <mat-card-content class="cardValue">
            <div>
              <p>{{totalPartnerCount}}</p>
            </div>
            <div><img src="/assets/images/partner/partners.svg" alt=""></div>
          </mat-card-content>
          <mat-card-footer class="cardFooter">
            <span class="cardFootervalue"> <img src="/assets/images/partner/arrow-round-up.svg"
              alt="">18%</span> Since last month
          </mat-card-footer>
        </mat-card>
      </div>
      <div>
        <mat-card class="partnerCard">
          <mat-card-title class="cardTitle">No. of Active Partners</mat-card-title>
          <mat-card-content class="cardValue">
            <div>
              <p>{{activePartnerCount}}</p>
            </div>
            <div><img src="/assets/images/partner/partners-active.svg" alt=""></div>
          </mat-card-content>
          <mat-card-footer class="cardFooter">
            <span class="cardFootervalue"> <img src="/assets/images/partner/arrow-round-up.svg"
              alt="">13%</span> Since last month 
          </mat-card-footer>
        </mat-card>
      </div>
      <div>
        <mat-card class="partnerCard">
          <mat-card-title class="cardTitle">No. of Inactive Partners</mat-card-title>
          <mat-card-content class="cardValue">
            <div>
              <p>{{inActivePartnerCount}}</p>
            </div>
            <div><img src="/assets/images/partner/partners-inactive.svg" alt=""></div>
          </mat-card-content>
          <mat-card-footer class="cardFooter">
            <span class="cardFootervalue"> <img src="/assets/images/partner/arrow-round-up.svg"
              alt="">2%</span> Since last month 
          </mat-card-footer>
        </mat-card>
      </div>
      <div>
        <mat-card class="partnerCard">
          <mat-card-title class="cardTitle">Pending Approvals</mat-card-title>
          <mat-card-content class="cardValue">
            <div>
              <p>{{pendingCount}}</p>
            </div>
            <div><img src="/assets/images/partner/partners-pending.svg" alt=""></div>
          </mat-card-content>
          <mat-card-footer class="cardFooter">
            <span class="cardFootervalue"> <img src="/assets/images/partner/arrow-round-up.svg"
              alt="">2%</span> Since last month 
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
    <div class="partnerCardTableBody">
      <mat-card class="partnerCard">
        <mat-card-title class="cardTitle">
          <div>PARTNER'S INFORMATION LIST</div>
          <div class="buttonSlide">
            <mat-button-toggle-group [(ngModel)]="status" (change)="selectStatus()" name="status"
              aria-label="Font Style">
              <mat-button-toggle value="all">All</mat-button-toggle>
              <mat-button-toggle value="active">Active</mat-button-toggle>
              <mat-button-toggle value="inActive">InActive</mat-button-toggle>
              <mat-button-toggle value="pending">Pending</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-card-title>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <input matInput  [(ngModel)]="searchData" placeholder="Search by Company name" class="search">
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-form-field dateborder">
                <input matInput [(ngModel)]="fromDate" [matDatepicker]="datepicker1">
                <mat-datepicker-toggle  matSuffix [for]="datepicker1"></mat-datepicker-toggle>
                <mat-datepicker #datepicker1>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-form-field dateborder">
                <input [min]="fromDate" matInput [(ngModel)]="toDate" [matDatepicker]="datepicker">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <button (click)="searchList()" color="primary" type="submit" class="search-btn">Search</button>
            </div>
          </div>
        </div>
        <br>
        <mat-card-content class="cardValue">
          <div>
            <table mat-table [dataSource]="dataSource" class="">

              <ng-container matColumnDef="img">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> <img *ngIf="element.companyImgURL" class="companyURL"
                    [src]="element.companyImgURL" alt=""> <span *ngIf="!element.companyImgURL">-</span> </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="employerName">
                <th mat-header-cell *matHeaderCellDef> Employer Name </th>
                <td mat-cell *matCellDef="let element"> {{element.company?element.company:"-"}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef> Created Date </th>
                <td mat-cell *matCellDef="let element"> {{element.createdAt?convertDate(element.createdAt):"-"}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="industryType">
                <th mat-header-cell *matHeaderCellDef> Industry Type </th>
                <td mat-cell *matCellDef="let element"> {{element.industryType?element.industryType:"-"}} </td>
              </ng-container>

              <ng-container matColumnDef="spocName">
                <th mat-header-cell *matHeaderCellDef> SPOC Name </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName?element.firstName+" "+element.lastName:"-"}}
                </td>
              </ng-container>

              <ng-container matColumnDef="spocEmail">
                <th mat-header-cell *matHeaderCellDef> SPOC Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email?element.email:"-"}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> 
                  <span [className]="(element.isActive == false && element.isApproved == false)?'rectanglePending':element.isActive == true ? 'rectangleActive' : 'rectangleInActive'">{{(element.isActive == false && element.isApproved == false)?"Pending": element.isActive?"ACTIVE":"INACTIVE"}}</span></td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                  <div class="moreButtonDiv" [matMenuTriggerFor]="menu">
                    <figure>
                      <img class="moreButton" src="../../../../assets/images/partner/more_options.svg">
                    </figure>
                  </div>
                  <mat-menu #menu="matMenu">
                    <button *ngIf="element.isActive == false" mat-menu-item
                      (click)="updateStatus(true,element.email)">Activate</button>
                    <button *ngIf="element.isActive == true" mat-menu-item
                      (click)="updateStatus(false,element.email)">Deactivate</button>
                    <button mat-menu-item (click)="updatePartner(element.email)">Edit</button>

                  </mat-menu>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="customPagination">
              <mat-paginator style-paginator [showTotalPages]="3" [length]="totalPartnerCount" [pageSize]="3"
                [pageSizeOptions]="[3]"
                >
              </mat-paginator>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>