.body {
    height: 100vh;
    background: linear-gradient(180deg, #1B4E9B 60%, #F2F2F2 40%);
    padding-bottom: 20px;
}

.subBody {
    padding-bottom: 75px;
}

.title {
    color: #FFFFFF;
    padding: 15px;
    opacity: 0.7;
    margin-bottom: 0px;

}

.partnerCardBody {
    display: flex;
    justify-content: space-around;

    .partnerCard {
        // max-width: 280px;
        // width: 280px;
        max-height: 125px;
        height: 125px;
        border-radius: 9px;

        .cardTitle {
            font-size: 14px;
            color: #4D4F5C;
        }

        .cardValue {
            font-size: 24px;
            color: #1B4E9B;
            display: flex;
            justify-content: space-between;
            padding-right: 20px;
        }

        .cardFooter {
            font-size: 14px;
            color: #262626;
            padding-left: 15px;

            .cardFootervalue {
                font: normal normal 300 12px/20px Roboto;
                border-radius: 15% !important;
                padding: 2px;
                background-color: #56B35A;
                text-align:center;
                width:60px;
                height:120px;
                color:white;
            }
        }
    }
}

.partnerCardTableBody {
    display: flex;
    justify-content: space-around;
    padding: 20px;

    .partnerCard {
        // max-width: 99%;
        width: 100%;
        // max-height: 330px;
        // height: 330px;
        border-radius: 9px;

        .cardTitle {
            font-size: 16px;
            color: #1B4E9B;
            display: flex;
            justify-content: space-between;
        }

        .buttonSlide {
            .mat-button-toggle-group {
                height: 32px !important;
                align-items: center !important;
                font-size: 12px !important;
                width: 240px !important;
                right: 15px !important;
            }

            .mat-button-toggle {
                background-color: #ffffff;
                color: #004684;
                width: 75px;
            }

            .mat-button-toggle:hover {
                background-color: #004684;
                color: #ffffff !important;
            }

            .mat-button-toggle-checked {
                background-color: #004684;
                color: #ffffff !important;
            }
        }

        .cardValue {
            .companyURL {
                height: 20px;
            }

            table {
                width: 100%;
                border-radius: 5px;
                border: solid 1px #EDEDED;
            }

            th,
            td {
                text-align: start;
            }

            .mat-row:nth-child(even) {
                background-color: #EDEDED;
                color: black;
            }

            .mat-row:nth-child(odd) {
                background-color: white;
                color: black;
            }

            .mat-header-cell {
                background-color: #EDEDED;
                color: #1B4E9B;
            }


            .rectangleInActive {
                font-size: 12px;
                background: #B5CCFC;
                padding: 5px 20px;
                border-radius: 8px;
                color:#384255;
                display: flex;
                justify-content: center;
                align-items: baseline;
                width: 84px;
                margin: 0 auto;
                flex-wrap: nowrap;
            }

            .rectanglePending {
                font-size: 12px;
                background: #FAF5C9;
                padding: 5px 20px;
                border-radius: 8px;
                color: #583906;
                display: flex;
                justify-content: center;
                align-items: baseline;
                width: 84px;
                margin: 0 auto;
                flex-wrap: nowrap;
            }

            .rectangleActive {
                font-size: 12px;
                background: #afe5a3 !important;
                padding: 5px 20px;
                border-radius: 8px;
                color: #358222;
                display: flex;
                justify-content: center;
                align-items: baseline;
                width: 84px;
                margin: 0 auto;
                flex-wrap: nowrap;
            }

            .doticon{
                display: contents !important;
            }

            .moreButton {
                width: 30% !important;
                margin: 5px 0;
                border-radius: 50%;
                // padding: 2px 0;
                box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%);
                background-color: white;
                border: .5px solid #A9BBD5;
                color: #1B4E9B;
                cursor: pointer;

                &:hover {
                    background-color: #D2DEF1;
                    color: #FFFFFF;

                }
            }

            ::ng-deep .mat-paginator-page-size {
                display: none !important;
            }

            ::ng-deep .mat-paginator-range-label {
                display: none !important;
            }

        }
    }
}

::ng-deep.customPagination {
    .mat-icon-button,
    .mat-mini-fab {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .mat-mini-fab {
        &:not([class*=mat-elevation-z]) {
            box-shadow: none;
            border: 1px solid rgba(0,0,0,0.25);
        }
    }
    .mat-mini-fab,
    .mat-icon-button {
        font-size: 12px;
    }
    .mat-paginator-icon {
        line-height: 24px;
        width: 20px;
    }
}

::ng-deep.mat-column-img {
    max-width: 100px;
   }


   .search{
    border: 1px solid #B4B4B4;
    width: 100%;
    height: 46px;
    padding: 5px;
    // top: 17px;
    position: relative;
   }
   .dateborder{
    border: 1px solid #B4B4B4;
    width: 100%;
    height: 46px;
    padding: 5px;
    top: 16px;
    padding: 5px;
   position: absolute;
   }
   .search-btn{
    width: 100%;
    // margin-top: 16px;
    height: 46px;
    position: relative;
    border: none;
    color: #fff;
    background: #1B4E9B;
   }
   .card-inside-percentage-box{
    background: #56B35A 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
width: 33px;
height: 23px;
text-align: center;
padding: 2px;
font-weight: 500;
color: #fff;
}

.toggle-pos{
  position: absolute;
  right: 0px;
  top: 5px;
}


//    mbl responsive

@media only screen and (max-width: 750px) {
    .search-btn{
        width: 27%;
        left: 4px;
    }
}
