.body {
    height: 70vh;
    background: linear-gradient(180deg, #1B4E9B 60%, #F2F2F2 40%);
    padding-bottom: 20px;
}

.subBody {
    padding-bottom: 75px;
}

.title {
    color: #FFFFFF;
    padding: 15px;
    opacity: 0.8;
    margin-bottom: 0px;
    font-size: 20px!important;
    font-weight: 100!important;
}

.partnerCardBody {
    display: flex;
    justify-content: space-around;

    .partnerCard {
        // max-width: 280px;
        // width: 280px;
        max-height: 125px;
        height: 125px;
        border-radius: 9px;

        .cardTitle {
            font-size: 14px;
            color: #4D4F5C;
            margin-bottom: 2px;
        }

        .cardValue {
            font-size: 24px;
            color: #1B4E9B;
            display: flex;
            justify-content: space-between;
            padding-right: 20px;
        }

        .cardFooter {
            font-size: 13px;
            color: #262626;
            padding-left: 15px;

            .cardFootervalue {
                font: normal normal 300 12px/20px Roboto;
                border-radius: 15% !important;
                padding: 3px 4px 2px 3px;
                background-color: #56B35A;
                text-align:center;
                color:white;
                span:first-child{
                    padding-right:2px;
                }
            }
        }
    }
}

.partnerCardTableBody {
    display: flex;
    justify-content: space-around;
    padding: 20px;

    .partnerCard {
        // max-width: 99%;
        width: 100%;
        // max-height: 330px;
        // height: 330px;
        border-radius: 9px;
        height: 668px;

        .cardTitle {
            font-size: 16px;
            color: #1B4E9B;
            display: flex;
            justify-content: space-between;
        }

        .buttonSlide {
            .mat-button-toggle-group {
                height: 32px !important;
                align-items: center !important;
                font-size: 12px !important;
                width: 240px !important;
                right: 15px !important;
            }

            .mat-button-toggle {
                background-color: #ffffff;
                color: #004684;
                width: 75px;
            }

            .mat-button-toggle:hover {
                background-color: #004684;
                color: #ffffff !important;
            }

            .mat-button-toggle-checked {
                background-color: #004684;
                color: #ffffff !important;
            }
        }

        .cardValue {
            .companyURL {
                height: 25px;
                width: 25px;
            }

            table {
                width: 100%;
                border-radius: 5px;
                border: solid 1px #EDEDED;
            }

            th,
            td {         
                text-align: start;
                &.nodata {
                    text-align: center;
                }
            }

            .mat-row:nth-child(even) {
                background-color: #EDEDED;
                color: black;
            }

            .mat-row:nth-child(odd) {
                background-color: white;
                color: black;
            }

            .mat-header-cell {
                background-color: #EDEDED;
                color: #1B4E9B;
            }


            .rectangleInActive {
                font-size: 12px;
                background: #B5CCFC;
                padding: 5px 20px;
                border-radius: 8px;
                color:#384255;
                display: flex;
                justify-content: center;
                align-items: baseline;
                width: 84px;
                margin: 0 auto;
                flex-wrap: nowrap;
            }

            .rectanglePending {
                font-size: 12px;
                background: #FAF5C9;
                padding: 5px 20px;
                border-radius: 8px;
                color: #583906;
                display: flex;
                justify-content: center;
                align-items: baseline;
                width: 84px;
                margin: 0 auto;
                flex-wrap: nowrap;
            }

            .rectangleActive {
                font-size: 12px;
                background: #afe5a3 !important;
                padding: 5px 20px;
                border-radius: 8px;
                color: #358222;
                display: flex;
                justify-content: center;
                align-items: baseline;
                width: 84px;
                margin: 0 auto;
                flex-wrap: nowrap;
            }

            .doticon{
                display: contents !important;
            }

            .moreButton {
                width: 30% !important;
                margin: 5px 0;
                border-radius: 50%;
                // padding: 2px 0;
                box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%);
                background-color: white;
                border: .5px solid #A9BBD5;
                color: #1B4E9B;
                cursor: pointer;

                &:hover {
                    background-color: #D2DEF1;
                    color: #FFFFFF;

                }
            }

            .inputContainer {
                label {
                    display: block;
                    color: #262626;
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 0.5em;
    
                    span {
                        color: red;
                    }
                }
            }

            // ::ng-deep .mat-paginator-page-size {
            //     display: none !important;
            // }

            // ::ng-deep .mat-paginator-range-label {
            //     display: none !important;
            // }

        }
    }
    .clearData{
      padding-left: 5px;
      color: #004684;
      text-decoration: underline;
      cursor: pointer;
    }
    //ag-grid
}
.ag-theme-alpine {
    --ag-header-height: 20px;
    --ag-header-foreground-color: #1b4e9b 25%;
    --ag-header-background-color: hsl(216, 25%, 75%);
    --ag-odd-row-background-color: rgba(237, 237, 237, 0.6);
    color: #1b4e9b;
    font-size: 14px;
    border-radius: 5px 0px 0px 5px;
   
    font-weight: 500;
    letter-spacing: 0.33px;
  }
.ag-grid{
    width: 100%;
    height: 536px;
    font: normal normal normal 13px/18px Roboto;
    letter-spacing: 0px;
    color: #262626;
}

::ng-deep.status-button{   
.active-button {
    display: flex;
    height: 24px;
    align-items: center;
    width: 75px;
    top: 8px;
    position: relative;
    background-color:#49AE3166;
    font-weight: 400;
    border-radius: 4px;
    color: #358222;
    border:none;
    justify-content: center;
    font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0.3px;
  }
  .inactive-button {
    display: flex;
    height: 24px;
    align-items: center;
    width: 75px;
    top: 8px;
    position: relative;
    background-color: #B5CCFC;
    font-weight: 400;
    border-radius: 4px;
    color: #384255;
    border:none;
    justify-content: center;
    font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0.3px;
  }

  .pending-button {
    display: flex;
    height: 24px;
    align-items: center;
    width: 75px;
    top: 8px;
    position: relative;
    background-color: #26C1F666;
    font-weight: 400;
    border-radius: 4px;
    color: #147EA2;
    border:none;
    justify-content: center;
    font: normal normal 300 12px/16px Roboto;
  letter-spacing: 0.3px;
  }
}

  
::ng-deep.customPagination {
    .mat-icon-button,
    .mat-mini-fab {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .mat-mini-fab {
        &:not([class*=mat-elevation-z]) {
            box-shadow: none;
            border: 1px solid rgba(0,0,0,0.25);
        }
    }
    .mat-mini-fab,
    .mat-icon-button {
        font-size: 12px;
    }
    .mat-paginator-icon {
        line-height: 24px;
        width: 20px;
    }
}

::ng-deep.mat-column-img {
    max-width: 100px;
   }


   .search{
    // border: 1px solid #B4B4B4;
    width: 100%;
    height: 46px;
    padding: 5px;
    // top: 17px;
    position: relative;
   }
   .dateborder{
    // border: 1px solid #B4B4B4;
    width: 100%;
    height: 46px;
    padding: 5px;
    top: 16px;
    padding: 5px;
   position: absolute;
   }
   .search-btn{
    width: 50%;
    // margin-top: 16px;
    // height: 46px;
    padding: 10px;
    position: relative;
    border: none;
    color: #fff;
    background: #1B4E9B;
    border-radius: 5px;
    cursor: pointer;
   }
   .notAllow{
    width: 50%;
    padding: 10px;
    position: relative;
    border: none;
    color: #fff;
    background: #1B4E9B;
    border-radius: 5px;
    cursor: not-allowed;
   }
   .card-inside-percentage-box{
    background: #56B35A 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
width: 33px;
height: 23px;
text-align: center;
padding: 2px;
font-weight: 500;
color: #fff;
}

.toggle-pos{
  position: absolute;
  right: 0px;
//   top: 5px;
}


//    mbl responsive

@media only screen and (max-width: 750px) {
    .search-btn{
        width: 27%;
        left: 4px;
    }
}

.inputCom {
    width: 96%;
}

::ng-deep.data {
    align-items: center;
    .mat-form-field {
        width: 98%;
    }

    .mat-form-field-label-wrapper {
        top: 0;
        padding-top: 0;
        overflow: initial;
    }

    .mat-form-field-infix {
        border-top: 0;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
        top: 0;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 10px 0 !important;
    }

    input.mat-input-element,
    .mat-form-field-appearance-outline .mat-form-field-flex {
        margin-top: 0;
    }

    input.mat-input-element {
        line-height: normal;
        font-size: 1.1em;
        font-weight: 400;
    }

    .mat-form-field-appearance-outline .mat-form-field-wrapper {
        margin: 0;
        padding-bottom: 0 !important;
    }


    .mat-form-field-appearance-outline .mat-form-field-label {
        margin-top: -0em;
        top: 1em;
    }

    .mat-label {
        color: rgba(55, 51, 49, 0.6);
        font-size: 0.825em;
        font-weight: 400;
    }

    .mat-warn .mat-input-element,
    .mat-form-field-invalid .mat-input-element {
        caret-color: red;
    }

    .error,
    .mat-form-field.mat-form-field-invalid .mat-form-field-label,
    .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
        color: red;
        font-size: 12px;
    }

    .mat-form-field-prefix {
        display: none;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #8E8E8E;
    }

    .mat-form-field-appearance-outline .mat-form-field-suffix {
        top: 0.25em;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
        color: #8E8E8E;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
    .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
    .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
        border-width: 1px;
    }

}
