<div class="certifyWrapper">
  <header>
    <div class="container">
      <div class="wrapper">
        <figure>
          <img src="/assets/images/header_logo.png" alt="Logo" />
        </figure>
        <div class="heading" >
          <!-- <span><strong>Certificate</strong> of completion</span> -->
          <img src="/assets/images/verified_Mob.png" alt="" />
        </div>
          <figure class="certified">
            <img src="/assets/images/certified.svg" alt="Certified" />
          </figure>
      </div>
    </div>
  </header>
  <section class="certification" *ngIf="!nocard">
    <div class="container">
      <h1 class="candidate-header">Candidate Details</h1>
      <div class="wrapper">
        <div class="left">
          <div class="profile-wrapper">
          <figure>
            <img [src] ="certificateData?.profileImage ? (certificateData?.profileImage + blobToken) :'https://assets.lntedutech.com/application_images/pro2.png'" alt="" />
          </figure>
          <div class="c-name">Avinasi Selvakumar Ramachandran Rao</div>
          </div>
        </div>
        <div class="right">
          <ul>
            <li>
              <span>Email</span> <span>{{'Avinash.selvakuar@gmail.com'}}</span>
            </li>
            <li>
              <span>Date of Birth</span> <span>{{'1995-06-12'}}</span>
            </li>
            <li>
              <span>Gender</span> <span>{{'Male'}}</span>
            </li>
            <li>
              <span>College/University</span> <span>{{'Nationaal Instatitute of Technology'}}</span>
            </li>
            <li>
              <span>Specialization</span> <span>{{'B.Tech'}}</span>
            </li>
            <li>
              <span>Branch</span> <span>{{'Information Technology'}}</span>
            </li>
            <li>
              <span>Passing year</span> <span>{{'2017-05-01'}}</span>
            </li>
            <li>
              <span>Graduation Aggregate</span> <span>{{'86.72%'}}</span>
            </li>
            <li>
              <span>Contact No</span> <span>{{'9862372383'}}</span>
            </li>
            <li>
              <span>Father's Name</span> <span>{{'Selvamani'}}</span>
            </li>
            <li>
              <span>Address</span> <span>{{'46/38, Manimandaba Salai, Gandhi Market, Near Ponnan Egg shop, Trichy - 620008, Landmark: Boologanathar Temple Street'}}</span>
            </li>

          </ul>
          <!-- <div class="skillsAcquired">
            <h6>Skills acquired</h6>
            <div>
              <span *ngFor="let item of certificateData?.skillsAcquired">{{item}}</span>
            </div>
          </div> -->
          <!-- <figure class="verified">
            <img src="/assets/images/verified.png" alt="" />
          </figure> -->
        </div>
      </div>
    </div>
  </section>
  <div *ngIf="nocard" class="noDataFound">
    <figure>
        <img src="https://lmsassetspremium.lntedutech.com/portalicons/no-categories.webp" alt="" />
    </figure>
    <div class="heading3">No Certficate Found!</div>
  </div>
  <footer>
    <div class="container">
      <div class="wrapper">
        <span class="copyrights">
          &copy; 2022 L&T EduTech. All rights reserved
        </span>
        <nav>
          <a href="https://lntedutech.com/privacy-policy-2/">Privacy policy</a>
          <!--<a href="#">Terms & conditions</a>-->
        </nav>
      </div>
    </div>
  </footer>
</div>

