<section class="template_box">
  <div class="top-section">
    <div (click)="gotoResumePage()"><mat-icon>arrow_back</mat-icon>Back</div>
    <div>
      <button>Download</button>
    </div>
  </div>
  <section id="inner_template" #inner_template>
    <div class="user_intro">
      <div class="first-div"><img src="assets/images/candidate-userprofile.png"></div>
      <div class="second-div">
        <p class="username_title">John Doe</p>
        <p class="username_subtitle">B.Sc (Computer Science)</p>
        <p class="user_addres">No.6, Loreum street, Ipsum Place, Wander name,emit user- 100001</p>
        <p class="user_phone">+001234343</p>
        <p class="user_email">j.doe@google.com</p>
      </div>
    </div>
    <div class="user_intro topic">
      <div class="first-div">
        <p class="res_icon"></p>
        <p class="res_title">Education</p>
      </div>
      <div class="second-div">
        <div class="flex_spacing">
          <div>2022</div>
          <div>
            <p class="cv_title">Name of Major - <span>69%</span></p>
            <p class="cv_subtitle">Name of University/Institution</p>
          </div>
        </div>
        <div class="flex_spacing">
          <div>2018</div>
          <div>
            <p class="cv_title">Name of Major - <span>71%</span></p>
            <p class="cv_subtitle">Name of University/Institution</p>
          </div>
        </div>
        <div class="flex_spacing">
          <div>2018</div>
          <div>
            <p class="cv_title">Name of Major - <span>70%</span></p>
            <p class="cv_subtitle">Name of University/Institution</p>
          </div>
        </div>
      </div>
    </div>

    <div class="user_intro topic">
      <div class="first-div">
        <p class="res_icon"></p>
        <p class="res_title">Skills</p>
      </div>
      <div class="second-div skillset cv_spacing">
        <button>Java</button>
        <button>Dotnet</button>
      </div>
    </div>

    <div class="user_intro topic">
      <div class="first-div">
        <p class="res_icon"></p>
        <p class="res_title">Projects</p>
      </div>
      <div class="second-div Project cv_spacing">
        <p class="cv_title">Name of the Project</p>
        <p class="cv_subtitle">Project Description Loreum street, Ipsum PlaceLoreum street, Ipsum PlaceLoreum street,
          Ipsum PlaceLoreum street, Ipsum PlaceLoreum street, Ipsum PlaceLoreum street, Ipsum Place</p>
      </div>
    </div>

    <div class="user_intro topic">
      <div class="first-div">
        <p class="res_icon"></p>
        <p class="res_title">Certifications</p>
      </div>
      <div class="second-div certification cv_spacing">
        <div>
          <p class="cv_title">Name of the Certification</p>
          <p class="cv_subtitle">Project Description Loreum street, Ipsum PlaceLoreum street, Ipsum PlaceLoreum street,
            Ipsum PlaceLoreum street, Ipsum PlaceLoreum street, Ipsum PlaceLoreum street, Ipsum Place</p>
        </div>
        <div>
          <p class="cv_title">Name of the Certification</p>
          <p class="cv_subtitle">Project Description Loreum street, Ipsum PlaceLoreum street, Ipsum PlaceLoreum street,
            Ipsum PlaceLoreum street, Ipsum PlaceLoreum street, Ipsum PlaceLoreum street, Ipsum Place</p>
        </div>
      </div>
    </div>

    <div class="user_intro topic">
      <div class="first-div">
        <p class="res_icon"></p>
        <p class="res_title">Languages <br> Known</p>
      </div>
      <div class="second-div languages cv_spacing">
        <table>
          <tr>
            <th></th>
            <th class="cv_title">Read</th>
            <th class="cv_title">Write</th>
            <th class="cv_title">Speak</th>
          </tr>
          <tr>
            <td class="cv_title">Tamil</td>
            <td class="lang"><span class="icon-check-rounded"></span></td>
            <td class="lang"><span class="icon-check-rounded"></span></td>
            <td class="lang"><span class="icon-check-rounded"></span></td>
          </tr>
          <tr>
           <td class="cv_title">English</td>
            <td class="lang"><span class="icon-check-rounded"></span></td>
            <td class="lang"><span class="icon-check-rounded"></span></td>
            <td class="lang"><span class="icon-check-rounded"></span></td>
          </tr>
         <tr>
            <td class="cv_title">Telugu</td>
            <td class="lang"><span class="icon-check-rounded"></span></td>
            <td class="lang"><span class="icon-check-rounded"></span></td>
            <td class="lang"><span class="icon-check-rounded"></span></td>
          </tr>
          <tr>
            <td class="cv_title">Hindi</td>
            <td class="lang"><span class="icon-close-rounded"></span></td>
            <td class="lang"><span class="icon-close-rounded"></span></td>
            <td class="lang"><span class="icon-check-rounded"></span></td>
          </tr>
        </table>
      </div>
    </div>


    <div class="user_intro topic">
      <div class="first-div">
        <p class="res_icon"></p>
        <p class="res_title">Hobbies</p>
      </div>
      <div class="second-div hobbies cv_spacing">
        <div>
         <p class="hoby"><span class="dot"></span><span class="cv_subtitle">Watching TV</span></p>
         <p class="hoby"><span class="dot"></span><span class="cv_subtitle">Playing Video Games</span></p>
         <p class="hoby"><span class="dot"></span><span class="cv_subtitle">Playing Table Tenis</span></p>
        </div>
       
      </div>
    </div>
  </section>
</section>