<main #trackScroll class="main main--top"(scroll)="onScrollEvent($event);">



  <section class="section-about">
    <div class="section-about__image wow animate__animated animate__fadeIn"><img src="https://assets.lntedutech.com/Skillexchange/about-image-1.jpg" alt="" /></div>
<div class="container">

</div>

</section>
<section class="section-roadmap">
<div class="section-roadmap__container container">
 <h1 class="section-roadmap__title wow animate__animated animate__fadeInLeft animated">Employ your workforce from a pre-assessed<br> and certified talent pool
  </h1>
<p class="section-roadmap__text wow animate__animated animate__fadeIn animated">Reach out to talent pool of pre-assessed and certified fresh graduates with skills from the latest niche & emerging technologies across domains pan India. Skill Exchange helps employers enable just in time hiring and Fullfill sudden surge in demands.</p>
<ul class="section-icon-list__list list-unstyled row">
  <li class="section-icon-list__item col-md-3 wow animate__animated animate__fadeIn animated">
    <div class="section-icon-list__item-wrapper">
      <div class="section-icon-list__item-icon">
        <i class="icon-graduation-cap-solid"></i>
      </div>
      <h3 class="section-icon-list__item-title">Access to a large <br>talent pool</h3>
      </div>
  </li>
  <li class="section-icon-list__item col-md-3 wow animate__animated animate__fadeIn animated">
    <div class="section-icon-list__item-wrapper">
      <div class="section-icon-list__item-icon">
        <i class="icon-hourglass-half-solid"></i>
      </div>
      <h3 class="section-icon-list__item-title">Hire from pre-assessed and certified candidates</h3>
      </div>
  </li>
  <li class="section-icon-list__item col-md-3 wow animate__animated animate__fadeIn animated">
    <div class="section-icon-list__item-wrapper">
      <div class="section-icon-list__item-icon">
        <i class="icon-bolt-lightning-solid"></i>
      </div>
      <h3 class="section-icon-list__item-title">Enable just-in-time <br>hiring</h3>

    </div>
  </li>
  <li class="section-icon-list__item col-md-3 wow animate__animated animate__fadeIn animated">
    <div class="section-icon-list__item-wrapper">
      <div class="section-icon-list__item-icon">
        <i class="icon-Font_Awesome_5_solid_universal-access"></i>
      </div>
      <h3 class="section-icon-list__item-title">Shortlist from ready-to-deploy candidates</h3>

    </div>
  </li>
  <li class="section-icon-list__item col-md-3 wow animate__animated animate__fadeIn animated">
    <div class="section-icon-list__item-wrapper">
      <div class="section-icon-list__item-icon">
        <span class="icon-map-marker-svgrepo-com"></span>
      </div>
      <h3 class="section-icon-list__item-title">Shortlist from skill-based profiles across India
      </h3>

    </div>
  </li>
  <li class="section-icon-list__item col-md-3 wow animate__animated animate__fadeIn animated">
    <div class="section-icon-list__item-wrapper">
      <div class="section-icon-list__item-icon">
        <i class="icon-Font_Awesome_5_regular_life-ring"></i>
      </div>
      <h3 class="section-icon-list__item-title">Select skilled candidates from emerging technologies
      </h3>

    </div>
  </li>
  <li class="section-icon-list__item col-md-3 wow animate__animated animate__fadeIn animated">
    <div class="section-icon-list__item-wrapper">
      <div class="section-icon-list__item-icon">
        <i class="icon-level-up-alt-svgrepo-com"></i>
      </div>
      <h3 class="section-icon-list__item-title">Fullfill sudden surge in<br> demand
      </h3>

    </div>
  </li>
  <li class="section-icon-list__item col-md-3 wow animate__animated animate__fadeIn animated">
    <div class="section-icon-list__item-wrapper">
      <div class="section-icon-list__item-icon">
        <i class="icon-cogs-svgrepo-com"></i>
      </div>
      <h3 class="section-icon-list__item-title">Improve productivity from <br>Day 1
      </h3>

    </div>
  </li>
</ul>
<div class="text-center">
<a [routerLink]="endPoints.EMPLOYERS" class="section-action__link button button--primary wow animate__animated animate__fadeInUp border-0" data-wow-delay="0.3s">Join as Hiring Partner</a>
</div>
</div>
</section>

  <section class="section-testimonials">
<div class="section-testimonials__container container">
<h2 class="section-testimonials__title">Who Can Partner</h2>

<div class="section-cards__list row" style="justify-content:center">
  <div class="section-cards__item section-cards__item--v2 col-md-6 col-xl-3">
    <div class="section-cards__card section-cards__card--v2">
      <div class="section-cards__number">01</div>
      <h4 class="section-cards__title">Open to employers across all industry sectors</h4>

    </div>
  </div>
  <div class="section-cards__item section-cards__item--v2 col-md-6 col-xl-3">
    <div class="section-cards__card section-cards__card--v2">
      <div class="section-cards__number">02</div>
      <h4 class="section-cards__title">Looking to onboard fresh graduates</h4>

    </div>
  </div>
  <div class="section-cards__item section-cards__item--v2 col-md-6 col-xl-3">
    <div class="section-cards__card section-cards__card--v2">
      <div class="section-cards__number">03</div>
      <h4 class="section-cards__title">Exploring to source from across the country</h4>

    </div>
  </div>
  <div class="section-cards__item section-cards__item--v2 col-md-6 col-xl-3">
    <div class="section-cards__card section-cards__card--v2">
      <div class="section-cards__number">04</div>
      <h4 class="section-cards__title">Looking for trained and assessed graduates</h4>

    </div>
  </div>
  <div class="text-center">
    <a [routerLink]="endPoints.EMPLOYERS" class="section-action__link button button--primary wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">Join as Hiring Partner</a>
    </div>
</div>

</div>
</section>
<section class="section-team">
<div class="section-team__container container">
<h2 class="section-team__title">Journey</h2>
<div class="row align">
  <ul class="timeline" id="timeline">
    <li class="li complete">
      <div class="timestamp">
      <div class="section-icon-list__item-icon">
        <i class="icon-level-up-alt-svgrepo-com"></i>
      </div>
      </div>
      <div class="status">
      <h5 class="status_list"> Corporate Sign Up</h5>
      </div>
    </li>
    <li class="li complete">
      <div class="timestamp">
      <div class="section-icon-list__item-icon">
        <i class="icon-graduation-cap-solid"></i>
      </div>
      </div>
      <div class="status">
      <h5 class="status_list"> Access to Talent Pool </h5>
      </div>
    </li>
    <li class="li complete">
      <div class="timestamp">
      <div class="section-icon-list__item-icon">
        <i class="icon-Font_Awesome_5_solid_universal-access"></i>
      </div>
      </div>
      <div class="status">
      <h5 class="status_list"> Shortlisting Fresh Graduates </h5>
      </div>
    </li>
    <li class="li complete">
      <div class="timestamp">
      <div class="section-icon-list__item-icon">
        <i class="icon-Font_Awesome_5_regular_life-ring"></i>
      </div>
      </div>
      <div class="status">
      <h5 class="status_list"> Interview & Onboarding </h5>
      </div>
    </li>
     </ul>
</div>
</div>
</section>

<section class="section-partners" style="background-color: none;" >
<div class="section-partners__container container">
<h2 class="section-team__title">Hiring Partners</h2>

   <owl-carousel-o [options]="customOptions" >
        <ng-container *ngFor="let img of HiringPartners" >
          <ng-template carouselSlide >
            <img class="section-team__item-image" style="height: 100px;width: 200px;margin: 0px 0px 0px 55px;" [src]="img.url">
          </ng-template>
        </ng-container>
      </owl-carousel-o>

<div class="swiper-pagination"></div>
<div class="text-center" style="padding:20px 0px;">
  <a class="link-demo link-demo"[routerLink]="endPoints.LANDINGPAGE.HIRINGPARTNER">View All</a>

</div>
</div>
</section>
<section class="section-banner wow animate__animated animate__pulse animated" style="visibility: visible; animation-name: pulse;">
<div class="section-banner__container container">
<div class="section-banner__wrapper">
  <div class="section-banner__content">
    <h2 class="section-banner__title">Looking to hire Pre-Assessed and Certified Fresh Graduates</h2>
    <p class="section-banner__text">We'll be glad to have you onboard! To join as a hiring partner, write to meher.k@lntecc.com</p>
  </div>
  <a [routerLink]="endPoints.EMPLOYERS" class="section-banner__link button button--white">Join as Hiring Partner</a>
</div>
</div>
</section>
<app-landing-footer></app-landing-footer>
<div style="padding-bottom: 50px;"></div>
</main>
