<div class="body_area">
    <app-landing-header></app-landing-header>
    <div class="contentArea">
        <div style="height: 100%">
            <div class="app-Header">
                <section class="bannerSection">
                    <div class="bannerWrapper">
                        <div class="owlCarouselWrapper">
                            <owl-carousel-o [options]="owlCarouselOptions">
                                <ng-container>
                                    <ng-template class="imageWrapper" carouselSlide>
                                        <div class="bannerContent blackColor">
                                            <div class="heading">
                                                <strong>Kick-Start your Career</strong>
                                            </div>
                                            <div class="heading-sub">
                                                <span> with your </span> <strong>dream company</strong>
                                            </div>
                                        </div>
                                        <figure>
                                            <img src="assets/images/landing/Banner_1.jpg" alt="" />
                                        </figure>
                                    </ng-template>
                                    <ng-template class="imageWrapper" carouselSlide>
                                        <div class="bannerContent whiteColor banner_2_div">
                                            <div class="heading">
                                                <strong>Hire your Workforce</strong>
                                            </div>
                                            <div class="heading">
                                                <strong>from our Certified Talent Pool</strong>
                                            </div>
                                        </div>
                                        <figure class="banner_2">
                                            <img src="assets/images/landing/Banner_2.jpg" alt="" />
                                        </figure>
                                    </ng-template>
                                    <ng-template class="imageWrapper" carouselSlide>
                                        <div class="bannerContent whiteColor">
                                            <div class="heading ">
                                                <strong>A Place to Network</strong>
                                            </div>
                                            <div class="heading-sub">
                                                <span>with </span> <strong>Next-Gen Talent</strong>
                                            </div>
                                        </div>
                                        <figure>
                                            <img src="assets/images/landing/Banner_3.jpg" alt="" />
                                        </figure>
                                    </ng-template>
                                </ng-container>
                            </owl-carousel-o>
                        </div>
                    </div>
                </section>
            </div>
            <section class="skill-exchange-Container">
                <div class="container skill-exchange">
                    <div class="flex-wrapper">
                        <div class="image-wrapper">
                            <figure>
                                <img [src]="'assets/images/landing/skill_exchange2.png'" alt="" srcset="">
                            </figure>
                        </div>
                        <div class="content-wrapper">
                            <div class="heading-container">
                                <div class="commonHeadingStyle">{{'Skills Exchange'}}</div>
                            </div>
                            <div class="content">
                                L&T EduTech’s Skills Exchange is a platform for students and recent graduates to meet India’s premiere employers and vice versa. New graduates—students who are about to take their course-end examinations and recent graduates with up to two years of experience—can
                                create customized profiles to showcase their talent, skillsets, credentials and assessment scores to prominent employers on the platform. Based on their profiles and the specific requirements of a job, these aspirants are
                                further selected and shortlisted for the hiring process by employers.
                                <br><br>The platform is also ideal for corporates looking to engage and employ skilled, talented, pre-assessed and job-ready candidates. Exclusive filtering is offered for corporates to get candidates vetted by L&T via
                                its intensive courses and rigorous assessments.
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="howItWorks">
                <div class="container howItWorksWrapper">
                    <div class="flex-wrapper">
                        <div class="content-wrapper">
                            <div class="card">
                                <div class="bg-white">
                                    <div class="profileImage">
                                        <figure>
                                            <img class="seekersImg" [src]="'assets/images/landing/newLanding/jobseekers.png'">
                                        </figure>
                                    </div>
                                </div>
                                <div class="cardTitle">
                                    For Graduates / Job Seekers
                                </div>

                                <div class="list">
                                    <div class="listView">
                                        <img [src]="'assets/images/landing/newLanding/skillprofile.png'">
                                        <span class="title">Create customized skill profile</span>
                                    </div>
                                    <div class="listView">
                                        <img [src]="'assets/images/landing/newLanding/talent.png'">
                                        <span class="title">Showcase core skillset and other talent</span>
                                    </div>
                                    <div class="listView">
                                        <img [src]="'assets/images/landing/newLanding/scores.png'">
                                        <span class="title">Showcase assessment scores</span>
                                    </div>
                                    <div class="listView">
                                        <img [src]="'assets/images/landing/newLanding/organisations.png'">
                                        <span class="title">Be visible to top organisations</span>
                                    </div>
                                    <div class="listView">
                                        <img [src]="'assets/images/landing/newLanding/time.png'">
                                        <span class="title">Get curated job notifications on time</span>
                                    </div>
                                    <div class="listView">
                                        <img [src]="'assets/images/landing/newLanding/peers.png'">
                                        <span class="title">Have a competitive edge over peers</span>
                                    </div>
                                    <div class="listView">
                                        <img [src]="'assets/images/landing/newLanding/employers.png'">
                                        <span class="title">Get access to multiple jobs from top employers</span>
                                    </div>

                                </div>

                            </div>
                            <div class="arrow">
                                <figure>
                                    <img [src]="'assets/images/landing/newLanding/skillexchange.png'" alt="" srcset="">
                                </figure>
                            </div>
                            <div class="card">
                                <div class="bg-white">
                                    <div class="profileImage">
                                        <figure>
                                            <img class="seekersImg" [src]="'assets/images/landing/newLanding/foremployers.png'">
                                        </figure>
                                    </div>
                                </div>
                                <div class="cardTitle">
                                    For Employers
                                </div>

                                <div class="list">
                                    <div>
                                        <img [src]="'assets/images/landing/newLanding/pool.png'">
                                        <span>Have access to a large talent pool</span>
                                    </div>
                                    <div>
                                        <img [src]="'assets/images/landing/newLanding/candidates.png'">
                                        <span>Have access to certified and skilled candidates</span>
                                    </div>
                                    <div>
                                        <img [src]="'assets/images/landing/newLanding/pre-assessed.png'">
                                        <span>Have access to pre-assessed candidates</span>
                                    </div>
                                    <div>
                                        <img [src]="'assets/images/landing/newLanding/postings.png'">
                                        <span>Make free and unlimited job postings</span>
                                    </div>
                                    <div>
                                        <img [src]="'assets/images/landing/newLanding/hiring.png'">
                                        <span>Enable just-in-time hiring</span>
                                    </div>
                                    <div>
                                        <img [src]="'assets/images/landing/newLanding/ready.png'">
                                        <span>Select from ready-to-be-deployed candidates</span>
                                    </div>
                                    <div>
                                        <img [src]="'assets/images/landing/newLanding/profile.png'">
                                        <span>Shortlist from skill-based profiles</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="benefits">
                <div class="container">
                    <div class="heading-container">
                        <div class="commonHeadingStyle">{{'Job Seekers'}}</div>
                        <div class="heading-content">
                            Transitioning from college to the professional world, many young people feel disoriented, confused, dissatisfied, and overwhelmed.<br> Skills Exchange is a one-of-a-kind platform that helps these talented and skilled new graduates
                            land jobs in-line with their education and core skillsets.
                        </div>
                    </div>
                    <div class="benefits-content-wrapper">
                        <div class="inner-wrapper">
                            <div class="image-wrapper">
                                <figure>
                                    <img [src]="'assets/images/landing/newLanding/demandtalent.png'" alt="" srcset="">
                                </figure>
                            </div>
                            <div class="content-wrapper">
                                <div class="flex-container">
                                    <div class="heading">
                                        Who can Apply
                                    </div>
                                    <div class="content">
                                        <div class="listView">
                                            <img class="tickmark" [src]="'assets/images/landing/newLanding/check.png'">
                                            <span>Individuals certified by L&T EduTech</span>
                                        </div>
                                        <div class="listView">
                                            <img class="tickmark" [src]="'assets/images/landing/newLanding/check.png'">
                                            <span>Individuals pre-assessed by L&T EduTech</span>
                                        </div>
                                        <div class="listView">
                                            <img class="tickmark" [src]="'assets/images/landing/newLanding/check.png'">
                                            <span>Students who are about to take or have just taken the course-end examinations</span>
                                        </div>
                                        <div class="listView">
                                            <img class="tickmark" [src]="'assets/images/landing/newLanding/check.png'">
                                            <span>Recent graduates with up to two years of experience</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="benefits-box">
                            <div class="heading">
                                Benefits
                            </div>
                            <!-- <div class="heading-content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div> -->
                            <div class="flex-container">
                                <div class="flex-item-left">
                                    <img [src]="'assets/images/landing/newLanding/steps.png'">
                                    <div>Register in just a few simple steps</div>
                                </div>
                                <div class="flex-item-left">
                                    <img [src]="'assets/images/landing/newLanding/profiles.png'">
                                    <div>Build your skill profiles</div>
                                </div>
                                <div class="flex-item-left">
                                    <img [src]="'assets/images/landing/newLanding/employers1.png'">
                                    <div>Be notified of jobs from top employers</div>
                                </div>
                                <div class="flex-item-left">
                                    <img [src]="'assets/images/landing/newLanding/organisations1.png'">
                                    <div>Get interviews with top organisations</div>
                                </div>
                                <div class="flex-item-left">
                                    <img [src]="'assets/images/landing/newLanding/competitors.png'">
                                    <div>Have an edge over peers and competitors</div>
                                </div>
                                <div class="flex-item-left">
                                    <img [src]="'assets/images/landing/newLanding/interests.png'">
                                    <div>Land jobs that best suit your skills and interests</div>
                                </div>
                            </div>
                            <!-- <div class="flex-container">
                               
                            </div> -->

                            <div class="btn-body">
                                <div class="btn" (click)="openJobSeekers()">
                                    Build my skill profile now
                                </div>
                            </div>
                        </div>


                        <!-- <div class="inner-wrapper">
                            <div class="content-wrapper">
                                <div class="flex-container">
                                    <div class="heading">
                                        Untapped Talent
                                    </div>
                                    <div class="content">
                                        Facilitating democratisation of talent and enabling employers tap good talent beyond over-used sources of talent in academic institutions and locations.
                                    </div>
                                </div>
                            </div>
                            <div class="image-wrapper">
                                <figure>
                                    <img [src]="'assets/images/landing/untapped.png'" alt="" srcset="">
                                </figure>
                            </div>
                        </div>

                        <div class="inner-wrapper">
                            <div class="image-wrapper">
                                <figure>
                                    <img [src]="'assets/images/landing/hiring.png'" alt="" srcset="">
                                </figure>
                            </div>

                            <div class="content-wrapper">
                                <div class="flex-container">
                                    <div class="heading">
                                        Just-in-time Hiring
                                    </div>
                                    <div class="content">
                                        Ready pool of talent from a continuosly database to meet employers’ requirement of fulfilling sudden surge in demand.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="inner-wrapper">
                            <div class="content-wrapper">
                                <div class="flex-container">
                                    <div class="heading">
                                        Day One Productivity
                                    </div>
                                    <div class="content">
                                        The talent pool in the Skills Exchange is mostly trained and certified to meet employers’ requirements of ready to deploy talent.
                                    </div>
                                </div>
                            </div>
                            <div class="image-wrapper">
                                <figure>
                                    <img [src]="'assets/images/landing/productivity.png'" alt="" srcset="">
                                </figure>
                            </div>
                        </div> -->

                    </div>
                </div>
            </section>
            <!-- //Employers -->
            <section class="employers">
                <div class="container">
                    <div class="heading-container">
                        <div class="commonHeadingStyle">{{'Employers'}}</div>
                        <div class="heading-content">
                            With the growing need for niche talent and newer skillsets, often scores and grades are not the only criteria employers need to assess candidates. Skills Exchange is a talent pool of pre-assessed and certified candidates for employers looking to hire.
                            It contains detailed profiles of registered, skilled and talented individuals, including pre-assessed and certified candidates from L&T EduTech.
                        </div>
                    </div>
                    <div class="benefits-content-wrapper">
                        <div class="inner-wrapper">
                            <div class="image-wrapper">
                                <figure>
                                    <img [src]="'assets/images/landing/newLanding/partner.png'" alt="" srcset="">
                                </figure>
                            </div>
                            <div class="content-wrapper">
                                <div class="flex-container">
                                    <div class="heading">
                                        Who can Partner
                                    </div>
                                    <div class="content">
                                        <p>The Skills Exchange platform is open to employers across all</p>
                                        <p>industry segments who are looking to hire freshers and recent </p>
                                        <p>from India.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="benefits-box">
                            <div class="heading">
                                Benefits
                            </div>
                            <!-- <div class="heading-content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div> -->
                            <div class="flex-container">
                                <div class="flex-item-left">
                                    <img [src]="'assets/images/landing/newLanding/pools.png'">
                                    <div>Hire from a pre-assessed talent pool</div>
                                </div>
                                <div class="flex-item-left">
                                    <img [src]="'assets/images/landing/newLanding/talents.png'">
                                    <div>Have immediate access to on-demand talent</div>
                                </div>
                                <div class="flex-item-left">
                                    <img [src]="'assets/images/landing/newLanding/group.png'">
                                    <div>Select from the untapped talent</div>
                                </div>
                                <div class="flex-item-left">
                                    <img [src]="'assets/images/landing/newLanding/hiringprocesses.png'">
                                    <div>Fulfil sudden surge in demand with just-in-time hiring processes</div>
                                </div>
                                <div class="flex-item-left">
                                    <img [src]="'assets/images/landing/newLanding/be-deployed.png'">
                                    <div>Employ ready-to-be-deployed candidates</div>
                                </div>
                                <div class="flex-item-left">
                                    <img [src]="'assets/images/landing/newLanding/days.png'">
                                    <div>Improve productivity from day 1</div>
                                </div>
                            </div>
                            <!-- <div class="flex-container">
                               
                            </div> -->

                            <div class="btn-body">
                                <div class="btn" (click)="NavtoRegister()">
                                    Register Now
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
    <app-partners-list></app-partners-list>
    <section class="contact">
        <div class="container">
            <div class="heading-container">
                <div class="commonHeadingStyle">{{'Contact Us'}}</div>
                <div class="contactFooter">
                    <div class="left">
                        <div class="footerContact">For any support or queries, kindly write to
                            <a class="link">contact@lntedutech.com</a>
                        </div>
                    </div>
                    <div class="right">
                        <figure class="edutechLogo">
                            <img src="assets/images/landing/newLogo.png" alt="L&T Logo">
                        </figure>
                        <!-- <div class="line"></div> -->
                        <!-- <div class="head">
                            Skills Exchange
                        </div> -->
                    </div>
                </div>

            </div>
        </div>
    </section>
    <app-landing-footer></app-landing-footer>

</div>

<ng-template #register>
    <app-register-page></app-register-page>
</ng-template>
<ng-template #jobseekers>
    <app-job-seekers></app-job-seekers>
</ng-template>