@import 'variables_landing';
figure {
  margin: 0;
}


.body_area {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  .contentArea {
    flex-grow: 1;
    padding-top: 73px;
    .app-Header {
      display: inline-block;
      width: 100%;
      .container {
        width: 100%;
        @include lg {
            width: 94%;
        }
      }
      .bannerSection {
        position: relative;
        background-image: url('../../../assets/images/landing/banner_1.png');
        background-repeat: repeat;
        width: 100%;
        height: calc(100vh - 74px);
        display: flex;
        align-items: center;
        padding: 1em 0.9em;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 40%;
        @include sm {
            height: 400px;
        }
        @include md {
            height: 470px;
        }
        @include lg {
            height: 540px;
        }
        &::before, &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height :100%;
        }
        &::before {
            // background-color: rgba(0, 130, 199, 0.3);
            // background-image: linear-gradient(to right top, #0d314e, #0d3757, #0c3e61, #0a446a, #074b74, #05527c, #035a84, #00618c, #026b93, #0a759a, #157fa1, #2089a7);
            opacity: 1;
        }
        &::after {
            // background: rgba(255, 255, 255, 0.0);
            // background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0.7));
            // background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0.7));
            // background: linear-gradient(to left, rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0.7));
        }
        .bannerWrapper {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            flex-direction: column;
            @include md {
                flex-direction: row;
            }
            @include lg {
                font-size: 14px;
            }
            @include xl {
                font-size: 16px;
            }
            .imageWrapper {
                position: relative;
            }
        }

        .bannerContent {
            position: relative;
            z-index: 1;
            width: 100%;
            @include md {
                width: 75%;
            }
            @include lg {
                width: 70%;
            }
            .heading, p {
                font-weight: 300;
                line-height: 1.2;
            }
            .heading {
                color: #000;
                opacity: .7;
                font-size: 2.125em;
                line-height: 1.1;
                font-weight: 300;
                letter-spacing: 2px;
                strong {
                    display: block;
                    font-size: 1.5em;
                    font-weight: 700;
                    color: #000;
                    margin-top: 0.25em;
                    letter-spacing: initial;
                }
            }
            .heading-sub {
              color: #000;
              opacity: .7;
              font-size: 1em;
              line-height: 1.1;
              font-weight: 300;
              letter-spacing: 2px;
              display: flex;
              margin-top: .8em;
              align-items: flex-end;
              span {
                display: block;
                font-size: 1.85em;
                font-weight: 700;
                color: #000;
                margin-top: 0.25em;
                letter-spacing: initial;
                line-height: 36px;
              }
              strong {
                display: block;
                font-size: 2.20em;
                font-weight: 700;
                color: #000;
                margin-top: 0.25em;
                margin-left: 10px;
                letter-spacing: initial;
              }
          }
            p {
                color: $whiteColor;
                font-size: 1.3125em;
                margin: 1em 0 1.5em 0;
            }
        }
    }

    }
    .skill-exchange-Container {
      position: relative;
      max-width: 100%;
      width: 100%;
      .skill-exchange {
        display: flex;
        width: 100%;
        height: 100%;
        background: $whiteColor;
        padding: 60px 110px;
        @media (min-width: 200px) and (max-width: 480px) {
          padding: 4px;
        }
        @media (min-width: 481px) and (max-width: 600px) {
          padding: 30px 55px;
        }
        .flex-wrapper {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          @media only screen and (min-width: 1000px) {
            flex-direction: row;
          }
          .image-wrapper {
            flex-basis: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            figure {
              background-color: $whiteColor;
              padding: 1em;
              width: 70%;
              @media only screen and (min-width: 1000px) {
                width: 100%;
              }
              img {
                object-fit: contain;
                object-position: top;
                width: 100%;
              }
            }
          }
          .content-wrapper {
            flex-basis: 60%;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 2em 0 2em 1em;
            .commonHeadingStyle {
              color: $blackColor;
              font-family: OpenSans,sans-serif;
              font-size: 1.875em;
              font-weight: 600;
              line-height: 1.1;
              position: relative;
              margin-bottom: 1.5em;
            }
            .commonHeadingStyle:after {
              left: 0;
              content: "";
              position: absolute;
              background-image: linear-gradient(90deg,#00bcef,#00c0db,#00c1b6,#00be83,#4eb749);
              width: 3em;
              height: 4px;
              border-radius: 1.25em;
              bottom: -0.4em;
            }
            .content {
              color: $darkGrey;
              font-size: 1.2em;
              line-height: 35px;
            }
          }
        }
      }
    }
    .skill-exchange-Container::before {
      content: "";
      background-image: url('../../../assets/images/landing/dots.svg');
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top;
      width: 127px;
      height: 147px;
      left: 0;
      @media (min-width: 200px) and (max-width: 480px) {
        width: 25%;
      }
    }
    .skill-exchange-Container::after {
      content: "";
      background-image: url('../../../assets/images/landing/dots.svg');
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top;
      width: 127px;
      height: 147px;
      bottom: 0;
      right: 0;
      @media (min-width: 200px) and (max-width: 480px) {
        width: 25%;
      }
    }
    .howItWorks {
      position: relative;
      max-width: 100%;
      width: 100%;
      background: transparent linear-gradient(119deg, #F8FCFF 0%, #DEF6FF 100%) 0% 0% no-repeat padding-box;
      .howItWorksWrapper {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 60px 40px 60px 100px;
        @media (min-width: 200px) and (max-width: 480px) {
          padding: 20px 4px 0 4px;
        }
        @media (min-width: 481px) and (max-width: 600px) {
          padding: 30px 20px 30px 50px;
        }
        .flex-wrapper {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          @media only screen and (min-width: 1000px) {
            flex-direction: row;
          }
          .content-wrapper {
            flex-basis: 40%;
            display: flex;
            flex-direction: column;
            width: 100%;
            .commonHeadingStyle {
              color: $blackColor;
              font-family: OpenSans,sans-serif;
              font-size: 1.875em;
              font-weight: 600;
              line-height: 1.1;
              position: relative;
              margin-bottom: 1.5em;
              letter-spacing: 0.8px;
            }
            .commonHeadingStyle:after {
              left: 0;
              content: "";
              position: absolute;
              background-image: linear-gradient(90deg,#00bcef,#00c0db,#00c1b6,#00be83,#4eb749);
              width: 3em;
              height: 4px;
              border-radius: 1.25em;
              bottom: -0.4em;
            }
            .content {
              width: 100%;
              .flex-container {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                margin-top: 70px;
                @media (min-width: 200px) and (max-width: 480px) {
                  margin-top: 40px;
                }
                .numberValue {
                  flex-basis: 18%;
                  color: #27BBEE40;
                  line-height: 45px;
                  font-weight: 600;
                  font-size: 3.5em;
                  height: 100%;
                }
                .description {
                  flex-basis: 82%;
                  color: $lightBlack;
                  font-size: 1.1em;
                }
                .sub-desc {
                  color: #004684;
                  font-style: italic;
                  font-size: 12px;
                  flex-basis: 82%;
                }
              }
              .flex-container:first-child {
                margin-top: 30px;
                @media (min-width: 200px) and (max-width: 480px) {
                  margin-top: 15px;
                }
              }
              .flex-container:last-child {
                margin-top: 20px;
              }
            }
          }
          .image-wrapper {
            flex-basis: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            @media only screen and (min-width: 1000px) {
              justify-content: flex-end;
            }
            figure {
              padding: 1em;
              width: 80%;
              position: relative;
              @media only screen and (min-width: 1000px) {
                width: 80%;
              }
              .semi {
                width: auto;
                position: absolute;
                top: 17%;
                @media (min-width: 200px) and (max-width: 480px) {
                  width: 25%;
                }
              }
              img {
                object-fit: contain;
                object-position: top;
                width: 100%;
              }
            }
          }
        }
      }
    }
    .benefits {
      position: relative;
      max-width: 100%;
      width: 100%;
      background: $whiteColor;
      padding: 50px 150px;
      @media (min-width: 200px) and (max-width: 480px) {
        padding: 20px 20px;
      }
      @media (min-width: 481px) and (max-width: 600px) {
        padding: 25px 75px;
      }
      .heading-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        .heading-content {
          color: $darkGrey;
          font-size: 16px;
          text-align: center;
        }
        .commonHeadingStyle {
          color: $blackColor;
          font-family: OpenSans,sans-serif;
          font-size: 1.875em;
          font-weight: 600;
          line-height: 1.1;
          position: relative;
          margin-bottom: 1.5em;
        }
        .commonHeadingStyle:after {
          left: 0;
          content: "";
          position: absolute;
          background-image: linear-gradient(90deg,#00bcef,#00c0db,#00c1b6,#00be83,#4eb749);
          width: 3em;
          height: 4px;
          border-radius: 1.25em;
          bottom: -0.4em;
        }
      }
      .benefits-content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 50px;
        @media (min-width: 200px) and (max-width: 480px) {
          margin-top: 1.5em;
        }
        .inner-wrapper {
          display: flex;
          width: 100%;
          align-items: center;
          margin-top: 50px;
          flex-direction: column;
          @media only screen and (min-width: 1000px) {
            flex-direction: row;
          }
          @media (min-width: 200px) and (max-width: 480px) {
            margin-top: 1em;
          }
          .image-wrapper {
            flex-basis: 50%;
            margin-top: 1em;
            @media only screen and (min-width: 1000px) {
              margin-top: 0em;
            }
            figure {
              width: 100%;
              img {
                object-fit: contain;
                object-position: top;
                width: 100%;
              }
            }
          }
          .content-wrapper {
            flex-basis: 50%;
            padding: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            margin-top: 1em;
            @media only screen and (min-width: 1000px) {
              margin-top: 0em;
            }
            .flex-container {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              width: 100%;
              .heading {
                color: #004684;
                font-size: 26px;
                font-weight: bold;
                margin-bottom: 15px;
                width: 100%;
                text-align: center;
                @media only screen and (min-width: 1000px) {
                  text-align: left;
                }
              }
              .content {
                font-size: 16px;
                color: #373331;
              }
            }
          }
          .content-wrapper:nth-child(2n+1) {
            padding-right: 0px;
            @media only screen and (min-width: 1000px) {
              padding-right: 100px;
            }
          }
          .content-wrapper:nth-child(2n) {
            padding-left: 0px;
            @media only screen and (min-width: 1000px) {
              padding-left: 100px;
           }
          }
        }
        .inner-wrapper:first-child {
          margin-top: 0px;
        }
        .inner-wrapper:nth-child(2n+1) {
          flex-direction: column-reverse;
          @media only screen and (min-width: 1000px) {
            flex-direction: row;
          }
        }
      }
    }
  }
}
@media (min-width: 1000px) {
  .benefits-content-wrapper {
    .inner-wrapper:nth-child(2n+1) {
      flex-direction: row;
    }
  }
}
