<section class="template_box">
  <div class="top-section">
    <div (click)="gotoResumePage()"><mat-icon>arrow_back</mat-icon>Back</div>
    <div>
      <!-- <button (click)="generatePDF()">Download</button> -->
      <button (click)="downloadAsPDF()">Download</button>
    </div>
  </div>
  <div #viewer class="overall_viewer">
    <app-resumeTemplate1 #template1 ></app-resumeTemplate1>
  </div>
  <div #printer class="printing">
    <app-resumeTemplate1 #templatesample ></app-resumeTemplate1>
  </div>
</section>
