@import "../../../../assets/scss/landingAnimation.scss";
@import "../../../../assets/scss/landingScreen.scss";
@import "../../../../assets/scss/swiper-bundle.min.scss";

.main{
    height: 100% !important;
    overflow: auto;
}
.font-icon{
  color: #fff;
  font-size: 30px;
}
