<main class="main">



  <section class="section-about">
<div class="section-about__image wow animate__animated animate__fadeIn"><img src="https://assets.lntedutech.com/Skillexchange/about-image-3.png" alt="" /></div>
<div class="container">

</div>
</section>
<section class="section-image-numbers">
<div class="section-image-numbers__container container">
<div class="row">
  <div class="section-image-numbers__images col-lg-6 wow animate__animated animate__fadeInLeft animated">
    <div class="section-image-numbers__image section-image-numbers__image--1"><img src="https://assets.lntedutech.com/Skillexchange/about-2.png" alt=""></div>
    <div class="section-image-numbers__image section-image-numbers__image--2"><img src="https://assets.lntedutech.com/Skillexchange/about.png" alt=""></div>
  </div>
  <div class="section-image-numbers__content col-lg-6">
    <h2 class="section-image-numbers__title wow animate__animated animate__fadeInDown animated">About Skill Exchange</h2>
    <p class="section-begin__text" style="color: #111111;">L&T EduTech’s Skill Exchange is a platform for students and recent graduates to meet India’s premiere employers and vice versa. New graduates—students who are about to take their course-end examinations and recent graduates with up to two years of experience—can create customised profiles to showcase their talent, skillsets, credentials and assessment scores to prominent employers on the platform.</p>
      <p class="section-begin__text" style="color: #111111;">The platform is also ideal for corporates looking to engage and employ skilled, talented, pre-assessed and job-ready candidates. Exclusive filtering is offered for corporates to get candidates vetted by L&T via its intensive courses and rigorous assessments</p>
  </div>
</div>
</div>
</section>
<section class="section-icon-cards">
<div class="section-icon-cards__container container">
<ul class="section-icon-cards__list list-unstyled row">
  <li class="section-icon-cards__item col-md-6">
    <div class="section-icon-cards__item-wrapper">
      <div class="section-icon-cards__item-icon">
        <i class="icon-binoculars-solid font-icon"></i>
      </div>
      <h3 class="section-icon-cards__item-title">Employers</h3>
      <p class="section-icon-cards__item-text" style="margin-bottom: 10px;">Reach out to talent pool of pre-assessed and certified fresh graduates with skills from the latest niche & emerging technologies across domains pan India. Skill Exchange helps employers enable just in time hiring and fulfill sudden surge in demands.</p>
      <a class="link-demo link-demo--visited" [routerLink]="endPoints.LANDINGPAGE.EMPLOYER">Join as Hiring Partner >></a>
    </div>
  </li>
  <li class="section-icon-cards__item col-md-6">
    <div class="section-icon-cards__item-wrapper">
      <div class="section-icon-cards__item-icon">
        <i class="icon-graduation-cap-solid font-icon"></i>
      </div>
      <h3 class="section-icon-cards__item-title">Fresh Graduates</h3>
      <p class="section-icon-cards__item-text" style="margin-bottom: 10px;">Skill Exchange helps talented and skilled fresh graduates build skill profile and apply to drives from top recruiters which helps in landing their dream job in line with their educational qualification and core skill sets.</p>
      <a class="link-demo link-demo--visited" [routerLink]="endPoints.LANDINGPAGE.FRESHGRADUATES">Build your Profile >></a>
    </div>
  </li>
</ul>
</div>
</section>

<section class="section-banner wow animate__animated animate__pulse animated" style="visibility: visible; animation-name: pulse;">

<div class="section-banner__container container">
<div class="section-banner__wrapper">
  <div class="section-banner__content">
    <h2 class="section-banner__title">Looking to Hire Fresh Graduates</h2>
    <p class="section-banner__text">We'll be glad to have you with us, see you soon!</p>
  </div>
  <a [routerLink]="endPoints.LANDINGPAGE.EMPLOYER" class="section-banner__link button button--white">Join as Hiring Partner</a>
</div>
</div>
</section>
<app-landing-footer></app-landing-footer>
<div style="padding-bottom: 50px;"></div>
</main>
