<div class="icon-list">
  <button class="accept-icon icn" (click)="openStatusDialog('Shortlisted')" matTooltip="Select"><mat-icon>done</mat-icon></button>
  <button class="reject-icon icn"  (click)="openStatusDialog('Rejected')" matTooltip="Reject"><mat-icon>clear</mat-icon></button>
  <button class="view-icon icn"  (click)="openEditJobDialog()" matTooltip="Edit Profile"><mat-icon>mode_edit</mat-icon></button>
</div>

<ng-template #matDialog let-data>
  <div class="main-wraper">
    <div>
      <div class="warning-imag">
        <img class="warning_symbol" src="../../../../../assets/images/alert image filled.svg">
      </div>
      <div class="text">
        <ng-container *ngIf="data.status === 'Shortlisted'; else otherText">
          Are you sure you want to <span class="status-text">Approve</span> the Job? 
        </ng-container>
        <!-- <ng-template #otherText> -->
          <ng-container *ngIf="data.status === 'Rejected'; else otherText">
            Are you sure you want to <span class="status-text">Reject</span> the Job?
          </ng-container>
          <ng-container *ngIf="data.status === 'In Progress'; else otherText">
            Are you sure you want to <span class="status-text">In Progress</span> the Job?
          <!-- </ng-template> -->
        </ng-container>
      </div>
      <div class="button-wraper-fom-pop-up">
        <ng-container *ngIf="data.status === 'Shortlisted'; else otherButtons">
          <button class="button1" (click)="getStatusChange(data.status)" type="button" mat-raised-button>
            Confirm
          </button>
        </ng-container>
        <ng-template #otherButtons>
          <button class="button2" (click)="getStatusChange(data.status)" type="button" mat-raised-button>
            Confirm
          </button>
        </ng-template>
        <button class="button3" (click)="closeDialog('cancel')" type="button" mat-raised-button>
          Cancel
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #confirmmatDialog let-data>
  <div class="main-wraper">
    <div class="gren-tick">
      <img *ngIf="data.status === 'Shortlisted'" class="status-icon" src="../../../../../assets/images/green_tick_image.png">
      <img *ngIf="data.status === 'Rejected'" class="status-icon" src="../../../../../assets/images/reject-img.png">
      <img *ngIf="data.status === 'In Progress'" class="status-icon" src="../../../../../assets/images/in-prog.png">
    </div>
    <div class="text1">
      <ng-container *ngIf="data.status === 'Shortlisted'; else otherText">
        <div class="text">
       <span class="candidatename">{{params.data.studentName}} </span> <span> has been Shortlisted successfully</span>
      </div>
      </ng-container>
      <ng-template #otherText>
        <ng-container *ngIf="data.status === 'Rejected'; else inProgressText">
          <span class="candidatename">{{params.data.studentName}} </span> <span> has been Rejected successfully</span>
        </ng-container>
        <ng-template #inProgressText>
          <span class="candidatename">{{params.data.studentName}} </span> <span> has been moved to In Progress successfully</span>
        </ng-template>
      </ng-template>
    </div>
    <div class="button-wraper-fom-pop-up">
      <button class="b4" (click)="okclose()" type="button" mat-raised-button>
        OK
      </button>
    </div>
  </div>
</ng-template>

<ng-template #editJobmatDialog>
  <div class="ext-closer"><mat-icon mat-dialog-close>close</mat-icon></div>
  <!-- <div class="ext-redirect-popup"> -->
    <!-- <div class="ext-redirect-content">
         <img src="assets/images/landing/newLogo.png">
         <div class="heading">This link will take you to a third-party page that is not part of Skill Exchange.</div>
         <div class="redirect-message">The given link is external and is not verified by L&T EduTech for its safety.</div>
    </div> -->

    <div>
      <div class="main-Container-popup">

        <div class="left-side">

          <div class="company-logo"> 
            <img src="../../../../assets/images/jobs-available.png" /> 
          </div>
          <div class="border-line1">
            <div class="bottom-border1"></div>
          </div>
         
            <div class="job-Role">Front End Developer</div>
            <div class="Job-Type">Full Time</div>
            <div class="Job-Status">Approved</div>
          
            <div class="border-line1">
              <div class="bottom-border1"></div>
            </div>

            <div class="last-date-apply">Last Date To Apply</div>
            <div class="last-date">Sep 22, 2023 12:00 pm</div>

            <div class="border-line1">
              <div class="bottom-border1"></div>
            </div>
          
        </div>


        <div class="right-side">
    
          <div class="main-head">
            <div><span class="heading">Job Details</span></div>
            <div class="edit"><mat-icon>create</mat-icon>Edit</div>
          </div>
          <div class="border-line">
            <div class="bottom-border"></div>
          </div>
    
          <div class="main-heading2">
            <div class="title">Job Role</div>
            <div class="role">Front End Developer</div>
          </div>
          <div class="border-line">
            <div class="bottom-border"></div>
          </div>

          <div class="main-heading2">
            <div class="title">Job Location</div>
            <div class="role">Chennai</div>
          </div>
          <div class="border-line">
            <div class="bottom-border"></div>
          </div>
          <div class="main-heading2">
            <div class="title">Job Type</div>
            <div class="role">Full Time</div>
          </div>
          <div class="border-line">
            <div class="bottom-border"></div>
          </div>
          <div class="main-heading2">
            <div class="title">Degree</div>
            <div class="role">B.Tech</div>
          </div>
          <div class="border-line">
            <div class="bottom-border"></div>
          </div>
          <div class="main-heading2">
            <div class="title">Specialization</div>
            <div class="role">Computer Science</div>
          </div>
          <div class="border-line">
            <div class="bottom-border"></div>
          </div>
          <div class="main-heading2">
            <div class="title">Key Skills</div>
            <div class="role">Angular, Node, MongoDB</div>
          </div>
          <div class="border-line">
            <div class="bottom-border"></div>
          </div>
          <div class="main-heading2">
            <div class="title">CTC</div>
            <div class="role">8 LPA - 12 LPA</div>
          </div>
          <div class="border-line">
            <div class="bottom-border"></div>
          </div>
          <div class="main-heading2">
            <div class="title">Year of Passing</div>
            <div class="role">2022</div>
          </div>
          <div class="border-line">
            <div class="bottom-border"></div>
          </div>
          <div class="main-heading2">
            <div class="title">Apply Link</div>
            <div class="role">https://skillexchange.lntedutech.com</div>
          </div>
          <div class="border-line">
            <div class="bottom-border"></div>
          </div>
          <div class="main-heading2">
            <div class="title">Job Description</div>
            <div class="role">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, id laboriosam, error ratione corporis vero doloribus iure iusto quis vitae, asperiores saepe omnis unde corrupti autem. Rerum ab cupiditate aspernatur?</div>
          </div>
          <div class="border-line">
            <div class="bottom-border"></div>
          </div>
          <div class="main-heading2">
            <div class="title">Job Requirements</div>
            <div class="role">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque reiciendis inventore tempore temporibus delectus voluptas unde consequuntur libero officia minus corrupti, eius, quod rerum quaerat, deserunt nisi minima perferendis debitis?</div>
          </div>
          <div class="border-line">
            <div class="bottom-border"></div>
          </div>
    
        </div>
      </div>
    </div>

<!-- </div> -->
</ng-template>