.behav {
    height: 240px;
    overflow: auto;
}

.black {
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding-left: 15px;
    margin-bottom: 1%;
}

.para {
    list-style-type: disc !important;
    padding-left: 17px;
}

.col-black {
    color: black;
    padding-bottom: 6px;
}