.behav {
    height: 240px;
    overflow: auto;
}

.black {
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding-left: 15px;
    margin-bottom: 1%;
}

.para {
    list-style-type: disc !important;
    padding-left: 17px;
}

.col-black {
    color: black;
    padding-bottom: 6px;
}

.roundCanvas {
    width: 163px !important;
    display: inline-flex;
    margin-top: 20px;
}

.behaskillsname {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    color: #1D1D1B;
    font-size: 16px;
    letter-spacing: 0.32px;
}

.heading4 {
    border-left: 0 !important;
}