@import "../../../../assets/scss/fonts.scss";
@import '../../../../assets/scss/variables.scss';

.first {
    display: contents;
    .link {
        color: black;
        text-decoration: none
    }
}
.first {
    display: contents;
}

.result{
    padding-left: 16px;
}