<div class="search-icon mt-3 mb-0">
    <div class="first">
        <h2 class="result mb-0">Bulk Upload <span *ngIf="tabSelect === 1">  <h3 >Bulk Upload or edit</h3></span></h2>
    </div>
</div>

<div >
<ng-container>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" (selectedTabChange)="changeTab($event)"
        [selectedIndex]="tabSelect">
        <mat-tab class="check" label="1. Instruction">
            <ng-template mat-tab-label>
                <ng-template *ngIf="tabSelect === 0;then InstructionShow; else InstructionNotShow">
                </ng-template>
                <ng-template #InstructionShow>
                    <span class="blueLable">1. Instruction</span>
                </ng-template>
                <ng-template #InstructionNotShow>
                    <ng-template *ngIf="tabSelect>0;then InstructionShow1; else InstructionNotShow1">
                    </ng-template>
                    <ng-template #InstructionShow1>
                        <span class="greenLable">1. Instruction</span>
                        <img class="greenTickPadding" src="assets/images/skillMaster/greenTick.svg">
                    </ng-template>
                    <ng-template #InstructionNotShow1>
                        <span>1. Instruction</span>
                    </ng-template>
                </ng-template>
            </ng-template>
            <div class="BulkSubTab">
                <div class="row">
                    <div class="col-sm-8">
                        <h2 class="result">Instruction to Upload or download your data.</h2>
                        <h4 class="subInstruction">> Click on “Download template” button and open the file in excel
                            program.</h4>
                        <h4 class="subInstruction">> All fields are mandatory.</h4>
                        <h4 class="subInstruction">> From Screen, click Upload candidate details link to select a file.
                        </h4>
                        <h4 class="subInstruction">> Maximum 500 users can be uploaded at one time.</h4>
                        <h4 class="subInstruction">> Please do not refresh or go back while upload is processing. >
                            Click upload button.</h4>
                        <h4 class="subInstruction">> Screen will provide a preview.</h4>
                        <h4 class="subInstruction">> Candidate details can be removed by clicking on “x” on preview
                            screen. These candidate details will not be assigned.</h4>
                        <h4 class="subInstruction">> Click on confirm button.</h4>
                    </div>
                    <div class="col-sm-4">
                        <div class="imgPadding">
                            <figure>
                                <img src="assets/images/skillMaster/instruction.svg" alt="" />
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="search-icon mt-3 mb-0">
                    <div class="first">
                        <h3 class="result mb-0"><b>Click on Next to continue</b></h3>
                        <div class="Row">
                            <div class="Item"><button (click)="nextTab()" class="agTable-btn nextButton">
                                    <span class=""></span>
                                    <span>Next</span>
                                </button></div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab class="check" label="2. Upload">
            <ng-template mat-tab-label>
                <ng-template *ngIf="tabSelect === 1;then UploadShow; else UploadNotShow">
                </ng-template>
                <ng-template #UploadShow>
                    <span class="blueLable">2. Upload</span>
                </ng-template>
                <ng-template #UploadNotShow>
                    <ng-template *ngIf="tabSelect>1;then UploadShow1; else UploadNotShow1">
                    </ng-template>
                    <ng-template #UploadShow1>
                        <span class="greenLable">2. Upload</span>
                        <img class="greenTickPadding" src="assets/images/skillMaster/greenTick.svg">
                    </ng-template>
                    <ng-template #UploadNotShow1>
                        <span>2. Upload</span>
                    </ng-template>
                </ng-template>
            </ng-template>
            <div class="BulkSubTab">
                        <h2 class="result">Upload Skill</h2>
                        <h4 class="subInstruction">Download the given template to add new skills and upload the same
                            here</h4>
                            <div class="row">
                                <div class="col-sm-6">
                        <div class="centerUploadFile">
                            <mat-card>
                                <mat-card-content>
                                    <input type="file" accept="text/csv, application/octet-stream, ms-excel"
                                        class="file-input" (change)="onFileSelected($event)" #fileUpload>
                                    <div class="file-upload">
                                        <button mat-mini-fab class="upload-btn" (click)="fileUpload.click()">
                                            <img src="assets/images/skillMaster/upload.svg">
                                            <span class="blackLable">{{fileName || "Upload the Skills lists"}}</span>
                                        </button>
                                    </div>
                                </mat-card-content>
                                <div class="file-upload">
                                    <mat-card-actions>
                                        (* File extension allowed .csv )
                                    </mat-card-actions>
                                </div>
                            </mat-card>
                            <div *ngIf="fileName" class="search-icon">
                                <div>
                                    <button class="agTable-btn" (click)="cancleUpload()">
                                        <span class=""></span>
                                        <span>Cancel</span>
                                    </button>
                                </div>
                                <div>
                                    <button class="agTable-btn">
                                        <span class=""></span>
                                        <span>Upload</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 downloadFile">
                        <div class="centerDownloadFile">
                            <mat-card>
                                <mat-card-content>
                                    <div class="file-upload">
                                        <button mat-mini-fab class="upload-btn" >
                                            <img src="assets/images/skillMaster/download.svg">
                                            <span class="blackLable">Download Template</span>
                                        </button>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="instruction">
                <mat-accordion  >
                    <mat-expansion-panel class="instructionTab"  (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header class="instructionTab">
                        <mat-panel-title class="instructionTab">
                         <b>Instruction</b>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="BulkSubTab instructionTab">
                        <hr>
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 class="subInstruction">> Click on “Download template” button and open the file in excel
                                    program.</h4>
                                <h4 class="subInstruction">> All fields are mandatory.</h4>
                                <h4 class="subInstruction">> From Screen, click Upload candidate details link to select a file.
                                </h4>
                                <h4 class="subInstruction">> Maximum 500 users can be uploaded at one time.</h4>
                                <h4 class="subInstruction">> Please do not refresh or go back while upload is processing. >
                                    Click upload button.</h4>
                                <h4 class="subInstruction">> Screen will provide a preview.</h4>
                                <h4 class="subInstruction">> Candidate details can be removed by clicking on “x” on preview
                                    screen. These candidate details will not be assigned.</h4>
                                <h4 class="subInstruction">> Click on confirm button.</h4>
                            </div>
                        </div>
                    </div>
                    </mat-expansion-panel>
                  </mat-accordion>
            </div>
        </mat-tab>
        <mat-tab label="3. Validate"> Content 3 </mat-tab>
        <mat-tab label="4. Confirm"> Content 3 </mat-tab>
    </mat-tab-group>
</ng-container>
</div>
