@import "../../../../assets/scss/fonts.scss";
@import '../../../../assets/scss/variables.scss';

:host ::ng-deep .agTable-btn {
    background-color: #fff;
    color: #08558C;
    width: 127px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 4px #0000001A;
    border: 0.4891771078109741px solid #939393;
    border-radius: 3px;
    font-size: 15px;

    .filterIcon {
        display: inline-block;
        width: 15px;
        height: 13px;
        margin-right: 6px;
        background-size: cover;
    }

    .icon-bike {
        background-image: url('../../../../assets/images/Filter.svg');
    }
}

:host ::ng-deep .agTable-btn-blue {
    background-color: #fff;
    color: white;
    width: 127px;
    height: 30px;
    background: #08558C 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 4px #0000001A;
    border: 0.4891771078109741px solid #939393;
    border-radius: 3px;
    font-size: 15px;

    .filterIcon {
        display: inline-block;
        width: 15px;
        height: 13px;
        margin-right: 6px;
        background-size: cover;
    }

    .icon-bike {
        background-image: url('../../../../assets/images/Filter.svg');
    }
}

::ng-deep .mat-tab-label {
    padding-left: 30px !important;
    justify-content: left !important;
}

//   ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
//     background-color: green !important;
//   }

.containerBody{
    padding: 6px;
}

// .agTable-btn:hover {
//     background-color: #08558C;
//     transition: 0.7s;
//     color: $whiteColor;
//     font-size: 15px;
//     border: none;
// }

// .agTable-btn-confirm:hover {
//     background-color: white;
//     transition: 0.7s;
//     color: #08558C ;
//     font-size: 15px;
//     box-shadow: 2px 2px 4px #0000001A;
//     border: 0.4891771078109741px solid #939393;
// }


.first {
    display: contents;

    .link {
        color: black;
        text-decoration: none
    }
}

.search-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 15px;
    padding-top: 15px;
    padding-bottom: 42px;
}

.result {
    padding-left: 16px;
    padding-top: 19px;
}

.BulkSubTab {
    padding-bottom: 57px;
    max-width: 100%;
    overflow-x: hidden;
}

.subInstruction {
    padding-left: 16px;
}

::ng-deep .submit {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: flex-end;

    .nextButton {
        font-size: 14px;
        font-weight: 400;
        color: $whiteColor;
        line-height: normal;
        background-color: $blueColor;
        padding: 10px 14px;
        border: none;
        border-radius: 5px;
    }
}

.imgPadding {
    padding-top: 80px;
}

.check {
    background-color: red;
}

.greenTickPadding {
    //padding: 157px;
    padding: 13px
}

.greenLable {
    color: #5CB646;
}

.blueLable {
    color: #004684;
}

.blackLable {
    color: black;
}

.redLable {
    color: red;
    padding-top: 10px;
}

.centerUploadFile,
.centerDownloadFile {
    width: 60%;
    margin: 0 auto;
   // border: 0.4891771078109741px solid #939393;
   // border-radius: 5px;
   // min-width: 400px;
    max-width: 400px;
    background: #fafafa;
    border: 0.5px solid rgba(112,112,112,.411);
    height: 118PX;
    display: block;
    text-align: center;
    // padding: 2em 1em 1em;
}

.downloadFile {
    display: flex;
    align-items: center;
}

.mat-cardData {
    background: #FAFAFA 0% 0% no-repeat padding-box;
    // border: 0.5px solid #707070B0;
    border: 0;
    opacity: 1;
    height: 116px;
    padding: 24px;
}

.mat-cardData:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

.file-input {
    display: none;
}

.file-upload {
    margin-left: 18%;
    margin-right: 18%;
    width: auto;
}

.upload-border{
    width: auto;
    margin: 0 auto;
    border: 0.4891771078px solid #939393;
    // border-radius: 5px;
    height: 50px;
    padding: 10px;
}

.mat-mini-fab.mat-accent {
    background-color: #FAFAFA;
}

.mat-mini-fab:not([class*=mat-elevation-z]) {
    box-shadow: 0px 3px 5px -1px #FAFAFA, 0px 6px 10px 0px #FAFAFA, 0px 1px 18px 0px #FAFAFA;
}

.instruction {
    padding-bottom: 93px;
}

::ng-deep .mat-dialog-container {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }

.instructionTab {
    background-color: #FAFAFA;
}

.headerTableTab {
    background-color: #FAFAFA;
    border-color: #939393;
    color: black;
    padding: 10px;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background-color: #FAFAFA;
}

.statusList {
    display: flex;
    flex-direction: column;
}

 .agTable-btn-Upload {
    background-color: #fff;
    color: #08558C;
    width: 127px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 4px #0000001A;
    border: 0.4891771078109741px solid #939393;
    border-radius: 3px;
    font-size: 15px;

    .filterIcon {
        display: inline-block;
        width: 15px;
        height: 13px;
        margin-right: 6px;
        background-size: cover;
    }

    .icon-bike {
        background-image: url('../../../../assets/images/Filter.svg');
    }
}

::ng-deep .submitUpload {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    display: flex;
    justify-content: space-evenly;

    button ,.agTable-btn {
        font-size: 14px;
        font-weight: 400;
        color: #08558C;
        line-height: normal;
        background-color: $whiteColor;
        padding: 10px 14px;
        border: 0.4891771078109741px solid #939393;
        border-radius: 5px;
        width: 100px;
    }

    button ,.agTable-btn.confirm {
        font-size: 14px;
        font-weight: 400;
        color: white;
        line-height: normal;
        background-color: #004684;
        padding: 10px 14px;
        border: 0.4891771078109741px solid #939393;
        border-radius: 5px;
    }
}

.uploadContent {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pointer {
    font-size: small;
}

.pointer:hover {
    cursor: pointer;
}

.submitConfirm {
    // border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 20px;
    display: flex;
    //justify-content: flex-end;
    // display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    .agTable-btn-Upload {
        font-size: 10px;
        font-weight: 400;
        color: $blueColor;
        line-height: normal;
        background-color: $whiteColor;
        border: 1px solid $blueColor ;
        padding: 10px 14px;
        border-radius: 5px;
        width: 120px;
    }

    .agTable-btn-Upload1 {
        font-size: 10px;
        font-weight: 400;
        color: $whiteColor;
        line-height: normal;
        background-color: $blueColor;
        border: none ;
        padding: 13px 0px;
        border-radius: 5px;
        width: 120px;
    }
}

.uploadButton {
    padding-left: 10px;

}

.uploaddiv {
    display: flex;
}

.centervalidateFile {
    padding-top: 30px;
    padding-bottom: 42px;
    width: 90%;
    margin: 0 auto;
}

table {
    width: 100%;
    th{
        border-right: 1px solid #ccc;
    }
}
.upload-btn{
    background-color: transparent;
    border: none;
}

.indexNumber{
    font-size: 25px;
}
