<section class="overall_section">
  <div class="top_head">Resume Builder</div>

  <div class="template">
    <p class="template-title">Available Templates</p>
    <p class="template-desc">Each resume template is skillfully made and adheres to the exact "resume rules" hiring managers demand. With tried-and-true resume templates, you can stand out and land a job more quickly.</p>
  </div>
  <div class="resume_box">
    <div class="box">
      <div class="resume" (click)="resumeTemplate()">
        <img src="assets/images/sample-resume.png" alt="resume" class="res-image" style="width:100%">
        <div class="middle-icon">
          <mat-icon class="misc_icon">remove_red_eye</mat-icon>
        </div>
        <!-- <mat-icon class="res-download">download</mat-icon> -->

      </div>
      <!-- <span class="icon-file-download res-download" (click)="generatePDF()"></span> -->
    </div>

  </div>

</section>
<!-- <div id="contentToConvert">
  <h1>hlo</h1>
</div> -->

<ng-template #resumeBuild>
  <div class="template_res">
    <div style="text-align:center;">
      <img style="width:60px;" src="assets/images/alert-image.png">
      <span mat-dialog-close class="icon-Close"></span>
    </div>
    <div class="alert_div">
      <p>Please complete your profile to download your resume</p>
      <span (click)="gotoProfile()">Go to profile</span>
    </div>
  </div>
</ng-template>