@import 'variables_landing';
figure {
    margin: 0;
}

header {
    // position: relative;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    // flex-wrap: wrap;
    background-color: $whiteColor;
    padding: 10px 15px;
    height: 65px;
    font-size: 12px;
    box-shadow: 0px 3px 5px 0px rgba(51, 36, 36, 0.15);
    width: 100%;
    @include lg {
        padding: 10px 50px;
    }
    @include xl {
        padding: 10px 50px;
    }
    .outline {
        position: absolute;
        width: 100%;
        height: 53px;
        left: 0%;
        top: 0;
        background-color: rgba(0, 0, 0, 0);
        z-index: -1;
    }
    .leftWrapper,
    .rightWrapper {
        @include md {
            width: 50%;
        }
    }
    .rightWrapper {
        text-align: right;
        // width: 40%;
    }
    .leftWrapper {
        width: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        .line {
            width: 2px;
            height: 50px;
            position: absolute;
            // margin-left: 6.5%;
            background: transparent linear-gradient(180deg, #54B952 0%, #34BCA3 85%, #16BEF0 100%) 0% 0% no-repeat padding-box;
            @include sm {
                margin-left: 2.5%;
            }
            @include md {
                margin-left: 4.5%;
            }
            @include lg {
                margin-left: 6.5%;
            }
            @include xl {}
            @media (min-width: 1200px) {
                margin-left: 9.5%;
            }
            @media only screen and (min-width: 1540px) {
                margin-left: 6.5%;
            }
        }
        .head {
            letter-spacing: 0px;
            /* color: #08558C; */
            opacity: 1;
            font-size: 20px;
            margin-left: 5px;
            font-weight: 500;
            font-family: Roboto, Condensed;
        }
    }
}

.edutechLogo {
    cursor: pointer;
    width: 80%;
    margin-right: 0;
    margin-left: 0;
    @include sm {
        width: 20%;
    }
    @include md {
        margin-right: 2em;
        width: 50%;
    }
    @include lg {
        width: 40%;
        margin-left: 0;
    }
    @include xl {
        width: 32.5%;
    }
    @media only screen and (min-width: 1540px) {
        width: 24%;
    }
    img {
        width: 100%;
    }
}

.signInRegister {
    // grid-area: signIn;
    text-align: right;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    @include mobile {
        margin-top: 0;
        justify-content: flex-end;
    }
    @include sm {
        margin-top: 0;
        justify-content: flex-end;
    }
    @include md {
        margin-top: 0;
        justify-content: flex-end;
    }
    span,
    button {
        vertical-align: middle;
        display: inline-block;
    }
    .register {
        padding: 4px 19px 4px 19px;
        background-color: $whiteColor;
        color: $secondaryColor;
        font-size: 1.15em;
        font-weight: 400;
        border-radius: 5px;
        margin-left: 3%;
        border-radius: 3px;
        border: 1px solid #1B4E9B;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
        display: block;
        &:hover {
            color: $whiteColor;
            background-color: #1B4E9B;
        }
        .menubtn {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-left: -6px;
            .arrowIcon {
                background-repeat: no-repeat;
                display: inline-block;
                fill: currentColor;
                height: 0px;
                width: 0px;
            }
        }
        @include lg {
            display: inline-flex;
            padding: 4px 19px 4px 19px;
        }
        @include xl {
            display: inline-flex;
            padding: 4px 19px 4px 19px;
        }
    }
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    padding: 19px;
    .clear {
        color: #3A3A3A;
        font-size: 13px;
        cursor: pointer;
    }
    .clear:hover {
        color: red !important;
        transition: 0.7s;
    }
}

.loginpopover {
     ::ng-deep .mat-dialog-container {
        padding: 0px !important;
    }
}

::ng-deep.mat-menu-content:not(:empty) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

::ng-deep.mat-menu-content {
    button:hover {
        background-color: #1B4E9B !important;
        color: $whiteColor;
    }
}

::ng-deep button.mat-menu-item {
    width: 100%;
    text-align: center;
    border-bottom: 0.1px solid #cccccc45;
}

::ng-deep.mat-menu-panel {
    max-width: 283px !important;
}