.top-bg {
  background-color: #1B4E9B;
  width: 100%;
  height: 275px;
  .cardTitle {
    display: flex;
    padding: 20px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0.32px;
    color: #fff;
    font-size: 18px;
    opacity: 0.9;
    text-transform: none;
    font-weight: 200;
}
.card{
  margin: 0% 1% 0% 1%;
  .card-content{
   display: grid;
    .btn-aligment{
      display: flex;
      justify-content: flex-end;
      margin: 15px;
      button{
        background-color: #1B4E9B;
        color: #fff;
        cursor: pointer;
        border-radius: 25px;
        border: 1px solid #1B4E9B;
        height: 41px;
        font-size: 14px;
        font-weight: 300;
        padding: 10px;
        img{
          height: 18px;
    position: relative;
    right: 4px;
        }
      }




            }
    .uploadbox{
      width: auto;
      height: 225px;
      margin: 1%;
      border: dotted 1px #444141;
      .uploadimgs{
        text-align: center;
        position: relative;
        top: 30px;
        display: grid;
        justify-content: space-evenly;
        justify-items: stretch;
      }
      .file-input {
        display: none;
        cursor: pointer;
    }
      .alignment{
        display: grid;
        justify-content: center;
        position: relative;
        top: 50px;
        // left: 20px;

        }
        .upload{
          background-color: #1B4E9B;
          color: #fff;
          border-radius: 25px;
          border: 1px solid #1B4E9B;
          height: 41px;
          font-size: 14px;
          left: 0;
          cursor: pointer;
          font-weight: 300;
          padding: 10px;
          width: 100px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        }
      }

    }
    .submitbtn{
      display: flex;
      justify-content: space-evenly;
      margin: 60px 0px 60px 0px;
      button:disabled {
        cursor:not-allowed;
        color: #fff;
        background-color: #70707099;
        border: 1px solid #70707099;
     }
      button{
        background-color: #1B4E9B;
        color: #fff;
        border-radius: 25px;
        border: 1px solid #1B4E9B;
        height: 41px;
        font-size: 14px;
        font-weight: 300;
        padding: 10px;
        width: 90px;

      }

    }
    .note{
      color: #294D96;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 60px;
    }
  }
.postJobtitle{
  left: 130px;
  text-align: left;
  opacity: 1;
  margin: 0px 0px -10px 13px;
  span{
    color: red;
}

}
.fName{
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  top: 50px;

  .note2{
    font-size: 14px;
    color: #848484;
    text-align: center;
    position: relative;
    // top: 13px;
    // right: 14px;
  }
  .close{
    position: relative;
  //  left: 124px;
   .pointer-close{
    position: relative;

    color: red;
    cursor: pointer;
    padding-left: 10px !important;
    top: -1px !important;
   }
  }
}

