div {
  font-family: Lato !important;
}

li {
  font-family: Lato !important;
}

.btn {
  font-size: 14px;
  background: #1A4E9B !important;
  color: white;
  border-radius: 5px !important;
  // width: 100%;
  padding: 5px 17px 5px 17px;
  margin: 8px 0px 0px 20px;
  float: right;
  font-family: Lato !important;
  .icon-apply_now{
    margin: 2px 7px 0px 0px;

  }
}

.btn:hover {
  transition: ease-out 0.3s;
   border: 1px solid #1A4E9B !important;
  background: #ffffff !important;
  color: #1A4E9B;

}

.pageWrapper {
  padding: 3px 0px 10px 7px;
  height: 84vh;

  .coverImage {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      height: 200px;
    }

    .companyLogo {
      position: absolute;
      top: 150px;
      left: 22px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      height: 88px;
      width: 125px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 4px 0 4px;
      border-radius: 4px;
      overflow: hidden;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .job-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px 30px 20px;
    background-color: #1B4E9B0F;
    .genText1{
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 14px;
      color: #707070bf;
      padding-top: 0px 4px 0px 4px;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      top: 5px;
      .icon-clock_postdate{
        padding: 5px 7px 5px 15px;
      }
      .misc_icon{
      }
      .icon-graduation-gap{
        padding: 5px 7px 5px 15px;
      }
    }
  }
  .job-details1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0px 10px 20px;
    background-color: #1B4E9B0F;
    .job-intern{
      padding: 0px 17px 0px 0px;
      .job-intern1{
        padding: 5px 25px 5px 25px;
        border: 1px solid #1B4E9B;
        border-radius: 17px;
        color: #1B4E9B;
        background-color: #ffffff;
        font-size: 14px;
      }
      .job-intern2{
        padding: 5px 25px 5px 25px;
        border: 1px solid #1B4E9B;
        border-radius: 17px;
        color: #1B4E9B;
        background-color: #1B4E9B14;
        font-size: 14px;
      }
    }
  }
  .descriptionArea {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    background: #ffffff;
    .custom-card1 {
      transition: 0.3s;
      background: #fff;
    }
    .about {
      width: 70%;
      margin-top: -20px;
    }
  }
}

.save {
  background: #fff !important;
  border-color: #1A4E9B;
  color: #1A4E9B;
}
.flx_butn {
  display: flex;
}

.custom-card {
  transition: 0.3s;
  background: #fff;

  .jobtopcontainer {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B4E9B0F;
    .left{
      display: flex;
      flex-direction: row;
      align-items: center;
      .companyLogo1{
        padding: 0px 20px 0px 0px;
        .comp_logo{
          width: 117px;
        }
      }
    }
    .JT-left{
      // display: grid;
      .genTitle {
        font-size: 14px;
        color: #707070;
        // padding-top: 9px;
    }
    .se-patner{
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }
    .icon-green_tick_flower_circuled{
      padding: 2px;
      margin: 0px 0px 0px 5px;
    }
  }
  }
}

.job_options {
  display: flex;
  flex-wrap: wrap;

  .spacing {
  }

  .genText {
    .specialization-box {
      background: #1B4E9B14;
      border: 0px solid #70707080;
      border-radius: 3px;
      opacity: 1;
      // width: max-content;
      font-weight: 500;
      color: #1B4E9B;
      margin: 0px 3px;
      border-radius: 17px;
      padding: 3px 8px;
      font-size: 12px;
      line-height: normal;
      cursor: default;
      width: fit-content;
    }
  }
}

.cardpad {
  padding: 20px;
}

.LAlign {
  width: 100%;
}

.RAlign {
  width: 37%;
  // margin-left: 15px;
  background-color: #F1F4F9;
  margin: 20px;
}

.compTitle {
  font-size: 20px;
  color: #000;
}

.genTitle {
  font-size: 14px;
  color: #707070;
  // padding-top: 4px;
}
.genTextpassout{
  font-size: 14px;
  color: #707070bf;
}
.genText {
  font-size: 14px;
  color: #707070bf;
  padding-top: 4px;
  display: flex;
  flex-wrap: wrap;

  .misc_icon {
    margin-top: -3px;
  }

  .locate {
    padding-right: 2px;
  }
}

.desTitle {
  font-size: 14px;
  color: #000000;
  padding-top: 14px;
  font-weight: 600;

  p {
    color: #707070bf;
    font-weight: normal;
    font-size: 14px;
    margin-top: 10px;
  }

  ul {
    margin-top: 10px;
  }

  ul li {
    font-size: 14px;
    color: #707070cc;
    margin-left: 18px;
    padding: 3px 0px;
    font-weight: normal;
    list-style-type: disc;
  }
}

.iconSpace {
  margin-right: 5px;
}

.calign {
  display: flex;
  justify-content: flex-end;
}
.eventnote {
  color: #CB0000;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 16px;
  .application-end{
    color: #000000;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 16px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;

  .closer {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    em {
      width: 20px;
    }
  }

  .ticsize {
    width: 90px;
  }

  .message {
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
  }

  .link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
  }

  .msgsub {
    font-weight: bold;
    font-size: 17px;
  }
}

@media only screen and (max-width: 600px) {
  .coverImage {
    img {
      height: 130px !important;
    }
  }

  .eventnote {
    position: absolute;
    width: 140px;
    right: 3%;
    top: 14%;
  }
  .flx_butn {
    margin-top: 20px;
  }

  .companyLogo {
    left: 20px !important;
    top: 85px !important;
  }

  .jobtopcontainer {
    margin-top: 40px !important;
    display: block !important;
    padding: 10px;
    .JT-right {
      width: 100%;
      margin-top: 10px;
    }
    .calign {
      width: 50%;
    }
    .btn {
      margin: 0px 10px !important;
      width: 40% !important;
      background: #26bbef;
    }

  }

  .pageWrapper {
    padding: 0px 10px;
    .compTitle {
      font-size: 16px;
    }
    .genText {
      font-size: 13px;
      margin-top: 5px;
    }
    .descriptionArea {
      display: block;
    }
    .RAlign {
      width: 100%;
      margin-left: 0px;
      margin-top: 20px;
    }
    .about {
      width: 100% !important;
    }
  }
}


.main-Dashboard{
  padding: 0px 0px 50px 50px;
  .main-Dashboard-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    width: 400px;
    border-radius: 7px;
    border: 1px solid #DC3545;
    .Registrarion-name{
      color: #848484;
      font-size: 17px;
    }
    // .Registrarion-name::after {
    //   content: "";
    //   display: block;
    //   width: 100%;
    //   height: 1px; 
    //   background-color: #848484; 
    //   margin-top: 15px; 
    // }
    .line {
      width: 100%;
      height: 1px; 
      background-color: #848484; 
    }
    .Registrarion-count{
      font-size: 36px;
      color: #DC3545;
      text-align: center;
    }
    .candidates-count{
      display: flex;
      flex-direction: row;
      justify-content: space-around ;
      align-items: center;
      background-color: #DC354514;
      border-radius: 5px;
      padding: 5px 5px 5px 5px;
      .name-count{
        text-align: center;
      }
      .candidate-count{
        font-size: 17px;
        color: #010101;
      }
      .candidate-certified{
        font-size: 12px;
        color: #848484;
      }
    }
  }
}

.Company-Dashboard{
  padding: 0px 0px 130px 50px;
  .company-Dashboard-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    width: 400px;
    border: 1px solid #876BFE;
    .company-name{
      color: #848484;
      font-size: 17px;
    }
    .line{
      width: 100%;
      height: 1px; 
      background-color: #848484; 
      margin: 0px 0px 15px 0px
    }
    .total-jobs{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .total-jobs-count{
        color: #262626;
        font-size: 36px;
      }
      .section-job-count{
        display: flex;
        flex-direction: column;
        .open-jobs{
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 0px 0px 5px 0px;
          .open-jobs-countt{
            padding: 0px 3px 0px 0px;
          }
          .open-jobs-count{
            background-color: #49AE31;
            border-radius: 5px;
            padding: 1px 5px 1px 5px;
          }
          .open-jobs-name{
            font-size: 14px;
          }
        }
        .patner-jobs{
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 5px 0px 0px 0px;
          .patner-jobs-countt{
            padding: 0px 3px 0px 0px;
          }
          .patner-jobs-count{
            background-color: #848484;
            border-radius: 5px;
            padding: 1px 5px 1px 5px;
          }
          .patner-jobs-name{
            font-size: 14px;
          }
        }
      }
    }
  }
}