<div class="pageWrapper">
   <div class="custom-card">
      <div class="coverImage">
         <div><img (error)="'/assets/images/compCover.png'"
               [src]="jobDescription?.bannerImage?jobDescription.bannerImage:'/assets/images/job_description_background.png'" />
         </div>
         <div class='companyLogo'><img class="comp_logo" (error)="'/assets/images/compPlaceholder.png'"
               [src]="jobDetails.companyLogo" /></div>
      </div>
      <div class="jobtopcontainer">
         <div class="JT-left">
            <div class='compTitle'><strong>{{jobDetails.jobRole}}</strong></div>
            <div class='genTitle'>{{jobDetails.company}}</div>
            <div class="genText1">
               <mat-icon class="misc_icon"> location_on</mat-icon>
               <div class="locate" *ngFor="let item of jobDetails.jobLocation;let i=index; let isLast=last">{{item}}<span class="misc_col" *ngIf="!isLast && i < jobDetails.jobLocation.length">&nbsp;</span> </div>
            </div>
         </div>
         <div class="JT-right">
            <div class="genText calign"><mat-icon class="misc_icon"> event_note</mat-icon>Posted
               {{jobDetails.createdOn|timeAgo}}</div>
               <div class="eventnote">Last Date to Apply: {{jobDetails.lastDatetoApply|date}}</div>
           <div class="flx_butn"> <button class="save btn" *ngIf="jobDetails.isSelected == false" (click)="saved()" >Save</button>
            <button class="save btn"   *ngIf="jobDetails.isSelected == true" (click)="saved()" >Saved</button>
            <button class="btn"  *ngIf="jobDetails.isApplied == false" (click)="applyJob()">Apply</button>
            <button class="btn" [disabled]="true" *ngIf="jobDetails.isApplied == true">Applied</button>
          </div>
         </div>
      </div>
   </div>
   <div class="descriptionArea">
      <!-- [innerHTML]="jobDescription.jobDescription" -->
      <div class="custom-card cardpad LAlign">

         <div class="desTitle" *ngIf="jobDetails.overview">
            Job Overview<br>
            <p>{{jobDetails.overview}}</p>
         </div>

         <div class="desTitle" *ngIf="jobDetails.description.length">
            Job Description
            <ul>
               <li *ngFor="let content of jobDetails.description">{{content.item}}</li>
            </ul>
         </div>
         <div class="desTitle" *ngIf="jobDetails.requirement.length">
            Job Requirements
            <ul>
               <li *ngFor="let content of jobDetails.requirement">{{content.item}}</li>
            </ul>
         </div>
      </div>
      <div class="custom-card cardpad RAlign">
         <div class="listspace">
            <div class="desTitle">
               Job Title / Position:
            </div>
            <div class="genText">
               {{jobDetails.jobTitle}}
            </div>
         </div>
         <div class="listspace">
            <div class="desTitle">
               Job Type:
            </div>
            <div class="genText">
               {{jobDetails.jobType}}
            </div>
         </div>
         <div class="listspace">
            <div class="desTitle">
               Education:
            </div>
            <div class="job_options">
               <div class="genText" *ngFor="let content of jobDetails.education;let i=index; let isLast=last; let first = first">
                  <div class="spacing"><ng-container *ngIf="!first">, </ng-container>{{content.trim()}}</div></div>
            </div>
         </div>
         <div class="listspace">
            <div class="desTitle">
               Specialization:
            </div>
            <div class="job_options">
               <div class="genText" *ngFor="let content of jobDetails.specialization">
                  <button class="specialization-box">{{content}}</button>
               </div>
            </div>
         </div>
         <div class="listspace">
          <div class="desTitle">
            CTC:
          </div>
          <div class="genText">
             {{jobDetails.ctc}}
          </div>
       </div>
         <div class="listspace">
            <div class="desTitle">
               Year of Passing:
            </div>
            <span class="genTextpassout" *ngFor="let content of jobDetails.yearofPassout ; let first = first">
              <ng-container *ngIf="!first">, </ng-container>{{content.trim()}}</span>
         </div>
         <div class="listspace">
            <div class="desTitle">
               Industries:
            </div>
            <div class="genText">
               {{jobDetails.jobFamily}}
            </div>
         </div>

         <div class="listspace">
            <div class="desTitle">
               Key Skills:
            </div>
            <div class="job_options">
               <div class="genText" *ngFor="let content of jobDetails.skillSet">
                  <button class="specialization-box">{{content}}</button>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="descriptionArea">
      <div class="custom-card cardpad about">

         <div class="desTitle">
           About Company:<br>
            <p>{{jobDetails.about}}</p>
         </div>
      </div>
   </div>
</div>


<ng-template #incompleteProfile>
   <div class="wrapper">
      <div class="closer"><mat-icon mat-dialog-close>close</mat-icon></div>
      <div><img width="100px" src="/assets/images/alert-image.png"></div>
      <div class="message">Please complete your profile to apply for Jobs</div>
      <div class="link" (click)="gotopage()">Go to profile</div>
   </div>
</ng-template>

<ng-template #eligiblity>
  <div class="wrapper">
     <div class="closer"><mat-icon mat-dialog-close>close</mat-icon></div>
     <div><img width="100px" src="/assets/images/alert-image.png"></div>
     <div class="message">You're not eligible to apply for this job.</div>
     <div style="margin-top:10px">Please check the eligibility criteria</div>
  </div>
</ng-template>

<ng-template #successApply>
   <div class="wrapper">
      <div class="closer"><mat-icon mat-dialog-close>close</mat-icon></div>
      <div><img width="100px" class="ticsize" src="/assets/images/check.png"></div>
      <div class="message">Thank you for applying for the Job</div>
      <div class="msgsub" style="margin-top:10px">You will be soon contacted by the recruiter</div>
   </div>
</ng-template>
