@import "../../../../../assets/scss/variables.scss";
.color-black {
    color: #000;
    font-size: 1.3em;
    font-weight: 500;
}

.pointer {
    cursor: pointer;
}

.video {
    width: 700px;
    height: 450px;
    background-color: #282828;
    border-radius: 4px;
}

.alert {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    font-size: 19px;
}

.novideo {
    line-height: 0.7;
    margin-right: 3px;
}

.Pmain {
    flex-direction: row;
    justify-content: flex-start;
    margin: 0.6em 0;
    .Pheader {
        max-width: 300px;
        display: block;
        max-width: 300px;
        font-size: 1.3em;
        font-weight: 500;
        color: #000000;
    }
    .psubHeader {
        font-size: 0.8em;
        color: #757575;
    }
    .dis-flex {
        display: flex !important;
        border-right: 0.1em solid #e8e8e8;
    }
    .icon-bag {
        font-size: 2em;
        color: #b3b3b3;
        ;
        margin-top: 7px;
        margin-right: 15px;
    }
    div:last-child {
        border-right: none;
    }
}

.btn-close {
    position: absolute;
    right: 0px;
}

.primaryInfo span.successColor {
    color: $successColorDark !important;
}

.primaryInfo {
    em {
        &.icon-checked {
            color: #43b447;
            font-size: 25px !important;
        }
        &.icon-uncheck {
            color: #C02222;
            font-size: 30px !important;
        }
    }
}

.status {
    display: flex !important;
    .warningColor {
        color: #C02222 !important;
    }
    .statusCheck {
        display: inline-block;
        font-size: 0.9em !important;
        padding: 0 0.1em !important;
        word-break: break-all;
    }
}

.progressText {
    position: relative;
    .progressclose1 {
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: #a9a9a866;
        right: -17px;
        top: -21px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
    }
    .closebtn1 {
        font-size: 0.9em;
        color: #000;
        cursor: pointer;
        position: relative;
        top: 2px;
        z-index: 1;
    }
}

// .icons {
//     font-size: 1em !important;
//     padding-right: 0.5em !important;
// }