<div class="container-fluid p-0" style="overflow:hidden;">
    <div class="topborder"></div>
    <div class="top-bg p-4">
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="top-left">
                    <h4 class="text-white mb-0">Dashboard</h4>
                    <h3 class="text-white mb-0">Welcome back, <span class="text-white h3"><b>{{username}}</b></span></h3>
                    <button type="submit" class="update-info" (click)="profile()">Update Profile</button>
                </div>

            </div>
            <div class="col-md-6">
                <div class="top-right d-flex">
                    <h4 class="text-white mb-0">Profile Completion</h4>
                    <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="--value:65"></div>
                </div>

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <span>Total Candidates</span>
                                    <h3 class="card-number">{{ dashBoardDetails[0]?.totalCandidate }}</h3>
                                </div>
                                <div class="align-self-center">
                                    <img class="font-large-2 float-right"
                                        src="../../../assets/images/emp-dashboard-icons/small-ic-1.png">
                                </div>
                            </div>
                            <div class="media d-flex">
                                <div class="card-inside-percentage-box">
                                    <span>8%</span>
                                </div>
                                <span class="ml-2">Since last month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <span>Basic Profiled Candidates</span>
                                    <h3 class="card-number">{{ dashBoardDetails[0]?.basicCandidate }}</h3>
                                </div>
                                <div class="align-self-center">
                                    <img class="font-large-2 float-right"
                                        src="../../../assets/images/emp-dashboard-icons/small-ic-2.png">
                                </div>
                            </div>
                            <div class="media d-flex">
                                <div class="card-inside-percentage-box">
                                    <span>8%</span>
                                </div>
                                <span class="ml-2">Since last month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <span>Detailed Profile Candidates</span>
                                    <h3 class="card-number">{{ dashBoardDetails[0]?.detailedCandidate }}</h3>
                                </div>
                                <div class="align-self-center">
                                    <img class="font-large-2 float-right"
                                        src="../../../assets/images/emp-dashboard-icons/small-ic-4.png">
                                </div>
                            </div>
                            <div class="media d-flex">
                                <div class="card-inside-percentage-box">
                                    <span>8%</span>
                                </div>
                                <span class="ml-2">Since last month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <span> Assessed Candidates</span>
                                    <h3 class="card-number">{{ dashBoardDetails[0]?.assessedCandidates }}</h3>
                                </div>
                                <div class="align-self-center">
                                    <img class="font-large-2 float-right"
                                        src="../../../assets/images/emp-dashboard-icons/small-ic-3.png">
                                </div>
                            </div>
                            <div class="media d-flex">
                                <div class="card-inside-percentage-box">
                                    <span>8%</span>
                                </div>
                                <span class="ml-2">Since last month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row cardcharts">
        <div class="col-md-4">
            <div class="chartcard">
                <app-demography-chart></app-demography-chart>
            </div>
        </div>
        <div class="col-md-4">
            <div class="chartcard">   
                <div class="d-flex">
                    <div class="row">
                        <span class="progress-inside-head">Profile by Year Pass Out</span>
                        <div class="col-md-10">
                            <div class="chart-wrapper p-2">
                                <canvas baseChart [data]="doughnutChartData" [options]="options"
                                    [colors]="doughnutChartColors" [labels]="doughnutChartLabels"
                                    [plugins]="doughnutChartPlugins" [chartType]="doughnutChartType">
                                </canvas>
                            </div>
                        </div>
                        <div class="col-md-2 pro-text mt-3">
                            <div class="d-flex">
                                <div class="d-grid">
                                    <label class="yeard-flex"><div class="circle circle1"></div>2021</label>
                                    <label class="yeard-flex"><div class="circle circle2"></div>2022</label>
                                    <label class="yeard-flex"><div class="circle circle3"></div>2023</label>
                                    <label class="yeard-flex" style="width: 62px;margin-top: 11px;"><div class="circle circle4"></div>All Others</label>
                                </div>
                                <div class="d-grid protext2">
                                    <label>78,876</label>
                                    <label>75,480</label>
                                    <label>75,480</label>
                                    <label>70,876</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="chartcard"> 
                <span class="progress-inside-head">Profile by Gender</span>  
                <div class="d-flex">
                    <canvas baseChart [data]="doughnutChartDatatwo" [options]="options2"
                    [colors]="doughnutChartColors" [labels]="doughnutChartLabelstwo"
                 [chartType]="doughnutChartTypetwo">
                </canvas>
                </div>
                <div class="d-flex p-4">
                    <div class="align-indication pr-5 pl-5">
                        <div class="progress-male male"></div>
                        <span>Male</span>
                    </div> 
                    <div class="align-indication pr-5">
                        <div class="progress-male female"></div>
                        <span>Female</span>
                    </div>    
                    <div class="align-indication pr-5">
                        <div class="progress-male others"></div>
                        <span>Others</span>
                    </div>       
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="chartcard">
                <app-discipline-chart></app-discipline-chart>
            </div>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-md-4">
            <div class="chartcard">
                <app-graduation-chart></app-graduation-chart>
            </div>

        </div>
        <div class="col-md-8">
            <div class="chartcard">
                <app-degree-chart></app-degree-chart>
            </div>
        </div>
    </div>
</div>