<div class="bgwrapper">
    <div></div>
    <div class="sectionWrapper">
    <div class="left">
      <div class="ltext">
        <img
          src="assets/images/SE_White.png"
          width="250px"
          height="60"
        />
        <div class="talentxt">
          <strong>Connecting</strong>
          <span class="slim">
             Skilled Talent with Industry</span>
          <div class="decocolor"></div>
          <p>
            Skill Exchange is a one-of-a-kind platform that provides talented
            and skilled new graduates smooth transitioning from college to the
            professional world!
          </p>
        </div>
      </div>
    </div>
    <div class="right">
      <mat-card >
        <div class="wrap-reg">
          <form [formGroup]="forgotPasswordForm" class="form-wrapper" (ngSubmit)="submit()">
            <div>
              <div class="tLeft">Forgot</div>
              <h1 class="animated animatedFadeInUp fadeInUp signIn"> {{'Password?'}}</h1>
            </div>
            <mat-label class="label-color" floatLabel="never">User ID </mat-label>

              <div>
              <mat-form-field class="full-width-field" appearance="outline">
                <!-- <mat-label class="label-color">{{'userId ID' }}</mat-label> -->
                <input matInput  type="text" id="userId"  placeholder="Enter UserID" (input)="inputChanged(userId)"  formControlName="userId"   [ngClass]="{ 'is-invalid': userId.touched && userId.errors }" #userId required>
                <mat-error class="error" *ngIf="forgotPasswordForm.get('userId').hasError('maxlength')">{{'100 Characters only allowed'}}
                </mat-error>
                <mat-error class="error" *ngIf="forgotPasswordForm.get('userId').hasError('required')">{{'User Id is Required'}}</mat-error>
                <mat-error class="error" *ngIf="forgotPasswordForm.get('userId').hasError('pattern')">{{'Please enter a valid user Id address'}}</mat-error>
              </mat-form-field>
            </div>

              <div style="text-align: center;">
                <button class="btn" mat-raised-button type="submit">{{'NEXT' }}</button>
              </div>

            <br>
            <br>
            <div class="next">
              <mat-label>
                 <a class="col" (click)="signIn()">{{'Sign in' }}</a></mat-label>
            </div>

          </form>
        </div>
        </mat-card>
    </div>
    <!-- Footer area -->
    </div>
    <div class="footer-section">© 2022 L&T EduTech. All Rights Reserved</div>
