@import "../../../../assets/scss/variables.scss";
.bgwrapper{
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: url('/assets/images/lp-bg.png') no-repeat;
  background-color: #0000009E;
  background-blend-mode: multiply;
  background-size: auto ;
  @media only screen and (min-width: 1366px) {
    background-size: 100% auto ;
  }
  @media only screen and (min-height:900px) {
    background-size: auto 100% ;
  }
  @media only screen and (min-width: 1366px) and (min-height:900px) {
    background-size: 100% 100% ;
  }
}

.form-wrapper{
  display: flex;
  flex-direction: column;
}
.left{
width: 50%;
}
.right{
width: 50%;
}

mat-card{
  width:50%;
  margin:0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ltext{
  text-align: left;
  align-items:left;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  line-height: 1.5;
  .talentxt{
    margin-top: 100px;
    font-size: 40px;
    color: white;
    width: 80%;
    .slim{
      font-weight: lighter;
    }
    .decocolor{
      background: rgb(38,193,246);
      background: linear-gradient(90deg, rgba(38,193,246,1) 0%, rgba(92,182,70,1) 100%);
      border-radius: 5px;
      height: 3px;
      width: 64px;
      margin-top:10px;
    }
    p{
      margin-top:30px;
      font-style: Roboto;
      font-weight: lighter;
      font-size: 16px;
    }
  }
}

.signIn {
  text-align: left;
  color: #262626;
  font-weight: bold !important;
  font-family: "Roboto" !important;
  font-size: 35px;
  margin-bottom: 10px;
}
.tLeft{
  font-size: 24px;
  text-align: left;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 10px;
}


.form{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

input.mat-input-element {
  margin-top: 0px !important;
  // margin-bottom: 5px !important;
  font-size: 14px;
}

:host ::ng-deep.mat-input-element {
  margin: 3px !important;
}
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
  padding: 0.5em 0;
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #27BBEE !important;
}
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0px !important;
}

:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0em 0 !important;
}

:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #27BBEE !important;
}
:host ::ng-deep.mat-form-field-wrapper {
  padding-bottom: 0;
}
:host ::ng-deep.mat-form-field-subscript-wrapper {
    position: relative;
    margin: 0 !important;
    padding-top: 0 !important;
}
.error {
  margin-top: 6px;
}

.mblview{
  display: none;
}
// mobile
@media (max-width: 425px) and (max-width: 320px) {
  .talentxt{
    display: none
  }
.left{
  display: none;
}
  .sectionWrapper {
    display: flex;
    flex-direction: column;
  }
  .mat-card {
    width: 85%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .ltext {
    text-align: center;
    // align-items: left;
    /* display: flex; */
    flex-direction: column;
    /* margin-left: 100px; */
    line-height: 1.5;
  }
  }


  @media (max-width: 767px) {
    .mblview{
display: block;
      text-align: center;
    }
    .right {
      width: 100%;
      position: relative;
      top: 60px;
  }
  .left{
    width: 0%;
    display: none;
  }
  .ltext{
    .talentxt {
     margin-top: 0px;
    font-size: 40px;
    color: white;
    width: 80%;
  }
  }
  .talentxt{
    display: none
  }
  .sectionWrapper {
    display: flex !important;
    flex-direction: column !important;
  }
  .ltext {
    text-align: center;
    flex-direction: column;
     margin-left: 80px;
    line-height: 1.5;
  }

  .mat-card{
      width: 75%;
  }
  }

  @media only screen and (max-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .talentxt{
      display: none
    }
    .mblview{
display: block;
      text-align: center;
    }
    .right {
      width: 100%;
      position: relative;
      top: 60px;
  }
  .left{
    width: 0%;
  }
  .ltext{
    .talentxt {
     margin-top: 0px;
    font-size: 40px;
    color: white;
    width: 80%;
  }
  }
  .mat-card{
      width: 75%;
  }
  }
// ==button
.btn {
  font-size: 16px;
  background: #27BBEE !important;
  color: white;
  border-radius: 5px !important;
  width: 100%;
  padding: 5px 18px;
  margin-top: 20px;
}
.btn:hover {
  background: #28BBEE !important;
  transition: ease-out .3s;
}
.btn.disabled,
.btn:disabled {
opacity: 1;
color: white;
border-radius: .25rem;
font-size: 16px;
}

.sectionWrapper{
  display: flex;
  flex-direction: row;
}

mat-label{
  margin-top:15px
}

.mt-20{
  margin-top:20px !important
}

.signupTxt{
  font-size: 12px;
  text-align: center;
}

// Footer area
.footer-section{
  display: flex;
  position: relative;
  align-items: center;
  padding: 0px 0px 0px 100px;
  font-size: 10px;
  height: 40px;
  color: #F0F0F0;
  // border-top: 1px solid #929292;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(90deg, rgba(27,78,155,1) 0%, rgba(28,90,164,1) 33%, rgba(38,191,245,1) 33%, rgba(38,193,246,1) 67%, rgba(84,184,98,1) 67%, rgba(92,182,70,1) 100%);
    border-image-slice: 1;
  }
  .footer-section::before{
    border-top: 1px solid #ffffff38;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    content: "";
  }
  .footer-section::after{
    content: "";
    position: absolute;
    left: 7%;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 8px solid #00000000;
    border-right: 8px solid #00000000;
    border-bottom: 6px solid #00519c;
    clear: both;
  }
  .full-width-field {
    width: 100%;
 }
