@import "/src/assets/scss/candidate_dashboard.scss";
.pagination{
    display: flex;
    // flex-direction: row;
    // align-items: baseline;
    // justify-content: space-evenly;
    button{
        border: none;
        background-color: transparent;
        margin-right: 9px;
    }
    .number{
        color: #52575D;
    }
    button:disabled {
        cursor:not-allowed;
        color: #70707099;
     }
  
    .selected {
        background-color: #26BBEF;
        height: 24px;
        width: 24px;
        font-size: 13px;
        text-align: center;
        color: white;
        border-radius: 8px;
      }
    .left-arrow{
        .icon{
            // cursor: pointer;
            color: #707070;
        }
    }
    .right-arrow{
        .icon{
            // cursor: pointer;
            color: #707070;
        }
    }
    ul{
        position: relative;
        display: flex;
        flex-direction: row;
        li{
            position: relative;
            margin-right: 5px;
        }
    }
    
}