<!-- <div> <button (click)="downloadAsPDF()">Export To PDF</button></div> -->
<div class="pdfWrapper" *ngIf="data" id="element-to-print">
    <header>

        <!-- <figure> -->
        <img class="pdfLogo" src="/assets/images/pdfDownload/Logo.png" alt="" />
        <!-- </figure> -->
    </header>

    <section class="banner">
        <div class="content">
            BEHAVIOURAL <br />PROFILING REPORT
        </div>
    </section>

    <div class="bannerBorder"></div>

    <div class="innerWrapper">
        <section class="profile">
            <div class="left">
                <div class="heading3">{{getAllBasicData?.firstname ? getAllBasicData?.firstname : ''}}</div>
                <span>Test Completion Date: {{getAllBasicData && getAllBasicData.testDate ?
                    momentForm(getAllBasicData?.testDate) : 'Nil'}}</span>
            </div>
            <div class="right">
                <div><span>Email </span>: <span>{{email ? email : 'Nil'}}</span></div>
                <div><span>Gender </span>: <span>{{getAllBasicData?.gender ? getAllBasicData?.gender : 'Nil'}}</span>
                </div>
                <div><span>Age </span>: <span>19</span></div>
                <div><span>Education Level </span>: <span>University</span></div>
                <div><span>Work Experience </span>: <span>Nill</span></div>
                <!-- <div><span>Education level </span>: <span>{{highestEducation?.institute ? highestEducation?.institute : 'Nil'}}</span></div> -->
            </div>
        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer class="d-flex justify-content-between m-t-30">
            <div class="copyrights">
                <p> ©2022 L&T EduTech. All Rights Reserved.</p>
            </div>
            <figure class="logo">
                <img src="/assets/images/pdfDownload/Logo1.png" alt="" />
            </figure>
        </footer>
        <!-- footer end -->


        <!-- break to next page -->
        <div class="html2pdf__page-break"></div>

        <section class="heightContainer">
            <section class="commonHeight">
                <section class="fourFactors">
                    <ng-container *ngIf="getAllBehaviourData && getAllBehaviourData.introduction">
                        <div class="heading3 m-t-30">Introduction</div>
                        <p *ngFor="let introPara of getAllBehaviourData.introduction">{{introPara}}</p>
                    </ng-container>

                    <div class="heading3">THE Three FACTORS</div>
                    <figure>
                        <img src="/assets/images/pdfDownload/Three_factor.svg" alt="" />
                    </figure>
                </section>
            </section>
            <footer class="d-flex justify-content-between m-t-30">
                <div class="copyrights">
                    <p>©2022 L&T EduTech. All Rights Reserved.</p>
                </div>
                <figure class="logo">
                    <img src="/assets/images/pdfDownload/Logo1.png" alt="" />
                </figure>
            </footer>
        </section>
       
        <!-- break to next page -->
        <div class="html2pdf__page-break"></div>


        <!-- REPORT SNAPSHOT -->
        <section class="heightContainer">
            <section class="commonHeight-1">
                <ng-container *ngIf="getAllBehaviourData && getAllBehaviourData.reportSnapShot">
                    <section class="reportSnapshot">
                        <div class="heading3">REPORT SNAPSHOT</div>
                         <ng-container *ngIf="getAllBehaviourData.reportSnapShot.competency && getAllBehaviourData.reportSnapShot.competency.length > 0"></ng-container>
                        <div class="snapshotwrapper">
                            <ng-container
                                *ngFor="let competency of getAllBehaviourData.reportSnapShot.competency; let c = index">

                                <div class="report-snapshot-content">
                                    <div class="report-imageContent">
                                        <figure class="reportImage">
                                            <img class="reportimg" [src]="reportImage(competency?.name)" alt="" />
                                        </figure>
                                        <div class="report-snapshot-content-right">
                                            <div class="heading">{{competency?.name}}</div>
                                            <div>
                                                <div class="bar">
                                                    <div class="red-bar">
                                                        <div class="red-box"></div>
                                                        <div class="pointer-container">
                                                            <div class="pointer-container-">
                                                                <div class="box-red arrow-top" *ngIf="competency.stenScore==1">
                                                                    <div class="barNo">1</div>
                                                                </div>
                                                            </div>
                                                            <div class="pointer-container-2">
                                                                <div class="box-red arrow-top" *ngIf="competency.stenScore==2">
                                                                    <div class="barNo">2</div>
                                                                </div>
                                                            </div>
                                                            <div class="pointer-container-2">
                                                                <div class="box-red arrow-top"
                                                                    *ngIf="competency.stenScore==3">
                                                                    <div class="barNo">3</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="orange-bar">
                                                        <div class="orange-box"></div>
        
                                                        <div class="pointer-container">
                                                            <div class="pointer-container-orange">
                                                                <div class="box-orange arrow-top"
                                                                    *ngIf="competency.stenScore==4">
                                                                    <div class="barNo">4</div>
                                                                </div>
                                                            </div>
                                                            <div class="pointer-container-orange">
                                                                <div class="box-orange arrow-top"
                                                                    *ngIf="competency.stenScore==5">
                                                                    <div class="barNo">5</div>
                                                                </div>
                                                            </div>
                                                            <div class="pointer-container-orange">
                                                                <div class="box-orange arrow-top"
                                                                    *ngIf="competency.stenScore==6">
                                                                    <div class="barNo">6</div>
                                                                </div>
                                                            </div>
                                                            <div class="pointer-container-orange">
                                                                <div class="box-orange arrow-top"
                                                                    *ngIf="competency.stenScore==7">
                                                                    <div class="barNo">7</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="green-bar">
                                                        <div class="green-box"></div>
                                                        <div class="pointer-container">
                                                        <div class="pointer-container-green-1">
                                                            <div class="box-green arrow-top" *ngIf="competency.stenScore==8">
                                                                <div class="barNo">8</div>
                                                            </div>
                                                        </div>
                                                        <div class="pointer-container-green-2">
                                                            <div class="box-green arrow-top" *ngIf="competency.stenScore==9">
                                                                <div class="barNo">9</div>
                                                            </div>
                                                        </div>
                                                        <div class="pointer-container-green-3">
                                                            <div class="box-green arrow-top" *ngIf="competency.stenScore==10">
                                                                <div class="barNo">10</div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="snapshot-point">
                                                <div class="snapshot-point-red">
                                                    <ul class="bullet" *ngFor="let dContent of competency.developmentContent">
                                                        <li>{{dContent.item}}</li>
                                                        
                                                    </ul>
                                                </div>
                                                <div class="snapshot-point-green">
                                                    <ul class="bullet" *ngFor="let sContent of competency.strengthContent">
                                                        <li>{{sContent.item}}</li>
                                                       
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="bottom-border">
                                                <div class="snapshot-bottom-border"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </section>
                </ng-container>
                
            </section>
            <div class="benchmarkInfo">
                <figure class="chart">
                    <img src="/assets/images/behaviourmeter.svg" alt="">
                </figure>
                <div class="score d-flex justify-content-between flex-wrap">
                    <div class="heading5">SCORE BENCHMARK INFO</div>
                    <div class="wrapper">
                        <ng-container *ngFor="let score of benchMarkScore">
                            <div class="score-content"
                                [ngClass]="{'red':score.color == 'red', 'green': score.color == 'green','orange':score.color == 'orange'}">
                                <div class="scorepoint">{{score.score}}</div>
                                <div class="scorelabel">{{score.label}}</div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <footer class="d-flex justify-content-between">
                <div class="copyrights">
                    <p> ©2022 L&T EduTech. All Rights Reserved.</p>
                </div>
                <figure class="logo">
                    <img src="/assets/images/pdfDownload/Logo1.png" alt="" />
                </figure>
            </footer>
        </section>
       
        <!-- REPORT SNAPSHOT END -->

        <!-- break to next page -->
        <div class="html2pdf__page-break"></div>

        <ng-container
            *ngIf="getAllBehaviourData && getAllBehaviourData.reportSnapShot && getAllBehaviourData.reportSnapShot.competency">

            <ng-container
                *ngFor="let factors of getAllBehaviourData.reportSnapShot.competency; let factorIndex = index">
                <ng-container *ngIf="factors?.skills && factors.skills.length > 0">
                    <ng-container *ngFor="let skillsDetail of factors.skills; let skillDetailIndex = index">
                        <section class="heightContainer">
                            <section class="commonHeight">
                                <section class="thoughtSection">
                                    <div class="commonHeader">
                                        <figure class="bg">
                                            <img src="/assets/images/pdfDownload/thoughtBG.svg" alt="" />
                                        </figure>
                                        <div class="wrapper d-flex justify-content-between align-items-center">
                                            <div class="left">
                                                <figure>
                                                    <img [src]="factorsImage(factors?.name)" alt="" />
                                                </figure>
                                            </div>
                                            <div class="right">
                                                <div class="heading">
                                                    <span>{{factors?.name}}</span>
                                                    <span class="foctorssubpara">{{removeheading ? removeheading :
                                                        ''}}</span>
                                                </div>
                                                <ul *ngIf="factors?.skills && factors.skills.length > 0">
                                                    <li *ngFor="let skills of factors.skills"><img
                                                            src="/assets/images/rightArrow.svg" alt="" /> <span
                                                            class="skillname">{{skills.name}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="factorheader">
                                        <div class="factorheadercontent">
                                            <div class="img1">
                                                <figure class="factorsSkillsImagecontainer">
                                                    <img class="factorsSkillsImage" alt=""
                                                        [src]="factorsSkillsImage(skillsDetail?.name)">
                                                </figure>
                                                <span class="txt">
                                                    <span class="Text">{{skillsDetail?.name}} &nbsp;</span>
                                                </span>
                                            </div>
                                            <div class="h2">
                                                <span class="skilldiscription"> {{skillsDetail?.skillDescription ?
                                                    skillsDetail?.skillDescription : '-'}}</span>
                                                <span class="img">
                                                    <!-- <ng-container *ngIf="">
                                                    <div *ngIf="" class="palette">
                                                        <div class="color1"></div>
                                                        <div class="color2"></div>
                                                        <div class="color3"></div>
                                                        <div class="color4"></div>
                                                        <div class="color5"></div>
                                                        <div class="color6"></div>
                                                        <div class="color7"></div>
                                                        <div class="color8"></div>
                                                        <div class="color9"></div>
                                                        <div class="color10"></div>
                                                        </div>
                                                        <div class="palette2">
                                                        <div class="color01"></div>
                                                        <div class="color02"></div>
                                                        <div class="color03"></div>
                                                        <div class="color04"></div>
                                                        <div class="color05"></div>
                                                        <div class="color06"></div>
                                                        <div class="color07"></div>
                                                        <div class="color08"></div>
                                                        <div class="color09"></div>
                                                        <div class="color010"></div>
                                                        </div>
                                                    </ng-container> -->
                                                    <div class="chart paddingLeft">
                                                        <span class="numberCircle"
                                                            [ngStyle]="{'border': '2px solid' + factors?.colourcode,'color':factors?.colourcode}">
                                                            {{skillsDetail?.stenScore ? skillsDetail?.stenScore :
                                                            0}}</span>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="snapshot-point">
                                            <div class="content1" >
                                                <div class="snapshot-point-red" [ngStyle]="{'border-left': '7px solid' + factors?.colourcode}">
                                                    <ul class="bullet">
                                                        <li>
                                                            {{skillsDetail?.scorebasedSkillDescription ? skillsDetail?.scorebasedSkillDescription: '-' }}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="content2">
                                                <div class="snapshot-point-green">
                                                    <ul class="bullet"
                                                    *ngFor=" let dev of skillsDetail.developmentScope">
                                                        <li>
                                                            {{dev?.item ? dev?.item: 'No Recommendations' }}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <div class="benchmarkInfo">
                                    <figure class="chart">
                                        <img src="/assets/images/behaviourmeter.svg" alt="">
                                    </figure>
                                    <div class="score d-flex justify-content-between flex-wrap">
                                        <div class="heading5">SCORE BENCHMARK INFO</div>
                                        <div class="wrapper">
                                            <ng-container *ngFor="let score of benchMarkScore">
                                                <div class="score-content"
                                                    [ngClass]="{'red':score.color == 'red', 'green': score.color == 'green', 'yellow':score.color == 'yellow' ,'orange':score.color == 'orange'}">
                                                    <div class="scorepoint">{{score.score}}</div>
                                                    <div class="scorelabel">{{score.label}}</div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <footer class="d-flex justify-content-between">
                                <div class="copyrights">
                                    <p>©2022 L&T EduTech. All Rights Reserved.</p>
                                </div>
                                <figure class="logo">
                                    <img src="/assets/images/pdfDownload/Logo1.png" alt="" />
                                </figure>
                            </footer>
                        </section>
                        <div class="html2pdf__page-break"></div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
        <div class="html2pdf__page-break"></div>
        <!-- break to next page -->

        <section class="heightContainer" *ngIf="isaccess">
            <section class="commonHeight">
                <section class="behaviouralEvent scope" *ngIf="isaccess">
                    <div class="header" *ngIf="getAllBehaviourData?.conclusion">
                        <div class="heading">
                            {{getAllBehaviourData?.conclusion?.topicName}}
                        </div>
                        <p *ngIf="getAllBehaviourData?.conclusion">{{getAllBehaviourData?.conclusion?.description}}</p>
                    </div>
                    <ng-container
                        *ngIf="getAllBehaviourData && getAllBehaviourData.reportSnapShot && getAllBehaviourData.reportSnapShot.competency">
                        <ng-container
                            *ngFor="let factors of getAllBehaviourData.reportSnapShot.competency; let factorIndex = index">
                            <ng-container *ngIf="factors?.skills && factors.skills.length > 0">
                                <ng-container *ngFor="let skillsDetail of factors.skills; let skillDetailIndex = index">
                                    <div class="wrapper d-flex justify-content-between">
                                        <div class="left">
                                            <span>{{skillsDetail?.name}}: &nbsp;</span>
                                        </div>
                                        <div class="right">
                                            <ng-container *ngIf="factors?.skills && factors.skills.length > 0">
                                                <ol>
                                                    <li
                                                        *ngFor="let skillsDetail of factors.skills; let skillDetailIndex = index">
                                                        {{skillsDetail?.scorebasedSkillDescription ?
                                                        skillsDetail?.scorebasedSkillDescription : '-'}}</li>
                                                </ol>
                                            </ng-container>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <!-- break page -->
                        </ng-container>
                    </ng-container>
                </section>
            </section>
            <!--
            <footer class="d-flex justify-content-between">
                <div class="copyrights">
                    <p>Behavioural Profiling Report &nbsp;|&nbsp; ©2021 L&T EduTech. All Rights Reserved.</p>
                </div>
                <figure class="logo">
                    <img src="/assets/images/pdfDownload/Logo1.png" alt="" />
                </figure>
            </footer> -->
        </section>

        <!-- break to next page -->
        <div class="html2pdf__page-break"></div>
    </div>
</div>

<ng-template #noImprovements>
    <div class="noData">
        No Suggestions on Area of Development.
    </div>
</ng-template>

<ng-template #noStrength>
    <div class="noData">
        No Suggestions on Strength Areas.
    </div>
</ng-template>