<div class="body">
    <div class="DS-link-text-container">
        <div class="titile1">
            <div class="title1-text">
                <a routerLink="/auth/drive/managedrive"> Manage Drive</a>
            </div>
        </div>
        <span class="arrow">
            >
        </span>
        <span>
            <div class="titile2">
                <div class="title2-text">
                    Drive Settings
                </div>
            </div>
        </span>

    </div>
    <div class="header">
        <div class="header-text"> Settings</div>
    </div>
    <div class="drive-setting-container">
        <div class="ds-body-container">
            <div class="left-scroll">
                <div class="left-scroll-container">
                    <div>
                        <div class="left-box1">
                            <img src="/assets/images/collabe.png" class="logo">
                        </div>
                        <div class="left-box-border"></div>
                    </div>
                    <div>
                        <div>
                            <div class="left-box1">
                                <div class="job-role">
                                    <div class="job-role-text1-container">
                                        <div class="job-role-text1">Software Developer</div>
                                    </div>
                                    <div class="job-role-text2-container">
                                        <div class="job-role-text2">Full-Time</div>
                                    </div>
                                    <div class="job-role-status-container">
                                        <div class="status">Active</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="left-box-border"></div>
                    </div>
                    <div>
                        <div class="left-box1">
                            <div>
                                <div class="candidate-applied-no-container">
                                    <div class="candidate-applied-no">201</div>
                                </div>

                                <div class="candidate-applied-text-container">
                                    <div class="candidate-applied-text">Candidates Applied</div>
                                </div>
                            </div>
                        </div>
                        <div class="left-box-border"></div>
                    </div>
                    <div>
                        <div class="left-box1">
                            <div>
                                <div class="app-close-on-text-container">
                                    <div class="app-close-on-text">Application closes on:</div>
                                </div>
                                <div class="app-close-on-date-container">
                                    <div class="app-close-on-date">Sep 22, 2022 12:20 pm</div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="left-box-border"></div> -->
                    </div>
                </div>
                <div class="lef-scroll-Rborder"> </div>
            </div>
            <div class="right-scroll">
                <div class="job-profile">
                    <div class="jobprofile-header-container">
                        <div class="jobprofile-header">
                            <div class="jobprofile-header-text">
                                Job Profile Details
                            </div>
                        </div>
                        <div class="edit-icon">
                            <mat-icon>create</mat-icon>Edit
                        </div>
                    </div>
                    <div class="border-line">
                        <div class="bottom-border"></div>
                    </div>
                    <div>
                        <div>
                            <div class="label-conainer">
                                <div class="label">
                                    <div class="label-text">Job Role</div>
                                </div>
                                <div class="lable-value">
                                    <div class="label-value-text">Software Developer</div>
                                </div>
                            </div>
                            <div class="border-line">
                                <div class="bottom-border"></div>
                            </div>
                        </div>
                        <div>
                            <div class="label-conainer">
                                <div class="label">
                                    <div class="label-text">Job Title</div>
                                </div>
                                <div class="lable-value">
                                    <div class="label-value-text">Associate</div>
                                </div>
                            </div>
                            <div class="border-line">
                                <div class="bottom-border"></div>
                            </div>
                        </div>
                        <div>
                            <div class="label-conainer">
                                <div class="label">
                                    <div class="label-text">Job Location</div>
                                </div>
                                <div class="lable-value">
                                    <div class="label-value-text">Chennai</div>
                                </div>
                            </div>
                            <div class="border-line">
                                <div class="bottom-border"></div>
                            </div>
                        </div>
                        <div>
                            <div class="label-conainer">
                                <div class="label">
                                    <div class="label-text">Key Skills</div>
                                </div>
                                <div class="lable-value">
                                    <div class="label-value-text">Marine Engineering, Nautical Science</div>
                                </div>
                            </div>
                            <div class="border-line">
                                <div class="bottom-border"></div>
                            </div>
                        </div>
                        <div>
                            <div class="label-conainer">
                                <div class="label">
                                    <div class="label-text">CTC</div>
                                </div>
                                <div class="lable-value">
                                    <div class="label-value-text">8 LPA - 12 LPA</div>
                                </div>
                            </div>
                            <div class="border-line">
                                <div class="bottom-border"></div>
                            </div>
                        </div>
                        <div>
                            <div class="label-conainer">
                                <div class="label">
                                    <div class="label-text">Job Description</div>
                                </div>
                                <div class="lable-value">
                                    <div class="label-value-text">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                        ever
                                        since the 1500s, when an unknown printer took a galley of type and scrambled it
                                        to
                                        make a type specimen book</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Eligibility-criteria">
                    <div class="jobprofile-header-container2">
                        <div class="jobprofile-header2">
                            <div class="jobprofile-header-text2">
                                Eligibility Criteria
                            </div>
                        </div>
                    </div>
                    <div class="border-line">
                        <div class="bottom-border"></div>
                    </div>
                    <div class="education">
                        <div class="education-lable">
                            <div class="education-lable-text">
                                Education
                            </div>
                        </div>
                        <div class="edit-icon">
                            <mat-icon>create</mat-icon>Edit
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>