<div class="body">
    <div class="DS-link-text-container">
        <div class="titile1">
            <div class="active-link" (click)="dashboard()">View Job Requirements</div>
        </div>
        <span class="arrow"> > </span>
        <span>
            <div class="titile2">
                <div class="title2-text"> Drive Settings </div>
            </div>
        </span>
    </div>
    <div class="header">
        <div class="header-text"> Drive Settings</div>
    </div>

    <div class="drive-setting-container">
        <div class="ds-body-container">
            <div class="left-scroll">
                <div class="left-scroll-container">
                    <div>
                        <div class="left-box1">
                            <img src="{{jobReqData?.companyLogo}}" class="logo">
                        </div>
                        <div class="left-box-border"></div>
                    </div>
                    <div>
                        <div>
                            <div class="left-box1">
                                <div class="job-role">
                                    <div class="job-role-text1-container">
                                        <div class="job-role-text1"> {{jobReqData?.jobRole}} </div>
                                    </div>
                                    <div class="job-role-text2-container">
                                        <div class="job-role-text2"> {{jobReqData?.jobType}} </div>
                                    </div>
                                    <div class="job-role-status-container">
                                        <!-- <div class="status"> {{jobReqData?.status}} </div> -->
                                        <div
                                            [ngClass]="{'status-active': jobReqData?.status === 'Active', 'status-expired': jobReqData?.status === 'Expired'}">
                                            {{ jobReqData?.status }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="left-box-border"></div>
                    </div>
                    <div>
                        <div class="left-box1">
                            <div>
                                <div class="candidate-applied-no-container" (click)="navigateToCandidateList()">
                                    <div class="candidate-applied-no">{{jobReqData?.candidatesAppliedCount}}</div>
                                </div>
                                <div class="candidate-applied-text-container">
                                    <div class="candidate-applied-text">Candidates Applied</div>
                                </div>
                            </div>
                        </div>
                        <div class="left-box-border"></div>
                    </div>
                    <div>
                        <div class="left-box1">
                            <div>
                                <div class="app-close-on-text-container">
                                    <div class="app-close-on-text">Application closes on:</div>
                                </div>
                                <div class="app-close-on-date-container">
                                    <div class="app-close-on-date">
                                        {{jobReqData?.lastDatetoApply | date:'MMM dd, yyyy'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lef-scroll-Rborder"> </div>
            </div>

            <div class="right-scroll">


                <div class="job-profile" [formGroup]="jobForm">
                    <div class="jobprofile-header-container">
                        <div class="jobprofile-header">
                            <div class="jobprofile-header-text">
                                Job Profile Details
                            </div>
                        </div>
                        <div class="edit-icon" (click)="toggleEditMode()" *ngIf="editModeVisible">
                            <mat-icon>create</mat-icon>Edit
                        </div>
                    </div>
                    <div class="border-line">
                        <div class="bottom-border"></div>
                    </div>
                    <div>

                        <div>
                            <div class="label-conainer">
                                <div class="label">
                                    <div class="label-text">Job Role</div>
                                </div>
                                <div class="lable-value" *ngIf="!editMode">
                                    <div class="label-value-text">{{jobReqData?.jobRole}}</div>
                                </div>

                                <div class="lable-value custom-form" *ngIf="editMode">
                                    <input type="text" formControlName="jobRole" class="inputForm">
                                    <div *ngIf="jobForm.get('jobRole').hasError('required') && jobForm.get('jobRole').touched"
                                        class="text-danger">
                                        Job Role is required.
                                    </div>
                                </div>
                            </div>
                            <div class="border-line">
                                <div class="bottom-border"></div>
                            </div>
                        </div>
                        <div>
                            <div class="label-conainer">
                                <div class="label">
                                    <div class="label-text">Job Title</div>
                                </div>
                                <div class="lable-value" *ngIf="!editMode">
                                    <div class="label-value-text">{{jobReqData?.jobTitle}}</div>
                                </div>
                                <div class="lable-value custom-form" *ngIf="editMode">
                                    <input type="text" formControlName="jobTitle" class="inputForm">
                                    <div *ngIf="jobForm.get('jobTitle').hasError('required') && jobForm.get('jobTitle').touched"
                                        class="text-danger">
                                        Job Title is required.
                                    </div>
                                </div>
                            </div>
                            <div class="border-line">
                                <div class="bottom-border"></div>
                            </div>
                        </div>
                        <div>
                            <div class="label-conainer">
                                <div class="label">
                                    <div class="label-text">Job Location</div>
                                </div>
                                <div class="lable-value" *ngIf="!editMode">
                                    <div class="label-value-text">{{jobReqData?.jobLocation}}</div>
                                </div>

                                <div class="label-value custom-form" *ngIf="editMode">
                                    <nz-select nzMode="tags" nzShowSearch nzAllowClear
                                        nzPlaceHolder="Chennai, Bangalore" formControlName="jobLocation"
                                        (input)="locationSearch($event)" class="width-100">
                                        <nz-option *ngFor="let option of locations" [nzLabel]="option"
                                            [nzValue]="option"></nz-option>
                                    </nz-select>
                                    <div *ngIf="jobForm.get('jobLocation').hasError('required') && jobForm.get('jobLocation').touched"
                                        class="text-danger">
                                        Job Location is required.
                                    </div>
                                </div>


                            </div>
                            <div class="border-line">
                                <div class="bottom-border"></div>
                            </div>
                        </div>
                        <div>
                            <div class="label-conainer">
                                <div class="label">
                                    <div class="label-text">Key Skills</div>
                                </div>
                                <div class="lable-value" *ngIf="!editMode">
                                    <div class="label-value-text">{{jobReqData?.skillSet}}</div>
                                </div>

                                <div class="label-value custom-form" *ngIf="editMode">
                                    <nz-select nzAllowClear [nzSize]="default" nzMode="tags"
                                        nzPlaceHolder="Select the Skills" class="keySkills" formControlName="skillSet"
                                        (input)="handleSearch($event)" class="width-100">
                                        <nz-option *ngFor="let option of listOfOption" [nzLabel]="option"
                                            [nzValue]="option"></nz-option>
                                    </nz-select>
                                    <div *ngIf="jobForm.get('skillSet').hasError('required') && jobForm.get('skillSet').touched"
                                        class="text-danger">
                                        Key Skills Required.
                                    </div>
                                </div>


                            </div>
                            <div class="border-line">
                                <div class="bottom-border"></div>
                            </div>
                        </div>
                        <div>
                            <div class="label-conainer">
                                <div class="label">
                                    <div class="label-text">CTC</div>
                                </div>
                                <div class="lable-value" *ngIf="!editMode">
                                    <div class="label-value-text">{{jobReqData?.ctc}}</div>
                                </div>
                                <div class="label-value custom-form" *ngIf="editMode">



                                    <div class="width-50" *ngIf="selectedOption === 'Jobs'">
                                        <div class="form-group salary-range">
                                            <mat-radio-group aria-label="Select an option"
                                                [(ngModel)]="selectedRangeOption" (ngModelChange)="onCtcOptionChange()"
                                                formControlName="ctcOption" style="width:40%;">
                                                <mat-radio-button value="fixed" color="primary">Fixed</mat-radio-button>
                                                <mat-radio-button value="range" class="range"
                                                    color="primary">Range</mat-radio-button>
                                            </mat-radio-group>

                                            <div *ngIf="selectedRangeOption === 'fixed'"
                                                style="width:-webkit-fill-available;">
                                                <input type="number" id="numberInput" formControlName="fixed"
                                                    class="inputForm" placeholder="CTC (numeric only)">
                                                <div *ngIf="jobForm.get('fixed').hasError('required') && jobForm.get('fixed').touched"
                                                    class="text-danger">
                                                    CTC required.
                                                </div>
                                            </div>
                                            <div *ngIf="selectedRangeOption === 'range'"
                                                style="width:-webkit-fill-available;">
                                                <div class="flex_div flx_evenly flx_center">
                                                    <div><input type="number" id="numberInput"
                                                            formControlName="startrange" class="inputForm"
                                                            placeholder="CTC Start Range (numeric only)">
                                                        <div *ngIf="jobForm.get('startrange').hasError('required') && jobForm.get('startrange').touched"
                                                            class="text-danger">
                                                            Start Range of CTC required.
                                                        </div>
                                                    </div>
                                                    <div>-</div>
                                                    <div><input type="number" id="numberInput"
                                                            formControlName="endrange" class="inputForm"
                                                            placeholder="CTC End Range (numeric only)">
                                                        <div *ngIf="jobForm.get('endrange').hasError('required') && jobForm.get('endrange').touched"
                                                            class="text-danger">
                                                            End Range of CTC required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                            <div class="border-line">
                                <div class="bottom-border"> </div>
                            </div>
                        </div>
                        <div>
                            <div class="label-conainer">
                                <div class="label">
                                    <div class="label-text">Job Description</div>
                                </div>
                                <!-- <div class="lable-value" *ngIf="!editMode">
                                    <div class="label-value-text">{{jobReqData?.description[0].item}}</div>
                                </div> -->
                                <div class="lable-value" *ngIf="!editMode">
                                    <div class="label-value-text" [innerHTML]="jobReqData?.description[0].item"></div>
                                </div>

                                <div class="lable-value custom-form" *ngIf="editMode">
                                    <angular-editor [property]='binding' [config]="config" formControlName="description"
                                        id="jobDescription"></angular-editor>
                                    <div *ngIf="jobForm.get('description').hasError('required') && jobForm.get('description').touched"
                                        class="text-danger">
                                        Job Description Required.
                                    </div>
                                </div>

                            </div>

                            <div class="border-line">
                                <div class="bottom-border"></div>
                            </div>
                        </div>

                        <!-- <div>{{jobReqData?.jobId}}</div> -->

                        <div>
                            <div class="label-conainer">
                                <div class="label">
                                    <div class="label-text">Job Requirements</div>
                                </div>
                                <!-- <div class="lable-value" *ngIf="!editMode">
                                    <div class="label-value-text">{{jobReqData?.requirement[0].item}}</div>
                                </div> -->
                                <div class="lable-value" *ngIf="!editMode">
                                    <div class="label-value-text" [innerHTML]="jobReqData?.requirement[0].item"></div>
                                </div>

                                <div class="lable-value custom-form" *ngIf="editMode">
                                    <angular-editor [property]='binding' [config]="config" formControlName="requirement"
                                        id="jobrequirement"></angular-editor>
                                    <div *ngIf="jobForm.get('requirement').hasError('required') && jobForm.get('requirement').touched"
                                        class="text-danger">
                                        Job Requirement Required.
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="flex_div flx_center submit_btn" *ngIf="editMode" style="float:right;">
                            <div class="mg-5" (click)="updateJobProfile()"><button type="submit"
                                    class="btn btn-primary save_btn">Save</button></div>
                            <div class="cancel_btn mg-5" (click)="cancelBtn()">Cancel</div>
                        </div>


                    </div>
                </div>


                <div class="eligibility-criteria">
                    <div class="jobprofile-header-container2">
                        <div class="jobprofile-header2">
                            <div class="jobprofile-header-text2">
                                Eligibility Criteria
                            </div>
                        </div>
                    </div>
                    <div class="border-line">
                        <div class="bottom-border"></div>
                    </div>
                    <div class="education">
                        <div class="education-lable">
                            <div class="jobprofile-header-text2"> Education </div>
                        </div>
                        <!-- <div class="edit-icon">
                            <mat-icon>create</mat-icon>Edit
                        </div> -->
                    </div>
                    <div class="edu-values" *ngIf="jobReqData?.education.length == 0">
                        <div class="education-lable-text"> No Education defined. All students are eligible </div>
                    </div>
                    <div class="edu-values" *ngIf="jobReqData?.education">
                        <div *ngFor="let educationItem of jobReqData?.education; let i=index;">
                            <div class="flex_div edu_items" *ngIf="!educationItem.editEducation">
                                <div class="edu_section width-20 pd-5 font_bold">
                                    {{ educationItem.specification }}</div>
                                <div class="separator_line_width"></div>
                                <div class="sec_discipline width-60 flex_div">
                                    <div *ngFor="let discipline of educationItem.discipline">
                                        <div class="key_disciplines"
                                            *ngIf="discipline.trim() !== 'X Std' && discipline.trim() !== 'XII Std'">
                                            {{ discipline.trim() }}
                                        </div>
                                        <div *ngIf="discipline.trim() === 'X Std' || discipline.trim() === 'XII Std'">

                                        </div>
                                    </div>
                                </div>
                                <div class="separator_line_width"></div>
                                <div class="edu_section width-20">
                                    <div class="pd-5">
                                        <div style="cursor: pointer;color: #1B4E9B;text-align:center;"
                                            (click)="toggleEditEducation(educationItem, i)">
                                            <mat-icon>create</mat-icon>Edit
                                        </div>
                                    </div>
                                    <div class="separator_line_ht"></div>
                                    <div class="pd-5">
                                        <div style="cursor: pointer;color: #1B4E9B;text-align:center;"
                                            (click)="DeleteEducation(educationItem, i)">
                                            <mat-icon>delete</mat-icon>Delete
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="educationItem.editEducation">
                                <div style="border: 1px solid #dfdfdf; margin-bottom: 100px; width: 100%;">
                                    <fieldset class="education-fieldset">
                                        <div *ngFor="let group of formGroups; let i = index"
                                            class="inputForm flex_div education_set pd-20">
                                            <div class="mg-r-10 width-30">
                                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Graduation"
                                                    [(ngModel)]="educationItem.level" [formControl]="group.get('level')"
                                                    (ngModelChange)="onGraduationChange($event, i)">
                                                    <!-- <nz-option *ngFor="let option of educations" [nzLabel]="option.education" [nzValue]="option.education"
                                                [nzDisabled]="isGraduationDisabled(option.education, i)"></nz-option> -->

                                                    <nz-option *ngFor="let option of educations"
                                                        [nzLabel]="option.education" [nzValue]="option.education"
                                                        [nzDisabled]="isGraduationDisabled(option.education, i)"></nz-option>

                                                </nz-select>
                                                <div *ngIf="group.get('level').hasError('required') && group.get('level').touched"
                                                    class="text-danger">
                                                    Graduation Field Required.
                                                </div>
                                            </div>
                                            <div class="mg-l-10 width-30">
                                                <nz-select [nzDisabled]="isdegreeDisabled(i)"
                                                    [(ngModel)]="educationItem.specification" nzShowSearch nzAllowClear
                                                    nzPlaceHolder="Degree" [formControl]="group.get('specification')"
                                                    (ngModelChange)="onDegreeChange($event, i)">
                                                    <nz-option *ngFor="let option of degreeOptions" [nzLabel]="option"
                                                        [nzValue]="option"></nz-option>
                                                </nz-select>
                                                <div *ngIf="group.get('specification').hasError('required') && group.get('specification').touched"
                                                    class="text-danger">
                                                    Degree Required.
                                                </div>
                                            </div>
                                            <div class="mg-l-10 width-40 overflow_scroll">
                                                <nz-select [nzMaxTagCount]="3" nzAllowClear
                                                    [nzDisabled]="iscourseDisabled(i)"
                                                    [(ngModel)]="educationItem.discipline"
                                                    [ngModelOptions]="{ standalone: true }" [nzSize]="default"
                                                    nzMode="multiple"
                                                    nzPlaceHolder="--Select Specialization (Multiple Select)---"
                                                    [formControl]="group.get('discipline')">
                                                    <nz-option *ngFor="let option of listOfSpecializations"
                                                        [nzLabel]="option" [nzValue]="option"></nz-option>
                                                </nz-select>
                                                <div *ngIf="group.get('discipline').hasError('required') && group.get('discipline').touched"
                                                    class="text-danger">
                                                    Specialization is Required.
                                                </div>
                                            </div>
                                            <div class="remove_group_text" *ngIf="formGroups.length > 1 && i > 0"
                                                (click)="removeEducationGroup(i)"><span class="close-icon">X</span>
                                            </div>
                                        </div>
                                        <!-- <div class="add_more_text" (click)="addEducationGroup()">Add More</div> -->
                                    </fieldset>

                                    <div class="flex_div flx_center submit_btn" style="float:right;padding: 20px 0px;">
                                        <div class="mg-5">
                                            <button type="submit" class="btn btn-primary save_btn"
                                                (click)="saveEducation(i)">Save</button>
                                        </div>
                                        <div class="cancel_btn mg-5" (click)="cancelEditMode(educationItem)">Cancel
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!addneweducationGroup && !editGroup" class="add_more_text"
                        (click)="addEducationGroup()">Add More
                    </div>

                    <div class="edu-values" *ngIf="addneweducationGroup && !editGroup">
                        <fieldset class="education-fieldset">
                            <div *ngFor="let group of formGroups; let i = index"
                                class="inputForm pd-20 flex_div education_set">
                                <div class="mg-r-10 width-30">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Graduation"
                                        [formControl]="group.get('level')"
                                        (ngModelChange)="onGraduationChange($event, i)">
                                        <nz-option *ngFor="let option of educations" [nzLabel]="option.education"
                                            [nzValue]="option.education"
                                            [nzDisabled]="isGraduationDisabled(option.education, i)"></nz-option>

                                    </nz-select>
                                    <div *ngIf="group.get('level').hasError('required') && group.get('level').touched"
                                        class="text-danger">
                                        Graduation Field Required.
                                    </div>
                                </div>
                                <div class="mg-l-10 width-30">
                                    <nz-select [nzDisabled]="isdegreeDisabled(i)" nzShowSearch nzAllowClear
                                        nzPlaceHolder="Degree" [formControl]="group.get('specification')"
                                        (ngModelChange)="onDegreeChange($event, i)">
                                        <nz-option *ngFor="let option of degreeOptions" [nzLabel]="option"
                                            [nzValue]="option"></nz-option>
                                    </nz-select>
                                    <div *ngIf="group.get('specification').hasError('required') && group.get('specification').touched"
                                        class="text-danger">
                                        Degree Required.
                                    </div>
                                </div>
                                <div class="mg-l-10 width-40 overflow_scroll">
                                    <nz-select nzAllowClear [nzDisabled]="iscourseDisabled(i)"
                                        [ngModel]="group.get('multipleSpecialization')?.value"
                                        [ngModelOptions]="{ standalone: true }" [nzSize]="default" nzMode="multiple"
                                        nzPlaceHolder="--Select Specialization (Multiple Select)---"
                                        [formControl]="group.get('discipline')">
                                        <nz-option *ngFor="let option of listOfSpecializations" [nzLabel]="option"
                                            [nzValue]="option"></nz-option>
                                    </nz-select>
                                    <div *ngIf="group.get('discipline').hasError('required') && group.get('discipline').touched"
                                        class="text-danger">
                                        Specialization is Required.
                                    </div>
                                </div>
                                <!-- <div class="remove_group_text" *ngIf="formGroups.length > 1 && i > 0" (click)="removeEducationGroup(i)"><span
                              class="close-icon">X</span>
                          </div> -->
                            </div>
                            <!-- <div class="add_more_text" (click)="addEducationGroup()">Add More</div> -->
                        </fieldset>
                        <div class="flex_div flx_center submit_btn" style="float:right;padding: 20px 0px;">
                            <div class="mg-5">
                                <button type="submit" class="btn btn-primary save_btn"
                                    (click)="saveaddMoreItem(i)">Save</button>
                            </div>
                            <div class="cancel_btn mg-5" (click)="cancelAddItem(i)">Cancel
                            </div>
                        </div>
                    </div>
                </div>

                <div class="set-criteria custom-criteria">
                    <div class="set-criteria-header-container2">
                        <div class="jobprofile-criteria">
                            <div class="jobprofile-header-text2">
                                Set Criteria
                            </div>
                            <div class="add-criteria flex_div flx_center" (click)="toggleCustomCriteria()"
                                *ngIf="editCustomCriteriaVisible && !addneweducationGroupCriteria && !criteriaEditGroup">
                                <mat-icon>add</mat-icon>
                                <div style="margin-left: -5px;">Add Criteria</div>
                            </div>
                        </div>
                    </div>
                    <div class="border-line">
                        <div class="bottom-border"></div>
                    </div>
                    <!-- <div class="flex_div flx_between"> -->
                    <div class="width-100 edu-values">
                        <div
                            *ngIf="jobReqData && jobReqData.eligibilityCriteria && jobReqData.eligibilityCriteria.length == 0 && !showCustomCriteria">
                            <div class="education-lable-text">
                                No Criteria defined. All students are eligible
                            </div>
                        </div>

                        <div class="edu-values" *ngIf="jobReqData?.eligibilityCriteria">
                            <div *ngFor="let eligibilityItem of jobReqData?.eligibilityCriteria; let i=index;">
                                <div *ngIf="!eligibilityItem.showCustomCriteria">
                                    <div class="education-lable flex_div flx_baseline width-100 flx_between">
                                        <div>
                                            <span
                                                class="education-lable-text">{{eligibilityItem.marks}}{{eligibilityItem.scoreType
                                                == 'cgpa'
                                                ? '
                                                CGPA' : '% marks'}} </span> in <span
                                                class="education-lable-text">{{eligibilityItem.educationLevel}}</span>
                                            for the
                                            Academic
                                            Qualification
                                        </div>

                                        <div class="flex_div flx_center submit_btn pd-tp-10" style="float:right;">
                                            <div class="mg-5"><button type="submit" class="btn btn-primary save_btn"
                                                    (click)="toggleeditCustomCriteria(eligibilityItem, i)">Edit</button>
                                            </div>
                                            <div class="cancel_btn mg-5"
                                                (click)="deleteCustomCriteria(eligibilityItem, i)">Delete</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="education-lable width-100 inputForm custom-form pd-20 edu-values"
                                    *ngIf="eligibilityItem.showCustomCriteria">
                                    <div>
                                        <div>Applications Must have scored</div>
                                        <div class="flex_div flx_center flx_between mg-tp-10"
                                            *ngFor="let criteria of criteriaGroups; let i = index">
                                            <div class="percent width-30">
                                                <nz-select [nzSize]="'large'" nzMode="default" nzPlaceHolder="Select"
                                                    class="scoreType" [formControl]="criteria.controls['scoreType']"
                                                    nzAllowClear nzShowSearch [ngModel]="eligibilityItem?.scoreType">
                                                    <nz-option [nzLabel]="'%'" [nzValue]="'percentage'"></nz-option>
                                                    <nz-option [nzLabel]="'CGPA'" [nzValue]="'cgpa'"></nz-option>
                                                </nz-select>
                                                <div *ngIf="criteria.get('scoreType').hasError('required') && criteria.get('scoreType').touched"
                                                    class="text-danger">
                                                    ScoreType is Required
                                                </div>
                                            </div>
                                            <div class="width-30">
                                                <input style="height: 42px;" class="inputForm"
                                                    [formControl]="criteria.controls['marks']" type="number"
                                                    placeholder="Score" [ngModel]="eligibilityItem?.marks">
                                                <div *ngIf="criteria.get('marks').hasError('required') && criteria.get('marks').touched"
                                                    class="text-danger">
                                                    Score Required
                                                </div>
                                            </div>
                                            <div>in </div>
                                            <div class="width-30">
                                                <nz-select [ngModel]="eligibilityItem?.educationLevel"
                                                    [nzSize]="'large'" nzMode="default" nzPlaceHolder="Select"
                                                    class="educationLevel"
                                                    [formControl]="criteria.controls['educationLevel']" nzAllowClear
                                                    nzShowSearch>
                                                    <nz-option *ngFor="let option of educationLevels" [nzLabel]="option"
                                                        [nzValue]="option"
                                                        [nzDisabled]="isEducationLevelDisabled(option)">
                                                    </nz-option>
                                                </nz-select>
                                                <div *ngIf="criteria.get('educationLevel').hasError('required') && criteria.get('educationLevel').touched"
                                                    class="text-danger">
                                                    Education Level is Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex_div flx_center submit_btn pd-tp-10" style="float:right;">
                                            <div class="mg-5 pd-20"><button type="submit"
                                                    class="btn btn-primary save_btn"
                                                    (click)="saveCustomCriteria(i)">Save</button></div>
                                            <div class="cancel_btn mg-5" (click)="cancelCustomCriteria(i)">Cancel
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                    <!-- <div class="education-lable width-100 inputForm custom-form pd-20 edu-values"
                            *ngIf="editCustomCriteria"> -->
                    <div class="education-lable width-100 inputForm custom-form pd-20 edu-values"
                        *ngIf="editCustomCriteria && !criteriaEditGroup;">
                        <div>Applications Must have scored</div>
                        <div class="flex_div flx_center flx_between mg-tp-10"
                            *ngFor="let criteria of criteriaGroups; let i = index">
                            <div class="percent width-30">
                                <nz-select [nzSize]="'large'" nzMode="default" nzPlaceHolder="Select" class="scoreType"
                                    [formControl]="criteria.controls['scoreType']" nzAllowClear nzShowSearch>
                                    <nz-option [nzLabel]="'%'" [nzValue]="'percentage'"></nz-option>
                                    <nz-option [nzLabel]="'CGPA'" [nzValue]="'cgpa'"></nz-option>
                                </nz-select>
                                <div *ngIf="criteria.get('scoreType').hasError('required') && criteria.get('scoreType').touched"
                                    class="text-danger">
                                    ScoreType is Required
                                </div>
                            </div>
                            <div class="width-30">
                                <input style="height: 42px;" class="inputForm"
                                    [formControl]="criteria.controls['marks']" type="number" placeholder="Score">
                                <div *ngIf="criteria.get('marks').hasError('required') && criteria.get('marks').touched"
                                    class="text-danger">
                                    Score Required
                                </div>
                            </div>
                            <div>in </div>
                            <!-- <div class="width-30"><nz-select [nzSize]="'large'" nzMode="default"
                                        nzPlaceHolder="Select" class="educationLevel"
                                        [formControl]="criteria.controls['educationLevel']" nzAllowClear nzShowSearch>
                                        <nz-option [nzLabel]="'Class X'" [nzValue]="'Class X'"></nz-option>
                                        <nz-option [nzLabel]="'Class XII'" [nzValue]="'Class XII'"></nz-option>
                                        <nz-option [nzLabel]="'Diploma'" [nzValue]="'Diploma'"></nz-option>
                                        <nz-option [nzLabel]="'UG'" [nzValue]="'UG'"></nz-option>
                                        <nz-option [nzLabel]="'PG'" [nzValue]="'PG'"></nz-option>
                                        <nz-option [nzLabel]="'Phd'" [nzValue]="'Phd'"></nz-option>
                                        <nz-option [nzLabel]="'Through Out'" [nzValue]="'Through Out'"></nz-option>
                                    </nz-select>
                                    <div *ngIf="criteria.get('educationLevel').hasError('required') && criteria.get('educationLevel').touched"
                                        class="text-danger">
                                        Education Level is Required
                                    </div>
                                </div> -->

                            <div class="width-30">
                                <nz-select [nzSize]="'large'" nzMode="default" nzPlaceHolder="Select"
                                    class="educationLevel" [formControl]="criteria.controls['educationLevel']"
                                    nzAllowClear nzShowSearch>
                                    <nz-option *ngFor="let option of educationLevels" [nzLabel]="option"
                                        [nzValue]="option" [nzDisabled]="isEducationLevelDisabled(option)">
                                    </nz-option>
                                </nz-select>
                                <div *ngIf="criteria.get('educationLevel').hasError('required') && criteria.get('educationLevel').touched"
                                    class="text-danger">
                                    Education Level is Required
                                </div>
                            </div>


                        </div>

                        <div class="flex_div flx_center submit_btn pd-tp-10" *ngIf="editCustomCriteria"
                            style="float:right;margin-top: 20px;">
                            <div class="mg-5"><button type="submit" class="btn btn-primary save_btn"
                                    (click)="addmoreCustomCriteria(i)">Save</button></div>
                            <div class="cancel_btn mg-5" (click)="cancelCustomCriteria(i)">Cancel</div>
                        </div>

                    </div>
                    <!-- </div> -->
                </div>

                <div class="set-criteria yearOfPass" [formGroup]="yearofPassForm">
                    <div class="set-criteria-header-container2">
                        <div class="jobprofile-criteria">
                            <div class="jobprofile-header-text2">
                                Year Of Passing
                            </div>
                            <div class="add-criteria" (click)="toggleCriteriaEditMode()"
                                *ngIf="editCriteriaModeVisible">
                                <mat-icon>create</mat-icon> Edit
                            </div>
                        </div>
                    </div>
                    <div class="border-line">
                        <div class="bottom-border"></div>
                    </div>
                    <div class="education">
                        <div class="education-lable" *ngIf="!editCriteriaMode">
                            <div class="yop-container">
                                <div class="education-lable-text" *ngIf="jobReqData?.yearofPassout.length == 0"> No
                                    Year
                                    of Passout defined. All Candidates are eligible </div>
                            </div>
                            <div class="yop-container">
                                <ng-container *ngFor="let year of jobReqData?.yearofPassout">
                                    <div class="yop-text">{{ year }}</div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="education-lable custom-form flex_div inputForm flx_baseline pd-20"
                            *ngIf="editCriteriaMode">
                            <div class="width-100"><nz-select [nzSize]="large" nzMode="multiple"
                                    nzPlaceHolder="Select the Year of Passing" class="yearofPassing"
                                    formControlName="yearofPassout" nzAllowClear nzShowSearch>
                                    <nz-option *ngFor="let item of yearPassed" [nzLabel]="item"
                                        [nzValue]="item"></nz-option>
                                </nz-select>
                                <div *ngIf="yearofPassForm.get('yearofPassout').hasError('required') && yearofPassForm.get('yearofPassout').touched"
                                    class="text-danger">
                                    Year of Passing is Required.
                                </div>
                            </div>
                            <div class="flex_div flx_center submit_btn" *ngIf="editCriteriaMode" style="float:right;">
                                <div class="mg-5"><button type="submit" class="btn btn-primary save_btn"
                                        (click)="saveYear()">Save</button></div>
                                <div class="cancel_btn mg-5" (click)="cancelYear()">Cancel</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="set-criteria" [formGroup]="backlogsForm">
                    <div class="set-criteria-header-container2">
                        <div class="jobprofile-criteria">
                            <div class="jobprofile-header-text2">
                                Backlogs
                            </div>
                            <div class="add-criteria" (click)="toggleBacklogsEditMode()"
                                *ngIf="editBacklogsModeVisible">
                                <mat-icon>create</mat-icon>Edit
                            </div>
                        </div>
                    </div>
                    <div class="border-line">
                        <div class="bottom-border"></div>
                    </div>
                    <div class="education">
                        <div class="education-lable" *ngIf="!editBacklogsMode">
                            <!-- <div class="education-lable-text" *ngIf="jobReqData?.noOfBacklogs?.length == 0"> No Backlogs
                                defined. All students are eligible </div> -->
                            <div class="education-lable-text"> No Backlogs
                                defined. All students are eligible </div>
                            <div class="education-lable-text" *ngfor="let backlogs of jobReqData?.noOfBacklogs">
                                Only
                                Candidates with maximum of {{backlogs}} are eligible</div>
                        </div>

                        <div class="education-lable width-100 inputForm custom-form pd-20" *ngIf="editBacklogsMode">
                            <div class="flex_div width-100 flx_baseline flx_evenly">
                                <div><label for="noOfBacklogs">Maximum No.of Backlogs</label></div>
                                <div class="width-50">
                                    <input formControlName="noOfBacklogs" type="number" class="inputForm">
                                    <div *ngIf="backlogsForm.get('noOfBacklogs').hasError('required') && backlogsForm.get('noOfBacklogs').touched"
                                        class="text-danger">
                                        No.of Backlogs Required
                                    </div>
                                </div>
                                <div class="flex_div flx_center submit_btn pd-tp-10" *ngIf="editBacklogsMode"
                                    style="float:right;">
                                    <div class="mg-5"><button type="submit" class="btn btn-primary save_btn"
                                            (click)="saveBacklogs()">Save</button></div>
                                    <div class="cancel_btn mg-5" (click)="cancelBacklogs()">Cancel</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="set-criteria" [formGroup]="genderForm">
                    <div class="set-criteria-header-container2">
                        <div class="jobprofile-criteria">
                            <div class="jobprofile-header-text2">
                                Gender
                            </div>
                            <div class="add-criteria" (click)="toggleGenderEditMode()" *ngIf="editGenderModeVisible">
                                <mat-icon>create</mat-icon>Edit
                            </div>
                        </div>
                    </div>
                    <div class="border-line">
                        <div class="bottom-border"></div>
                    </div>
                    <div class="education">
                        <div class="education-lable" *ngIf="!editGenderMode">
                            <!-- <div class="education-lable-text" *ngIf="jobReqData?.gender.length == 0"> No Gender defined.
                                All Candidates are eligible </div> -->
                            <div class="education-lable-text"> No Gender defined.
                                All Candidates are eligible </div>
                            <div class="education-lable-text" *ngFor="let gender of jobReqData?.gender">
                                <div class="yop-text">{{ gender }}</div>
                            </div>
                        </div>

                        <div class="education-lable width-100 inputForm custom-form pd-20" *ngIf="editGenderMode">
                            <nz-select [nzSize]="'large'" nzMode="default" nzPlaceHolder="Select Gender" class="gender"
                                formControlName="gender" nzAllowClear nzShowSearch>
                                <nz-option [nzLabel]="'Male'" [nzValue]="'Male'"></nz-option>
                                <nz-option [nzLabel]="'Female'" [nzValue]="'Female'"></nz-option>
                                <nz-option [nzLabel]="'Others'" [nzValue]="'Others'"></nz-option>
                            </nz-select>


                            <div class="flex_div flx_center submit_btn pd-tp-10" *ngIf="editGenderMode"
                                style="float:right;">
                                <div class="mg-5"><button type="submit" class="btn btn-primary save_btn"
                                        (click)="saveGender()">Save</button></div>
                                <div class="cancel_btn mg-5" (click)="cancelGender()">Cancel</div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="set-criteria">
                    <div class="set-criteria-header-container2">
                        <div class="other-info">Other Information</div>
                    </div>
                    <div class="border-line">
                        <div class="bottom-border"></div>
                    </div>
                    <div class="set-criteria-header-container2">
                        <div class="jobprofile-criteria">
                            <div class="jobprofile-header-text2">
                                Hiring Process
                            </div>
                            <div class="add-criteria">
                                Add info
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>