.body {
  padding-bottom: 20px;
}
.text_underline{
  text-decoration: underline;
}

.save_btn {
  background: #1B4E9B;
  padding: 3px 12px !important;
  border: 1px solid #1B4E9B;
}

.cancel_btn {
  border: 1px solid #1B4E9B;
  color: #1B4E9B;
  padding: 5px 12px;
  color: #1B4E9B;
  border-radius: 5px;
  cursor: pointer;
}

.mg-5 {
  margin: 0px 5px;
}


/*table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

td{
  // outline: 1px gray solid;
  border: 1px #d5d5d5 solid;
  padding: 10px;
}*/



.education-section {
  margin-bottom: 20px;
}

.education-container {
  display: flex;
}

.column {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-right: 20px;
}

.add_more_text {
  color: #1B4E9A;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
  width: fit-content;
  float: right;
  margin: -30px 3px;
}




nz-select.ng-touched.ng-invalid {
  border: 1px solid red;
}


::ng-deep .ng-touched.ng-valid .ant-select-selector {
  border: 1px solid #ced4da !important;
}


::ng-deep .angular-editor-textarea ul li {
  list-style-type: disc!important;
}

::ng-deep .angular-editor-textarea{
padding: 5px 20px!important;
}


input.ng-touched.ng-invalid {
  border: 1px solid red;
}



// .lastDatetoApply {
//   border: none !important;
// }

::ng-deep .ng-invalid .ng-touched .angular-editor-textarea {
  border: 1px solid red !important;
}

::ng-deep .ng-touched.ng-valid .angular-editor-textarea {
  border: 1px solid #ced4da !important;
}

.text-capitalize {
  text-transform: capitalize;
}

.hiring_criteria {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mg-tp-30 {
  margin-top: 30px !important;
}

.flx_column {
  flex-direction: column !important;
}

.lt-15 {
  line-height: 15px !important;
}

.stage_div {
  color: #fff;
  background: #1B4E9B;
  margin: initial !important;
}
.hiring_process {
  padding-bottom: 5px;
}

.mg-15 {
  margin: 0px 15px;
}

.bd-btm-10 {
  border-bottom: 1px solid #eee3e3;

}

.inputForm,
.inputForm:focus-visible {
  border: 1px solid #e8e8e8;
  padding: 6px !important;
  width: 100% !important;
}

input.inputForm::placeholder {
  color: #c9c1c1;
}

.eligibility-criteria {
  margin-bottom: 50px;
  margin-top: 30px;
}

.mg-tp-10 {
  margin-top: 10px;
}

.custom-form,
.width-100,
nz-select {
  width: 100% !important;
}

.flx_baseline {
  align-items: baseline;
}

.width-30 {
  width: 30% !important;
}

.width-40 {
  width: 40% !important;
}

.width-50 {
  width: 50%;
}

.flx_between {
  justify-content: space-between;
}

.mg-r-10 {
  margin-right: 10px;
}

.mg-l-10 {
  margin-left: 10px;
}

.pd-20 {
  padding: 20px !important;
}

.text-danger {
  font-size: 13px;
  padding-top: 5px;
}

.salary-range {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.range {
  margin-left: 20px;
}

.flex_div {
  display: flex;
}

.flx_evenly {
  justify-content: space-evenly;
}

.flx_center {
  align-items: center;
}

::ng-deep .overflow_scroll nz-select-top-control {
  max-height: 100px !important;
  overflow-y: scroll !important;
}



.DS-link-text-container {
  // display: flex;
  // position: relative;
  // width: 300px;
  // top: 15px;
  // left: 25px;
  display: flex;
  margin: 15px 10px 15px 35px
}

.title1-text {
  color: #fff7f7;
  text-decoration: underline;
  font-size: 12px;
}

.active-link {
  color: #1B4E9B;
  font-size: 14px;
  cursor: pointer;
  font-weight: 700;
}

.arrow {
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

.title2-text {
  font-size: 14px;
  font-weight: 700;
}

.header {
  // display: flex;
  // position: relative;
  // width: 300px;
  // top: 30px;
  // left: 25px;
  margin: 20px 0px 0px 35px;

  .header-text {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
  }
}

.drive-setting-container {
  // display: flex;
  // position: relative;
  // top: 60px;
  padding: 30px;
}

.ds-body-container {

  // width: 100%;
  // height: 100%;
  // position: relative;
  // margin: 0 30px;
  display: flex;
  background-color: #ffffff;
  box-shadow: 1px 1px 6px #0000001f;
  border-radius: 10px;
  // justify-content: space-between;
}

.left-scroll {
  // display: flex;
  width: 27%;
  // height: 557px;
  height: 520px;
  border-right: 1px solid #B4B4B4;
  // justify-content: space-evenly;
  position: sticky;
  top: 0px;
}

.left-box1 {
  height: 135px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.edit-disabled{
  cursor: not-allowed;
    color: #1B4E9B;
}
.company_img_bg{
  background-size: contain!important;
  background-repeat: no-repeat!important;
  max-width: 150px!important;
  margin: 0 auto!important;
  background-position: center!important;
}

.logo {
  width: 150px;
  height: auto;
}

.left-box-border {
  height: 1px;
  background: transparent linear-gradient(90deg, #b4b4b424 0%, #848484bf 51%, #5a5a5a2b 100%) 0% 0% no-repeat padding-box;
}

.job-role-text1-container {
  padding: 5px;
}

.job-role-text1 {
  color: #1b4e9b;
  font-size: 20px;
  font-weight: 700;
}

.job-role-text2-container {
  padding: 5px;
}

.job-role-text2 {
  color: #848484;
  font-size: 12px;
}

.job-role-status-container {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  align-items: center;
  border-radius: 3px;
  // background-color: #49AE31;
  // width: 53px;
  // height: 25px;
  // color: #ffffff;
  // font-size: 12px;
  // padding: 3px 2px 2px 3px;
}

.job-status{
  padding: 2px 10px;
    font-size: 13px;
    border-radius: 3px;
    text-transform: capitalize;
    color: #fff;
    cursor:pointer;
}

.status-active {
  background-color: #65AC45;
}

.status-expired {
  background-color: #000000;

}
.status-rejected{
  background:#b32727;
}
.status-closed{
  background:grey;
}
.status-pending{
  background-color: #27BBEE;
}

.candidate-applied-no-container {
  padding: 8px;
}

.candidate-applied-no {
  color: #1B4E9B;
  font-size: 32px;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}

.candidate-applied-text-container {
  padding: 8px;
}

.candidate-applied-text {
  font-weight: 700;
  text-align: center;
}

.app-close-on-text-container {
  padding: 8px;
}

.app-close-on-text {
  font-size: 13px;
  font-weight: 700;
}

.app-close-on-date-container {}

.app-close-on-date {
  color: #FF0000;
  font-size: 14px;
  font-weight: 700;
}

.lef-scroll-Rborder {
  //border: 0.699999988079071px solid #B4B4B4;
  opacity: 0.75;
  width: 0px;
  height: 557px
}

.right-scroll {
  // padding-top: 10px;
  // padding-right: 20px;
  // width: 100%;
  width: 70%;
  padding: 10px 10px 10px 30px;
}

.jobprofile-header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px 10px 15px;
}

.jobprofile-header {
  display: flex;
}

.jobprofile-header-text {
  color: #262626;
  font-size: 16px;
  font-weight: 600;
}

.edit-icon {
  float: right;
  cursor: pointer;
  color: #1B4E9B;
}

.border-line {
  padding: 0px 15px 0px 15px;
}

.bottom-border {
  border: 0.699999988079071px solid #B4B4B4;
  opacity: 0.3;
}

.label-conainer {
  padding: 15px 0px 15px 0px;
  display: flex;
  align-items: center;
}

.label {
  width: 30%;
  padding-left: 15px;
  min-width: 30%;
}

.label-text {
  color: #666666;
  font-size: 13px;
}

.lable-value {
  padding-right: 10px;
}

.jobprofile-header-container2 {
  display: flex;
  justify-content: space-between;
  padding: 40px 15px 10px 15px;
}

.jobprofile-header2 {
  display: flex;
}

.jobprofile-header-text2 {
  color: #262626;
  font-size: 16px;
  font-weight: 600;
}

.education {
  display: flex;
  justify-content: space-between;
  padding: 25px 15px 0px 0px;
}

.education-lable {
  padding-left: 15px;
}

.education-lable-text {
  color: #262626;
  font-size: 14px;
  font-weight: 600;
}

.pd-tp-10 {
  padding-top: 10px;
}

.edu-values {
  margin: 15px 0px 0px 0px;

  .pd-5 {
    padding: 5px !important;
  }

  .separator_line_width {
    background: #dfdfdf;
    width: 1px;
  }

  .separator_line_ht {
    background: #dfdfdf;
    height: 1px;
  }

  .width-60 {
    width: 60%;
  }


  .width-20 {
    width: 20%;
  }
  .width-25{
    width: 25%;
  }

  .edu_section {
    padding: 5px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .sec_discipline {
    padding: 5px 0px;
    display: flex;
    margin: auto 10px;
    flex-flow: wrap;
  }

  .key_disciplines {
    width: fit-content;
    color: #fff;
    background: #1169ae;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 5px 3px;
  }

  .font_bold {
    font-weight: bold;
  }

  .edu_items {
    border: 1px solid #dfdfdf;
    margin-bottom: 40px;
    width: 100%;
  }
}





.set-criteria-header-container2 {
  padding: 40px 15px 10px 15px;
}

.jobprofile-criteria {
  display: flex;
  justify-content: space-between;
}

.jobprofile-criteria-text2 {
  color: #262626;
  font-size: 16px;
  font-weight: 600;
}

.add-criteria {
  cursor: pointer;
  color: #1B4E9B;
  font-size: 15px;
  font-weight: 500;
}

.set-criteria {
  margin-bottom: 50px;
}

// .yop-text{
//   background: #1B4E9B;
//   cursor: pointer;
//   color: #ffffff;
//   padding: 3px 9px;
//   border-radius: 10px;
// }
.yop-container {
  display: flex;
  flex-wrap: wrap;
}

.yop-text {
  background: #1B4E9B;
  cursor: pointer;
  color: #ffffff;
  padding: 3px 9px;
  border-radius: 10px;
  margin-right: 7px;
}

.other-info {
  color: #262626;
  font-size: 16px;
  font-weight: 600;
}

::ng-deep .angular-editor-textarea{
  padding: 5px 20px!important;
  }
  
  ::ng-deep .label-value-text ul {
    list-style-type: disc;
}