
  <div class="banner_header">
    <!-- <div class="dash" *ngIf="subname">
      <h5 class="view" (click)="goBack()">{{this.subname}}</h5>
      <h5 class="findtext"> &nbsp; > &nbsp;{{this.name}}</h5>
    </div> -->
    <div class="user">
      <div class="user-name">
        <!-- <div class="username-N">Welcome,&nbsp;</div> -->
        <div class="username-B">
          {{this.name}}
        </div>
      </div>
      <div class="quote">
        <div>Kick Start Your</div>
        <div>
          <div class="grad-text">CAREER</div>
        </div>
      </div>
    </div>
  </div>


