/* You can add global styles to this file, and also import other style files */

// @import "normalize";
@import "variables";
@import "fonts";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    height: 100%;
}

@import '~@angular/material/theming';
$custom-typography: mat-typography-config($font-family: '"Roboto", normal !important;');
@include mat-core($custom-typography);
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
// ::-webkit-scrollbar {
//     width: 6px;
//     height: 6px;
// }
.material-icons {
    font-family: 'Material Icons' !important;
}


/* Track */

// ::-webkit-scrollbar-track:hover {
//     background-color: #eee;
//     opacity: .9;
//     width: 15px;
// }
// ::-webkit-scrollbar-track {
//     width: 10px;
//     background-color: $whiteColor;
// }

/* Handle */

// ::-webkit-scrollbar-thumb {
//     background-color: $thumbColor;
//     border-radius: 6px;
//     transition: background-color .2s linear, width .2s ease-in-out;
//     -webkit-transition: background-color .2s linear, width .2s ease-in-out;
// }

/* Handle on hover */

// ::-webkit-scrollbar-thumb:hover {
//     background: $thumbHoverColor;
//     width: 25px !important;
//     height: 25px;
// }
// .ag-body-horizontal-scroll-viewport {
//     height: 1px !important;
//     max-height: 1px !important;
//     min-height: 1px !important;
// }
.container {
    max-width: 1170px;
    width: 94%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.backBtn {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    .ml-2 {
        font-size: 18px;
        line-height: 1.4;
        font-weight: 500;
    }
    span {
        cursor: pointer;
    }
}


/*common*************************/

.icon-uncheck {
    position: relative;
}

.heading6 {
    font-size: 21px;
    font-weight: 700;
    margin: -1em 0 0.58em;
}

.subhtxt {
    color: $blackColor;
    font-size: 16px;
    font-weight: 700;
    margin: 1em 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 535px;
}

.ResetBtn {
    color: #C02222;
    font-weight: normal;
    display: flex;
    align-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    em {
        padding-right: 4px;
    }
}


/**************************/


/*****auth******/

.header-toolbar {
    background-color: $whiteColor !important;
    display: flex;
    align-items: center;
    padding: 0;
    color: #808080 !important;
    .first {
        height: 50px;
        display: flex;
        align-items: center;
        width: 100px;
    }
    .second {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 13px;
        margin-right: 25px;
        img {
            width: 23px;
            margin-left: 8px;
            margin-top: -5px;
            opacity: 0.5;
            cursor: pointer;
        }
    }
}

//Banner
.owlCarouselWrapper {
    .owl-theme {
        .owl-nav {
            display: none;
        }
        .owl-dots {
            position: absolute;
            bottom: .5em;
            left: 48%;
            .owl-dot {
                span {
                    background-color: #004684;
                    border-radius: 50%;
                    margin: 0 0.4em;
                }
                &:hover {
                    span {
                        background-color: #004684;
                    }
                }
                &.active {
                    span {
                        background-color: #ffffff;
                    }
                }
            }
        }
    }
}

mat-toolbar.header-toolbar {
    background: linear-gradient(90deg, #fff 14%, #fff 25%)!important;
    height: 60px;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%) !important;
    position: relative;
    z-index: 5;
}

.perfect-scrollbar {
    background-color: #f9f9f9;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
}

.footerPan {
    z-index: 500;
    background-color: white;
    height: 25px;
    font-size: small;
    width: 100%;
    text-align: end;
    color: grey;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    border-top: 1px solid #efeeee;
    padding-right: 5px;
    position: fixed;
    bottom: 0px;
}


/****************************/


/*********Profile*****************/

.reportContainer {
    margin: 1%;
}

.profilearea,
.candidateSkillsBasicProfile-wrapper {
    margin: 3%;
    .profileHeaderinfo {
        font-weight: 700;
        line-height: 2.2;
        margin-top: 1em;
        margin-bottom: 0.8em;
        color: #1a1a1a;
        span {
            font-weight: normal;
            line-height: 1.3;
            color: $mediumGrey;
        }
        &.first {
            margin-bottom: 1.5em;
        }
    }
    .profileInfoarea {
        display: flex;
        .profileInfoSec {
            color: $mediumGrey;
            width: 49%;
            &:first-child {
                margin-right: 1.5%;
            }
            div {
                margin: 0.7em 0;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                flex-wrap: nowrap;
                justify-content: space-between;
            }
            span {
                font-weight: 500;
                color: $blackColor;
                display: inline-block;
                width: 70%;
            }
        }
    }
    .matSelect {
        width: 330px;
        border: 1px solid #bebebe;
        padding: 10px;
    }
}


/***********Document********************/

.docInfoarea {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    >div {
        margin-right: 20px;
        width: 150px;
        &:last-child {
            width: 100%;
            margin-right: 0;
            // max-height: 230px;
            // padding-left: 90px;
            overflow: hidden;
        }
    }
    .profileplace {
        position: relative;
        .viewprofile {
            display: none;
            position: absolute;
            top: 30px;
            left: 0;
            background-color: #0000005c;
            padding: 0.2em 1em;
            color: $whiteColor;
            cursor: pointer;
            z-index: 5;
            text-decoration: none;
            padding-top: 3em;
            font-size: 23px;
            text-align: center;
            border-radius: 5px;
            z-index: 5;
        }
        img:hover+.viewprofile,
        .viewprofile:hover {
            display: block;
        }
        .photoholder {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 4px;
            border: 1px solid #e5e5e5;
            background-color: $whiteColor;
        }
    }
    span {
        color: $mediumGrey;
        font-size: 14px;
        display: block;
        margin-bottom: 10px;
        text-align: left;
        white-space: pre-line;
        width: 100%;
        padding-left: 10px;
        position: relative;
        &.drag {
            margin-top: 0;
        }
    }
    .img-sec {
        position: relative;
        margin-right: 2%;
        text-align: left;
        min-width: 225px;
    }
    .imgProp {
        // height: 170px;
    }
    .img-container {
        display: flex;
        flex-direction: row;
        // max-width: 78%;
        min-height: 215px;
        position: relative;
        padding: 0;
        .drag-scroll-content {
            display: flex !important;
            flex-direction: row;
            .imgProp {
                border-radius: 4px;
                border: 1px solid #e5e5e5;
                background-color: $whiteColor;
            }
        }
    }
    .img-container:last-child {
        margin-right: 1%;
    }
    .docUpload {
        img {
            &:hover+a {
                display: block;
            }
            &+.viewBtn {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #0000005c;
                padding: 0.2em 1em;
                color: $whiteColor;
                cursor: pointer;
                z-index: 5;
                text-decoration: none;
                padding-top: 3em;
                font-size: 23px;
                text-align: center;
                border-radius: 4px;
                &:hover {
                    display: block;
                }
            }
        }
    }
}

.uploadInProgress {
    padding: 20px 15px;
    background-color: $whiteColor;
    border-radius: 5px;
    max-height: 90% !important;
    .mat-dialog-container {
        padding: 0;
        display: flex;
        align-content: center;
        align-items: center;
        box-shadow: none;
        height: inherit;
        overflow: auto;
    }
    img {
        width: auto;
        height: 480px;
        // max-height: 80%;
    }
    .closebtn {
        font-size: 0.9em;
        color: #797171;
        cursor: pointer;
        position: relative;
        top: 2px;
        &:hover {
            color: $blackColor;
        }
    }
    .progressText {
        position: relative;
    }
    .progressclose {
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: #ffffff63;
        right: 7px;
        top: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        &:hover {
            background-color: $whiteColor;
        }
    }
}

ng-image-slider {
    display: block;
    height: 170px;
    width: 100%;
}


/******assment*****************************/

.assessmentArea {
    margin-top: 3em;
    .assessmentHeaderinfo {
        margin-top: 3em;
        .primaryClick {
            color: $primaryColor;
            font-size: 0.8em;
            cursor: pointer;
        }
    }
}

.assessmentInfoarea {
    margin: 3%;
    position: relative;
    .mat-expansion-panel {
        margin-bottom: 1.5em;
    }
    .mat-expansion-panel-header {
        height: auto;
        // display: grid;
        padding: 0 0.6em;
        grid-template-areas: "mat-expansion mat-content";
        grid-template-columns: 2em auto;
        border-bottom: 0.1em solid #e8e8e8;
        border-radius: 0;
        min-height: 72px;
    }
    .mat-expansion-panel-body {
        padding: 0;
    }
    span.mat-content {
        display: initial;
        grid-area: mat-content;
    }
    span.mat-expansion-indicator {
        display: flex;
        align-items: center;
        grid-area: mat-expansion;
        justify-content: center;
    }
    .width-51 {
        width: 40% !important;
    }
    .width-270 {
        width: 270px !important;
    }
    .width-150 {
        width: 160px !important;
    }
    .width-168 {
        width: 167px !important;
    }
    .expandheaderArea {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0.6em 0;
        div {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0em 0.8em;
            border-right: 0.1em solid #e8e8e8;
            justify-content: flex-start;
            //   min-width: 160px;
            &:last-child {
                border: none;
            }
            &:nth-child(1),
            &:nth-child(2) {
                // flex-grow: 3.6;
                // justify-content: flex-start;
                // padding-left: 1.6em;
                // white-space: nowrap;
                // width: 200px;
            }
            em {
                color: #b3b3b3;
                font-size: 2em;
                &.icon-SpeedoMeter {
                    font-size: 2.3em;
                    color: #b3b3b3;
                }
                &.icon-Booked {
                    font-size: 1.7em;
                    color: #b3b3b3;
                }
            }
            >span {
                font-size: 0.8em;
                color: #757575;
                padding: 0 0.8em;
                padding-left: 1.2em;
                span {
                    display: block;
                    font-size: 1.3em;
                    text-align: center;
                    font-weight: 500;
                    white-space: nowrap;
                    // color: $blackColor;
                }
            }
        }
    }
    // .ContentInfoDetails {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     flex-wrap: nowrap;
    //     padding: 1em 1.6em;
    //     border-bottom: 0.1em solid #e8e8e8;
    //     div {
    //         flex-grow: 1;
    //         color: #757575;
    //         font-size: 0.9em;
    //         line-height: 1.5;
    //         &.primaryInfo {
    //             flex-grow: 2.5;
    //             .icon-checked {
    //                 font-size: 0.8em;
    //                 padding-right: 0.5em;
    //             }
    //         }
    //     }
    //     span {
    //         display: block;
    //         color: $blackColor;
    //         font-size: 2em;
    //         font-weight: 700;
    //         line-height: 1.3;
    //         margin-top: -2px;
    //         span {
    //             display: inline-block;
    //             color: #6b6b6b;
    //             font-size: 0.6em;
    //             font-weight: 500;
    //             padding: 0 0.1em;
    //             &.warningColor {
    //                 font-size: 0.5em;
    //                 padding-left: 0.5em;
    //             }
    //         }
    //     }
    // }
    .ContentInfoSummary {
        padding: 1em 1.6em;
        .heading6.flxView,
        .assessmentHeaderinfo {
            margin-top: 1em;
        }
        .Summaryhtxt {
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 1em 0;
        }
    }
    //common styles
    .successColor,
    .expandheaderArea div>span span.successColor,
    .ContentInfoDetails span.successColor,
    .ContentInfoDetails span.successColor span {
        color: $successColorDark;
    }
    .warningColor,
    .expandheaderArea div>span span.warningColor,
    .ContentInfoDetails span.warningColor,
    .ContentInfoDetails span.warningColor span {
        color: $primaryColor;
    }
    .WarnColor,
    .expandheaderArea div>span span.WarnColor,
    .ContentInfoDetails span.WarnColor,
    .ContentInfoDetails span.WarnColor span {
        color: #d68f0c;
    }
    .SummaryInfoArea {
        padding: 1em 0;
        .Summaryhtxt {
            font-size: 19px;
            margin: 1em 0 0;
        }
        .summaryTable {
            width: 100%;
            border: none !important;
        }
        .summaryTable tr th {
            color: $lightGrey;
            text-align: left;
            padding: 0.8em 1.2em;
            white-space: nowrap;
            font-weight: normal;
            border: 1px solid #dbdbdb;
            border-right-width: 0;
            width: 12%;
            &:first-child {
                width: 30%;
            }
            &:last-child {
                border-right-width: 0.1em;
            }
        }
        .summaryTable tr td {
            color: $lightGrey;
            text-align: left;
            padding: 0.8em 1.2em;
            font-weight: 500;
            border: 1px solid #dbdbdb;
            border-right-width: 0;
            border-top-width: 0;
            width: 13%;
            position: relative;
            &:first-child {
                width: 25%;
                color: $primaryColor;
            }
            &:last-child {
                border-right-width: 1px;
                text-align: center;
                font-size: 1em;
                min-width: 95px;
            }
            span {
                color: $blackColor;
                font-size: 1.4em;
                font-weight: 700;
            }
            .icon-Like {
                color: $successColorDark;
                font-weight: 700;
            }
            .average-color {
                color: #d68f0c;
                font-weight: 700;
            }
            .icon-Dislike {
                color: $primaryColor;
                font-weight: 700;
            }
            .progressbar {
                display: block;
                position: absolute;
                z-index: 1;
                top: 0;
                bottom: 0;
                left: 0;
                max-width: 100%;
            }
            .progressdata {
                display: flex;
                position: relative;
                z-index: 2;
                font-size: 0.8em;
            }
            .color-bluebar {
                background-color: #e1f4ff;
                border-right: 0.3em solid #8fc7e2;
            }
            .color-pinkbar {
                background-color: #ffe1eb;
                border-right: 0.3em solid #f07f9e;
            }
            .color-greenbar {
                background-color: #dcffed;
                border-right: 0.3em solid #7ae4af;
            }
            .color-yellowbar {
                background-color: #fff4dc;
                border-right: 0.3em solid #fbe8a9;
            }
        }
    }
    .mat-expansion-panel:not([class*=mat-elevation-z]) {
        box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 12%) !important;
    }
}


/******assment*****************************/

.CompetencyArea {
    margin: 3%;
    margin-right: 0% !important;
    .InfoDetailsArea {
        position: relative;
        display: flex;
        justify-content: space-between;
        border-bottom: none;
        border-right: none;
        margin-top: 1.2em;
        box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 12%);
        border: 1px solid #d4d4d4bd;
        border-radius: 4px;
        min-height: 550px;
        &.cognitiveTechnical {
            >div {
                width: 50%;
            }
        }
        >div {
            padding: 1.5em 2em;
            color: $lightGrey;
            display: flex;
            flex-direction: column;
        }
        .leftPan {
            width: 32%;
            background-color: $whiteColor;
            position: relative;
            justify-content: space-between;
            border-radius: 4px 0 0 4px;
            .heading6 {
                margin-bottom: 0em;
            }
            .mat-card-header-text {
                font-size: 0.7em;
                margin-top: 2em;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .comphtxt {
                font-size: 20px;
                color: #808080;
            }
        }
        .rightPan {
            width: 68%;
            position: relative;
            background-color: #F4FBFF;
            border-radius: 0 4px 4px 0;
            overflow: hidden;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 5;
            .ngx-charts {
                margin-left: -2.2em;
            }
            .heading4 {
                color: $blackColor;
                font-weight: 700;
                padding-left: 0.5em;
                border-left: 0.3em solid #c84656;
                display: flex;
                align-items: center;
                line-height: 1;
                font-size: 18px;
                span {
                    font-size: 32px;
                    padding-left: 0.3em;
                    line-height: 0;
                }
            }
            .heading6 {
                color: $blackColor;
                padding-left: 1.1em;
                font-weight: 700;
                margin-top: 1em;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .areasbtnsec {
                display: flex;
                margin-top: 14px;
                flex-wrap: wrap;
                max-width: 100%;
                max-height: 257px;
                min-height: 150px;
                overflow: hidden;
                overflow-y: auto;
                align-content: flex-start;
                .btnBox {
                    background-color: #ffffff;
                    vertical-align: bottom;
                    border-left: 3px solid;
                    font-weight: 500;
                    padding: 5px 9px;
                    font-size: 11px;
                    line-height: 1.5;
                    text-align: center;
                    text-decoration: none;
                    -webkit-user-select: none;
                    user-select: none;
                    // border-radius: 3px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    font-weight: 500;
                    color: #777;
                }
                .btnBlue {
                    background-color: #8ac1ed;
                }
                .btnGreen {
                    background-color: #a4dea5;
                }
                .btnWarn {
                    background-color: #f7d096;
                }
                .btnRed {
                    background-color: #e89694;
                }
            }
            .chartContainer {
                height: 100%;
                padding-top: 0em;
                >div.sPan {
                    min-height: 200px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                }
                div.aPan {
                    padding: 0em 0.3em 0;
                }
            }
        }
        .triangle-left {
            width: 0;
            height: 0;
            border-top: 40px solid transparent;
            border-right: 50px solid #f2f2f2;
            border-bottom: 40px solid transparent;
            position: absolute;
            left: 48%;
            top: 37%;
            z-index: 4;
            top: 12.5em;
        }
        .barChartCenter {
            ngx-charts-bar-horizontal {
                display: block;
                padding-left: 25px;
            }
        }
    }
    mat-card {
         ::ng-deep.mat-card-header,
         ::ng-deep.mat-card-content {
            font-weight: normal !important;
        }
        .heading6 {
            display: block;
        }
    }
}

.draggable-button-container {
    position: absolute;
    right: 0;
    left: 0;
    top: 35%;
    width: 100%;
}

button.sliderBtn,
.sliderBtn:focus {
    background-color: #f9f9f9;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    border: 1px solid #dedede !important;
    padding: 3px;
    line-height: 1.5;
    z-index: 5;
    outline: none;
    top: 15.5em;
    padding-top: 5px;
    &.doc {
        top: 0;
        background-color: #fff;
        width: 30px;
        height: 30px;
        position: relative;
    }
    &.right {
        // right: 2px;
        &.doc {
            left: calc(100% - 51px);
        }
    }
    &.left {
        // left: 12px;
        &.doc {
            left: -40px;
            right: 100%;
        }
    }
    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.slideDots {
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    z-index: 6;
    span {
        width: 10px;
        height: 10px;
        font-size: 0;
        display: inline-block;
        background-color: #CCCCCC;
        border-radius: 15px;
        margin-right: 4px;
        cursor: pointer;
        &.active {
            background-color: #c84656;
        }
    }
}


/********quality**********************************/

.StInfoDetailsArea {
    margin: 4em 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .comphtxt {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 500;
        margin: 0.3em 0 1em 0;
    }
    .cardInfoArea {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 48%;
        min-width: 325px;
        padding: 1em 0;
        border-radius: 0.3em;
        border: 1px solid $greyColor;
        background-color: $whiteColor;
        box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 14%);
    }
    .infoIcon {
        height: 95%;
        min-height: 100px;
        border-left: 0.6em solid transparent;
        padding: 0 0.8em;
        padding-right: 1.3em;
        .iconpl {
            color: $whiteColor;
            background-color: $successColor;
            padding: 0.4em;
            font-size: 1.4em;
            border-radius: 1.5em;
            display: inline-block;
        }
        &.SuccessColor {
            border-color: #a4dda5;
            .iconpl {
                background-color: #a4dda5;
            }
            .icon-Like {
                color: $successColorDark;
                font-size: 1.1em;
            }
        }
        &.WarningColor {
            border-color: #f4c1c1;
            .iconpl {
                background-color: #f4c1c1;
            }
            .icon-Dislike {
                color: $primaryColor;
                font-size: 1.1em;
            }
        }
    }
    .infotxt {
        .heading6 {
            margin-bottom: 0.5em;
        }
    }
    .ContentArea {
        padding-right: 1em;
        margin-bottom: 0.6em;
        span {
            display: block;
            color: $lightGrey;
        }
    }
}

mat-icon {
    font-size: 18px !important;
    top: 50%;
    width: 8px;
    transform: translateY(12%);
}

.sort {
    display: inline-block;
    margin: 0;
    padding: 0;
    .mat-icon {
        cursor: pointer;
        height: 30px;
        width: 30px;
        line-height: 1.5;
        border: 1px solid #cac9c9;
        background-color: #f2f2f2;
        color: #000;
        text-align: center;
        border-radius: 4px;
        &.bothbtn {
            &:first-child {
                border-radius: 4px 0 0 4px;
            }
            &:last-child {
                border-radius: 0 4px 4px 0;
                border-left-width: 0;
            }
        }
    }
}

:host ::ng-deep .textDataLabel {
    font-size: 14px !important;
}

.question_dialog {
    .SummaryInfoArea {
        max-height: 223px;
        overflow: auto;
        padding-right: 20px;
    }
    mat-dialog-container {
        padding: 10px 15px;
    }
    .ContentInfoDetails {
        padding: 0;
        margin-bottom: 1.5em;
        border: none;
        >div {
            display: flex;
            align-items: center;
            border-left: 1px solid #ececec;
            padding-left: 25px;
            em {
                font-size: 2em;
                margin-right: 0.6em;
            }
            span {
                font-size: 1.4em;
                font-weight: 500;
            }
        }
        div:first-child {
            border: none;
        }
    }
    .assessmentInfoarea .expandheaderArea {
        >div {
            padding: 0 0.5em;
            font-size: 1.4em;
            font-weight: 500;
            border: none;
            height: 90px;
        }
        .txtinfo {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            font-size: 1.4em;
            padding-right: 75px;
            span {
                padding: 0;
                font-size: 0.6em;
                font-weight: normal;
                margin-right: -68px;
            }
        }
    }
    .assessmentHeaderinfo {
        margin-top: 0;
    }
    .ContentInfoSummary {
        padding: 0.3em 1em;
        padding-right: 0;
    }
}

.question_table {
    width: 100%;
    th {
        font-weight: 600 !important;
        color: #000 !important;
        background-color: #f4f4f4;
        padding: 0.5em 1.2em !important;
        border: 1px solid #dbdbdb;
        &:first-child {
            width: 10% !important;
        }
    }
    td {
        font-weight: normal !important;
        color: #757575 !important;
        font-size: 14px !important;
        padding: 0.3em 0.5em !important;
        border: 1px solid #dbdbdb;
        &.text-center {
            text-align: center;
        }
        span {
            color: #757575 !important;
        }
        &:first-child {
            width: 10% !important;
            color: #757575 !important;
        }
        .icon-uncheck {
            color: #e36563 !important;
            font-size: 20px;
        }
        .icon-CheckMark {
            color: #8bd5b5 !important;
            font-size: 17px;
        }
        .ans-green {
            color: #8bd5b5 !important;
        }
        .ans-red {
            color: #e36563 !important;
        }
    }
}

.closedailog {
    position: absolute;
    right: 1px;
    top: -13px;
    font-size: 11px;
}

mat-dialog-container {
    padding: 15px 20px;
    .Pmain {
        >div:last-child {
            border: none;
        }
        .Pheader {
            max-width: 100%;
        }
    }
    .videosection {
        display: flex;
        margin-top: 35px;
        .leftpan {
            flex-grow: 5;
            video {
                border-radius: 4px;
            }
        }
        .rightpan {
            flex-grow: 2;
            width: 250px;
            height: 465px;
            overflow: scroll;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            .videothumb {
                border-radius: 4px;
                background-color: #e6faf3;
                height: 160px;
                width: 265px;
                margin-bottom: 5px;
                overflow: hidden;
                padding: 10px 12px;
                border-left: 3px solid #17d087;
                box-sizing: border-box;
                display: flex;
                align-content: center;
                flex-direction: column;
                justify-content: center;
                video {
                    border-radius: 4px;
                    background-color: #282828;
                }
            }
            .chartsec {
                width: 100%;
                margin-top: 30px;
                padding: 6px 9px 6px 5px;
                margin-bottom: 35px;
                border-left: 3px solid #17d087;
                box-sizing: border-box;
                display: flex;
                align-content: center;
                flex-direction: column;
                background-color: #e6faf3;
                padding-top: 0;
                .label {
                    color: #13a8c6;
                    margin: 5px 0;
                }
            }
        }
        .chart {
            display: table;
            table-layout: fixed;
            width: 100%;
            max-width: 700px;
            height: 150px;
            margin: 0 auto;
            li {
                position: relative;
                display: table-cell;
                vertical-align: bottom;
                height: 150px;
                width: 20px;
                text-align: center;
            }
            span {
                // margin: 0 1em;
                display: inline-block;
                background: rgba($lightRed, .75);
                animation: draw 1s ease-in-out;
                width: 18px;
                font-size: 11px;
                line-height: 0;
                &:before {
                    position: absolute;
                    // left: 18px;
                    // right: 3px;
                    // width: 20px;
                    font-size: 10px;
                    top: 100%;
                    padding: 3px 0em 0px 0px;
                    display: block;
                    content: attr(title);
                    word-wrap: break-word;
                    min-width: 20px;
                    left: 0;
                    line-height: 1.9;
                }
            }
        }
    }
}

button,
input,
optgroup,
select,
textarea {
    font-family: 'Roboto';
}

// Behavioural Competency chart x axis number range hide
.behavioural-chart-axis-hide {
    .x.axis {
        .tick {
            visibility: hidden !important;
        }
    }
}

.successColor {
    color: $successColorDark !important;
}

.warningColor {
    color: $primaryColor !important;
}

.cdk-global-scrollblock {
    overflow-y: hidden !important;
}

.NoCard {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #6c757d;
}

.sidebarOpened1 {
    .footer-emailTrigger {
      left: -252px !important;
      .footer-common {
        padding-left: 252px !important;
      }
    }
  }

  .sidenav {
    ::-webkit-scrollbar {
       width: 4px !important;
   }
    ::-webkit-scrollbar-thumb {
       border-radius: 100px !important;
   }
   li {
       margin: 0 !important;
   }
 }