<div class="container">
    <button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    <div class="left">
        <div class="mainlogo">
            <img alt="EduTech" class="beforeloginimg" src="assets/images/landing/newLogo.png" />
            <img alt="EduTech" class="leftimg" src="assets/images/register.png" />
        </div>
        <!-- <div> -->
        <div class="text">Fresh Graduates</div>
        <div class="text m-t-10">Registration</div>
        <!-- </div> -->
    </div>

    <div class="right">
        <div class="loginform">
            <!-- <div class="signIn"> {{'Job Seeker Registration'}}</div> -->
            <div class="login-sm">
                <div class="successMessage">
                    <!-- <img src="assets/images/check.png"> -->
                    <div class="text">
                        <p>Currently enabled only for</p>
                        <p class="subpara">partner colleges</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noSkill>


</ng-template>