<div class="container">
    <button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    <div class="left">
        <div class="mainlogo">
            <img alt="EduTech" class="beforeloginimg" src="assets/images/landing/newLogo.png" />
            <img alt="EduTech" class="leftimg" src="assets/images/register.png" />
        </div>
        <!-- <div> -->
        <div class="text">Fresh Graduates</div>
        <div class="text m-t-10">Registration</div>
        <!-- </div> -->
    </div>

    <div class="right">
        <div class="loginform">
            <!-- <div class="signIn"> {{'Registration Form'}}</div> -->
            <div class="login-sm">
                <div class="successMessage">
                    <!-- <img src="assets/images/check.png"> -->
                    <div class="text">
                        <p>Currently enabled only for</p>
                        <p class="subpara">partner colleges</p>
                    </div>
                </div>
                <!-- <form class="form" [formGroup]="freshGraduatesForm" autocomplete="off">
                    <mat-form-field appearance="outline">
                        <input matInput id="name" [placeholder]="'Name'" formControlName="name" maxlength="64" required>
                        <mat-icon matPrefix class="icon-color">person_outline</mat-icon>
                    </mat-form-field>

                    <ng-container *ngIf="name.invalid && name.touched">
                        <mat-error class="error" *ngIf="name?.errors?.required">{{'Name is required'}}</mat-error>
                    </ng-container>

                    <mat-form-field appearance="outline">
                        <input matInput id="email" [placeholder]="'Email'" formControlName="email" required>
                        <mat-icon matPrefix class="icon-color">mail_outline</mat-icon>
                    </mat-form-field>

                    <ng-container *ngIf="email.invalid && email.touched">
                        <mat-error class="error" *ngIf="email?.errors?.required">{{'Email id is required'}}</mat-error>
                        <mat-error class="error" *ngIf="email.errors?.pattern">{{'Please enter a valid Email id'}}</mat-error>
                    </ng-container>
                    <section class="example-section">
                        <mat-checkbox formControlName="term" class="example-margin" required><a href="">I agree</a></mat-checkbox>
                    </section>
                    <button class="btn" [disabled]="!freshGraduatesForm.valid" id="register" mat-button (click)="register()">{{"Submit"}}</button>
                </form> -->
            </div>
        </div>
    </div>
</div>

<ng-template #noSkill>


</ng-template>