<div class="container-fluid">
    <button class="close-button" [mat-dialog-close]="true" routerLink="/static">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
    <div class="left">
        <div class="mainlogo">
            <img alt="EduTech" class="beforeloginimg" src="assets/images/landing/newLogo.png" />
            <img alt="EduTech" class="leftimg" src="assets/images/register.png" />
        </div>
        <!-- <div> -->
        <div class="text">Fresh Graduates</div>
        <div class="text m-t-10">Registration</div>
        <!-- </div> -->
    </div>
    <div class="right">
        <div class="loginform" *ngIf="registerform">
            <div class="signIn"> {{'Registration Form'}}</div>
            <div class="login-sm">
                <form class="form" [formGroup]="freshGraduatesForm" autocomplete="off">
                    <mat-form-field appearance="outline">
                        <input matInput id="user_name" class="pb-0" [placeholder]="'Name'" formControlName="user_name"
                            maxlength="64" required>
                        <mat-icon matPrefix class="icon-center">person_outline</mat-icon>
                        <mat-error *ngIf="user_name.invalid && user_name.touched">
                           <br>
                            <div *ngIf="user_name?.errors?.required">
                                {{'Name is required'}}
                            </div>
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <br>
                    <mat-form-field appearance="outline">
                        <input matInput id="email" [placeholder]="'Email'" formControlName="email" required>
                        <mat-icon matPrefix class="icon-center">mail_outline</mat-icon>
                        <mat-error *ngIf="email.invalid && email.touched">
                            <br>
                            <div *ngIf="email?.errors?.required">
                                {{'Email id is required'}}
                            </div>
                            <div *ngIf="email.errors?.pattern">
                                {{'Please enter a valid Email id'}}
                            </div>
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <br>
                    <mat-checkbox formControlName="term" class="example-margin mt-1 ml-1" required>
                        <label class="reg-msg mt-2"> By clicking register, I agree to get enrolled in Skill Exchange Program</label>
                        <label class="reg-msg mt-3"> where recruiters can search my profile and contact me for job requirements.</label>
                    </mat-checkbox>
                    <button class="btn" [disabled]="!freshGraduatesForm.valid" id="register" mat-button
                        (click)="register()">{{"Register"}}</button>
                    <label class="warning pt-5 ml-1"><b>Note:</b> Use your personal email id for registration</label>
                </form>
            </div>
        </div>
        <div *ngIf="newCandidate">
            <div class="successMessage">
                <img src="assets/images/candidate-email-icon.png">
                <div class="text fontdata">
                    <label class="text-height">{{msg}} </label>
                    <!-- <label class="text-height"> email address, from <b>assess.support@lntedutech.com.</b></label>
                  <br>
                  <br>
                    <label class="text-height">Please complete the registration process from link provided</label>
                   <label class="text-height">in email notification.</label> -->
                </div>
            </div>
        </div>
        <div *ngIf="existingCandidate">
            <div class="successMessage">
                <img src="assets/images/candidate-email-icon.png">
                <div class="text">
                    <p>{{msg}}</p>
                    <a class="a-font" target="_blank" rel="skillProfileUrl" href="{{skillProfileUrl}}"><u>Click here to Login</u></a>
                </div>
            </div>
        </div>
    </div>
</div>