@import "/src/assets/scss/candidate_dashboard.scss";

* {
  // font-family: lato !important;

  .mat-icon {
    font-family: "Material Icons" !important;
  }
}

::ng-deep {

  .mat-option.mat-active,
  .mat-option:hover {
    background: none !important;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

.job_board {
  width: 75%;
  border-right: 1px solid #e7e7e7;
  background: #EDEDED;
}

.find_job {
  height: 100px;
  background: #e7e7e747;
  padding: 20px 20px;
  // font-weight: 400;
  color: #707070;

  span {
    font-size: 24px;
    //  padding-left: 15px;
    color: #262626;
    color: #ffffff !important;
    opacity: 1;
    margin: 0px 0px 0px -15px;
  }

  .dash {
    display: flex;
    align-items: baseline;
    // align-items: center;
    // padding-top: 15px;
    padding: 15px 0px 0px 18px;

    .view {
      padding-top: 15px;
      //color: #27BBEE;
      color: #1b4e9b;
      font-size: 12px !important;
      font-weight: 600 !important;
      cursor: pointer;
      text-decoration: underline;
    }

    .findtext {
      font-size: 12px !important;
      font-weight: 600 !important;
    }
  }
}

.banner_header {
  color: #fff;
  padding: 50px;
  position: relative;
  margin: auto;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: left !important;
  // background: linear-gradient(#000000a3, #000000a3),
  // url(../../../../assets/images/dash-bg-img.png);
  // background-image: url(../../../../assets/images/dash-bg-img.png);
  //  url(../../../../assets/images/banner.svg);

  // .user {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   flex-direction: row;
  //   color: #fff !important;
  // }

  .quote {
    font-size: 34px;
    line-height: 45px;
    margin-left: 80%;

    div:nth-child(1) {
      font-weight: 300;
    }

    div:nth-child(2) {
      // background: #FFFFFF 0% 0% no-repeat padding-box;
      // opacity: 0.8;
      // backdrop-filter: blur(3px);
      // -webkit-backdrop-filter: blur(3px);
      background: #fff3;
      width: 500px;
      height: 50px;
      position: absolute;
      right: 0px;
      text-align: right;
      padding: 5px 55px;
      clip-path: polygon(4% 0, 100% 0, 100% 100%, 0 100%);

      .grad-text {
        //  background: transparent linear-gradient(89deg, #FFFFFF 0%, #41AFE0 4%, #8ABC2E 94%, #7BBC49 100%) 0% 0% no-repeat padding-box;
        background: transparent linear-gradient(90deg, #27bbee 0%, #40bbbd 58%, #88ba2f 100%) 0% 0% no-repeat padding-box;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
      }
    }
  }
}

.job_title {
  //     text-align: left;
  font: normal normal normal 24px/63px Lato;
  //     letter-spacing: 0px;
  //     color: #FFFFFF;
  //     opacity: 1;
}

.custom-button {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #1b4e9b;
  border-radius: 20px;
  opacity: 1;
  cursor: pointer;
  color: #1b4e9b;
  font-family: "Lato";
  margin-right: 10px;
  padding: 8px 15px;
}

.custom-button.active {
  background-color: #1b4e9b;
  color: #ffffff;
}

.allbtn {
  margin-left: 30px;
}

.search-bar {
  display: flex;
  align-items: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #84848466;
  border-radius: 35px;
  opacity: 1;
  padding: 8px;
  margin: 0px 20px 0px 26px;
}

.search-bar input {
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 160px;
  color: #1b4e9b;
  outline: none;
  width: 100%;
}

.search-bar input:focus {
  border: 0px solid;
  width: 100%;
}

.editable-text {
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

/* Optional: Style the div when it's in focus */
// .editable-text:focus {
//   border: 1px solid #333;
//   /* Replace #333 with the desired color */
// }
// .border_Placeholder{
//   width: 100%;
// }
.search_icon_ {
  color: #848484;
}

.first_container_new {

  height: 76px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 15px;
  margin: 1% 4%;
  border: 1px solid #ffffff;


  .results_dash {
    display: flex;
    // padding: 10px 20px 0px 20px;
    padding: 10px 15px 0px 10px;
    margin-top: 7px;
    justify-content: space-between;

    .arrow_grid {
      display: flex;
      justify-content: space-between;
      /* This will separate the child elements in one line */
      align-items: center;

      .icon-container {
        margin: 0px 0px 5px 10px;
      }
    }

    div {
      font-weight: 600;
    }

    .sort {
      display: flex;
      border: 1px;
      background: #1B4E9B14;
      border-radius: 20px;
      align-items: center;

      // margin: 0px 15px -10px 0px;
      .sortby_text {
        // margin: -1px 0px 0px 0px;
      }
    }
  }

  .select_job_or_intern {
    background: #1B4E9C 0% 0% no-repeat padding-box;
    border-radius: 20px;
    color: #fff;
    height: 36px;
    opacity: 1;
    margin: 0px 20px 0px 0px;
    padding: 7px 0px 0px 0px;

    ::ng-deep .mat-select-value {
      color: white;
    }
  }
}

.name.skill-exchange {
  // width: 180px;
  // height: 36px;
  position: absolute;
  right: 0%;
  padding: 7px 20px;
  display: inline-block;
  background-image: linear-gradient(to left, #8abc2e, #25bcef);
  // border-radius: 14px 0 0 14px;
  border-radius: 17px 0px 0px 17px;
  color: #ffffff;
  align-items: center;
  margin: 13px 0px 0px 0px;
}

.name.skill-exchange .text-overlay {
  text-align: center;
  // font: normal normal medium 8px/12px Lato;
  font-size: 13px;
  opacity: 1;
  // margin: 8px 0px 0px 0px;
}

.flex-layout {
  ::ng-deep {
    .mat-select {
      width: 146px;
      padding: 0px 8px;
      // border: 1px solid #eee;
      border-radius: 5px;
      position: relative;
      // bottom: 5px;
      left: 5px;

      .mat-select-trigger {
        text-align: center;
      }
    }

    .mat-select-arrow {
      margin: 8px 4px 0px 4px;
      // padding: 0px 5px 4px 0px;
    }

    .mat-select-arrow-wrapper {
      padding: 0px 5px 4px 0px;
    }

    .mat-select-value {
      // text-align: start;
    }

    .mat-option {
      background: #fff !important;
      color: lightgrey;
    }

    .panelPosition {
      .mat-select-min-line {
        color: #1b4e9b;
        font-weight: 400;
        position: relative;
        // top: 4px;
      }
    }
  }
}

::ng-deep {
  .mat-checkbox-frame {
    border-color: #bfbfbf;
    border-width: 1px;
  }

  .mat-select-panel {
    margin-top: 35px !important;
  }

  .mat-checkbox-layout .mat-checkbox-label {
    white-space: initial !important;
    padding: 0px 5px !important;
    color: #707070;
    font-weight: 400;
    font-size: 12px;
  }

  .mat-checkbox-checked.mat-primary .mat-checkbox-background {
    //background-color: #26bbef;
    background-color: #1b4e9b;
  }
}

.flex-layout {
  width: 100%;
  flex-direction: row;
  display: flex;
  border-right: 1px solid #e7e7e7;
  // height: 86vh;
  // overflow: auto;
  /* align-items: flex-start; */
  justify-content: space-between;
  // display: flex;
  //   height: 600px;
  //   flex-wrap: wrap;
  overflow-x: hidden !important;
  align-content: stretch;
  //   overflow: scroll;
}

// .norecords {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   flex-wrap: nowrap;
//   position: relative;
//   top: 150px;

//   span {
//     font-weight: 600;
//   }
// }

// .overall_box {
//   display: flex;
//   flex-wrap: wrap;
//   align-content: flex-start;
//   height: 70vh;
//   overflow: auto;
//   padding: 0px 20px;
// }

// .example_card {
//   margin-bottom: 25px;
//   margin-left: 10px;
//   margin-right: 10px;
//   margin-top: 10px;
//   padding: 10px;
//   border: 1px solid #70707033;
//   box-shadow: none;
//   border-radius: 10px;
//   cursor: pointer;
// }

.job_card {
  display: flex;
  // border-bottom: 1px solid #80808029;
  justify-content: space-between;
}

// .inner_card {
//   display: flex;
// }

// .card_flex {
//   width: 33.33%;
// }


// .expertise {
//   display: flex;
//   scroll-behavior: smooth;
//   width: auto;
//   flex-wrap: wrap;
//   margin-top: 20px;

//   ng-deep {
//     ::-webkit-scrollbar {
//       display: inline-block !important;
//       height: 6px !important;
//       width: 10px !important;
//     }

//     ::-webkit-scrollbar-thumb {
//       background: #4cbca0;
//       border-radius: 10px;
//       height: 50%;
//     }

//     ::-webkit-scrollbar-thumb:hover {
//       background: #0089b3;
//     }
//   }
// }

.comp-image {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 37px;
  width: 80px;
  justify-content: center;
  align-items: center;
  margin: 0px 4px 0 4px;
  border-radius: 4px;
  /* border: 1px solid; */
  border: 1px solid #70707066;
  overflow: hidden;
}

.comp_logo {
  // max-width: 44px;
  // max-height: 44px;
  width: 100%;
}

.card_title {
  margin: 10px 2px;
  line-height: 11px;
  border-bottom: 2px solid #e7e7e770;

  .comp_name {
    color: #70707099;
    font-weight: 400;
    font-size: 12px;
  }
}

.job_designation {
  font-size: 14px !important;
  font-weight: bold !important;
  color: #000 !important;
  line-height: 1.2;
}

.all_filter {
  margin: 0px 0px 0px -20px;
}

.head_designation {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// .job_description {
//   color: #707070;
//   font-size: 13px;
//   text-align: left;
//   margin-top: 10px;
// }
.specialization {

  //  margin-top: 20px;
  button {
    background: #c7c7c70d 0% 0% no-repeat padding-box;
    border: 1px solid #70707080;
    border-radius: 3px;
    opacity: 1;
    width: max-content;
    font-weight: 400;
    color: #707070;
    margin: 0px 2px;
    border-radius: 3px;
    // padding: 3px 8px;
    padding: 5px 5px 5px 5px;
    font-size: 10px;
    line-height: normal;
  }
}

// .misc_details {
//   margin-top: 10px;

//   span {
//     font-size: 12px;
//     color: #8c8c8c;
//   }

//   .misc_row {
//     display: flex;
//     margin: 0px 3px;
//     padding: 2px 0px;
//   }

//   .locate,
//   .graduate {
//     width: 80%;
//     margin-bottom: 0px;
//   }
//   .overflow-dot {
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     overflow: hidden;
//   }

//   .misc_icon {
//     font-size: 15px !important;
//     height: auto;
//     width: auto;
//     margin: 0px 4px;
//   }

//   .misc_col {
//     font-size: 12px;
//     color: #707070;
//     margin: 0px 2px;
//   }
// }

.misc_save {
  z-index: 999;
  position: absolute;
  top: 0%;
  right: 0%;

  .save {
    display: flex;
    text-align: center;
  }

  .mat-icon {
    color: #1b4e9b;
  }

  .unsaved_icon,
  .saved_icon {
    font-size: 24px !important;
    // margin-top: 3px;
  }

  .book-icon {
    border: 1px solid #1b4e9b;
    height: 6px;
    width: 2px;
    transform: rotate(90deg);
    position: relative;
    right: 3.5mm;
    margin-left: 0.5px;
    top: 9px;
  }

  .unsaved_icon {
    color: #1b4e9b;
  }

  .saved_text_ed {
    font-size: 13px;
    font-weight: 600;
    color: #1B4E9B;
    margin: 8px 15px 0px 0px;
  }
}

.filter {
  width: 25%;
  // overflow-y: scroll;
  scroll-behavior: smooth;
  height: 86vh;
  background-color: #EDEDED;
  padding: 15px 20px;
  border-radius: 30px;

  .clear_filter {
    color: #294d96;
    position: absolute;
    right: 4%;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
  }

  .fil_head {
    position: relative;
    width: 100%;
    padding: 25px 20px 10px 20px;
    // padding: 18px 20px 10px 20px;
    // padding: 5px 20px 0px 7px;
    border-bottom: 1px solid #e7e7e763;
    background: #fff;
    box-shadow: 1px 1px 1px 1px #e7e7e763;
    border-radius: 15px 15px 0px 0px;

    ::-webkit-scrollbar {
      display: inline-block;
      width: 6px;
    }

    ::-webkit-scrollbar-thumb {
      background: #4cbca0;
      border-radius: 10px;
      height: 50%;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #0089b3;
    }
  }

  .filt_list {
    height: 70vh;
    // overflow-y: scroll;
    // border-radius: 15px;
  }

  .misc_icon {
    font-size: 18px;
  }

  .filter_col {
    padding: 20px;
    // padding: 5px 0px 0px 18px;
    // padding: 8px;
    background-color: #ffff;
    border-bottom: 1px solid #e7e7e7;
    align-content: flex-start;

    .filter_head {
      cursor: pointer;
      user-select: none;
    }

    .expand_icon {
      width: 30%;
      text-align-last: end;
    }

    div {
      color: #9d9d9d;
      font-weight: 400;
    }

    button {
      font-size: 13.5px;
      // color: #26bbef;
      color: #1b4e9b;
      font-weight: 400;
      text-decoration: underline;
    }
  }
}

.clear_filter {
  color: #26bbef;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  margin-left: 25px;
}

::ng-deep .fldName label {
  font-size: 13px !important;
}

.dlog_template {
  display: flex;
  width: 100%;
  height: 43px;
  border-bottom: 2px solid #e7e7e764;
  padding: 5px 10px;

  h1 {
    display: flex;
    width: 50%;
    float: left;
  }

  .close_div {
    padding: 0px;
    margin-bottom: 0px;
    width: 50%;
    flex-direction: row-reverse;

    .close-icon {
      text-align: center;
      margin-top: -20px;
      padding: 0px;
    }
  }
}

.aply_btn {
  background-color: #26bbef;
  margin: 10px 20px;
  float: right;
}

.mat_dlg_cnt {
  width: 100%;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: auto auto auto;
  font-size: 12px;
}

.mat_courses {
  padding: 0px 15px !important;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.mob_fil {
  display: none;
}

.fil_output {
  display: flex;
  flex-wrap: wrap;
  max-height: 65px;
  overflow: auto;

  .checkedVal {
    padding: 1px 8px 0px 8px;
    border: 1px solid #1b4e9b14;
    //background: #26bbef;
    background: #1b4e9b14;
    color: #1b4e9b;
    margin: 4px;
    border-radius: 18px;
    font-size: 13px;
  }

  .close_icon {
    font-size: 16px !important;
    text-align: end;
    cursor: pointer;
  }
}

.redlab {
  color: red;

  mat-icon {
    font-size: 14px !important;
    float: right;
  }
}

.main2 {

  // display: flex;
  // flex-direction: row;
  // justify-content: space-evenly;
  // padding-bottom: 20px;
  .card-sty {
    display: flex;
    flex-wrap: wrap;
    margin: 1% 3%;
  }

  .custom-class {
    width: 98% !important;

    .box {
      display: flex;
      position: absolute !important;
      right: 18px !important;
      // background: #1b4e9b14 0% 0% no-repeat padding-box;
      // border-radius: 17px;
      // width: 89px;
      // opacity: 1;
      // color: #1b4e9b;
      // padding: 0px 0px 0px 20px;
      // margin: 15px 0px 0px 0px;
    }

    .degree {
      // white-space: nowrap;
      // text-overflow: ellipsis;
      // overflow: hidden;
      color: #5C5C5C;
      font: normal normal normal 13px/20px Inter;
      // width: 110px;
      margin: 0px 0px 0px 25px;

      // padding: 16px 6px !important;
      .icon-degree:before {
        content: "";
        color: #5C5C5C;
        padding-right: 3px;
      }
    }

    .truncate-text {
      display: inline-block;
      max-width: 100% !important;
      /* Adjust this value to your desired maximum width */
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
    }
  }

  .main-card2 {
    height: 220px;
    width: 98%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 0px;
    overflow: hidden;
    cursor: pointer;
    // box-shadow: none;
    margin: 1%;
    // box-shadow: 0px 1px 3px #70707066;

    .minicard-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-content: space-between;
      // border-bottom: 1px solid #d0d0d0;
      padding: 12px 15px 0px 15px;

      .minicard-heading {
        // size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        color: #222222;

        .head2 {
          // font: normal normal 600 14px/20px Lato;
          font: normal normal 600 18px/20px Inter;
          letter-spacing: 0.28px;
          // color: #1b4e9b;
          color: #262626;
          opacity: 1;
          padding-left: 10px;
          // padding: 0px 0px 0px 10px;
        }

        .truncate-text {
          display: inline-block;
          max-width: 150px;
          /* Adjust this value to your desired maximum width */
          white-space: nowrap;
          // overflow: hidden;
          text-overflow: ellipsis;
        }

        img {
          width: 70px;
          height: 28px;
        }

        .company-image {
          width: 70px;
          height: 28px;
        }
      }
    }
  }

  .paginationdisplay {
    display: flex;
    justify-content: space-around;
    width: 100%;
    bottom: 30px;
    position: sticky;
    padding: 25px 0px 10px 0px;
  }
    ::ng-deep .mat-card:not([class*=mat-elevation-z]) {
      box-shadow: none;
    }
}

.result_sty {
  padding-top: 10px;
}

.main-sub {
  display: flex;
  flex-direction: column;
  // margin-bottom: 10px;
  padding: 0px 0px 0px 7px;

  .degree {
    // padding-left: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #5C5C5C;
    font: normal normal normal 13px/20px Inter;
    // width: 110px;
    margin: 0px 0px 0px 15px;
    font-size: 12px;

    .icon-degree:before {
      content: "";
      color: #5C5C5C;
      padding-right: 3px;
    }
  }
}

.details {
  display: block;
  padding: 7px 20px 20px 5px;
}

.sub-details-1 {
  // display: flex;
  // display: block;
  // flex-direction: row;
  // text-align: center;
  // justify-content: flex-start;
  padding: 15px 0px 0px 0px;
  color: #707070;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 390px;

  .head1 {
    font-size: 16px;
    font-weight: bold !important;
    color: #222222;
    // font: normal normal bold 16px/20px Lato;
  }

  .type {
    padding-left: 5px;

    .full_time:before {
      content: "";
      color: #707070;
      padding-right: 3px;
    }
  }
}

.grid-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #1b4e9b;
  color: #ffffff;
  // border-radius: 5px;
  cursor: pointer;
  margin: -5px 0px 0px 0px;

  // .custom-tooltip {
  //   max-width: 200px;
  //   /* Set the desired max width */
  //   margin: 10px 0px 0px 0px;
  //   height: auto;
  //   /* Set the desired height or let it be auto */
  //   font-size: 14px;
  //   /* Set the desired font size */
  //   /* Add any other styles you want */
  // }
}

.grid_1 {
  padding: 5px;
  background: #1b4e9b;
}

.grid_2 {
  padding: 5px;
  color: #1b4e9b;
}

.grid_2-selected {
  background-color: #1b4e9b;
  color: #ffffff;
}

.grid_2-selected .grid_1 {
  background-color: #ffffff;
  color: #1b4e9b;
}

.grid_2-selected .grid_2 {
  background-color: #1b4e9b;
  color: #ffffff;
}

.sub-details {
  display: flex;
  // padding-left: 5px;
  padding: 2px 0px 0px 4px;
  color: #707070;
  text-align: initial;

  // div{
  //   // padding: 5px 3px 5px 0px;
  //   // line-height: 24px;
  //   // color: #707070;
  //   // margin-left: 5px;

  //   padding: 5px 0px 5px 0px;
  //   line-height: 24px;
  //   color: #707070;
  // }

  //   .icon-Location:before {
  //     content: "";
  //     padding: 0px 5px 0px 0px;
  //     color: #707070;
  // }

  .locicon {
    padding: 0px 5px 0px 1px;
    color: #707070;
    height: 2px;
  }

  .specialization {
    padding: 5px 0px 5px 0px;
    line-height: 24px;
    color: #707070;
  }
}

// .posted_date{
//   font: normal normal normal 12px/15px Inter;
// letter-spacing: 0px;
// color: #5C5C5C;
// opacity: 1;
// }
.box {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 5px 0px 0px 8px;
  // background: #1b4e9b14 0% 0% no-repeat padding-box;
  // border-radius: 17px;
  // width: 89px;
  // opacity: 1;
  // color: #1b4e9b;
  // padding: 0px 0px 0px 20px;
  // margin: 10px 0px 0px 0px;
}

.type_fulltime {
  background: #56B35A29 0% 0% no-repeat padding-box;
  border-radius: 17px;
  width: 95px;
  // text-align: center;
  opacity: 1;
  color: #56B35A;
  padding: 1px 0px 1px 20px;
  margin: 10px 0px 0px 10px;
}

.jobTTyp {
  padding: 1px 15px 1px 15px;
  font: normal normal medium 12px/15px Inter;
  letter-spacing: 0px;
  color: #1B4E9B;
  background: #1B4E9B14 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
}

.loation_sty {
  margin: 0px 0px 0px -5px;
  color: #5C5C5C;
  font: normal normal normal 13px/20px Inter;
}

.cmpny_sty {
  margin: 0px 0px 0px 5px;
  font: normal normal medium 13px/16px Inter;
  letter-spacing: 0px;
  color: #1B4E9B;
}

// .date {
//   display: flex;
//   background: #f6f6f6 0% 0% no-repeat padding-box;
//   padding: 13px 6px;
//   position: absolute;
//   width: 100%;
//   bottom: 0px;
//   padding: 6px 0px;
//   font-size: 12px;


//   div {
//     margin: 0px 0px 0px 4px;
//     padding: 4px 3px 4px 5px;
//     line-height: 24px;
//     color: #707070;
//     background: #f6f6f6 0% 0% no-repeat padding-box;

//   }
// }

.company-image {
  width: 80px;
  height: 52px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #70707066;
  border-radius: 5px;
  opacity: 1;
  padding: 4px;

  img {
    width: 60px;
    margin: 9px 0px 0px 2px;
  }
}

.thirdheading {
  padding-top: 10px;
  size: 22px;
  padding-left: 30px;
  color: #294d96;
}

.fourthheading {
  padding-left: 30px;
  color: #707070;
}

.date {
  display: flex;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  padding: 13px 6px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 6px 0px;

  div {
    font: normal normal normal 12px/15px Inter !important;
    margin: 2px 0px 0px 0px;
    padding: 4px 3px 4px 5px;
    line-height: 24px;
    color: #5C5C5C !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
  }
}

.company-image {
  border: 1px solid #80808045;
  padding: 4px;
  border-radius: 5px;
  background: #ffffff 0% 0% no-repeat padding-box;

  img {
    width: 60px;
  }
}

.thirdheading {
  padding-top: 10px;
  size: 22px;
  padding-left: 30px;
  color: #294d96;
}

.fourthheading {
  padding-left: 30px;
  color: #707070;
}

.blurcard {
  opacity: 0.3;
}

.toast-top-center {
  bottom: 30px;
}

// .toast {
//   left: 50%;
//   position: fixed;
//   transform: translate(-50%, 0px);
//   z-index: 9999;
// }


// @media only screen and (min-width: 300px) and (max-width: 400px) {
//   .overall_box {
//     height: 65vh;
//   }
// }

// @media only screen and (max-width: 300px) {
//   .overall_box {
//     height: 50vh;
//   }
// }

@media only screen and (max-width: 600px) {
  .filter {
    display: none;
  }

  .results_dash {
    padding: 0px 4%;
  }

  .fil_output {
    display: -webkit-box !important;
    flex-wrap: nowrap;
    padding: 4px 0px 8px 0px !important;

    .checkedVal {
      height: fit-content;
      width: max-content !important;
    }
  }

  ::ng-deep .cdk-overlay-pane {
    //   width: inherit !important;
    //  max-width: inherit !important;
    //  max-width: min-content;
    // transform: translateX(-95px) translateY(-4px)!important;
    min-width: -webkit-fill-available !important;
  }

  .job_board,

  // .example_card {
  //   width: -webkit-fill-available !important;
  // }

  .card_flex {
    width: 100%;
  }

  .mob_fil {
    position: relative;
    display: flex;
    background: #fff;
    overflow: hidden;
    z-index: 999;
    width: 100% !important;
    max-width: 100%;

    div {
      padding: 2px 4px;
    }

    .fil_results {
      float: left;
      width: 65%;

      ::-webkit-scrollbar {
        display: inline-block;
        height: 4px;
      }

      ::-webkit-scrollbar-thumb {
        background: #4cbca0;
        border-radius: 10px;
        width: 50%;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #0089b3;
      }
    }

    .fil_btn {
      width: 35%;
      border-left: 2px solid #e7e7e770;
      color: #41c7f7;
      padding: 10px;

      span {
        font-size: 12px;
      }
    }
  }

  ::ng-deep .mat-dialog-container {
    padding: 0px !important;
  }

  .mat-select {
    width: 80px !important;
  }

  .mob_courses {
    display: flex;
    width: 100%;
  }

  .sub_crse {
    width: 40%;
  }

  .mob_card_crse {
    right: 0%;
    width: 60%;
    font-size: 12px;

    // overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100vh;
    padding: 10px;
    align-content: flex-start;
    border-left: 1px solid #8f8f8f61;

    span {
      display: grid;
    }
  }

  .field_crse {
    border-bottom: 1px solid #8f8f8f61;
    padding: 15px 10px;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
  }

  .icon_hide {
    font-size: 14px !important;
    color: red;
    float: right;
    visibility: hidden;
  }

  ::ng-deep .mat-checkbox-layout {
    white-space: initial !important;
  }

  .filt_mob_top {
    display: flex;
    width: 100%;
    padding: 15px 10px 0px 10px;
    border-bottom: 1px solid #8f8f8f61;

    mat-icon {
      width: 10%;
    }

    .fil_text {
      width: 60% !important;
      font-weight: 600 !important;
      margin-top: 3px !important;
    }

    .apply_top_menu {
      width: 30%;
      text-align: end;

      button {
        color: #fff;
        background: #26bbef;
        border: #26bbef;
        padding: 8px 23px;
        border-radius: 4px;
        margin-top: -6px;

      }
    }
  }

  .flex-layout {
    .job_board {
      .main2 {
        display: flex;
        flex-direction: column;

        .main-card2 {
          width: 100%;
          padding: 0px;
          margin: 2%;
        }

        .card-sty {
          display: flex;
          flex-wrap: wrap;
          margin: 1% 3%;
          flex-direction: column;
        }
      }
    }
  }
}

.jobs_Position {
  .mat-select-min-line {
    color: #fff;
    font-weight: 400;
    position: relative;
    // top: 4px;
  }
}

@media only screen and (min-width: 1010px) and (max-width: 1050px) {
  .card_flex {
    width: 50%;
  }
}

@media only screen and (min-width: 730px) and (max-width: 950px) {
  .example_card {
    width: -webkit-fill-available;
  }

  .job_board {
    width: 65%;
  }

  .filter {
    width: 35%;
    height: 80vh;
  }

  .card_flex {
    width: 100%;
  }
}

::ng-deep .mat-drawer-container {
  background-color: #EDEDED;
}

@media only screen and (min-width: 900px) {
  ::ng-deep .spec_desk_dialog {
    .mat-dialog-container {
      // position: absolute !important;
      width: max-content !important;
      height: max-content !important;
      right: 10% !important;
      top: 20% !important;
      padding: 0px !important;
      overflow: inherit !important;
    }
  }

  .example_card {
    height: 320px;
    //height: fit-content;
  }

  // .sample_class {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   align-items: flex-start;
  //   line-height: 23px;
  //   height: fit-content;
  // }
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .flex-layout {
    .job_board {
      .main2 {
        display: flex;
        flex-direction: column;

        .main-card2 {
          height: 260px;
          width: 100%;
          padding: 0px;
          margin: 2%;

          .main-sub {
            display: flex;

            .sub-details-1 {
              display: flex;
              flex-direction: column;
            }

            .details {}
          }
        }

        .card-sty {
          display: flex;
          flex-wrap: wrap;
          margin: 1% 3%;
          flex-direction: column;
        }
      }
    }
  }
}

