<div class="flex-layout">
  <div class="job_board">
    <div class="results_dash" *ngFor="let item of joblist; count as c">
      <p style="float:left;">Results Showing ({{c}})</p>
      <p style="text-align: right;">Sort by: </p>
      <mat-select class="panelPosition" placeholder="Relevance">
        <mat-option value="relevance">Relevance</mat-option>
        <mat-option value="recently posted">Recently Posted</mat-option>
      </mat-select>
    </div>
  <div class="overall_box">
    <div class="card_flex" *ngFor="let item of joblist">
      <mat-card class="example_card">
        <div class="job_card">
          <div class="comp-image">
            <img [src]="item.companyimage" class="comp_logo" alt="logo">
          </div>
          <div class="card_title">
            <p class="job_designation">
              {{item.jobtitle}}
            </p>
            <p class="comp_name">
              {{item.companyname}}
            </p>
          </div>
        </div>
        <div class="job_description">
          {{item.jobdescription}}
        </div>
        <div class="specialization">
          <button>
            {{item.specialization}}
          </button>
        </div>
        <div class="misc_details">
          <div class="misc_row"><span>
              <mat-icon class="misc_icon"> school</mat-icon>
            </span>
            <span class="misc_col">{{item.education}} </span>
          </div>

          <div class="misc_row"><span>
              <mat-icon class="misc_icon"> location_on</mat-icon>
            </span>
            <span class="misc_col">{{item.location}} </span>
          </div>

          <div class="misc_row"><span>
              <mat-icon class="misc_icon"> work</mat-icon>
            </span>
            <span class="misc_col">{{item.jobtype}} </span>
          </div>
        </div>
        <div class="misc_save"> <span>
            <mat-icon class="misc_icon">bookmark_border </mat-icon>
          </span>
        </div>
      </mat-card>
    </div>
  </div>
</div>
  <div class="filter">
    <div style="position: fixed;width: 100%;padding: 25px 20px 10px 20px;border-bottom: 1px solid #e7e7e7;z-index: 999;background: #fff;">
      <p><mat-icon class="misc_icon">filter_list</mat-icon><span  class="job_designation">All Filters</span></p>
      
    </div>
    <div class="filt_list">
    <div class="filter_col" *ngFor="let fillist of filter_info.data">
      <p><mat-icon class="misc_icon">{{fillist.iconName}}</mat-icon><span  class="job_designation">{{fillist.fieldName}}</span></p>
      <div *ngFor="let course of fillist.subContent.slice(0, 4);"><mat-checkbox  color="primary">{{course.name}}</mat-checkbox></div>
      <button mat-button (click)="openDialog()">+{{4}} more</button>
    </div>
  </div>
  </div>
</div>
<ng-template #moreItems>
  
    <div style="display:flex;"><h1 style="display: flex;width: 50%;float: left;" class="job_designation" mat-dialog-title>Education</h1>
    <div mat-dialog-actions>
      <button style="text-align: center;margin-top: -20px;padding: 0px;" mat-button class="close-icon" [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
    </div></div>
    <br>
    <div mat-dialog-content>
    <div class="filter_col" *ngFor="let fillist of filter_info.data">
        <div *ngFor="let course of fillist.subContent"><mat-checkbox  color="primary">{{course.name}}</mat-checkbox></div>
    </div>
     </div>
    
</ng-template>