<app-common-banner [name]="url"></app-common-banner>
<div class="flex-layout">
  <div class="job_board">
    <!-- <div class="find_job banner_header"> -->
    <!-- <span>Jobs/Internships</span> -->
    <!-- <div class="dash">
        <h5 class="view" (click)="dashboard()">Dashboard </h5>
        <h5 class="findtext"> &nbsp; > &nbsp;Find Jobs</h5>
      </div> -->
    <br>


  <div class="button-container">
    <button class="custom-button allbtn" [ngClass]="{'active': activeButton === 'all'}"
      (click)="setActiveButton('all')">All</button>
    <button class="custom-button" [ngClass]="{'active': activeButton === 'Jobs'}"
      (click)="setActiveButton('Jobs')">Jobs</button>
    <button class="custom-button" [ngClass]="{'active': activeButton === 'Internships'}"
      (click)="setActiveButton('Internships')">Internships</button>
  </div>

    <br>

  <div class="search-bar">
    <div><mat-icon class="search_icon_" type="submit">search</mat-icon></div>
    <div style="width: 100%;">
      <input class="border_Placeholder" [(ngModel)]="searchInput" (ngModelChange)="textsearch()" #searchInputRef
        type="text" placeholder="job title / companies / location">
    </div>
  </div>
  <div class="mob_fil" *ngIf="this.filter_info.data.length">
    <div class="fil_results">
      <div class="fil_output">
        <div class="checkedVal" *ngFor="let chkbox of selectedValues;let i = index">
          {{chkbox.name}} <mat-icon class="close_icon" (click)="closeSelectedValues(chkbox,i)">close</mat-icon>
        </div>
      </div>
    </div>
    <div class="fil_btn" (click)="mobDialog()">
      <mat-icon class="misc_icon">filter_list</mat-icon><span>Filters ({{this.selectedValues.length}})</span>
    </div>
  </div>

    <div class="results_dash">
      <div> Results Showing ({{this.totallength}})</div>
      <div class="arrow_grid">
        <div class="sort">
          <p class="sortby_text">Sort by:</p>
          <mat-select class="panelPosition mat-select-arrow-wrapper " appearance="outline" [(ngModel)]="sortData"
            (selectionChange)="getJobList()" placeholder="Relevance">
            <mat-option value="relevance"> Relevance </mat-option>
            <mat-option value="recently posted"> Recently Posted </mat-option>
          </mat-select>
        </div>

         <div class="icon-container">
           <div class="grid-container" [ngClass]="{'grid_2-selected': grid2Selected}" (click)="toggleGrid2()">
             <span class="icon-dotted-grid grid_1" matTooltip="Grid View" matTooltipClass="custom-tooltip"></span>
             <span class="icon-list_view grid_2" matTooltip="List View" matTooltipClass="custom-tooltip"></span>
           </div>
         </div>
      </div>
    </div>

    <div class="main2">
      <div class="card-sty">
        <mat-card class="main-card2" [class.custom-class]="grid2Selected" *ngFor="let item of joblist;let i as index">
          <div>

            <div *ngIf="partnerLabel && partnerLabel === 'Skill Exchange Partner'">
              <div [disabled]="!item.yearofPassout.includes(removeduplicate2)"
                (click)=" item.yearofPassout.includes(removeduplicate2) ? gotojob(item) : customalert(item)"
                [ngClass]="{'blurcard': !item.yearofPassout.includes(removeduplicate2)&&item.partnerLabel}"
                class="name skill-exchange" *ngIf="item.partnerLabel">
                <div class="text-overlay">{{item.partnerLabel}}</div>
              </div>
            </div>

            <div [disabled]="!item.yearofPassout.includes(removeduplicate2)" (click)="item.yearofPassout.includes(removeduplicate2) ? gotojob(item) : customalert(item)"
             [ngClass]="{'blurcard': !item.yearofPassout.includes(removeduplicate2)&&item.partnerLabel}">
              <div class="minicard-header">
                <div class="company-image">
                  <img [src]="item.companyLogo ? item.companyLogo : '../../../../assets/images/bottomCircle.png'" alt="" />
                </div>
                <div class="minicard-heading">
<!-- <span matTooltip="{{ item.company }}" class="head2">{{ item.company }}</span> -->
<span matTooltip="{{ item.company }}" class="head2" [ngClass]="{'truncate-text': item.partnerLabel}">
  {{ item.company }}
</span>

                  <div class="sub-details">
                     <div>
                       <mat-icon class="locicon">location_on</mat-icon>
                     </div>
                    <div class="loation_sty">
                      <ng-container *ngFor="let location of item.jobLocation; let last = last"> {{ location }}{{ !last ? ', ' : '' }} </ng-container>
                    </div>
                  </div>
                </div>
              </div>
              <div class="main-sub">
                <div class="sub-details-1">
                  <div>
                    <!-- <div class='compTitle'><strong>{{ jobDetails.jobRole ? jobDetails.jobRole : jobDetails.jobTitle }}</strong> -->
                    <span class="head1 rolebold" [matTooltip]="item.jobRole ? item.jobRole : item.jobTitle">{{item.jobRole ? item.jobRole : item.jobTitle}}</span>
                  </div>
                </div>
                <div class="box">
                  <div>
                    <span class="jobTTyp">#{{item.workType}}</span>
                  </div>
                  <div class="type_fulltime">
                    <span class="icon-full_time"></span> {{item.jobType}}
                  </div>
                </div>
                <div class="degree">
                  <span class="icon-graduation-cap-solid"></span>
                  <ng-container *ngFor="let degree of item.education; let last = last">
                    {{ degree }}{{ !last ? ', ' : '' }}
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="date">
              <div [disabled]="!item.yearofPassout.includes(removeduplicate2)" (click)="!item.yearofPassout.includes(removeduplicate2) ? gotojob(item) : customalert(item)" [ngClass]="{'blurcard': !item.yearofPassout.includes(removeduplicate2)&&item.partnerLabel}">
                <span class="icon-calendar"></span></div>
              <!-- <div [disabled]="item.yearofPassout != useryopyear" (click)="item.yearofPassout == useryopyear && gotojob(item)" [ngClass]="{'blurcard': item.yearofPassout != useryopyear}">Posted on -->
              <div [disabled]="!item.yearofPassout.includes(removeduplicate2)" (click)="item.yearofPassout.includes(removeduplicate2) ? gotojob(item) : customalert(item)" [ngClass]="{'blurcard': !item.yearofPassout.includes(removeduplicate2)&&item.partnerLabel}">
                <span class="icon-clock_postdate dayleftclr"></span>
                Posted on {{item.createdOn | date : 'd MMM'}}
              </div>
              <div [disabled]="!item.yearofPassout.includes(removeduplicate2)" (click)="item.yearofPassout.includes(removeduplicate2) ? gotojob(item) : customalert(item)" [ngClass]="{'blurcard': !item.yearofPassout.includes(removeduplicate2)&&item.partnerLabel}">
                &nbsp; <span class="icon-daysleft_clock dayleftclr"></span> {{item.lastDatetoApply | timeDiff}}
              </div>

              <div class="misc_save" (click)="bookMarkIcon(item)"  [ngClass]="{'blurcard disabled-card': !item.yearofPassout.includes(removeduplicate2) && item.partnerLabel}">
                <div class="save">
                  <mat-icon [ngClass]="item.isSelected ? 'saved_icon' : 'unsaved_icon'">
                    {{item.isSelected ? 'bookmark' : 'bookmark_border'}}
                  </mat-icon><span class="book-icon"></span>
                </div>
              </div>
            </div>
          </div>
        </mat-card>

        <div class="paginationdisplay">
          <app-common-paginator *ngIf="total" (send)="some($event)" [totalcount]="total"></app-common-paginator>
        </div>
      </div>
    </div>

    <div *ngIf="totallength==0">
      <app-no-data-found [from]="'find'"></app-no-data-found>
    </div>
  </div>
  <div class="filter" *ngIf="this.filter_info.data.length">
    <div class="fil_head">
      <p>
        <mat-icon class="misc_icon"></mat-icon><span class="job_designation all_filter">All Filters
          {{this.selectedValues.length ? '(' + this.selectedValues.length + ')' : ''}}</span>
        <span (click)="clearFilters(filter_info.data)" *ngIf="selectedValues.length" class="clear_filter">Clear
          All</span>
      </p>
      <div class="fil_output">
        <div class="checkedVal" *ngFor="let chkbox of selectedValues;let i = index">
          {{chkbox.name}} <mat-icon class="close_icon" (click)="closeSelectedValues(chkbox,i)">close</mat-icon>
        </div>
      </div>
    </div>
    <div class="filt_list">
      <div class="filter_col" *ngFor="let fillist of filter_info.data">
        <p class="filter_head" (click)="fillist.isShow=!fillist.isShow">
          <mat-icon class="misc_icon">{{fillist.iconName}}</mat-icon><span
            class="job_designation">{{fillist.fieldName}}</span>
          <mat-icon class="expand_icon" class="clickBtn misc_icon">expand_more</mat-icon>
        </p>
        <div *ngFor="let course of fillist.subContent; let i = index">
          <span *ngIf="i<4">
            <mat-checkbox (change)="checkboxChecked($event,course,fillist.key,fillist.isMaster,'direct')"
              [checked]="course.is_checked" class="fldName" color="primary" *ngIf="!fillist.isShow">{{course.name}}
              ({{course.totalCount}})
            </mat-checkbox>
          </span>
        </div>
        <button *ngIf="(fillist.subContent.length)>4" mat-button
          (click)="openDialog(fillist)">+{{fillist.subContent.length-4}} more</button>
      </div>
    </div>
  </div>
</div>
<ng-template #moreItems>
  <div class="dlog_template">
    <h1 class="job_designation" mat-dialog-title>{{filterItems.fieldName}}</h1>
    <div class="close_div" mat-dialog-actions>
      <button mat-button class="close-icon" [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <br>
  <div mat-dialog-content>
    <div class="filter_col mat_dlg_cnt">
      <div *ngFor="let course of filterItems.subContent">
        <mat-checkbox class="mat_courses" (change)="checkboxChecked($event,course,filterItems.key,filterItems.isMaster)"
          [checked]="course.is_checked" color="primary">{{course.name}} ({{course.totalCount}})</mat-checkbox>
      </div>
    </div>
    <button [mat-dialog-close] class="aply_btn" (click)="applyfilter()" mat-raised-button color="primary">Apply</button>
  </div>
</ng-template>

<ng-template #mobFilter>
  <div class="filt_mob_top">
    <mat-icon [mat-dialog-close]>west</mat-icon>
    <p class="fil_text">All Filters {{this.selectedValues.length ? '('+this.selectedValues.length +')' : ''}}
      <span (click)="clearFilters(filter_info.data)" *ngIf="selectedValues.length" class="clear_filter">Clear
        All</span>
    </p>
    <p class="apply_top_menu">
      <button (click)="applyfilter()" [mat-dialog-close]>Apply</button>
    </p>
  </div>
  <div class="mob_courses">
    <div class="sub_crse">
      <div *ngFor="let fillist of filter_info.data;let indx = index">
        <div class="field_crse" (click)="fil_elements(filter_info.data,fillist.subContent,indx,fillist.key)"
          [ngClass]="fillist.active?'redlab':''">
          {{fillist.fieldName}} <mat-icon *ngIf="fillist.active">arrow_forward_ios</mat-icon>
        </div>
      </div>
    </div>
    <div class="mob_card_crse">
      <span *ngIf="filterItems">
        <mat-checkbox color="primary" (change)="checkboxChecked($event,item,item.key,item.isMaster)"
          [checked]="item.is_checked" class="mob_filter_res" *ngFor="let item of filterItems">{{item.name}}
          ({{item.totalCount}})
        </mat-checkbox>
      </span>
    </div>
  </div>
</ng-template>
