@import "../../../../../assets/scss/variables.scss";
@import "../../../../../assets/scss/fonts.scss";
.header_info {
    background-color: #f8f8f8;
    background-image: url(../../../../../assets/images/skill_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background-image: linear-gradient(to right, #00b0ed, #00b5d9, #00b6af, #00b376, #53aa34);
    }
    h3 {
        position: relative;
        color: $whiteColor;
        line-height: normal;
        letter-spacing: 0.48px !important;
        font-size: 32px !important;
        opacity: 1;
        font-weight: 500!important;
    }
    button {
        background-color: $whiteColor;
        border-radius: 15px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
        border: none;
        padding: 3px 12px 2px 12px;
        position: relative;
        width: 104px;
        height: 33px;
    }
}

.wall {
    margin-left: 3%;
    .candidate-info {
        margin-bottom: 30px;
        margin-top: 30px;
        h1 {
            font-size: 21px !important;
            font-weight: 700 !important;
        }
    }
    .skills {
        background-color: $whiteColor;
        padding: 20px;
        width: 94%;
        box-shadow: 0px 0px 9px #00000026;
        border-radius: 3px;
        opacity: 1;
        margin-bottom: 10px;
        .heading {
            color: $blackColor;
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 20px;
        }
        .recommendedJobs {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 2.5%;
            >div {
                width: 30%;
            }
            h3 {
                margin: 0;
                font-size: 34px !important;
                font-weight: 700 !important;
                color: $blackColor !important;
                line-height: normal !important;
                margin-bottom: 10px;
                span {
                    color: #808080;
                    font-size: 17px;
                    font-weight: 400;
                    margin-left: 6px;
                }
            }
             ::ng-deep .mat-progress-bar-fill::after {
                background-color: #009AFF !important;
            }
             ::ng-deep .mat-progress-bar-buffer {
                background-color: #E6E6E6 !important;
            }
        }
    }
}

.main-box {
    display: flex;
    justify-content: space-between;
    width: 94%;
    margin-top: 1.5%;
    .heading {
        color: $blackColor;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        padding: 15px;
    }
    .left {
        .hardSkills {
            height: 289px;
            width: 521px;
            background: $whiteColor;
            box-shadow: 0px 0px 9px #00000026;
            margin-top: 10;
            margin-bottom: 22px;
        }
        .softSkills {
            height: 289px;
            width: 521px;
            background: $whiteColor;
            box-shadow: 0px 0px 9px #00000026;
            margin-bottom: 3%;
        }
    }
    .right {
        width: 100%;
        height: auto;
        background: $whiteColor;
        box-shadow: 0px 0px 9px #00000026;
        margin-bottom: 3%;
    }
}

::ng-deep.recommendedJobs {
    .mat-progress-bar {
        height: 12px;
        width: 90%;
    }
}

.width-65 {
    width: 75%;
    .chart {
        margin-left: 12%;
    }
}

.Jobs {
    margin-bottom: 3%;
    .jobs {
        background: #a9a9a959;
        padding: 9px;
        border-radius: 27px;
        margin-left: 1%;
        font-size: 13px;
    }
}

::ng-deep .mat-tab-label .mat-tab-label-content {
    font-size: 16px !important;
}

.noCard {
    font-size: 30px;
    text-align: center;
    padding: 30px;
    position: relative;
    min-height: calc(100vh - 100px);
}

.noData {
    position: relative;
    margin: 0 0 auto;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    padding: 2em;
    border: solid #eee 1px;
}

.candidateSkillsBasicProfile {
    margin: 2em 0 2em 0;
    width: 94%;
}

.expandheaderArea {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0.6em 0;
    div {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0em 0.8em;
        border-right: 0.1em solid #e8e8e8;
        justify-content: center;
        //   min-width: 160px;
        &:last-child {
            border: none;
        }
        &:nth-child(1),
        &:nth-child(2) {
            flex-grow: 3.6;
            justify-content: flex-start;
            padding-left: 1.6em;
            white-space: nowrap;
            width: 200px;
        }
        em {
            color: #b3b3b3;
            font-size: 2em;
            &.icon-SpeedoMeter {
                font-size: 2.3em;
                color: #b3b3b3;
            }
            &.icon-Booked {
                font-size: 1.7em;
                color: #b3b3b3;
            }
        }
        >span {
            font-size: 0.8em;
            color: #757575;
            padding: 0 0.8em;
            padding-left: 1.2em;
            span {
                display: block;
                font-size: 1.3em;
                font-weight: 500;
                // color: $blackColor;
            }
        }
    }
}

.head {
    font-size: 1.3em !important;
    color: $blackColor !important;
    font-weight: 500 !important;
    padding-left: 10px !important;
}

.assessmentInfoarea {
    margin: 1.2em 1px;
    position: relative;
    .mat-expansion-panel {
        margin-bottom: 1.5em;
    }
    .mat-expansion-panel-header {
        height: auto;
        display: grid;
        padding: 0 0.6em;
        grid-template-areas: "mat-expansion mat-content";
        grid-template-columns: 2em auto;
        border-bottom: 0.1em solid #e8e8e8;
        border-radius: 0;
        min-height: 72px;
    }
    .mat-expansion-panel-body {
        padding: 0;
    }
    span.mat-content {
        display: initial;
        grid-area: mat-content;
    }
    span.mat-expansion-indicator {
        display: flex;
        align-items: center;
        grid-area: mat-expansion;
        justify-content: center;
    }
    .width-51 {
        width: 40% !important;
    }
    .width-80 {
        width: 80px !important;
        height: 80px !important;
        .QaCode {
            width: 100% !important;
            @media only screen and (min-width: 1440px) {
                width: 60% !important;
            }
        }
    }
    .width-270 {
        width: 270px !important;
    }
    .width-150 {
        width: 160px !important;
    }
    .width-168 {
        width: 167px !important;
    }
    .expandheaderArea {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0.6em 0;
        div {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0em 0.8em;
            border-right: 0.1em solid #e8e8e8;
            justify-content: start;
            //   min-width: 160px;
            &:last-child {
                border: none;
            }
            &:nth-child(1),
            &:nth-child(2) {
                flex-grow: 3.6;
                justify-content: flex-start;
                padding-left: 1.6em;
                white-space: nowrap;
                width: 200px;
            }
            em {
                color: #b3b3b3;
                font-size: 2em;
                &.icon-SpeedoMeter {
                    font-size: 2.3em;
                    color: #b3b3b3;
                }
                &.icon-Booked {
                    font-size: 1.7em;
                    color: #b3b3b3;
                }
            }
            >span {
                font-size: 0.8em;
                color: #757575;
                padding: 0 0.8em;
                padding-left: 1.2em;
                span {
                    display: block;
                    font-size: 1.3em;
                    font-weight: 500;
                    // color: $blackColor;
                }
            }
        }
    }
    .ContentInfoDetails {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        padding: 1em 1.6em;
        border-bottom: 0.1em solid #e8e8e8;
        div {
            flex-grow: 1;
            color: #757575;
            font-size: 1em;
            line-height: 1.5;
            &.primaryInfo {
                flex-grow: 2.5;
                .icon-checked {
                    font-size: 0.8em;
                    padding-right: 0.5em;
                }
            }
        }
        span {
            display: block;
            color: $blackColor;
            font-size: 1em;
            // font-weight: 700;
            line-height: 1.3;
            margin-top: 0px;
            span {
                display: inline-block;
                color: #6b6b6b;
                font-size: 0.6em;
                font-weight: 500;
                padding: 0 0.1em;
                &.warningColor {
                    font-size: 0.5em;
                    padding-left: 0.5em;
                }
            }
        }
    }
    .ContentInfoSummary {
        padding: 1em 1.6em;
        .heading6.flxView,
        .assessmentHeaderinfo {
            margin-top: 1em;
        }
        .Summaryhtxt {
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 1em 0;
        }
    }
    //common styles
    .successColor,
    .expandheaderArea div>span span.successColor,
    .ContentInfoDetails span.successColor,
    .ContentInfoDetails span.successColor span {
        color: $successColorDark;
    }
    .warningColor,
    .expandheaderArea div>span span.warningColor,
    .ContentInfoDetails span.warningColor,
    .ContentInfoDetails span.warningColor span {
        color: $primaryColor;
    }
    .WarnColor,
    .expandheaderArea div>span span.WarnColor,
    .ContentInfoDetails span.WarnColor,
    .ContentInfoDetails span.WarnColor span {
        color: #d68f0c;
    }
    .SummaryInfoArea {
        padding: 1em 0;
        .Summaryhtxt {
            font-size: 19px;
            margin: 1em 0 0;
        }
        .summaryTable {
            width: 100%;
            border: none !important;
        }
        .summaryTable tr th {
            color: $lightGrey;
            text-align: left;
            padding: 0.8em 1.2em;
            white-space: nowrap;
            font-weight: normal;
            border: 1px solid #dbdbdb;
            border-right-width: 0;
            width: 12%;
            &:first-child {
                width: 30%;
            }
            &:last-child {
                border-right-width: 0.1em;
            }
        }
        .summaryTable tr td {
            color: $lightGrey;
            text-align: left;
            padding: 0.8em 1.2em;
            font-weight: 500;
            border: 1px solid #dbdbdb;
            border-right-width: 0;
            border-top-width: 0;
            width: 13%;
            position: relative;
            &:first-child {
                width: 25%;
                color: $primaryColor;
            }
            &:last-child {
                border-right-width: 1px;
                text-align: center;
                font-size: 1em;
                min-width: 95px;
            }
            span {
                color: $blackColor;
                font-size: 1.4em;
                font-weight: 700;
            }
            .icon-Like {
                color: $successColorDark;
                font-weight: 700;
            }
            .average-color {
                color: #d68f0c;
                font-weight: 700;
            }
            .icon-Dislike {
                color: $primaryColor;
                font-weight: 700;
            }
            .progressbar {
                display: block;
                position: absolute;
                z-index: 1;
                top: 0;
                bottom: 0;
                left: 0;
                max-width: 100%;
            }
            .progressdata {
                display: flex;
                position: relative;
                z-index: 2;
                font-size: 0.8em;
            }
            .color-bluebar {
                background-color: #e1f4ff;
                border-right: 0.3em solid #8fc7e2;
            }
            .color-pinkbar {
                background-color: #ffe1eb;
                border-right: 0.3em solid #f07f9e;
            }
            .color-greenbar {
                background-color: #dcffed;
                border-right: 0.3em solid #7ae4af;
            }
            .color-yellowbar {
                background-color: #fff4dc;
                border-right: 0.3em solid #fbe8a9;
            }
        }
    }
    .mat-expansion-panel:not([class*=mat-elevation-z]) {
        box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 12%) !important;
    }
}

.color-black {
    color: $blackColor;
}