<div class="body">
  <div class="title">
    <div class="title-text">View Applications</div>
    <div class="exportcsv">
      <span [routerLink]="routerlink.VIEWDRIVE.VIEWCANDIDATEPROFILEBYEMPLOYER">click my profile</span>
      <div><a (click)="exportCSV()">
          <span class=""></span>
          <span><img src="assets/images/skillMaster/exportinviewcandidate.svg"> Export CSV</span>
        </a></div>
    </div>
  </div>
  <div class="border">
    <div class="ag-grid">
      <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine" [gridOptions]="gridOptions"
        [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [masterDetail]="masterDetail"
        [overlayNoRowsTemplate]="overlayNoRowsTemplate" [rowData]="rowData" [enableRangeSelection]="true"
        [tooltipShowDelay]="0" [animateRows]="true" headerHeight="45" rowHeight="45" [suppressRowClickSelection]="true"
        [suppressRowTransform]="true" [rowSelection]="rowSelection" [pivotPanelShow]="'always'" [sideBar]="false"
        (gridReady)="onGridReady($event)" [rowModelType]="rowModelType" [maintainColumnOrder]="true"
        [cacheBlockSize]="cacheBlockSize" (selectionChanged)="onSelectionChanged($event)"
        [suppressAggFuncInHeader]="true" [suppressColumnVirtualisation]="true" [autoGroupColumnDef]="autoGroupColumnDef"
        [serverSideStoreType]="serverSideStoreType" [pagination]="true" [paginationPageSize]="1000" [sideBar]="sideBar"
        allColumns=true>

      </ag-grid-angular>

    </div>
  </div>
</div>