<div class="body">

    <div class="view_breadcrump flx_div flx_center">
      <div class="active-link" (click)="dashboard()">View Job Requirements</div>
      <div> View Applications</div>
    </div>

  <!-- <div class="title">
    <div class="title-text">View Applications</div>
    <div class="exportcsv">
      <span [routerLink]="routerlink.VIEWDRIVE.VIEWCANDIDATEPROFILEBYEMPLOYER">click my profile</span> -->
     <!--  <div><a (click)="exportCSV()">
          <span class=""></span>
          <span><img src="assets/images/skillMaster/exportinviewcandidate.svg"> Export CSV</span>
        </a></div>
    </div>
  </div> -->

  <div class="pageheader">
    <span>View Applications</span>
  </div>

  <div class="matcard">
    <mat-card class="main">
    <div class="job-details">
    <div class="heading">Job Title</div>
    <div class="val">{{valueone.jobRole}}</div>
    </div>
    <div class="job-details">
    <div class="heading">Location</div>
    <div class="val">{{valueone.jobLocation}}</div>
    </div>
    <div class="job-details">
    <div class="heading">Job-Type</div>
    <div class="val">{{valueone.jobType}}</div>
    </div>
    <div class="job-details">
    <div class="heading">Application Closes On</div>
    <div class="val">{{valueone.lastDatetoApply| date : 'dd-MM-y' }}</div>
    </div>
    <div class="job-details">
    <div class="heading">Job Status</div>
   <!-- <div class="act">
    <div><span class="icon-tick_mark_green"></span></div>
    <div class="val">{{valueone.status}}</div>
   </div> -->

   <!-- <div class="act">
    <div><span class="icon-tick_mark_green" *ngIf="valueone.status === 'Active'"></span></div>
    <div class="val">{{ valueone.status }}</div>
  </div> -->

  <div class="act">
    <div>
      <span class="icon-tick_mark_green" *ngIf="valueone.status === 'Active'"></span>
      <mat-icon *ngIf="valueone.status === 'Expired'">warning_amber</mat-icon>
    </div>
    <div class="val">{{ valueone.status }}</div>
  </div>
    </div>
    </mat-card>
    </div>
    <!-- <div class="tableheader" [ngClass]="dynclass">
      <mat-tab-group class="mattab" (selectedIndexChange)="onTabChange($event)">
        <mat-tab label="All"><mat-chip>700</mat-chip></mat-tab>
        <mat-tab label="Awaiting Review"><div>900</div></mat-tab>
        <mat-tab label="In Progress"></mat-tab>
        <mat-tab label="Rejected"></mat-tab>
        <mat-tab label="Shortlisted"></mat-tab>
      </mat-tab-group>
    </div>

    <div class="tableheader" [ngClass]="dynclass">
      <mat-tab-group class="mattab" (selectedIndexChange)="onTabChange($event)">
        <mat-tab *ngFor="let tab of tabs">
          <ng-template mat-tab-label>
            <span class="tab-name">{{ tab.title }}</span>
            <div><span class="tab-count">{{ tab.items.length }}</span></div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div> -->

    <!-- <div class="tableheader" [ngClass]="dynclass">
      <mat-tab-group class="mattab" (selectedIndexChange)="onTabChange($event)">
        <mat-tab *ngFor="let tab of tabs;  let i = index">
          <ng-template mat-tab-label>
            <span class="tab-name">{{ tab.title }}</span>
            <div>
              <span class="tab-count" [style.background-color]="active === i ? icncolor :  null">
                {{ tab.items.length }}</span>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div> -->



    <!-- <div class="tableheader" [ngClass]="dynclass">
      <mat-tab-group class="mattab" (selectedIndexChange)="onTabChange($event)">
        <mat-tab *ngFor="let tab of tabs;  let i = index">
          <ng-template mat-tab-label>
            <span class="tab-name">{{ tab.title }}</span>
            <div>
              <span class="tab-count" [style.background-color]="active === i ? icncolor :  null">
                <span *ngIf="tab.title == 'totalCount'"> 
                  {{ alldata?.awaitingReview }}
                </span>
                <span *ngIf="tab.title == 'Awaiting Review'">
                  <label *ngIf="alldata?.awaitingReview > 0  ">{{ alldata?.awaitingReview }}</label>
                  <label *ngIf="alldata?.awaitingReview == 0">0</label>
                </span>
                <span *ngIf="tab.title == 'Rejected'">
                  <label *ngIf="alldata?.Rejected > 0  ">{{ alldata?.Rejected }}</label>
                  <label *ngIf="alldata?.Rejected==0">0</label>
                </span>
                <span *ngIf="tab.title == 'Shortlisted'">
                  <label *ngIf="alldata?.Shortlisted > 0">{{ alldata?.Shortlisted }}</label>
                  <label *ngIf="alldata?.Shortlisted == 0">0</label>
                </span>
              </span>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div> -->


    <div class="tableheader" [ngClass]="dynclass">
      <mat-tab-group class="mattab" (selectedIndexChange)="onTabChange($event)">
        <mat-tab *ngFor="let tab of tabs;  let i = index">
          <ng-template mat-tab-label>
            <span class="tab-name">{{ tab.title }}</span>
            <div>
              <span class="tab-count" [style.background-color]="active == i ? icncolor :  null">
                <span *ngIf="tab.title == 'All'">{{allcountvalue}}</span>
                <span *ngIf="tab.title == 'Awaiting Review'">{{awaitingcountvalue}}</span> 
                <span *ngIf="tab.title == 'In Progress'"> {{ inprogresscountvalue }}</span>
                <span *ngIf="tab.title == 'Rejected'"> {{ rejectedcountvalue }}</span>
               <span *ngIf="tab.title == 'Shortlisted'"> {{ shortlitcountvalue }}</span>
              </span>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>

  <div class="border">
    <div class="ag-grid">
      <ag-grid-angular 
      style="width: 100%; height: 100%;"
       class="ag-theme-alpine" 
       [gridOptions]="gridOptions"
        [columnDefs]="columnDefs" 
        [defaultColDef]="defaultColDef" 
        (cellClicked)="onCellClicked($event)"
        [masterDetail]="masterDetail" 
        [overlayNoRowsTemplate]="overlayNoRowsTemplate" 
        [rowData]="filteredRowData" [enableRangeSelection]="true"
        [tooltipShowDelay]="0" 
        [animateRows]="true" 
        headerHeight="45" 
        rowHeight="45" 
        [suppressRowClickSelection]="true"
        [suppressRowTransform]="true" 
        [rowSelection]="rowSelection" 
        [pivotPanelShow]="'always'" 
        [sideBar]="false"
        (gridReady)="onGridReady($event)" 
        [rowModelType]="rowModelType" 
        [maintainColumnOrder]="true"
        [cacheBlockSize]="cacheBlockSize" 
        (selectionChanged)="onSelectionChanged($event)"
        [suppressAggFuncInHeader]="true" 
        [suppressColumnVirtualisation]="true" 
        [autoGroupColumnDef]="autoGroupColumnDef"
        [serverSideStoreType]="serverSideStoreType" 
        [pagination]="true" 
        [paginationPageSize]="10" 
        [sideBar]="sideBar"
        allColumns="true">
      </ag-grid-angular>
    </div>

    
  <div class="row-pagnation">
    <!-- <div class="example-header">
      Rows:
      <select (change)="onPageSizeChanged()" id="page-size">
        <option value="10">10</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="5">5</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
    </div> -->

    <div class="example-header">
      Rows:
      <select (change)="onPageSizeChanged()" [(ngModel)]="selectedPageSize" name="pageSize">
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
    </div>
    
   
    <!-- <div class="goto-sear">
      <div class="pagintion">
        <button class="prev" (click)=" onBtPrevPage()">Prev</button>
       <button class="one" (click)=" onBtPageOne()">1</button>
       <button class="one" (click)="  onBtPageTwo()">2</button>
        <button class="one" (click)=" onBtPageThree()">3</button>
        <button class="next" (click)=" onBtNextPage()">Next</button>
      </div>
      <div class="goto"> Go To Page: </div>
      <div>
        <input type="string" class="goto-search" [(ngModel)]="pageNumberInput" />
        <button class="go" (click)="onBtPageGo(pageNumberInput)">Go</button>
      </div>
    </div> -->

    <div class="goto-sear">
      <div class="pagintion">
        <button class="prev" (click)="onBtPrevPage()" [disabled]="isFirstPage">Prev</button>
        <button class="one" (click)="onBtPageOne()">1</button>
        <button class="one" (click)="onBtPageTwo()">2</button>
        <button class="one" (click)="onBtPageThree()">3</button>
        <button class="next" (click)="onBtNextPage()" [disabled]="isLastPage">Next</button>
      </div>
      <div class="goto"> Go To Page: </div>
      <div>
        <input type="string" class="goto-search" [(ngModel)]="pageNumberInput" />
        <button class="go" (click)="onBtPageGo(pageNumberInput)">Go</button>
      </div>
    </div>
    
  </div>

  </div> 
</div>

